<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eray.thjw.system.dao.GlobleSystemInfoMapper">
  <resultMap id="BaseResultMap" type="com.eray.thjw.system.po.GlobleSystemInfo">
    <result column="SYSCODE" jdbcType="VARCHAR" property="syscode" />
    <result column="MS" jdbcType="VARCHAR" property="ms" />
    <result column="ZT" jdbcType="INTEGER" property="zt" />
  </resultMap>
 	<select id="getAll" resultMap="BaseResultMap">
 		select syscode,ms from t_sys_info 
 	</select>
</mapper>