<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.flightdata.dao.MountMonitorItemMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.flightdata.po.MountMonitorItem" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MAINID" property="mainid" jdbcType="VARCHAR" />
    <result column="FJZCH" property="fjzch" jdbcType="VARCHAR" />
    <result column="BJLX" property="bjlx" jdbcType="DECIMAL" />
    <result column="JH" property="jh" jdbcType="VARCHAR" />
    <result column="XLH" property="xlh" jdbcType="VARCHAR" />
    <result column="DJBH" property="djbh" jdbcType="VARCHAR" />
    <result column="ZWMS" property="zwms" jdbcType="VARCHAR" />
    <result column="JKFLBH" property="jkflbh" jdbcType="VARCHAR" />
    <result column="JKLBH" property="jklbh" jdbcType="VARCHAR" />
    <result column="JK_SZ" property="jkSz" jdbcType="VARCHAR" />
    <result column="JK_DW" property="jkDw" jdbcType="DECIMAL" />
    <result column="BJYY" property="bjyy" jdbcType="VARCHAR" />
    <result column="BJYY_DW" property="bjyyDw" jdbcType="DECIMAL" />
    <result column="ZJHYY" property="zjhyy" jdbcType="VARCHAR" />
    <result column="ZJHYY_DW" property="zjhyyDw" jdbcType="DECIMAL" />
    <result column="WHDWID" property="whdwid" jdbcType="VARCHAR" />
    <result column="WHRID" property="whrid" jdbcType="VARCHAR" />
    <result column="WHSJ" property="whsj" jdbcType="TIMESTAMP" />
    <result column="ZT" property="zt" jdbcType="DECIMAL" />
    <result column="DPRTCODE" property="dprtcode" jdbcType="VARCHAR" />
    <result column="TBBS" property="tbbs" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, MAINID, FJZCH, BJLX, JH, XLH, DJBH, ZWMS, JKFLBH, JKLBH, JK_SZ, JK_DW, BJYY, 
    BJYY_DW, ZJHYY, ZJHYY_DW, WHDWID, WHRID, WHSJ, ZT, DPRTCODE, TBBS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_S_0060201010301
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_S_0060201010301
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eray.thjw.flightdata.po.MountMonitorItem" >
    insert into B_S_0060201010301 (ID, MAINID, FJZCH, 
      BJLX, JH, XLH, DJBH, 
      ZWMS, JKFLBH, JKLBH, 
      JK_SZ, JK_DW, BJYY, BJYY_DW, 
      ZJHYY, ZJHYY_DW, WHDWID, 
      WHRID, WHSJ, ZT, 
      DPRTCODE, TBBS)
    values (#{id,jdbcType=VARCHAR}, #{mainid,jdbcType=VARCHAR}, #{fjzch,jdbcType=VARCHAR}, 
      #{bjlx,jdbcType=DECIMAL}, #{jh,jdbcType=VARCHAR}, #{xlh,jdbcType=VARCHAR}, #{djbh,jdbcType=VARCHAR}, 
      #{zwms,jdbcType=VARCHAR}, #{jkflbh,jdbcType=VARCHAR}, #{jklbh,jdbcType=VARCHAR}, 
      #{jkSz,jdbcType=VARCHAR}, #{jkDw,jdbcType=DECIMAL}, #{bjyy,jdbcType=VARCHAR}, #{bjyyDw,jdbcType=DECIMAL}, 
      #{zjhyy,jdbcType=VARCHAR}, #{zjhyyDw,jdbcType=DECIMAL}, #{whdwid,jdbcType=VARCHAR}, 
      #{whrid,jdbcType=VARCHAR}, #{whsj,jdbcType=TIMESTAMP}, #{zt,jdbcType=DECIMAL}, 
      #{dprtcode,jdbcType=VARCHAR}, #{tbbs,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.eray.thjw.flightdata.po.MountMonitorItem" >
    insert into B_S_0060201010301
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="mainid != null" >
        MAINID,
      </if>
      <if test="fjzch != null" >
        FJZCH,
      </if>
      <if test="bjlx != null" >
        BJLX,
      </if>
      <if test="jh != null" >
        JH,
      </if>
      <if test="xlh != null" >
        XLH,
      </if>
      <if test="djbh != null" >
        DJBH,
      </if>
      <if test="zwms != null" >
        ZWMS,
      </if>
      <if test="jkflbh != null" >
        JKFLBH,
      </if>
      <if test="jklbh != null" >
        JKLBH,
      </if>
      <if test="jkSz != null" >
        JK_SZ,
      </if>
      <if test="jkDw != null" >
        JK_DW,
      </if>
      <if test="bjyy != null" >
        BJYY,
      </if>
      <if test="bjyyDw != null" >
        BJYY_DW,
      </if>
      <if test="zjhyy != null" >
        ZJHYY,
      </if>
      <if test="zjhyyDw != null" >
        ZJHYY_DW,
      </if>
      <if test="whdwid != null" >
        WHDWID,
      </if>
      <if test="whrid != null" >
        WHRID,
      </if>
      <if test="whsj != null" >
        WHSJ,
      </if>
      <if test="zt != null" >
        ZT,
      </if>
      <if test="dprtcode != null" >
        DPRTCODE,
      </if>
      <if test="tbbs != null" >
        TBBS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mainid != null" >
        #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="fjzch != null" >
        #{fjzch,jdbcType=VARCHAR},
      </if>
      <if test="bjlx != null" >
        #{bjlx,jdbcType=DECIMAL},
      </if>
      <if test="jh != null" >
        #{jh,jdbcType=VARCHAR},
      </if>
      <if test="xlh != null" >
        #{xlh,jdbcType=VARCHAR},
      </if>
      <if test="djbh != null" >
        #{djbh,jdbcType=VARCHAR},
      </if>
      <if test="zwms != null" >
        #{zwms,jdbcType=VARCHAR},
      </if>
      <if test="jkflbh != null" >
        #{jkflbh,jdbcType=VARCHAR},
      </if>
      <if test="jklbh != null" >
        #{jklbh,jdbcType=VARCHAR},
      </if>
      <if test="jkSz != null" >
        #{jkSz,jdbcType=VARCHAR},
      </if>
      <if test="jkDw != null" >
        #{jkDw,jdbcType=DECIMAL},
      </if>
      <if test="bjyy != null" >
        #{bjyy,jdbcType=VARCHAR},
      </if>
      <if test="bjyyDw != null" >
        #{bjyyDw,jdbcType=DECIMAL},
      </if>
      <if test="zjhyy != null" >
        #{zjhyy,jdbcType=VARCHAR},
      </if>
      <if test="zjhyyDw != null" >
        #{zjhyyDw,jdbcType=DECIMAL},
      </if>
      <if test="whdwid != null" >
        #{whdwid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        #{whsj,jdbcType=TIMESTAMP},
      </if>
      <if test="zt != null" >
        #{zt,jdbcType=DECIMAL},
      </if>
      <if test="dprtcode != null" >
        #{dprtcode,jdbcType=VARCHAR},
      </if>
      <if test="tbbs != null" >
        #{tbbs,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eray.thjw.flightdata.po.MountMonitorItem" >
    update B_S_0060201010301
    <set >
      <if test="mainid != null" >
        MAINID = #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="fjzch != null" >
        FJZCH = #{fjzch,jdbcType=VARCHAR},
      </if>
      <if test="bjlx != null" >
        BJLX = #{bjlx,jdbcType=DECIMAL},
      </if>
      <if test="jh != null" >
        JH = #{jh,jdbcType=VARCHAR},
      </if>
      <if test="xlh != null" >
        XLH = #{xlh,jdbcType=VARCHAR},
      </if>
      <if test="djbh != null" >
        DJBH = #{djbh,jdbcType=VARCHAR},
      </if>
      <if test="zwms != null" >
        ZWMS = #{zwms,jdbcType=VARCHAR},
      </if>
      <if test="jkflbh != null" >
        JKFLBH = #{jkflbh,jdbcType=VARCHAR},
      </if>
      <if test="jklbh != null" >
        JKLBH = #{jklbh,jdbcType=VARCHAR},
      </if>
      <if test="jkSz != null" >
        JK_SZ = #{jkSz,jdbcType=VARCHAR},
      </if>
      <if test="jkDw != null" >
        JK_DW = #{jkDw,jdbcType=DECIMAL},
      </if>
      <if test="bjyy != null" >
        BJYY = #{bjyy,jdbcType=VARCHAR},
      </if>
      <if test="bjyyDw != null" >
        BJYY_DW = #{bjyyDw,jdbcType=DECIMAL},
      </if>
      <if test="zjhyy != null" >
        ZJHYY = #{zjhyy,jdbcType=VARCHAR},
      </if>
      <if test="zjhyyDw != null" >
        ZJHYY_DW = #{zjhyyDw,jdbcType=DECIMAL},
      </if>
      <if test="whdwid != null" >
        WHDWID = #{whdwid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        WHRID = #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        WHSJ = #{whsj,jdbcType=TIMESTAMP},
      </if>
      <if test="zt != null" >
        ZT = #{zt,jdbcType=DECIMAL},
      </if>
<!--       <if test="dprtcode != null" > -->
<!--         DPRTCODE = #{dprtcode,jdbcType=VARCHAR}, -->
<!--       </if> -->
      <if test="tbbs != null" >
        TBBS = #{tbbs,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eray.thjw.flightdata.po.MountMonitorItem" >
    update B_S_0060201010301
    set MAINID = #{mainid,jdbcType=VARCHAR},
      FJZCH = #{fjzch,jdbcType=VARCHAR},
      BJLX = #{bjlx,jdbcType=DECIMAL},
      JH = #{jh,jdbcType=VARCHAR},
      XLH = #{xlh,jdbcType=VARCHAR},
      DJBH = #{djbh,jdbcType=VARCHAR},
      ZWMS = #{zwms,jdbcType=VARCHAR},
      JKFLBH = #{jkflbh,jdbcType=VARCHAR},
      JKLBH = #{jklbh,jdbcType=VARCHAR},
      JK_SZ = #{jkSz,jdbcType=VARCHAR},
      JK_DW = #{jkDw,jdbcType=DECIMAL},
      BJYY = #{bjyy,jdbcType=VARCHAR},
      BJYY_DW = #{bjyyDw,jdbcType=DECIMAL},
      ZJHYY = #{zjhyy,jdbcType=VARCHAR},
      ZJHYY_DW = #{zjhyyDw,jdbcType=DECIMAL},
      WHDWID = #{whdwid,jdbcType=VARCHAR},
      WHRID = #{whrid,jdbcType=VARCHAR},
      WHSJ = #{whsj,jdbcType=TIMESTAMP},
      ZT = #{zt,jdbcType=DECIMAL},
<!--       DPRTCODE = #{dprtcode,jdbcType=VARCHAR}, -->
      TBBS = #{tbbs,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  
  <sql id="Param">
	   where 
	   1=1
	      <!-- mainid-->
	     <if test="mainid != null and mainid != ''">
            and  B.MAINID = #{mainid,jdbcType=VARCHAR}
         </if>
	</sql>
  
  <!-- 根据条件删除-->
   <update id="deleteByParam" parameterType="com.eray.thjw.flightdata.po.MountMonitorItem" >
    update b_s_0060201010301 B set ZT = 0 , TBBS = 1
    <include refid="Param" /> 
  </update>
</mapper>