<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.project2.dao.AirworthinessMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.project2.po.Airworthiness" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="DPRTCODE" property="dprtcode" jdbcType="VARCHAR" />
    <result column="JSWJBH" property="jswjbh" jdbcType="VARCHAR" />
    <result column="BB" property="bb" jdbcType="VARCHAR" />
    <result column="JSWJZT" property="jswjzt" jdbcType="VARCHAR" />
    <result column="JSWJLY" property="jswjly" jdbcType="VARCHAR" />
    <result column="JSWJLX" property="jswjlx" jdbcType="VARCHAR" />
    <result column="ATA" property="ata" jdbcType="VARCHAR" />
    <result column="GLJSWJID" property="gljswjid" jdbcType="VARCHAR" />
    <result column="SXRQ" property="sxrq" jdbcType="TIMESTAMP" />
    <result column="PGQX" property="pgqx" jdbcType="TIMESTAMP" />
    <result column="BZ" property="bz" jdbcType="VARCHAR" />
    <result column="ZT" property="zt" jdbcType="DECIMAL" />
    <result column="ZDBMID" property="zdbmid" jdbcType="VARCHAR" />
    <result column="ZDRID" property="zdrid" jdbcType="VARCHAR" />
    <result column="ZDSJ" property="zdsj" jdbcType="TIMESTAMP" />
    <result column="GBRID" property="gbrid" jdbcType="VARCHAR" />
    <result column="GBRQ" property="gbrq" jdbcType="TIMESTAMP" />
    <result column="GBYY" property="gbyy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DPRTCODE, JSWJBH, BB, JSWJZT, JSWJLY, JSWJLX, ATA, GLJSWJID, SXRQ, PGQX, 
    BZ, ZT, ZDBMID, ZDRID, ZDSJ, GBRID, GBRQ, GBYY
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_G2_000
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_G2_000
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eray.thjw.project2.po.Airworthiness" >
    insert into B_G2_000 (ID, DPRTCODE, JSWJBH, 
      BB, JSWJZT, JSWJLY, 
      JSWJLX,  ATA, GLJSWJID, 
      SXRQ, PGQX, BZ, 
      ZT, ZDBMID, ZDRID, 
      ZDSJ, GBRID, GBRQ, 
      GBYY)
    values (#{id,jdbcType=VARCHAR}, #{dprtcode,jdbcType=VARCHAR}, #{jswjbh,jdbcType=VARCHAR}, 
      #{bb,jdbcType=VARCHAR}, #{jswjzt,jdbcType=VARCHAR}, #{jswjly,jdbcType=VARCHAR}, 
      #{jswjlx,jdbcType=VARCHAR}, #{ata,jdbcType=VARCHAR}, #{gljswjid,jdbcType=VARCHAR}, 
      #{sxrq,jdbcType=TIMESTAMP}, #{pgqx,jdbcType=TIMESTAMP}, #{bz,jdbcType=VARCHAR}, 
      #{zt,jdbcType=DECIMAL}, #{zdbmid,jdbcType=VARCHAR}, #{zdrid,jdbcType=VARCHAR}, 
      #{zdsj,jdbcType=TIMESTAMP}, #{gbrid,jdbcType=VARCHAR}, #{gbrq,jdbcType=TIMESTAMP}, 
      #{gbyy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eray.thjw.project2.po.Airworthiness" >
    insert into B_G2_000
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="dprtcode != null" >
        DPRTCODE,
      </if>
      <if test="jswjbh != null" >
        JSWJBH,
      </if>
      <if test="bb != null" >
        BB,
      </if>
      <if test="jswjzt != null" >
        JSWJZT,
      </if>
      <if test="jswjly != null" >
        JSWJLY,
      </if>
      <if test="jswjlx != null" >
        JSWJLX,
      </if>
     
      <if test="ata != null" >
        ATA,
      </if>
      <if test="gljswjid != null" >
        GLJSWJID,
      </if>
      <if test="sxrq != null" >
        SXRQ,
      </if>
      <if test="pgqx != null" >
        PGQX,
      </if>
      <if test="bz != null" >
        BZ,
      </if>
      <if test="zt != null" >
        ZT,
      </if>
      <if test="zdbmid != null" >
        ZDBMID,
      </if>
      <if test="zdrid != null" >
        ZDRID,
      </if>
      <if test="zdsj != null" >
        ZDSJ,
      </if>
      <if test="gbrid != null" >
        GBRID,
      </if>
      <if test="gbrq != null" >
        GBRQ,
      </if>
      <if test="gbyy != null" >
        GBYY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dprtcode != null" >
        #{dprtcode,jdbcType=VARCHAR},
      </if>
      <if test="jswjbh != null" >
        #{jswjbh,jdbcType=VARCHAR},
      </if>
      <if test="bb != null" >
        #{bb,jdbcType=VARCHAR},
      </if>
      <if test="jswjzt != null" >
        #{jswjzt,jdbcType=VARCHAR},
      </if>
      <if test="jswjly != null" >
        #{jswjly,jdbcType=VARCHAR},
      </if>
      <if test="jswjlx != null" >
        #{jswjlx,jdbcType=VARCHAR},
      </if>
     
      <if test="ata != null" >
        #{ata,jdbcType=VARCHAR},
      </if>
      <if test="gljswjid != null" >
        #{gljswjid,jdbcType=VARCHAR},
      </if>
      <if test="sxrq != null" >
        #{sxrq,jdbcType=TIMESTAMP},
      </if>
      <if test="pgqx != null" >
        #{pgqx,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="zt != null" >
        #{zt,jdbcType=DECIMAL},
      </if>
      <if test="zdbmid != null" >
        #{zdbmid,jdbcType=VARCHAR},
      </if>
      <if test="zdrid != null" >
        #{zdrid,jdbcType=VARCHAR},
      </if>
      <if test="zdsj != null" >
        #{zdsj,jdbcType=TIMESTAMP},
      </if>
      <if test="gbrid != null" >
        #{gbrid,jdbcType=VARCHAR},
      </if>
      <if test="gbrq != null" >
        #{gbrq,jdbcType=TIMESTAMP},
      </if>
      <if test="gbyy != null" >
        #{gbyy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eray.thjw.project2.po.Airworthiness" >
    update B_G2_000
    <set >
      <if test="dprtcode != null" >
        DPRTCODE = #{dprtcode,jdbcType=VARCHAR},
      </if>
      <if test="jswjbh != null" >
        JSWJBH = #{jswjbh,jdbcType=VARCHAR},
      </if>
      <if test="bb != null" >
        BB = #{bb,jdbcType=VARCHAR},
      </if>
      <if test="jswjzt != null" >
        JSWJZT = #{jswjzt,jdbcType=VARCHAR},
      </if>
      <if test="jswjly != null" >
        JSWJLY = #{jswjly,jdbcType=VARCHAR},
      </if>
      <if test="jswjlx != null" >
        JSWJLX = #{jswjlx,jdbcType=VARCHAR},
      </if>
    
      <if test="ata != null" >
        ATA = #{ata,jdbcType=VARCHAR},
      </if>
      <if test="gljswjid != null" >
        GLJSWJID = #{gljswjid,jdbcType=VARCHAR},
      </if>
      <if test="sxrq != null" >
        SXRQ = #{sxrq,jdbcType=TIMESTAMP},
      </if>
      <if test="pgqx != null" >
        PGQX = #{pgqx,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null" >
        BZ = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="zt != null" >
        ZT = #{zt,jdbcType=DECIMAL},
      </if>
      <if test="zdbmid != null" >
        ZDBMID = #{zdbmid,jdbcType=VARCHAR},
      </if>
      <if test="zdrid != null" >
        ZDRID = #{zdrid,jdbcType=VARCHAR},
      </if>
      <if test="zdsj != null" >
        ZDSJ = #{zdsj,jdbcType=TIMESTAMP},
      </if>
      <if test="gbrid != null" >
        GBRID = #{gbrid,jdbcType=VARCHAR},
      </if>
      <if test="gbrq != null" >
        GBRQ = #{gbrq,jdbcType=TIMESTAMP},
      </if>
      <if test="gbyy != null" >
        GBYY = #{gbyy,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eray.thjw.project2.po.Airworthiness" >
    update B_G2_000
    set DPRTCODE = #{dprtcode,jdbcType=VARCHAR},
      JSWJBH = #{jswjbh,jdbcType=VARCHAR},
      BB = #{bb,jdbcType=VARCHAR},
      JSWJZT = #{jswjzt,jdbcType=VARCHAR},
      JSWJLY = #{jswjly,jdbcType=VARCHAR},
      JSWJLX = #{jswjlx,jdbcType=VARCHAR},
      ATA = #{ata,jdbcType=VARCHAR},
      GLJSWJID = #{gljswjid,jdbcType=VARCHAR},
      SXRQ = #{sxrq,jdbcType=TIMESTAMP},
      PGQX = #{pgqx,jdbcType=TIMESTAMP},
      BZ = #{bz,jdbcType=VARCHAR},
      ZT = #{zt,jdbcType=DECIMAL},
      ZDBMID = #{zdbmid,jdbcType=VARCHAR},
      ZDRID = #{zdrid,jdbcType=VARCHAR},
      ZDSJ = #{zdsj,jdbcType=TIMESTAMP},
      GBRID = #{gbrid,jdbcType=VARCHAR},
      GBRQ = #{gbrq,jdbcType=TIMESTAMP},
      GBYY = #{gbyy,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  
  
</mapper>