<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.project2.dao.MaintenanceSchemeMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.project2.po.MaintenanceScheme" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="DPRTCODE" property="dprtcode" jdbcType="VARCHAR" />
    <result column="JX" property="jx" jdbcType="VARCHAR" />
    <result column="WXFABH" property="wxfabh" jdbcType="VARCHAR" />
    <result column="BB" property="bb" jdbcType="DECIMAL" />
    <result column="ZWMS" property="zwms" jdbcType="VARCHAR" />
    <result column="JH_SXRQ" property="jhSxrq" jdbcType="TIMESTAMP" />
    <result column="SJ_SXRQ" property="sjSxrq" jdbcType="TIMESTAMP" />
    <result column="BZ" property="bz" jdbcType="VARCHAR" />
    <result column="ZXBS" property="zxbs" jdbcType="DECIMAL" />
    <result column="F_BBID" property="fBbid" jdbcType="VARCHAR" />
    <result column="B_BBID" property="bBbid" jdbcType="VARCHAR" />
    <result column="ZT" property="zt" jdbcType="DECIMAL" />
    <result column="ZDBMID" property="zdbmid" jdbcType="VARCHAR" />
    <result column="ZDRID" property="zdrid" jdbcType="VARCHAR" />
    <result column="ZDSJ" property="zdsj" jdbcType="TIMESTAMP" />
    <result column="SHBMID" property="shbmid" jdbcType="VARCHAR" />
    <result column="SHRID" property="shrid" jdbcType="VARCHAR" />
    <result column="SHSJ" property="shsj" jdbcType="TIMESTAMP" />
    <result column="SHYJ" property="shyj" jdbcType="VARCHAR" />
    <result column="PFBMID" property="pfbmid" jdbcType="VARCHAR" />
    <result column="PFRID" property="pfrid" jdbcType="VARCHAR" />
    <result column="PFSJ" property="pfsj" jdbcType="TIMESTAMP" />
    <result column="PFYJ" property="pfyj" jdbcType="VARCHAR" />
    <result column="SXBMID" property="sxbmid" jdbcType="VARCHAR" />
    <result column="SXRID" property="sxrid" jdbcType="VARCHAR" />
    <result column="SXSJ" property="sxsj" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DPRTCODE, JX, WXFABH, BB, ZWMS, JH_SXRQ, SJ_SXRQ, BZ, ZXBS, F_BBID, B_BBID, ZT, 
    ZDBMID, ZDRID, ZDSJ, SHBMID, SHRID, SHSJ, SHYJ, PFBMID, PFRID, PFSJ, PFYJ, SXBMID, 
    SXRID, SXSJ
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_G2_011
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_G2_011
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eray.thjw.project2.po.MaintenanceScheme" >
    insert into B_G2_011 (ID, DPRTCODE, JX, 
      WXFABH, BB, ZWMS, JH_SXRQ, 
      SJ_SXRQ, BZ, ZXBS, 
      F_BBID, B_BBID, ZT, ZDBMID, 
      ZDRID, ZDSJ, SHBMID, 
      SHRID, SHSJ, SHYJ, 
      PFBMID, PFRID, PFSJ, 
      PFYJ, SXBMID, SXRID, 
      SXSJ)
    values (#{id,jdbcType=VARCHAR}, #{dprtcode,jdbcType=VARCHAR}, #{jx,jdbcType=VARCHAR}, 
      #{wxfabh,jdbcType=VARCHAR}, #{bb,jdbcType=DECIMAL}, #{zwms,jdbcType=VARCHAR}, #{jhSxrq,jdbcType=TIMESTAMP}, 
      #{sjSxrq,jdbcType=TIMESTAMP}, #{bz,jdbcType=VARCHAR}, #{zxbs,jdbcType=DECIMAL}, 
      #{fBbid,jdbcType=VARCHAR}, #{bBbid,jdbcType=VARCHAR}, #{zt,jdbcType=DECIMAL}, #{zdbmid,jdbcType=VARCHAR}, 
      #{zdrid,jdbcType=VARCHAR}, #{zdsj,jdbcType=TIMESTAMP}, #{shbmid,jdbcType=VARCHAR}, 
      #{shrid,jdbcType=VARCHAR}, #{shsj,jdbcType=TIMESTAMP}, #{shyj,jdbcType=VARCHAR}, 
      #{pfbmid,jdbcType=VARCHAR}, #{pfrid,jdbcType=VARCHAR}, #{pfsj,jdbcType=TIMESTAMP}, 
      #{pfyj,jdbcType=VARCHAR}, #{sxbmid,jdbcType=VARCHAR}, #{sxrid,jdbcType=VARCHAR}, 
      #{sxsj,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.eray.thjw.project2.po.MaintenanceScheme" >
    insert into B_G2_011
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="dprtcode != null" >
        DPRTCODE,
      </if>
      <if test="jx != null" >
        JX,
      </if>
      <if test="wxfabh != null" >
        WXFABH,
      </if>
      <if test="bb != null" >
        BB,
      </if>
      <if test="zwms != null" >
        ZWMS,
      </if>
      <if test="jhSxrq != null" >
        JH_SXRQ,
      </if>
      <if test="sjSxrq != null" >
        SJ_SXRQ,
      </if>
      <if test="bz != null" >
        BZ,
      </if>
      <if test="zxbs != null" >
        ZXBS,
      </if>
      <if test="fBbid != null" >
        F_BBID,
      </if>
      <if test="bBbid != null" >
        B_BBID,
      </if>
      <if test="zt != null" >
        ZT,
      </if>
      <if test="zdbmid != null" >
        ZDBMID,
      </if>
      <if test="zdrid != null" >
        ZDRID,
      </if>
      <if test="zdsj != null" >
        ZDSJ,
      </if>
      <if test="shbmid != null" >
        SHBMID,
      </if>
      <if test="shrid != null" >
        SHRID,
      </if>
      <if test="shsj != null" >
        SHSJ,
      </if>
      <if test="shyj != null" >
        SHYJ,
      </if>
      <if test="pfbmid != null" >
        PFBMID,
      </if>
      <if test="pfrid != null" >
        PFRID,
      </if>
      <if test="pfsj != null" >
        PFSJ,
      </if>
      <if test="pfyj != null" >
        PFYJ,
      </if>
      <if test="sxbmid != null" >
        SXBMID,
      </if>
      <if test="sxrid != null" >
        SXRID,
      </if>
      <if test="sxsj != null" >
        SXSJ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dprtcode != null" >
        #{dprtcode,jdbcType=VARCHAR},
      </if>
      <if test="jx != null" >
        #{jx,jdbcType=VARCHAR},
      </if>
      <if test="wxfabh != null" >
        #{wxfabh,jdbcType=VARCHAR},
      </if>
      <if test="bb != null" >
        #{bb,jdbcType=DECIMAL},
      </if>
      <if test="zwms != null" >
        #{zwms,jdbcType=VARCHAR},
      </if>
      <if test="jhSxrq != null" >
        #{jhSxrq,jdbcType=TIMESTAMP},
      </if>
      <if test="sjSxrq != null" >
        #{sjSxrq,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="zxbs != null" >
        #{zxbs,jdbcType=DECIMAL},
      </if>
      <if test="fBbid != null" >
        #{fBbid,jdbcType=VARCHAR},
      </if>
      <if test="bBbid != null" >
        #{bBbid,jdbcType=VARCHAR},
      </if>
      <if test="zt != null" >
        #{zt,jdbcType=DECIMAL},
      </if>
      <if test="zdbmid != null" >
        #{zdbmid,jdbcType=VARCHAR},
      </if>
      <if test="zdrid != null" >
        #{zdrid,jdbcType=VARCHAR},
      </if>
      <if test="zdsj != null" >
        #{zdsj,jdbcType=TIMESTAMP},
      </if>
      <if test="shbmid != null" >
        #{shbmid,jdbcType=VARCHAR},
      </if>
      <if test="shrid != null" >
        #{shrid,jdbcType=VARCHAR},
      </if>
      <if test="shsj != null" >
        #{shsj,jdbcType=TIMESTAMP},
      </if>
      <if test="shyj != null" >
        #{shyj,jdbcType=VARCHAR},
      </if>
      <if test="pfbmid != null" >
        #{pfbmid,jdbcType=VARCHAR},
      </if>
      <if test="pfrid != null" >
        #{pfrid,jdbcType=VARCHAR},
      </if>
      <if test="pfsj != null" >
        #{pfsj,jdbcType=TIMESTAMP},
      </if>
      <if test="pfyj != null" >
        #{pfyj,jdbcType=VARCHAR},
      </if>
      <if test="sxbmid != null" >
        #{sxbmid,jdbcType=VARCHAR},
      </if>
      <if test="sxrid != null" >
        #{sxrid,jdbcType=VARCHAR},
      </if>
      <if test="sxsj != null" >
        #{sxsj,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eray.thjw.project2.po.MaintenanceScheme" >
    update B_G2_011
    <set >
      <if test="dprtcode != null" >
        DPRTCODE = #{dprtcode,jdbcType=VARCHAR},
      </if>
      <if test="jx != null" >
        JX = #{jx,jdbcType=VARCHAR},
      </if>
      <if test="wxfabh != null" >
        WXFABH = #{wxfabh,jdbcType=VARCHAR},
      </if>
      <if test="bb != null" >
        BB = #{bb,jdbcType=DECIMAL},
      </if>
      <if test="zwms != null" >
        ZWMS = #{zwms,jdbcType=VARCHAR},
      </if>
      <if test="jhSxrq != null" >
        JH_SXRQ = #{jhSxrq,jdbcType=TIMESTAMP},
      </if>
      <if test="sjSxrq != null" >
        SJ_SXRQ = #{sjSxrq,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null" >
        BZ = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="zxbs != null" >
        ZXBS = #{zxbs,jdbcType=DECIMAL},
      </if>
      <if test="fBbid != null" >
        F_BBID = #{fBbid,jdbcType=VARCHAR},
      </if>
      <if test="bBbid != null" >
        B_BBID = #{bBbid,jdbcType=VARCHAR},
      </if>
      <if test="zt != null" >
        ZT = #{zt,jdbcType=DECIMAL},
      </if>
      <if test="zdbmid != null" >
        ZDBMID = #{zdbmid,jdbcType=VARCHAR},
      </if>
      <if test="zdrid != null" >
        ZDRID = #{zdrid,jdbcType=VARCHAR},
      </if>
      <if test="zdsj != null" >
        ZDSJ = #{zdsj,jdbcType=TIMESTAMP},
      </if>
      <if test="shbmid != null" >
        SHBMID = #{shbmid,jdbcType=VARCHAR},
      </if>
      <if test="shrid != null" >
        SHRID = #{shrid,jdbcType=VARCHAR},
      </if>
      <if test="shsj != null" >
        SHSJ = #{shsj,jdbcType=TIMESTAMP},
      </if>
      <if test="shyj != null" >
        SHYJ = #{shyj,jdbcType=VARCHAR},
      </if>
      <if test="pfbmid != null" >
        PFBMID = #{pfbmid,jdbcType=VARCHAR},
      </if>
      <if test="pfrid != null" >
        PFRID = #{pfrid,jdbcType=VARCHAR},
      </if>
      <if test="pfsj != null" >
        PFSJ = #{pfsj,jdbcType=TIMESTAMP},
      </if>
      <if test="pfyj != null" >
        PFYJ = #{pfyj,jdbcType=VARCHAR},
      </if>
      <if test="sxbmid != null" >
        SXBMID = #{sxbmid,jdbcType=VARCHAR},
      </if>
      <if test="sxrid != null" >
        SXRID = #{sxrid,jdbcType=VARCHAR},
      </if>
      <if test="sxsj != null" >
        SXSJ = #{sxsj,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eray.thjw.project2.po.MaintenanceScheme" >
    update B_G2_011
    set DPRTCODE = #{dprtcode,jdbcType=VARCHAR},
      JX = #{jx,jdbcType=VARCHAR},
      WXFABH = #{wxfabh,jdbcType=VARCHAR},
      BB = #{bb,jdbcType=DECIMAL},
      ZWMS = #{zwms,jdbcType=VARCHAR},
      JH_SXRQ = #{jhSxrq,jdbcType=TIMESTAMP},
      SJ_SXRQ = #{sjSxrq,jdbcType=TIMESTAMP},
      BZ = #{bz,jdbcType=VARCHAR},
      ZXBS = #{zxbs,jdbcType=DECIMAL},
      F_BBID = #{fBbid,jdbcType=VARCHAR},
      B_BBID = #{bBbid,jdbcType=VARCHAR},
      ZT = #{zt,jdbcType=DECIMAL},
      ZDBMID = #{zdbmid,jdbcType=VARCHAR},
      ZDRID = #{zdrid,jdbcType=VARCHAR},
      ZDSJ = #{zdsj,jdbcType=TIMESTAMP},
      SHBMID = #{shbmid,jdbcType=VARCHAR},
      SHRID = #{shrid,jdbcType=VARCHAR},
      SHSJ = #{shsj,jdbcType=TIMESTAMP},
      SHYJ = #{shyj,jdbcType=VARCHAR},
      PFBMID = #{pfbmid,jdbcType=VARCHAR},
      PFRID = #{pfrid,jdbcType=VARCHAR},
      PFSJ = #{pfsj,jdbcType=TIMESTAMP},
      PFYJ = #{pfyj,jdbcType=VARCHAR},
      SXBMID = #{sxbmid,jdbcType=VARCHAR},
      SXRID = #{sxrid,jdbcType=VARCHAR},
      SXSJ = #{sxsj,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 根据飞机机型查询维修方案版本 -->
  <select id="queryByFjjx" resultMap="BaseResultMap" parameterType="com.eray.thjw.project2.po.MaintenanceScheme" >
    select 
    <include refid="Base_Column_List" />
    from B_G2_011
    where jx = #{jx,jdbcType=VARCHAR} and dprtcode = #{dprtcode,jdbcType=VARCHAR}
    order by bb desc
  </select>
  
  <!-- 根据机型和组织机构找到最新的维修方案 -->
  <select id="findNewest" resultMap="BaseResultMap" parameterType="com.eray.thjw.project2.po.MaintenanceScheme" >
    select 
    <include refid="Base_Column_List" />
    from B_G2_011
    where jx = #{jx,jdbcType=VARCHAR} and dprtcode = #{dprtcode,jdbcType=VARCHAR} and zxbs = 1
  </select>
</mapper>