<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eray.thjw.aerialmaterial.dao.GodownEntryDetailMapper">
  <resultMap id="BaseResultMap" type="com.eray.thjw.aerialmaterial.po.GodownEntryDetail">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="mainid" jdbcType="VARCHAR" property="mainid" />
    <result column="kcllid" jdbcType="VARCHAR" property="kcllid" />
    <result column="zt" jdbcType="INTEGER" property="zt" />
    <result column="whdwid" jdbcType="VARCHAR" property="whdwid" />
    <result column="whrid" jdbcType="VARCHAR" property="whrid" />
    <result column="whsj" jdbcType="TIMESTAMP" property="whsj" />
  </resultMap>
   <resultMap id="ResultMap" extends="BaseResultMap" type="com.eray.thjw.aerialmaterial.po.GodownEntryDetail">
   		<!--b_h_017 部件库存履历 -->
	    <association property="materialHistory" javaType="com.eray.thjw.aerialmaterial.po.MaterialHistory">
		   <id column="kcllid" jdbcType="VARCHAR" property="id" />
		    <result column="KCID" jdbcType="VARCHAR" property="kcid" />
		    <result column="DPRTCODE" jdbcType="VARCHAR" property="dprtcode" />
		    <result column="CKLB" jdbcType="DECIMAL" property="cklb" />
		    <result column="CKID" jdbcType="VARCHAR" property="ckid" />
		    <result column="CKH" jdbcType="VARCHAR" property="ckh" />
		    <result column="CKMC" jdbcType="VARCHAR" property="ckmc" />
		    <result column="KWID" jdbcType="VARCHAR" property="kwid" />
		    <result column="KWH" jdbcType="VARCHAR" property="kwh" />
		    <result column="BJID" jdbcType="VARCHAR" property="bjid" />
		    <result column="BJH" jdbcType="VARCHAR" property="bjh" />
		    <result column="PCH" jdbcType="VARCHAR" property="pch" />
		    <result column="SN" jdbcType="VARCHAR" property="sn" />
		    <result column="ZWMS" jdbcType="VARCHAR" property="zwms" />
		    <result column="YWMS" jdbcType="VARCHAR" property="ywms" />
		    <result column="JLDW" jdbcType="VARCHAR" property="jldw" />
		    <result column="KCSL" jdbcType="DECIMAL" property="kcsl" />
		    <result column="DJSL" jdbcType="DECIMAL" property="djsl" />
		    <result column="CGHTID" jdbcType="VARCHAR" property="cghtid" />
		    <result column="HTBH_CG" jdbcType="VARCHAR" property="htbhCg" />
		    <result column="SXHTID" jdbcType="VARCHAR" property="sxhtid" />
		    <result column="HTBH_SX" jdbcType="VARCHAR" property="htbhSx" />
		    <result column="TDDID" jdbcType="VARCHAR" property="tddid" />
		    <result column="TDDH" jdbcType="VARCHAR" property="tddh" />
		    <result column="RKSJ" jdbcType="TIMESTAMP" property="rksj" />
		    <result column="RKBMID" jdbcType="VARCHAR" property="rkbmid" />
		    <result column="RKRID" jdbcType="VARCHAR" property="rkrid" />
		    <result column="SHZH" jdbcType="VARCHAR" property="shzh" />
		    <result column="SHZWZ" jdbcType="VARCHAR" property="shzwz" />
		    <result column="ZT" jdbcType="DECIMAL" property="zt" />
		    <result column="BZ" jdbcType="VARCHAR" property="bz" />
		    <result column="JYDID" jdbcType="VARCHAR" property="jydid" />
		    <result column="HJSM" jdbcType="TIMESTAMP" property="hjsm" />
		    <result column="SPQX" jdbcType="TIMESTAMP" property="spqx" />
		    <result column="SCRQ" jdbcType="TIMESTAMP" property="scrq" />
		    <result column="XH" jdbcType="VARCHAR" property="xh" />
		    <result column="GG" jdbcType="VARCHAR" property="gg" />
		    <result column="ZZCS" jdbcType="VARCHAR" property="zzcs" />
		    <result column="TSN" jdbcType="VARCHAR" property="tsn" />
		    <result column="CSN" jdbcType="VARCHAR" property="csn" />
		    <result column="TSO" jdbcType="VARCHAR" property="tso" />
		    <result column="CSO" jdbcType="VARCHAR" property="cso" />
		    <result column="GRN" jdbcType="VARCHAR" property="grn" />
		    <result column="HCLY" jdbcType="VARCHAR" property="hcly" />
		    <result column="CFYQ" jdbcType="VARCHAR" property="cfyq" />
		    <result column="BJGZJL" jdbcType="VARCHAR" property="bjgzjl" />
		    <result column="LLKLX" jdbcType="DECIMAL" property="llklx" />
		    <result column="LLKBH" jdbcType="VARCHAR" property="llkbh" />
		    <result column="KZLX" jdbcType="DECIMAL" property="kzlx" />
		    <result column="IS_DJ" jdbcType="DECIMAL" property="isDj" />
		    <result column="KCCB" jdbcType="DECIMAL" property="kccb" />
		    <result column="XKZH" jdbcType="VARCHAR" property="xkzh" />
	    </association>
	     <!--D_009 仓库 -->
	    <association property="store" javaType="com.eray.thjw.aerialmaterial.po.Store">
		  <id column="ID" property="id" jdbcType="VARCHAR" />
		    <result column="CKH" property="ckh" jdbcType="VARCHAR" />
		    <result column="DPRTCODE" property="dprtcode" jdbcType="VARCHAR" />
		    <result column="CKMC" property="ckmc" jdbcType="VARCHAR" />
		    <result column="CKDZ" property="ckdz" jdbcType="VARCHAR" />
		    <result column="CKLB" property="cklb" jdbcType="DECIMAL" />
		    <result column="KGYID" property="kgyid" jdbcType="VARCHAR" />
		    <result column="JD" property="jd" jdbcType="VARCHAR" />
		    <result column="BZ" property="bz" jdbcType="VARCHAR" />
		    <result column="ZT" property="zt" jdbcType="DECIMAL" />
		    <result column="BMID" property="bmid" jdbcType="VARCHAR" />
		    <result column="CJRID" property="cjrid" jdbcType="VARCHAR" />
		    <result column="CJSJ" property="cjsj" jdbcType="TIMESTAMP" />
		    <result column="KGYREALNAME" property="kgyrealname" jdbcType="VARCHAR" />
		    <result column="KGYUSERNAME" property="kgyusername" jdbcType="VARCHAR" />
		    <result column="STOLEID" property="selectId" jdbcType="VARCHAR" />
	    </association>
   		<!--D_00901 库位 -->
	    <association property="storage" javaType="com.eray.thjw.aerialmaterial.po.Storage">
		   <id column="ID" jdbcType="VARCHAR" property="id" />
			<result column="MAINID" jdbcType="VARCHAR" property="mainid" />
			<result column="KWH" jdbcType="VARCHAR" property="kwh" />
			<result column="DPRTCODE" jdbcType="VARCHAR" property="dprtcode" />
			<result column="CKH" jdbcType="VARCHAR" property="ckh" />
			<result column="CKLB" jdbcType="DECIMAL" property="cklb" />
			<result column="BZ" jdbcType="VARCHAR" property="bz" />
			<result column="ZT" jdbcType="DECIMAL" property="zt" />
			<result column="BMID" jdbcType="VARCHAR" property="bmid" />
			<result column="CJRID" jdbcType="VARCHAR" property="cjrid" />
			<result column="CJSJ" jdbcType="TIMESTAMP" property="cjsj" />
	    </association>
	  
   </resultMap>
  
  <sql id="Base_Column_List">
    id, mainid, kcllid, zt, whdwid, whrid, whsj
  </sql>
  
  <select id="queryGetreceiptSheetDetails" parameterType="java.lang.String" resultMap="ResultMap">
	select t1.id, t1.mainid, t1.zt, t1.whdwid, t1.whrid, t1.whsj, t2.id kcllid,t2.KCID, t2.DPRTCODE,
	t2.CKLB, t2.CKID, t2.CKH, t2.CKMC, t2.KWID, t2.KWH, t2.BJID, t2.BJH, t2.PCH, t2.SN, t2.ZWMS, t2.YWMS, 
    t2.JLDW, t2.KCSL, t2.DJSL, t2.CGHTID, t2.HTBH_CG, t2.SXHTID, t2.HTBH_SX, t2.TDDID, t2.TDDH, t2.RKSJ, t2.RKBMID, t2.RKRID, 
    t2.SHZH, t2.SHZWZ, t2.ZT, t2.BZ, t2.JYDID, t2.HJSM, t2.SPQX, t2.SCRQ, t2.XH, t2.GG, t2.ZZCS, t2.TSN, t2.TSO, t2.HCLY,
    t2.CSN, t2.CSO, t2.cfyq ,t2.BZ,t2.GRN,
    t2.CFYQ,XKZH,t2.kccb from b_h_00801_new t1 
	left join b_h_017 t2 on t1.kcllid=t2.id
	left join d_009 t3 on t2.kcid=t3.id
	left join d_00901 t4 on t2.kwid=t4.id
	where t1.mainid= #{id,jdbcType=VARCHAR}
  </select>
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
	t1. ID,
	t1.mainid,
	t1.zt,
	t1.whdwid,
	t1.whrid,
	t1.whsj,
	t2. ID kcllid,
	t2.KCID,
	t2.DPRTCODE,
	t2.CKLB,
	t2.CKID,
	t2.CKH,
	t2.CKMC,
	t2.KWID,
	t2.KWH,
	t2.BJID,
	t2.BJH,
	t2.PCH,
	t2.SN,
	t2.ZWMS,
	t2.YWMS,
	t2.JLDW,t2.KCSL,
	t2.DJSL,
	t2.CGHTID,
	t2.HTBH_CG,
	t2.SXHTID,
	t2.HTBH_SX,
	t2.TDDID,
	t2.TDDH,
	t2.RKSJ,
	t2.RKBMID,
	t2.RKRID,
	t2.SHZH,
	t2.SHZWZ,
	t2.ZT,
	t2.BZ,
	t2.JYDID,
	t2.HJSM,
	t2.SPQX,
	t2.SCRQ,
	t2.XH,
	t2.GG,
	t2.ZZCS,
	t2.TSN,
	t2.TSO,
	t2.HCLY,
	t2.CFYQ,
	XKZH,t2.kccb
FROM
	b_h_00801_new t1
LEFT JOIN b_h_017 t2 ON t1.kcllid = t2. ID
LEFT JOIN d_009 t3 ON t2.kcid = t3. ID
LEFT JOIN d_00901 t4 ON t2.kwid = t4. ID
WHERE
	t1. ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from b_h_00801_new
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
   <select id="selectByPrimary" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from b_h_00801_new
    <include refid="FlightRecordParam1"></include>
  </select>
  	<sql id="FlightRecordParam1">
	   where 1=1  
	     <if test="kcllid != null and kcllid != '' " >   
            and  kcllid  = #{kcllid,jdbcType=VARCHAR}
           </if>
	</sql>
  
  <insert id="insert" parameterType="com.eray.thjw.aerialmaterial.po.GodownEntryDetail">
    insert into b_h_00801_new (id, mainid, kcllid, 
      zt, whdwid, whrid, 
      whsj)
    values (#{id,jdbcType=VARCHAR}, #{mainid,jdbcType=VARCHAR}, #{kcllid,jdbcType=VARCHAR}, 
      #{zt,jdbcType=INTEGER}, #{whdwid,jdbcType=VARCHAR}, #{whrid,jdbcType=VARCHAR}, 
      #{whsj,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.eray.thjw.aerialmaterial.po.GodownEntryDetail">
    insert into b_h_00801_new
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mainid != null">
        mainid,
      </if>
      <if test="kcllid != null">
        kcllid,
      </if>
      <if test="zt != null">
        zt,
      </if>
      <if test="whdwid != null">
        whdwid,
      </if>
      <if test="whrid != null">
        whrid,
      </if>
      <if test="whrid != null">
        whsj,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mainid != null">
        #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="kcllid != null">
        #{kcllid,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        #{zt,jdbcType=INTEGER},
      </if>
      <if test="whdwid != null">
        #{whdwid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null">
        #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null">
        current_timestamp,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eray.thjw.aerialmaterial.po.GodownEntryDetail">
    update b_h_00801_new
    <set>
      <if test="mainid != null">
        mainid = #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="kcllid != null">
        kcllid = #{kcllid,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        zt = #{zt,jdbcType=INTEGER},
      </if>
      <if test="whdwid != null">
        whdwid = #{whdwid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null">
        whrid = #{whrid,jdbcType=VARCHAR},
      </if>
       <if test="whsj != null">
        whsj = #{whsj,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eray.thjw.aerialmaterial.po.GodownEntryDetail">
    update b_h_00801_new
    set mainid = #{mainid,jdbcType=VARCHAR},
      kcllid = #{kcllid,jdbcType=VARCHAR},
      zt = #{zt,jdbcType=INTEGER},
      whdwid = #{whdwid,jdbcType=VARCHAR},
      whrid = #{whrid,jdbcType=VARCHAR},
      whsj = sysdate
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>