<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.aerialmaterial.dao.QualityReviewMapper">
	<resultMap id="BaseResultMap"
		type="com.eray.thjw.aerialmaterial.po.QualityReview">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="DPRTCODE" property="dprtcode" jdbcType="VARCHAR" />
		<result column="DH" property="dh" jdbcType="VARCHAR" />
		<result column="ZGXQ" property="zgxq" jdbcType="TIMESTAMP" />
		<result column="ZGZT" property="zgzt" jdbcType="VARCHAR" />
		<result column="ZRBMID" property="zrbmid" jdbcType="VARCHAR" />
		<result column="ZT" property="zt" jdbcType="INTEGER" />
		<result column="XFRID" property="xfrid" jdbcType="VARCHAR" />
		<result column="XFSJ" property="xfsj" jdbcType="TIMESTAMP" />
		<result column="XFYY" property="xfyy" jdbcType="VARCHAR" />
		<result column="XFFJID" property="xffjid" jdbcType="VARCHAR" />		
		<result column="FKRID" property="fkrid" jdbcType="VARCHAR" />
		<result column="FKSJ" property="fksj" jdbcType="TIMESTAMP" />
		<result column="ZGSM" property="zgsm" jdbcType="VARCHAR" />
		<result column="ZGFJID" property="zgfjid" jdbcType="VARCHAR" />
		<result column="SHRID" property="shrid" jdbcType="VARCHAR" />
		<result column="SHSJ" property="shsj" jdbcType="TIMESTAMP" />
		<result column="SHSM" property="shsm" jdbcType="VARCHAR" />
		<result column="SHFJID" property="shfjid" jdbcType="VARCHAR" />		
		<result column="GBRID" property="gbrid" jdbcType="VARCHAR" />
		<result column="GBSJ" property="gbsj" jdbcType="TIMESTAMP" />
		<result column="GBYY" property="gbyy" jdbcType="VARCHAR" />
		<result column="GBFJID" property="gbfjid" jdbcType="VARCHAR" />	
		<result column="WHBMID" property="whbmid" jdbcType="VARCHAR" />
		<result column="WHSJ" property="whsj" jdbcType="TIMESTAMP" />
		<result column="WHRID" property="whrid" jdbcType="VARCHAR" />
		<result column="XFRNAME" property="xfrname" jdbcType="VARCHAR" />
		<result column="FKRNAME" property="fkrname" jdbcType="VARCHAR" />
		<result column="SHRNAME" property="shrname" jdbcType="VARCHAR" />
		<result column="GBRNAME" property="gbrname" jdbcType="VARCHAR" />
		<result column="WHRNAME" property="whrname" jdbcType="VARCHAR" />
		<result column="ZRBMNAME" property="zrbmname" jdbcType="VARCHAR" />
		<result column="WHBMNAME" property="whbmname" jdbcType="VARCHAR" />
	</resultMap>
	<insert id="insertRecord" parameterType="com.eray.thjw.aerialmaterial.po.QualityReview">
		 insert into b_z_002
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dprtcode != null">
        dprtcode,
      </if>
      <if test="dh != null">
        dh,
      </if>
      <if test="zgxq != null">
        zgxq,
      </if>
      <if test="zgzt != null">
        zgzt,
      </if>
      <if test="zrbmid != null">
        zrbmid,
      </if>
      <if test="zt != null">
        zt,
      </if>
      <if test="xfrid != null">
        xfrid,
      </if>
      <if test="xfrid != null">
        xfsj,
      </if>
      <if test="xfyy != null">
        xfyy,
      </if>
      <if test="xffjid != null">
        xffjid,
      </if>
      <if test="fkrid != null">
        fkrid,
      </if>
      <if test="fkrid != null">
        fksj,
      </if>
      <if test="zgsm != null">
        zgsm,
      </if>
      <if test="zgfjid != null">
        zgfjid,
      </if>
      <if test="shrid != null">
        shrid,
      </if>
      <if test="shsm != null">
        shsm,
      </if>
      <if test="shrid != null">
        shsj,
      </if>
      <if test="shfjid != null">
        shfjid,
      </if>
      <if test="gbrid != null">
        gbrid,
      </if>
      <if test="gbyy != null">
        gbyy,
      </if>
      <if test="gbrid != null">
        gbsj,
      </if>
       <if test="gbfjid != null">
        gbfjid,
      </if>
      <if test="whrid != null">
        whsj,
      </if>
       <if test="whbmid != null">
        whbmid,
      </if>
       <if test="whrid != null">
        whrid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dprtcode != null">
        #{dprtcode,jdbcType=VARCHAR},
      </if>
      <if test="dh != null">
        #{dh,jdbcType=VARCHAR},
      </if>
      <if test="zgxq != null">
        #{zgxq,jdbcType=TIMESTAMP},
      </if>
      <if test="zgzt != null">
        #{zgzt,jdbcType=VARCHAR},
      </if>
      <if test="zrbmid != null">
        #{zrbmid,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        #{zt,jdbcType=INTEGER},
      </if>
      <if test="xfrid != null">
        #{xfrid,jdbcType=VARCHAR},
      </if>
      <if test="xfrid != null">
       	sysdate,
      </if>
      <if test="xfyy != null">
        #{xfyy,jdbcType=VARCHAR},
      </if>
      <if test="xffjid != null">
        #{xffjid,jdbcType=VARCHAR},
      </if>
      <if test="fkrid != null">
        #{fkrid,jdbcType=VARCHAR},
      </if>
      <if test="fkrid != null">
       	sysdate,
      </if>
      <if test="zgsm != null">
        #{zgsm,jdbcType=VARCHAR},
      </if>
      <if test="zgfjid != null">
        #{zgfjid,jdbcType=VARCHAR},
      </if>
      <if test="shrid != null">
        #{shrid,jdbcType=VARCHAR},
      </if>
      <if test="shsm != null">
        #{shsm,jdbcType=VARCHAR},
      </if>
      <if test="shrid != null">
        sysdate,
      </if>
      <if test="shfjid != null">
        #{shfjid,jdbcType=VARCHAR},
      </if>
      <if test="gbrid != null">
        #{gbrid,jdbcType=VARCHAR},
      </if>
      <if test="gbyy != null">
        #{gbyy,jdbcType=VARCHAR},
      </if>
      <if test="gbrid != null">
       sysdate,
      </if>
      <if test="gbfjid != null">
        #{gbfjid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null">
        sysdate,
      </if>
      <if test="whbmid != null">
        #{whbmid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null">
        #{whrid,jdbcType=VARCHAR},
      </if>
    </trim>
	</insert>
	<sql id="BaseParam">
		where
		1=1 
		<if test="dprtcode != null and dprtcode != ''">
			and b.dprtcode = #{dprtcode}
		</if>
		<if test="zt != null and zt != ''">
			and b.zt = #{zt}
		</if>
		<if test="paramsMap != null and paramsMap.zgxqDateBegin != null and paramsMap.zgxqDateBegin != ''">
		    and b.zgxq &gt;=to_date(#{paramsMap.zgxqDateBegin, jdbcType=VARCHAR},'yyyy-mm-dd')  
		</if>
		<if test="paramsMap != null and paramsMap.zgxqDateEnd != null and paramsMap.zgxqDateEnd != ''">
		    and b.zgxq &lt;=to_date(#{paramsMap.zgxqDateEnd, jdbcType=VARCHAR},'yyyy-mm-dd') 
		</if>
		<if test="paramsMap != null and paramsMap.list != null and paramsMap.list!='' ">
		    and b.zt=2 and  b.zrbmid in 
		    <foreach item="item" index="index" collection="paramsMap.list" open="("  
            separator="," close=")">  
            #{item}  
        </foreach>  
		</if>
  		<if test="keyword != null and keyword != ''">
			and ( UPPER(b.dh) like UPPER('%'||#{keyword}||'%')
			or UPPER(whr.zrbmid) like UPPER('%'||#{keyword}||'%')
			or UPPER(whr.zgzt) like UPPER('%'||#{keyword}||'%'))
		</if>
		 <if test="id != null and id != '' " >   
            and  b.id  = #{id,jdbcType=VARCHAR}
          </if>
	</sql>
	<select id="selectQualityReviewList" parameterType="com.eray.thjw.aerialmaterial.po.QualityReview"
		resultMap="BaseResultMap">
		select b.id,b.dprtcode,b.dh,b.zgxq,b.zgzt,b.zrbmid,b.zt,b.xfrid,b.xfsj,b.xfyy,b.xffjid,
		b.fkrid,b.fksj,b.zgsm,b.zgfjid,
		b.shrid,b.shsm,b.shsj,b.shfjid,b.gbrid,b.gbyy,b.gbsj,b.gbfjid,b.whsj,b.whbmid,b.whrid,
		t1.username ||' '|| t1.realname as xfrname,
		t2.username ||' '||t2.realname as fkrname,
		t3.username ||' '||t3.realname as shrname,
		t4.username ||' '||t4.realname as gbrname,
		t5.username ||' '||t5.realname as whrname,
		t6.dprtname as zrbmname,
		t7.dprtname as whbmname
		from b_z_002 b
		left join t_user t1 on b.xfrid =t1.id 
		left join t_user t2 on b.fkrid = t2.id
		left join t_user t3 on b.shrid = t3.id
		left join t_user t4 on b.gbrid = t4.id
		left join t_user t5 on b.whrid = t5.id
		left join t_department t6 on t6.id=b.zrbmid
		left join t_department t7 on t7.id=b.whbmid
			<include refid="BaseParam" />
		  <choose>
			    	<when test='pagination.sort == "auto"'>
			    		order by whsj desc 
			    	</when>
			    	<otherwise>
					    order by ${pagination.sort} ${pagination.order}
			    	</otherwise>
		 </choose>	
	</select>

	<select id="selectQualityReviewById" parameterType="java.lang.String"
	resultMap="BaseResultMap" >
		select b.id,b.dprtcode,b.dh,b.zgxq,b.zgzt,b.zrbmid,b.zt,b.xfrid,b.xfsj,b.xfyy,b.xffjid,
		b.fkrid,b.fksj,b.zgsm,b.zgfjid,
		b.shrid,b.shsm,b.shsj,b.shfjid,b.gbrid,b.gbyy,b.gbsj,b.gbfjid,b.whsj,b.whbmid,b.whrid,
		t1.username ||' '|| t1.realname as xfrname,
		t2.username ||' '||t2.realname as fkrname,
		t3.username ||' '||t3.realname as shrname,
		t4.username ||' '||t4.realname as gbrname,
		t5.username ||' '||t5.realname as whrname,
		t6.dprtname as zrbmname,
		t7.dprtname as whbmname
		from b_z_002 b
		left join t_user t1 on b.xfrid =t1.id 
		left join t_user t2 on b.fkrid = t2.id
		left join t_user t3 on b.shrid = t3.id
		left join t_user t4 on b.gbrid = t4.id
		left join t_user t5 on b.whrid = t5.id
		left join t_department t6 on t6.id=b.zrbmid
		left join t_department t7 on t7.id=b.whbmid
		where b.id=#{id,jdbcType=VARCHAR}
	</select>
	<update id="updateQualityReviewById">
		update b_z_002 
   	<set>
      <if test="zgxq != null">
        zgxq=#{zgxq,jdbcType=TIMESTAMP},
      </if>
      <if test="zgzt != null">
       zgzt=#{zgzt,jdbcType=VARCHAR},
      </if>
      <if test="zrbmid != null">
        zrbmid=#{zrbmid,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        zt=#{zt,jdbcType=INTEGER},
      </if>
      <if test="xfrid != null">
        xfrid=#{xfrid,jdbcType=VARCHAR},
      </if>
      <if test="xfrid != null">
        xfsj=sysdate,
      </if>
      <if test="xfyy != null">
        xfyy=#{xfyy,jdbcType=VARCHAR},
      </if>
      <if test="xffjid != null">
        xffjid=#{xffjid,jdbcType=VARCHAR},
      </if>
      <if test="fkrid != null">
        fkrid=#{fkrid,jdbcType=VARCHAR},
      </if>
      <if test="fkrid != null">
        fksj=sysdate,
      </if>
      <if test="zgsm != null">
        zgsm=#{zgsm,jdbcType=VARCHAR},
      </if>
      <if test="zgfjid != null">
        zgfjid=#{zgfjid,jdbcType=VARCHAR},
      </if>
      <if test="shrid != null">
        shrid=#{shrid,jdbcType=VARCHAR},
      </if>
      <if test="shsm != null">
        shsm=#{shsm,jdbcType=VARCHAR},
      </if>
      <if test="shrid != null">
        shsj=sysdate,
      </if>
      <if test="shfjid != null">
        shfjid=#{shfjid,jdbcType=VARCHAR},
      </if>
      <if test="gbrid != null">
        gbrid=#{gbrid,jdbcType=VARCHAR},
      </if>
      <if test="gbyy != null">
        gbyy=#{gbyy,jdbcType=VARCHAR},
      </if>
      <if test="gbrid != null">
        gbsj=sysdate,
      </if>
      <if test="gbfjid != null">
        gbfjid=#{gbfjid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null">
        whsj=sysdate,
      </if>
      <if test="whbmid != null">
        whbmid=#{whbmid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null">
        whrid=#{whrid,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
	</update>
	
</mapper>