<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eray.thjw.aerialmaterial.dao.RequisitionCostMapper">
	
	<!-- 根据条件分页查询单击领用成本列表 -->
	<select id="queryAllPageList" parameterType="com.eray.thjw.po.BaseEntity" resultType="Map">
		select b4.hclx,
	        b4.hclx_ej,
	        b4.gljb,
	        b3.bjh,
	        b3.pch,
	        b3.sn,
	        b4.zwms,
	        b4.ywms,
	       ((CASE WHEN b3.kcsl IS NULL THEN 0 ELSE b3.kcsl END) - (CASE WHEN b2.tksl IS NULL THEN 0 ELSE b2.tksl END)) sysl,
	        b4.jldw,
	        b3.kccb,
	        trunc(((CASE WHEN b3.kcsl IS NULL THEN 0 ELSE b3.kcsl END) - (CASE WHEN b2.tksl IS NULL THEN 0 ELSE b2.tksl END)) * (CASE WHEN b3.kccb IS NULL THEN 0 ELSE b3.kccb END), 2) lycb,
	        to_char(b1.cksj, 'yyyy-mm-dd') ckrq,
	        b1.ckdh,
	        b3.kcsl,
	        b2.tksl,
	        b1.bz,
	        b4.cjjh,
	        b4.zjh,
	        b4.hcjz,
	        b4.gg,
	        b4.xingh,
	        b3.ckh,
	        b3.ckmc,
	        b5.jd,
<!-- 	        d12.JDMS, -->
	        b3.kwh,
	        b3.xkzh,
	        b3.shzh,
	        b3.shzwz,
	        b3.dprtcode,
	        b6.zwms as zzwms,
	        b6.ywms as zywms
	    from b_h_013 b1
	    join b_h_01301 b2
	    on b1.id = b2.mainid
	    and b1.zt = 2
	    <if test="paramsMap != null and paramsMap.fjzch != null and paramsMap.fjzch != ''">
		    and (b1.fjzch = #{paramsMap.fjzch} or b1.fjzch = '00000')
		</if>
	    and b1.cksj &gt;= to_date(#{paramsMap.ckrqBegin, jdbcType=VARCHAR}, 'YYYY-MM-DD HH24:MI:SS')
	    and b1.cksj &lt;= to_date(#{paramsMap.ckrqEnd, jdbcType=VARCHAR}, 'YYYY-MM-DD HH24:MI:SS')
	    and b1.cklx = 1
	    and b2.zt = 1
	    join b_h_017 b3
	    on b3.id = b2.kcllid
	    join d_008 b4
	    on b3.bjid = b4.id
	    left join d_009 b5
	    on b3.ckid = b5.id
	    left join D_005 b6
   		on b4.zjh = b6.zjh and b6.dprtcode = #{paramsMap.dprtcode}
	    where 1 = 1 and b3.dprtcode = #{paramsMap.dprtcode}
	    <if test="paramsMap != null and paramsMap.hclx != null and paramsMap.hclx == ''">
		    and b4.hclx in (1, 4, 5)
		</if>
	    <if test="paramsMap != null and paramsMap.hclx != null and paramsMap.hclx != ''">
		    and b4.hclx in (2, 3)
		</if>
	    <if test="paramsMap != null and paramsMap.hclxej != null and paramsMap.hclxej != ''">
		    and b4.hclx_ej = #{paramsMap.hclxej}
		</if>

           <!-- order by ID asc -->
	  	<choose><!--  进行排序判断，如果默认就是默认字段排序 -->
	    	<when test='pagination.sort == "auto"'>                       
	    		order by lycb DESC,bjh DESC
	    	</when>
	    	<otherwise>
			    order by ${pagination.sort} ${pagination.order}
	    	</otherwise>
		</choose>
	</select>
  
</mapper>