<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eray.thjw.aerialmaterial.dao.InspectionMapper">
  <resultMap id="BaseResultMap" type="com.eray.thjw.aerialmaterial.po.Inspection">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="dprtcode" jdbcType="VARCHAR" property="dprtcode" />
    <result column="jydh" jdbcType="VARCHAR" property="jydh" />
    <result column="shdid" jdbcType="VARCHAR" property="shdid" />
    <result column="shdmxid" jdbcType="VARCHAR" property="shdmxid" />
    <result column="kysl" jdbcType="NUMERIC" property="kysl" />
    <result column="hcly" jdbcType="INTEGER" property="hcly" />
    <result column="cfyq" jdbcType="VARCHAR" property="cfyq" />
    <result column="xkzh" jdbcType="VARCHAR" property="xkzh" />
    <result column="shzh" jdbcType="VARCHAR" property="shzh" />
    <result column="shzwz" jdbcType="VARCHAR" property="shzwz" />
    <result column="tsn" jdbcType="VARCHAR" property="tsn" />
    <result column="tso" jdbcType="VARCHAR" property="tso" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="scrq" jdbcType="DATE" property="scrq" />
    <result column="zzcs" jdbcType="VARCHAR" property="zzcs" />
    <result column="hjsm" jdbcType="DATE" property="hjsm" />
    <result column="jyrid" jdbcType="VARCHAR" property="jyrid" />
    <result column="jyrq" jdbcType="DATE" property="jyrq" />
    <result column="jyjg" jdbcType="INTEGER" property="jyjg" />
    <result column="jgsm" jdbcType="VARCHAR" property="jgsm" />
    <result column="zt" jdbcType="INTEGER" property="zt" />
    <result column="zdbmid" jdbcType="VARCHAR" property="zdbmid" />
    <result column="zdrid" jdbcType="VARCHAR" property="zdrid" />
    <result column="zdsj" jdbcType="TIMESTAMP" property="zdsj" />
    </resultMap>
     <resultMap type="com.eray.thjw.aerialmaterial.po.Inspection" id="ResultMap" extends="BaseResultMap">
     <association property="hcMainData" javaType="com.eray.thjw.aerialmaterial.po.HCMainData">  
	       	<result column="HC_ID" property="id" jdbcType="VARCHAR" />
	        <result column="BJH" property="bjh" jdbcType="VARCHAR" />
    		<result column="DPRTCODE" property="dprtcode" jdbcType="VARCHAR" />
    		<result column="ZWMS" property="zwms" jdbcType="VARCHAR" />
    		<result column="YWMS" property="ywms" jdbcType="VARCHAR" />
   	 		<result column="JLDW" property="jldw" jdbcType="VARCHAR" />
    		<result column="CJJH" property="cjjh" jdbcType="VARCHAR" />
    		<result column="ZJH" property="zjh" jdbcType="VARCHAR" />
    		<result column="HCJZ" property="hcjz" jdbcType="DECIMAL" />
    		<result column="GLJB" property="gljb" jdbcType="DECIMAL" />
    		<result column="SXKZ" property="sxkz" jdbcType="DECIMAL" />
    		<result column="HCLX" property="hclx" jdbcType="DECIMAL" />
    		<result column="HCLX_EJ" property="hclxEj" jdbcType="DECIMAL" />
    		<result column="IS_MEL" property="isMel" jdbcType="DECIMAL" />
   			<result column="MIN_KCL" property="minKcl" jdbcType="DECIMAL" />
    		<result column="MAX_KCL" property="maxKcl" jdbcType="DECIMAL" />
    		<result column="BZ" property="bz" jdbcType="VARCHAR" />
    		<result column="XH" property="xh" jdbcType="VARCHAR" />
     		<result column="GG" property="gg" jdbcType="VARCHAR" />
      		<result column="XINGH" property="xingh" jdbcType="VARCHAR" />
	   </association>
	    <association property="receiptSheet" javaType="com.eray.thjw.aerialmaterial.po.ReceiptSheet">  
	        <result column="SHEET_ID" jdbcType="INTEGER" property="id" />
	        <result column="SHLX" jdbcType="INTEGER" property="shlx" />
    		<result column="SHDH" jdbcType="VARCHAR" property="shdh" />
   		 	<result column="SHBMID" jdbcType="VARCHAR" property="shbmid" />
    		<result column="SHRID" jdbcType="VARCHAR" property="shrid" />
    		<result column="SHRQ" jdbcType="TIMESTAMP" property="shrq" />
    		<result column="JDDXID" jdbcType="VARCHAR" property="jddxid" />
    		<result column="JDFZR" jdbcType="VARCHAR" property="jdfzr" />
    		<result column="ZT" jdbcType="INTEGER" property="zt" />
    		<result column="ZDRID" jdbcType="VARCHAR" property="zdrid" />
    		<result column="ZDSJ" jdbcType="TIMESTAMP" property="zdsj" />
    		<result column="BZ" jdbcType="VARCHAR" property="bz" />
    		<result column="XGDJID" jdbcType="VARCHAR" property="xgdjid" />
    		<result column="FHDW" jdbcType="VARCHAR" property="fhdw" />
	   </association>
	   <association property="receiptSheetDetail" javaType="com.eray.thjw.aerialmaterial.po.ReceiptSheetDetail">  	        
	        <result column="SHEETDETAIL_ID" jdbcType="VARCHAR" property="id" />
	        <result column="BJID" jdbcType="VARCHAR" property="bjid" />
    		<result column="PCH" jdbcType="VARCHAR" property="pch" />
    		<result column="SN" jdbcType="VARCHAR" property="sn" />
    		<result column="KWID" jdbcType="VARCHAR" property="kwid" />
    		<result column="SL" jdbcType="NUMERIC" property="sl" />
    		<result column="THSL" jdbcType="NUMERIC" property="thsl" />
    		<result column="KCLLID" jdbcType="VARCHAR" property="kcllid" />
    		<result column="ZT" jdbcType="INTEGER" property="zt" />
    		<result column="XGDJID" jdbcType="VARCHAR" property="xgdjid" />
    		<result column="WHRID" jdbcType="VARCHAR" property="whrid" />
    		<result column="WHSJ" jdbcType="TIMESTAMP" property="whsj" />
	   </association>
	   <association property="store" javaType="com.eray.thjw.aerialmaterial.po.Store"> 
	   		<result column="STORE_ID" property="id" jdbcType="VARCHAR" /> 	        
	        <result column="CKH" property="ckh" jdbcType="VARCHAR" />
    		<result column="DPRTCODE" property="dprtcode" jdbcType="VARCHAR" />
    		<result column="CKMC" property="ckmc" jdbcType="VARCHAR" />
    		<result column="CKDZ" property="ckdz" jdbcType="VARCHAR" />
    		<result column="CKLB" property="cklb" jdbcType="DECIMAL" />
    		<result column="KGYID" property="kgyid" jdbcType="VARCHAR" />
    		<result column="JD" property="jd" jdbcType="VARCHAR" />
    		<result column="BZ" property="bz" jdbcType="VARCHAR" />
    		<result column="ZT" property="zt" jdbcType="DECIMAL" />
    		<result column="BMID" property="bmid" jdbcType="VARCHAR" />
    		<result column="CJRID" property="cjrid" jdbcType="VARCHAR" />
    		<result column="CJSJ" property="cjsj" jdbcType="TIMESTAMP" />
    		<result column="KGYREALNAME" property="kgyrealname" jdbcType="VARCHAR" />
    		<result column="KGYUSERNAME" property="kgyusername" jdbcType="VARCHAR" />
    		<result column="STOLEID" property="selectId" jdbcType="VARCHAR" />
	   </association>
	   <association property="storage" javaType="com.eray.thjw.aerialmaterial.po.Storage">
			<id column="STORAGE_ID" jdbcType="VARCHAR" property="id" />
			<result column="MAINID" jdbcType="VARCHAR" property="mainid" />
			<result column="KWH" jdbcType="VARCHAR" property="kwh" />
			<result column="DPRTCODE" jdbcType="VARCHAR" property="dprtcode" />
			<result column="CKH" jdbcType="VARCHAR" property="ckh" />
			<result column="CKLB" jdbcType="DECIMAL" property="cklb" />
			<result column="BZ" jdbcType="VARCHAR" property="bz" />
			<result column="ZT" jdbcType="DECIMAL" property="zt" />
			<result column="BMID" jdbcType="VARCHAR" property="bmid" />
			<result column="CJRID" jdbcType="VARCHAR" property="cjrid" />
			<result column="CJSJ" jdbcType="TIMESTAMP" property="cjsj" />
		</association>
	   <association property="jyr" javaType="com.eray.thjw.po.User">
			<result column="JYR_REALNAME" jdbcType="VARCHAR" property="realname" />
    		<result column="JYR_USERNAME" jdbcType="VARCHAR" property="username" />
		</association>
		<association property="whr" javaType="com.eray.thjw.po.User">
			<result column="WHR_REALNAME" jdbcType="VARCHAR" property="realname" />
    		<result column="WHR_USERNAME" jdbcType="VARCHAR" property="username" />
		</association>
		<association property="zdr" javaType="com.eray.thjw.po.User">
			<result column="ZDR_REALNAME" jdbcType="VARCHAR" property="realname" />
    		<result column="ZDR_USERNAME" jdbcType="VARCHAR" property="username" />
		</association>
		<association property="materialHistory" javaType="com.eray.thjw.aerialmaterial.po.MaterialHistory">
			<id column="ID" jdbcType="VARCHAR" property="id" />
    		<result column="KCID" jdbcType="VARCHAR" property="kcid" />
    		<result column="DPRTCODE" jdbcType="VARCHAR" property="dprtcode" />
    		<result column="CKLB" jdbcType="DECIMAL" property="cklb" />
    		<result column="CKID" jdbcType="VARCHAR" property="ckid" />
    		<result column="CKH" jdbcType="VARCHAR" property="ckh" />
    		<result column="CKMC" jdbcType="VARCHAR" property="ckmc" />
   	 		<result column="KWID" jdbcType="VARCHAR" property="kwid" />
    		<result column="KWH" jdbcType="VARCHAR" property="kwh" />
    		<result column="BJID" jdbcType="VARCHAR" property="bjid" />
    		<result column="BJH" jdbcType="VARCHAR" property="bjh" />
    		<result column="PCH" jdbcType="VARCHAR" property="pch" />
    		<result column="SN" jdbcType="VARCHAR" property="sn" />
    		<result column="ZWMS" jdbcType="VARCHAR" property="zwms" />
    		<result column="YWMS" jdbcType="VARCHAR" property="ywms" />
    		<result column="JLDW" jdbcType="VARCHAR" property="jldw" />
    		<result column="KCSL" jdbcType="DECIMAL" property="kcsl" />
   			<result column="DJSL" jdbcType="DECIMAL" property="djsl" />
    		<result column="CGHTID" jdbcType="VARCHAR" property="cghtid" />
    		<result column="HTBH_CG" jdbcType="VARCHAR" property="htbhCg" />
    		<result column="SXHTID" jdbcType="VARCHAR" property="sxhtid" />
    		<result column="HTBH_SX" jdbcType="VARCHAR" property="htbhSx" />
    		<result column="TDDID" jdbcType="VARCHAR" property="tddid" />
    		<result column="TDDH" jdbcType="VARCHAR" property="tddh" />
    		<result column="RKSJ" jdbcType="TIMESTAMP" property="rksj" />
    		<result column="RKBMID" jdbcType="VARCHAR" property="rkbmid" />
    		<result column="RKRID" jdbcType="VARCHAR" property="rkrid" />
    		<result column="SHZH" jdbcType="VARCHAR" property="shzh" />
    		<result column="SHZWZ" jdbcType="VARCHAR" property="shzwz" />
    		<result column="ZT" jdbcType="DECIMAL" property="zt" />
    		<result column="BZ" jdbcType="VARCHAR" property="bz" />
    		<result column="JYDID" jdbcType="VARCHAR" property="jydid" />
    		<result column="HJSM" jdbcType="TIMESTAMP" property="hjsm" />
    		<result column="SPQX" jdbcType="TIMESTAMP" property="spqx" />
    		<result column="SCRQ" jdbcType="TIMESTAMP" property="scrq" />
    		<result column="XH" jdbcType="VARCHAR" property="xh" />
    		<result column="GG" jdbcType="VARCHAR" property="gg" />
    		<result column="ZZCS" jdbcType="VARCHAR" property="zzcs" />
    		<result column="TSN" jdbcType="VARCHAR" property="tsn" />
    		<result column="TSO" jdbcType="VARCHAR" property="tso" />
    		<result column="HCLY" jdbcType="DECIMAL" property="hcly" />
    		<result column="CFYQ" jdbcType="VARCHAR" property="cfyq" />
    		<result column="BJGZJL" jdbcType="VARCHAR" property="bjgzjl" />
    		<result column="LLKLX" jdbcType="DECIMAL" property="llklx" />
    		<result column="LLKBH" jdbcType="VARCHAR" property="llkbh" />
    		<result column="KZLX" jdbcType="DECIMAL" property="kzlx" />
    		<result column="IS_DJ" jdbcType="DECIMAL" property="isDj" />
    		<result column="KCCB" jdbcType="DECIMAL" property="kccb" />
    		<result column="XKZH" jdbcType="VARCHAR" property="xkzh" />
		</association>
  </resultMap>
  <sql id="Base_Column_List">
    id, dprtcode, jydh, shdid, shdmxid, kysl, hcly, cfyq, xkzh, shzh, shzwz, tsn, tso, 
    bz, scrq, zzcs, hjsm, jyrid, jyrq, jyjg, jgsm, zt, zdbmid, zdrid, zdsj
  </sql>
  <!-- 根据部件号集合、机构代码查询等效替代部件 -->
    <select id="queryByIdList" resultMap="BaseResultMap" parameterType="Map">
	    select 
	    	<include refid="Base_Column_List" />
	    from b_h_006_new
	    where ZT IN (2, 10)
	    	 AND SHDID in 
				 <foreach collection="idList" item="id" index="index" open="(" close=")" separator=",">
					#{id,jdbcType=VARCHAR}
				 </foreach>
  	</select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMap">
     select	a.id as id,a.jydh,d.bjh,d.gljb,b2.pch,b2.sn,d.zwms,d.ywms,b2.sl,d.jldw,d1.ckmc,b2.bjid,
     a.hcly,a.xkzh,a.shzh,a.shzwz,a.hjsm,a.tsn,a.tso,c.realname as jyr_realname,c.username as jyr_username,
	a.zzcs,a.scrq,a.cfyq,a.bz,a.jyrid,a.jyrq,a.kysl,a.jyjg,a.jgsm,
     d2.kwh,d.hclx,b2.kwid,d2.id as STORAGE_ID,d1.id as STORE_ID,d.gg,d.xh,d1.ckh,d.id as HC_ID,d1.cklb,b2.xgdjid,a.shdid,a.shdmxid,b1.shlx,b1.shdh,b1.fhdw,
     a.dprtcode,b3.kcid
			  	from b_h_006_new a  
				left join b_h_02001 b2 on a.shdmxid=b2.id
			    left join t_user c on a.jyrid=c.id 
			    left join b_h_020 b1 on a.shdid=b1.id  
				left join d_008 d on b2.bjid=d.id
				left join d_00901 d2 on d2.id=b2.kwid
				left join d_009 d1 on d1.id=d2.mainid
				left join b_h_017 b3 on b3.id=b2.kcllid 
			where a.id= #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from b_h_006_new
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eray.thjw.aerialmaterial.po.Inspection">
    insert into b_h_006_new (id, dprtcode, jydh, 
      shdid, shdmxid, kysl, 
      hcly, cfyq, xkzh, shzh, 
      shzwz, tsn, tso, bz, 
      scrq, zzcs, hjsm, jyrid, 
      jyrq, jyjg, jgsm, zt, 
      zdbmid, zdrid, zdsj
      )
    values (#{id,jdbcType=VARCHAR}, #{dprtcode,jdbcType=VARCHAR}, #{jydh,jdbcType=VARCHAR}, 
      #{shdid,jdbcType=VARCHAR}, #{shdmxid,jdbcType=VARCHAR}, #{kysl,jdbcType=NUMERIC}, 
      #{hcly,jdbcType=INTEGER}, #{cfyq,jdbcType=VARCHAR}, #{xkzh,jdbcType=VARCHAR}, #{shzh,jdbcType=VARCHAR}, 
      #{shzwz,jdbcType=VARCHAR}, #{tsn,jdbcType=VARCHAR}, #{tso,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, 
      #{scrq,jdbcType=DATE}, #{zzcs,jdbcType=VARCHAR}, #{hjsm,jdbcType=DATE}, #{jyrid,jdbcType=VARCHAR}, 
      #{jyrq,jdbcType=DATE}, #{jyjg,jdbcType=INTEGER}, #{jgsm,jdbcType=VARCHAR}, #{zt,jdbcType=INTEGER}, 
      #{zdbmid,jdbcType=VARCHAR}, #{zdrid,jdbcType=VARCHAR}, #{zdsj,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.eray.thjw.aerialmaterial.po.Inspection">
    insert into b_h_006_new
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dprtcode != null">
        dprtcode,
      </if>
      <if test="jydh != null">
        jydh,
      </if>
      <if test="shdid != null">
        shdid,
      </if>
      <if test="shdmxid != null">
        shdmxid,
      </if>
      <if test="kysl != null">
        kysl,
      </if>
      <if test="hcly != null">
        hcly,
      </if>
      <if test="cfyq != null">
        cfyq,
      </if>
      <if test="xkzh != null">
        xkzh,
      </if>
      <if test="shzh != null">
        shzh,
      </if>
      <if test="shzwz != null">
        shzwz,
      </if>
      <if test="tsn != null">
        tsn,
      </if>
      <if test="tso != null">
        tso,
      </if>
      <if test="bz != null">
        bz,
      </if>
      <if test="scrq != null">
        scrq,
      </if>
      <if test="zzcs != null">
        zzcs,
      </if>
      <if test="hjsm != null">
        hjsm,
      </if>
      <if test="jyrid != null">
        jyrid,
      </if>
      <if test="jyrq != null">
        jyrq,
      </if>
      <if test="jyjg != null">
        jyjg,
      </if>
      <if test="jgsm != null">
        jgsm,
      </if>
      <if test="zt != null">
        zt,
      </if>
      <if test="zdbmid != null">
        zdbmid,
      </if>
      <if test="zdrid != null">
        zdrid,
      </if>
      <if test="zdsj != null">
        zdsj,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dprtcode != null">
        #{dprtcode,jdbcType=VARCHAR},
      </if>
      <if test="jydh != null">
        #{jydh,jdbcType=VARCHAR},
      </if>
      <if test="shdid != null">
        #{shdid,jdbcType=VARCHAR},
      </if>
      <if test="shdmxid != null">
        #{shdmxid,jdbcType=VARCHAR},
      </if>
      <if test="kysl != null">
        #{kysl,jdbcType=NUMERIC},
      </if>
      <if test="hcly != null">
        #{hcly,jdbcType=INTEGER},
      </if>
      <if test="cfyq != null">
        #{cfyq,jdbcType=VARCHAR},
      </if>
      <if test="xkzh != null">
        #{xkzh,jdbcType=VARCHAR},
      </if>
      <if test="shzh != null">
        #{shzh,jdbcType=VARCHAR},
      </if>
      <if test="shzwz != null">
        #{shzwz,jdbcType=VARCHAR},
      </if>
      <if test="tsn != null">
        #{tsn,jdbcType=VARCHAR},
      </if>
      <if test="tso != null">
        #{tso,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="scrq != null">
        #{scrq,jdbcType=DATE},
      </if>
      <if test="zzcs != null">
        #{zzcs,jdbcType=VARCHAR},
      </if>
      <if test="hjsm != null">
        #{hjsm,jdbcType=DATE},
      </if>
      <if test="jyrid != null">
        #{jyrid,jdbcType=VARCHAR},
      </if>
      <if test="jyrq != null">
        #{jyrq,jdbcType=DATE},
      </if>
      <if test="jyjg != null">
        #{jyjg,jdbcType=INTEGER},
      </if>
      <if test="jgsm != null">
        #{jgsm,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        #{zt,jdbcType=INTEGER},
      </if>
      <if test="zdbmid != null">
        #{zdbmid,jdbcType=VARCHAR},
      </if>
      <if test="zdrid != null">
        #{zdrid,jdbcType=VARCHAR},
      </if>
      <if test="zdsj != null">
        #{zdsj,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eray.thjw.aerialmaterial.po.Inspection">
    update b_h_006_new
    <set>     
      <if test="kysl != null">
        kysl = #{kysl,jdbcType=NUMERIC},
      </if>
      <if test="hcly != null">
        hcly = #{hcly,jdbcType=INTEGER},
      </if>
      <if test="cfyq != null">
        cfyq = #{cfyq,jdbcType=VARCHAR},
      </if>
      <if test="xkzh != null">
        xkzh = #{xkzh,jdbcType=VARCHAR},
      </if>
      <if test="shzh != null">
        shzh = #{shzh,jdbcType=VARCHAR},
      </if>
      <if test="shzwz != null">
        shzwz = #{shzwz,jdbcType=VARCHAR},
      </if>
      <if test="tsn != null">
        tsn = #{tsn,jdbcType=VARCHAR},
      </if>
      <if test="tso != null">
        tso = #{tso,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="scrq != null">
        scrq = #{scrq,jdbcType=DATE},
      </if>
      <if test="zzcs != null">
        zzcs = #{zzcs,jdbcType=VARCHAR},
      </if>
      <if test="hjsm != null">
        hjsm = #{hjsm,jdbcType=DATE},
      </if>
      <if test="jyrid != null">
        jyrid = #{jyrid,jdbcType=VARCHAR},
      </if>
      <if test="jyrq != null">
        jyrq = #{jyrq,jdbcType=DATE},
      </if>
      <if test="jyjg != null">
        jyjg = #{jyjg,jdbcType=INTEGER},
      </if>
      <if test="jgsm != null">
        jgsm = #{jgsm,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        zt = #{zt,jdbcType=INTEGER},
      </if>
      <if test="zdbmid != null">
        zdbmid = #{zdbmid,jdbcType=VARCHAR},
      </if>
      <if test="zdrid != null">
        zdrid = #{zdrid,jdbcType=VARCHAR},
      </if>
      <if test="zdrid != null">
        zdsj = current_timestamp,
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eray.thjw.aerialmaterial.po.Inspection">
    update b_h_006_new
    set dprtcode = #{dprtcode,jdbcType=VARCHAR},
      jydh = #{jydh,jdbcType=VARCHAR},
      shdid = #{shdid,jdbcType=VARCHAR},
      shdmxid = #{shdmxid,jdbcType=VARCHAR},
      kysl = #{kysl,jdbcType=NUMERIC},
      hcly = #{hcly,jdbcType=INTEGER},
      cfyq = #{cfyq,jdbcType=VARCHAR},
      xkzh = #{xkzh,jdbcType=VARCHAR},
      shzh = #{shzh,jdbcType=VARCHAR},
      shzwz = #{shzwz,jdbcType=VARCHAR},
      tsn = #{tsn,jdbcType=VARCHAR},
      tso = #{tso,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR},
      scrq = #{scrq,jdbcType=DATE},
      zzcs = #{zzcs,jdbcType=VARCHAR},
      hjsm = #{hjsm,jdbcType=DATE},
      jyrid = #{jyrid,jdbcType=VARCHAR},
      jyrq = #{jyrq,jdbcType=DATE},
      jyjg = #{jyjg,jdbcType=INTEGER},
      jgsm = #{jgsm,jdbcType=VARCHAR},
      zt = #{zt,jdbcType=INTEGER},
      zdbmid = #{zdbmid,jdbcType=VARCHAR},
      zdrid = #{zdrid,jdbcType=VARCHAR},
      zdsj = #{zdsj,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
 <sql id="InspectionParam">
	   where 
	   1=1 and b2.sl!=0
	   and  ( ( case when b2.sl is null then 0 else b2.sl end)
           -(case when b2.thsl is null then 0 else b2.thsl end)         
            ) &gt;=a.kysl 
	    <if test="paramsMap != null and paramsMap.keyword != null and paramsMap.keyword != ''">
			and (
				a.JYDH like '%'||#{paramsMap.keyword}||'%'
				or b1.shdh like '%'||#{paramsMap.keyword}||'%'
				or b.ZWMS like '%'||#{paramsMap.keyword}||'%'
				or b.YWMS like '%'||#{paramsMap.keyword}||'%'
				or b.BJH like '%'||#{paramsMap.keyword}||'%'
				or b2.SN like '%'||#{paramsMap.keyword}||'%'
				or b2.PCH like '%'||#{paramsMap.keyword}||'%'
		    )             
		</if>
		<if test="paramsMap != null and paramsMap.jyDateBegin != null and paramsMap.jyDateBegin != ''">
		    and a.JYRQ &gt;=to_date(#{paramsMap.jyDateBegin, jdbcType=VARCHAR},'YYYY-MM-DD HH24:MI:SS')  
		</if>
		<if test="paramsMap != null and paramsMap.jyDateEnd != null and paramsMap.jyDateEnd != ''">
		    and a.JYRQ &lt;=to_date(#{paramsMap.jyDateEnd, jdbcType=VARCHAR},'YYYY-MM-DD HH24:MI:SS') 
		</if> 
		<if test="paramsMap != null and paramsMap.shDateBegin != null and paramsMap.shDateBegin != ''">
		    and b1.SHRQ &gt;=to_date(#{paramsMap.shDateBegin, jdbcType=VARCHAR},'YYYY-MM-DD HH24:MI:SS')  
		</if>
		<if test="paramsMap != null and paramsMap.shDateEnd != null and paramsMap.shDateEnd != ''">
		    and b1.SHRQ &lt;=to_date(#{paramsMap.shDateEnd, jdbcType=VARCHAR},'YYYY-MM-DD HH24:MI:SS') 
		</if> 
          <if test="zt != null and zt!='' ">                        
            and a.zt = #{zt,jdbcType=INTEGER} 
          </if>
           <if test="zt == 0 ">                        
            and a.zt in (1 ,2) 
          </if>
          <if test="jyjg != null and jyjg!='' ">                               
            and a.jyjg = #{jyjg,jdbcType=DECIMAL} 
          </if>
          <if test="paramsMap != null and paramsMap.dprtcode!= null  and paramsMap.dprtcode!= ''" >            <!-- 组织机构  -->
            and  a.dprtcode  = #{paramsMap.dprtcode,jdbcType=VARCHAR}
           </if>
           <if test="id != null and id != '' " >   
            and  a.id  = #{id,jdbcType=VARCHAR}
           </if>
	</sql>
     <select id="selectInspectionList" resultMap="ResultMap" parameterType="com.eray.thjw.aerialmaterial.po.Inspection">
	   select a.ID as id, a.DPRTCODE, a.JYDH,b1.shdh,b1.fhdw,a.zt,b.bjh, b.zwms,b.ywms,a.jgsm,
	          b2.PCH, b2.SN,a.jyjg,b2.sl,a.kysl,a.jyrq,a.bz,b1.id as SHEET_ID,b1.shrq,a.jyrid,b2.whrid,
	          c.username as jyr_username,c.realname as jyr_realname,a.zdsj,b2.whsj,
	          t1.username as whr_username,t1.realname as whr_realname, d.dprtname,b3.kcid			  
			  from b_h_006_new a 
							left join b_h_02001 b2 on a.shdmxid=b2.id
			                left join t_user c on a.jyrid=c.id 
			                left join t_department d on a.dprtcode=d.id
			                left join b_h_020 b1 on a.shdid=b1.id  
							left join t_user t1 on t1.id=b2.whrid
							left join d_008 b on b2.bjid=b.id 
						left join b_h_017 b3 on b3.id=b2.kcllid  
			
           <include refid="InspectionParam"></include>
           <choose>
			    	<when test='pagination.sort == "auto"'>
			    		order by a.jydh desc
			    	</when>
			    	<otherwise>
					    order by ${pagination.sort} ${pagination.order}
			    	</otherwise>
		 </choose>	
  </select>
  <select id="getCount4validation" parameterType="java.lang.String" resultType="int">
  	select count(1) from  b_h_006_new a 
					left join b_h_02001 b2 on a.shdmxid=b2.id	
					where a.id= #{id,jdbcType=VARCHAR} and	( ( case when b2.sl is null then 0 else b2.sl end)
           -(case when b2.thsl is null then 0 else b2.thsl end)         
            ) &gt;=a.kysl  			
  </select>
</mapper>