<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.aerialmaterial.dao.OverseasListingMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.aerialmaterial.po.OverseasListing" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="DPRTCODE" property="dprtcode" jdbcType="VARCHAR" />
    <result column="JDLX" property="jdlx" jdbcType="DECIMAL" />
    <result column="WPDXID" property="wpdxid" jdbcType="VARCHAR" />
    <result column="BJID" property="bjid" jdbcType="VARCHAR" />
    <result column="BJH" property="bjh" jdbcType="VARCHAR" />
    <result column="PCH" property="pch" jdbcType="VARCHAR" />
    <result column="SN" property="sn" jdbcType="VARCHAR" />
    <result column="KCSL" property="kcsl" jdbcType="DECIMAL" />
    <result column="GHSL" property="ghsl" jdbcType="DECIMAL" />
    <result column="WPSJ" property="wpsj" jdbcType="TIMESTAMP" />
    <result column="zt" property="zt" jdbcType="DECIMAL" />
    <result column="BZ" property="bz" jdbcType="VARCHAR" />
    <result column="SXQX" property="sxqx" jdbcType="TIMESTAMP" />
    <result column="SPQX" property="spqx" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DPRTCODE, JDLX, WPDXID, BJID, BJH, PCH, SN, KCSL, GHSL, WPSJ, zt, BZ, SXQX, SPQX
  </sql>
  
    <insert id="insertSelective" parameterType="com.eray.thjw.aerialmaterial.po.OverseasListing">
    insert into b_h_012 (ID, dprtcode, jdlx, wpdxid, bjid, bjh, pch, sn, kcsl, ghsl,wpsj,zt
      )
    values (#{id,jdbcType=VARCHAR}, #{dprtcode,jdbcType=VARCHAR}, #{jdlx,jdbcType=DECIMAL}, #{wpdxid,jdbcType=DECIMAL}, #{bjid,jdbcType=VARCHAR}, #{bjh,jdbcType=DECIMAL}, #{pch,jdbcType=VARCHAR}, 
      #{sn,jdbcType=VARCHAR}, #{kcsl,jdbcType=DECIMAL},#{ghsl,jdbcType=DECIMAL}, current_timestamp,#{zt,jdbcType=DECIMAL}
      )
  </insert>
  
  
  
  </mapper>