<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.quality.dao.PersonnelToCreditRecordMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.quality.po.PersonnelToCreditRecord" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MAINID" property="mainid" jdbcType="VARCHAR" />
    <result column="DPRTCODE" property="dprtcode" jdbcType="VARCHAR" />
    <result column="ZT" property="zt" jdbcType="DECIMAL" />
    <result column="WHBMID" property="whbmid" jdbcType="VARCHAR" />
    <result column="WHRID" property="whrid" jdbcType="VARCHAR" />
    <result column="WHSJ" property="whsj" jdbcType="TIMESTAMP" />
    <result column="LX" property="lx" jdbcType="DECIMAL" />
    <result column="RQ" property="rq" jdbcType="TIMESTAMP" />
    <result column="DD" property="dd" jdbcType="VARCHAR" />
    <result column="SJRY" property="sjry" jdbcType="VARCHAR" />
    <result column="SJJG" property="sjjg" jdbcType="VARCHAR" />
    <result column="HG" property="hg" jdbcType="VARCHAR" />
    <result column="DCJL" property="dcjl" jdbcType="VARCHAR" />
    <result column="KF" property="kf" jdbcType="DECIMAL" />
    <result column="BZ" property="bz" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, MAINID, DPRTCODE, ZT, WHBMID, WHRID, WHSJ, LX, RQ, DD, SJRY, SJJG, HG, DCJL, 
    KF, BZ
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_Z_00104
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_Z_00104
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eray.thjw.quality.po.PersonnelToCreditRecord" >
    insert into B_Z_00104 (ID, MAINID, DPRTCODE, 
      ZT, WHBMID, WHRID, 
      WHSJ, LX, RQ, DD, 
      SJRY, SJJG, HG, DCJL, 
      KF, BZ)
    values (#{id,jdbcType=VARCHAR}, #{mainid,jdbcType=VARCHAR}, #{dprtcode,jdbcType=VARCHAR}, 
      #{zt,jdbcType=DECIMAL}, #{whbmid,jdbcType=VARCHAR}, #{whrid,jdbcType=VARCHAR}, 
      #{whsj,jdbcType=TIMESTAMP}, #{lx,jdbcType=DECIMAL}, #{rq,jdbcType=TIMESTAMP}, #{dd,jdbcType=VARCHAR}, 
      #{sjry,jdbcType=VARCHAR}, #{sjjg,jdbcType=VARCHAR}, #{hg,jdbcType=VARCHAR}, #{dcjl,jdbcType=VARCHAR}, 
      #{kf,jdbcType=DECIMAL}, #{bz,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eray.thjw.quality.po.PersonnelToCreditRecord" >
    insert into B_Z_00104
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="mainid != null" >
        MAINID,
      </if>
      <if test="dprtcode != null" >
        DPRTCODE,
      </if>
      <if test="zt != null" >
        ZT,
      </if>
      <if test="whbmid != null" >
        WHBMID,
      </if>
      <if test="whrid != null" >
        WHRID,
      </if>
      <if test="whsj != null" >
        WHSJ,
      </if>
      <if test="lx != null" >
        LX,
      </if>
      <if test="rq != null" >
        RQ,
      </if>
      <if test="dd != null" >
        DD,
      </if>
      <if test="sjry != null" >
        SJRY,
      </if>
      <if test="sjjg != null" >
        SJJG,
      </if>
      <if test="hg != null" >
        HG,
      </if>
      <if test="dcjl != null" >
        DCJL,
      </if>
      <if test="kf != null" >
        KF,
      </if>
      <if test="bz != null" >
        BZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mainid != null" >
        #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="dprtcode != null" >
        #{dprtcode,jdbcType=VARCHAR},
      </if>
      <if test="zt != null" >
        #{zt,jdbcType=DECIMAL},
      </if>
      <if test="whbmid != null" >
        #{whbmid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        #{whsj,jdbcType=TIMESTAMP},
      </if>
      <if test="lx != null" >
        #{lx,jdbcType=DECIMAL},
      </if>
      <if test="rq != null" >
        #{rq,jdbcType=TIMESTAMP},
      </if>
      <if test="dd != null" >
        #{dd,jdbcType=VARCHAR},
      </if>
      <if test="sjry != null" >
        #{sjry,jdbcType=VARCHAR},
      </if>
      <if test="sjjg != null" >
        #{sjjg,jdbcType=VARCHAR},
      </if>
      <if test="hg != null" >
        #{hg,jdbcType=VARCHAR},
      </if>
      <if test="dcjl != null" >
        #{dcjl,jdbcType=VARCHAR},
      </if>
      <if test="kf != null" >
        #{kf,jdbcType=DECIMAL},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eray.thjw.quality.po.PersonnelToCreditRecord" >
    update B_Z_00104
    <set >
      <if test="mainid != null" >
        MAINID = #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="dprtcode != null" >
        DPRTCODE = #{dprtcode,jdbcType=VARCHAR},
      </if>
      <if test="zt != null" >
        ZT = #{zt,jdbcType=DECIMAL},
      </if>
      <if test="whbmid != null" >
        WHBMID = #{whbmid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        WHRID = #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        WHSJ = #{whsj,jdbcType=TIMESTAMP},
      </if>
      <if test="lx != null" >
        LX = #{lx,jdbcType=DECIMAL},
      </if>
      <if test="rq != null" >
        RQ = #{rq,jdbcType=TIMESTAMP},
      </if>
      <if test="dd != null" >
        DD = #{dd,jdbcType=VARCHAR},
      </if>
      <if test="sjry != null" >
        SJRY = #{sjry,jdbcType=VARCHAR},
      </if>
      <if test="sjjg != null" >
        SJJG = #{sjjg,jdbcType=VARCHAR},
      </if>
      <if test="hg != null" >
        HG = #{hg,jdbcType=VARCHAR},
      </if>
      <if test="dcjl != null" >
        DCJL = #{dcjl,jdbcType=VARCHAR},
      </if>
      <if test="kf != null" >
        KF = #{kf,jdbcType=DECIMAL},
      </if>
      <if test="bz != null" >
        BZ = #{bz,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eray.thjw.quality.po.PersonnelToCreditRecord" >
    update B_Z_00104
    set MAINID = #{mainid,jdbcType=VARCHAR},
      DPRTCODE = #{dprtcode,jdbcType=VARCHAR},
      ZT = #{zt,jdbcType=DECIMAL},
      WHBMID = #{whbmid,jdbcType=VARCHAR},
      WHRID = #{whrid,jdbcType=VARCHAR},
      WHSJ = #{whsj,jdbcType=TIMESTAMP},
      LX = #{lx,jdbcType=DECIMAL},
      RQ = #{rq,jdbcType=TIMESTAMP},
      DD = #{dd,jdbcType=VARCHAR},
      SJRY = #{sjry,jdbcType=VARCHAR},
      SJJG = #{sjjg,jdbcType=VARCHAR},
      HG = #{hg,jdbcType=VARCHAR},
      DCJL = #{dcjl,jdbcType=VARCHAR},
      KF = #{kf,jdbcType=DECIMAL},
      BZ = #{bz,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 删除列表中不存在的数据 -->
  <delete id="deleteNotExist" parameterType="com.eray.thjw.quality.po.MaintenancePersonnel" >
    DELETE FROM  B_Z_00104 
		WHERE MAINID = #{id,jdbcType=VARCHAR} AND LX = #{paramsMap.lx,jdbcType=DECIMAL}
		<if test="paramsMap.lx == 1 and unsafeIncidents != null and unsafeIncidents.size > 0">
            AND ID NOT IN 
            <foreach collection="unsafeIncidents" item="item" index="index" open="(" close=")" separator=",">
			#{item.id,jdbcType=VARCHAR}
	   		</foreach>
        </if>
        <if test="paramsMap.lx == 2 and dishonestBehaviors != null and dishonestBehaviors.size > 0">
            AND ID NOT IN 
            <foreach collection="dishonestBehaviors" item="item" index="index" open="(" close=")" separator=",">
			#{item.id,jdbcType=VARCHAR}
	   		</foreach>
        </if>
        <if test="paramsMap.lx == 3 and incidentSituations != null and incidentSituations.size > 0">
            AND ID NOT IN 
            <foreach collection="incidentSituations" item="item" index="index" open="(" close=")" separator=",">
			#{item.id,jdbcType=VARCHAR}
	   		</foreach>
        </if>
  </delete>
  
  <!-- 查询事故征候情况 -->
  <select id="queryIncidentSituations" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_Z_00104
    where MAINID = #{id,jdbcType=VARCHAR} AND LX = 3 AND ZT = 1
    order by rq desc
  </select>
  
  <!-- 查询负有责任的不安全事件 -->
  <select id="queryUnsafeIncidents" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_Z_00104
    where MAINID = #{id,jdbcType=VARCHAR} AND LX = 1 AND ZT = 1
    order by rq desc
  </select>
  
  <!-- 查询不诚信行为 -->
  <select id="queryDishonestBehaviors" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_Z_00104
    where MAINID = #{id,jdbcType=VARCHAR} AND LX = 2 AND ZT = 1
    order by rq desc
  </select>
  
  <!-- 根据组织机构查询事故征候情况 -->
  <select id="queryIncidentSituationsByDprtcode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    B_Z_00104.ID, B_Z_00104.MAINID, B_Z_00104.DPRTCODE, B_Z_00104.ZT, B_Z_00104.WHBMID, B_Z_00104.WHRID, 
    B_Z_00104.WHSJ, B_Z_00104.LX, B_Z_00104.RQ, B_Z_00104.DD, B_Z_00104.SJRY, B_Z_00104.SJJG, B_Z_00104.HG, 
    B_Z_00104.DCJL, B_Z_00104.KF, B_Z_00104.BZ, B_Z_001.rybh
    from B_Z_00104
    left join B_Z_001 on B_Z_00104.mainid = B_Z_001.id
    where B_Z_00104.dprtcode = #{dprtcode,jdbcType=VARCHAR} AND B_Z_00104.LX = 3 AND B_Z_00104.ZT = 1
    order by B_Z_00104.rq desc
  </select>
  
  <!-- 根据组织机构查询负有责任的不安全事件 -->
  <select id="queryUnsafeIncidentsByDprtcode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    B_Z_00104.ID, B_Z_00104.MAINID, B_Z_00104.DPRTCODE, B_Z_00104.ZT, B_Z_00104.WHBMID, B_Z_00104.WHRID, 
    B_Z_00104.WHSJ, B_Z_00104.LX, B_Z_00104.RQ, B_Z_00104.DD, B_Z_00104.SJRY, B_Z_00104.SJJG, B_Z_00104.HG, 
    B_Z_00104.DCJL, B_Z_00104.KF, B_Z_00104.BZ, B_Z_001.rybh
    from B_Z_00104
    left join B_Z_001 on B_Z_00104.mainid = B_Z_001.id
    where B_Z_00104.dprtcode = #{dprtcode,jdbcType=VARCHAR} AND B_Z_00104.LX = 1 AND B_Z_00104.ZT = 1
    order by B_Z_00104.rq desc
  </select>
  
  <!-- 根据组织机构查询不诚信行为 -->
  <select id="queryDishonestBehaviorsByDprtcode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
   B_Z_00104.ID, B_Z_00104.MAINID, B_Z_00104.DPRTCODE, B_Z_00104.ZT, B_Z_00104.WHBMID, B_Z_00104.WHRID, 
    B_Z_00104.WHSJ, B_Z_00104.LX, B_Z_00104.RQ, B_Z_00104.DD, B_Z_00104.SJRY, B_Z_00104.SJJG, B_Z_00104.HG, 
    B_Z_00104.DCJL, B_Z_00104.KF, B_Z_00104.BZ, B_Z_001.rybh
    from B_Z_00104
    left join B_Z_001 on B_Z_00104.mainid = B_Z_001.id
    where B_Z_00104.dprtcode = #{dprtcode,jdbcType=VARCHAR} AND B_Z_00104.LX = 2 AND B_Z_00104.ZT = 1
    order by B_Z_00104.rq desc
  </select>
  
</mapper>