<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.quality.dao.PersonnelToEducationExperienceMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.quality.po.PersonnelToEducationExperience" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MAINID" property="mainid" jdbcType="VARCHAR" />
    <result column="DPRTCODE" property="dprtcode" jdbcType="VARCHAR" />
    <result column="ZT" property="zt" jdbcType="DECIMAL" />
    <result column="WHBMID" property="whbmid" jdbcType="VARCHAR" />
    <result column="WHRID" property="whrid" jdbcType="VARCHAR" />
    <result column="WHSJ" property="whsj" jdbcType="TIMESTAMP" />
    <result column="KSRQ" property="ksrq" jdbcType="TIMESTAMP" />
    <result column="JSRQ" property="jsrq" jdbcType="TIMESTAMP" />
    <result column="JYZY" property="jyzy" jdbcType="VARCHAR" />
    <result column="BYXX" property="byxx" jdbcType="VARCHAR" />
    <result column="XZ" property="xz" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, MAINID, DPRTCODE, ZT, WHBMID, WHRID, WHSJ, KSRQ, JSRQ, JYZY, BYXX, XZ
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_Z_00105
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_Z_00105
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eray.thjw.quality.po.PersonnelToEducationExperience" >
    insert into B_Z_00105 (ID, MAINID, DPRTCODE, 
      ZT, WHBMID, WHRID, 
      WHSJ, KSRQ, JSRQ, 
      JYZY, BYXX, XZ)
    values (#{id,jdbcType=VARCHAR}, #{mainid,jdbcType=VARCHAR}, #{dprtcode,jdbcType=VARCHAR}, 
      #{zt,jdbcType=DECIMAL}, #{whbmid,jdbcType=VARCHAR}, #{whrid,jdbcType=VARCHAR}, 
      #{whsj,jdbcType=TIMESTAMP}, #{ksrq,jdbcType=TIMESTAMP}, #{jsrq,jdbcType=TIMESTAMP}, 
      #{jyzy,jdbcType=VARCHAR}, #{byxx,jdbcType=VARCHAR}, #{xz,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eray.thjw.quality.po.PersonnelToEducationExperience" >
    insert into B_Z_00105
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="mainid != null" >
        MAINID,
      </if>
      <if test="dprtcode != null" >
        DPRTCODE,
      </if>
      <if test="zt != null" >
        ZT,
      </if>
      <if test="whbmid != null" >
        WHBMID,
      </if>
      <if test="whrid != null" >
        WHRID,
      </if>
      <if test="whsj != null" >
        WHSJ,
      </if>
      <if test="ksrq != null" >
        KSRQ,
      </if>
      <if test="jsrq != null" >
        JSRQ,
      </if>
      <if test="jyzy != null" >
        JYZY,
      </if>
      <if test="byxx != null" >
        BYXX,
      </if>
      <if test="xz != null" >
        XZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mainid != null" >
        #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="dprtcode != null" >
        #{dprtcode,jdbcType=VARCHAR},
      </if>
      <if test="zt != null" >
        #{zt,jdbcType=DECIMAL},
      </if>
      <if test="whbmid != null" >
        #{whbmid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        #{whsj,jdbcType=TIMESTAMP},
      </if>
      <if test="ksrq != null" >
        #{ksrq,jdbcType=TIMESTAMP},
      </if>
      <if test="jsrq != null" >
        #{jsrq,jdbcType=TIMESTAMP},
      </if>
      <if test="jyzy != null" >
        #{jyzy,jdbcType=VARCHAR},
      </if>
      <if test="byxx != null" >
        #{byxx,jdbcType=VARCHAR},
      </if>
      <if test="xz != null" >
        #{xz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eray.thjw.quality.po.PersonnelToEducationExperience" >
    update B_Z_00105
    <set >
      <if test="mainid != null" >
        MAINID = #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="dprtcode != null" >
        DPRTCODE = #{dprtcode,jdbcType=VARCHAR},
      </if>
      <if test="zt != null" >
        ZT = #{zt,jdbcType=DECIMAL},
      </if>
      <if test="whbmid != null" >
        WHBMID = #{whbmid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        WHRID = #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        WHSJ = #{whsj,jdbcType=TIMESTAMP},
      </if>
      <if test="ksrq != null" >
        KSRQ = #{ksrq,jdbcType=TIMESTAMP},
      </if>
      <if test="jsrq != null" >
        JSRQ = #{jsrq,jdbcType=TIMESTAMP},
      </if>
      <if test="jyzy != null" >
        JYZY = #{jyzy,jdbcType=VARCHAR},
      </if>
      <if test="byxx != null" >
        BYXX = #{byxx,jdbcType=VARCHAR},
      </if>
      <if test="xz != null" >
        XZ = #{xz,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eray.thjw.quality.po.PersonnelToEducationExperience" >
    update B_Z_00105
    set MAINID = #{mainid,jdbcType=VARCHAR},
      DPRTCODE = #{dprtcode,jdbcType=VARCHAR},
      ZT = #{zt,jdbcType=DECIMAL},
      WHBMID = #{whbmid,jdbcType=VARCHAR},
      WHRID = #{whrid,jdbcType=VARCHAR},
      WHSJ = #{whsj,jdbcType=TIMESTAMP},
      KSRQ = #{ksrq,jdbcType=TIMESTAMP},
      JSRQ = #{jsrq,jdbcType=TIMESTAMP},
      JYZY = #{jyzy,jdbcType=VARCHAR},
      BYXX = #{byxx,jdbcType=VARCHAR},
      XZ = #{xz,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 删除列表中不存在的数据 -->
  <delete id="deleteNotExist" parameterType="com.eray.thjw.quality.po.MaintenancePersonnel" >
    DELETE FROM  B_Z_00105 
		WHERE MAINID = #{id,jdbcType=VARCHAR}
		<if test="educations != null and educations.size > 0">
            AND ID NOT IN 
            <foreach collection="educations" item="item" index="index" open="(" close=")" separator=",">
			#{item.id,jdbcType=VARCHAR}
	   		</foreach>
        </if>
  </delete>
  
  <!-- 查询 -->
  <select id="query" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_Z_00105
    where MAINID = #{id,jdbcType=VARCHAR} AND ZT = 1
    order by ksrq desc
  </select>
  
  <!-- 根据组织机构查询 -->
  <select id="queryByDprtcode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    B_Z_00105.ID, B_Z_00105.MAINID, B_Z_00105.DPRTCODE, B_Z_00105.ZT, B_Z_00105.WHBMID, 
    B_Z_00105.WHRID, B_Z_00105.WHSJ, B_Z_00105.KSRQ, B_Z_00105.JSRQ, B_Z_00105.JYZY, 
    B_Z_00105.BYXX, B_Z_00105.XZ, B_Z_001.rybh
    from B_Z_00105
    left join B_Z_001 on B_Z_00105.mainid = B_Z_001.id
    where B_Z_00105.dprtcode = #{dprtcode,jdbcType=VARCHAR} AND B_Z_00105.ZT = 1
    order by B_Z_00105.ksrq desc
  </select>
</mapper>