<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.dao.JX_BJMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.po.JX_BJ" >
    <result column="FJJX" property="fjjx" jdbcType="VARCHAR" />
    <result column="DPRTCODE" property="dprtcode" jdbcType="VARCHAR" />
    <result column="JH" property="jh" jdbcType="VARCHAR" />
    <result column="ZWMC" property="zwmc" jdbcType="VARCHAR" />
    <result column="YWMC" property="ywmc" jdbcType="VARCHAR" />
    <result column="BZ" property="bz" jdbcType="VARCHAR" />
    <result column="WHBMID" property="whbmid" jdbcType="VARCHAR" />
    <result column="WHRID" property="whrid" jdbcType="VARCHAR" />
    <result column="WHSJ" property="whsj" jdbcType="TIMESTAMP" />
    <result column="ZT" property="zt" jdbcType="DECIMAL" />
  </resultMap>
  
<sql id="Base_Column_List" >
    FJJX, DPRTCODE, JH, ZWMC, YWMC, BZ, WHBMID, WHRID,WHSJ,ZT
  </sql>
  
  <insert id="insertSelective" parameterType="com.eray.thjw.po.JX_BJ" >
    insert into D_00401
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fjjx != null" >
        FJJX,
      </if>
      <if test="dprtcode != null" >
        DPRTCODE,
      </if>
      <if test="jh != null" >
        JH,
      </if>
      <if test="zwmc != null" >
        ZWMC,
      </if>
      <if test="ywmc != null" >
        YWMC,
      </if>
      <if test="bz != null" >
        BZ,
      </if>
      <if test="whbmid != null" >
        WHBMID,
      </if>
      <if test="whrid != null" >
        WHRID,
      </if>
        WHSJ,
        ZT,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fjjx != null" >
        #{fjjx,jdbcType=VARCHAR},
      </if>
      <if test="dprtcode != null" >
        #{dprtcode,jdbcType=VARCHAR},
      </if>
      <if test="jh != null" >
        #{jh,jdbcType=VARCHAR},
      </if>
      <if test="zwmc != null" >
        #{zwmc,jdbcType=VARCHAR},
      </if>
      <if test="ywmc != null" >
        #{ywmc,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="whbmid != null" >
        #{whbmid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        #{whrid,jdbcType=VARCHAR},
      </if>
          sysdate,
          1,
    </trim>
  </insert>
  
    <!-- 查询关联部件号参数 -->
	<sql id="JX_BJParam">
	   where 
	   1=1
	   <!-- 飞机机型-->
	     <if test="fjjx != null and fjjx != ''">
            and   fjjx=#{fjjx,jdbcType=VARCHAR}
         </if>
          <if test="dprtcode != null and dprtcode != ''">
            and   dprtcode=#{dprtcode,jdbcType=VARCHAR}
          </if>
           and zt=1
    </sql>
    
      <!-- 根据条件查询飞机关联部件号信息 -->
	<select id="selectByPrimaryKey"  parameterType="com.eray.thjw.po.JX_BJ"  resultMap="BaseResultMap">
		select  <include refid="Base_Column_List"></include> from D_00401  
		
		<include refid="JX_BJParam"></include> order by jh asc 
	
	</select>
 	 
 	 
     <select id="deleteJX_BJ"   parameterType="java.lang.String" >
		   delete from D_00401
            where FJJX = #{fjjx,jdbcType=VARCHAR}
 	 </select>
</mapper>