<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.dao.ScheduledCheckCardMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.po.ScheduledCheckCard" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="GDJCID" property="gdjcid" jdbcType="VARCHAR" />
    <result column="DJGZID" property="djgzid" jdbcType="VARCHAR" />
    <result column="GDBH" property="gdbh" jdbcType="VARCHAR" />
    <result column="ZY" property="zy" jdbcType="VARCHAR" />
    <result column="JHGS_RS" property="jhgsRs" jdbcType="DECIMAL" />
    <result column="JHGS_XSS" property="jhgsXss" jdbcType="DECIMAL" />
    <result column="CJGK" property="cjgk" jdbcType="VARCHAR" />
    <result column="YXX" property="yxx" jdbcType="DECIMAL" />
    <result column="BZ" property="bz" jdbcType="VARCHAR" />
    <result column="ZDDWID" property="zddwid" jdbcType="VARCHAR" />
    <result column="ZDRID" property="zdrid" jdbcType="VARCHAR" />
    <result column="ZDSJ" property="zdsj" jdbcType="TIMESTAMP" />
    <result column="ZT" property="zt" jdbcType="DECIMAL" />
    <result column="DPRTCODE" property="dprtcode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, GDJCID, DJGZID, GDBH, ZY, JHGS_RS, JHGS_XSS, CJGK, YXX, BZ, ZDDWID, ZDRID, ZDSJ, 
    ZT, DPRTCODE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_G_013
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
   <select id="queryPage" parameterType="com.eray.thjw.po.ScheduledCheckCard" resultMap="BaseResultMap">
        select 
	    <include refid="Base_Column_List" />
	    from B_G_013
	 
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_G_013
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eray.thjw.po.ScheduledCheckCard" >
    insert into B_G_013 (ID, GDJCID, DJGZID, 
      GDBH, ZY, JHGS_RS, JHGS_XSS, 
      CJGK, YXX, BZ, ZDDWID, 
      ZDRID, ZDSJ, ZT, 
      DPRTCODE)
    values (#{id,jdbcType=VARCHAR}, #{gdjcid,jdbcType=VARCHAR}, #{djgzid,jdbcType=VARCHAR}, 
      #{gdbh,jdbcType=VARCHAR}, #{zy,jdbcType=VARCHAR}, #{jhgsRs,jdbcType=DECIMAL}, #{jhgsXss,jdbcType=DECIMAL}, 
      #{cjgk,jdbcType=VARCHAR}, #{yxx,jdbcType=DECIMAL}, #{bz,jdbcType=VARCHAR}, #{zddwid,jdbcType=VARCHAR}, 
      #{zdrid,jdbcType=VARCHAR}, #{zdsj,jdbcType=TIMESTAMP}, #{zt,jdbcType=DECIMAL}, 
      #{dprtcode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eray.thjw.po.ScheduledCheckCard" >
    insert into B_G_013
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="gdjcid != null" >
        GDJCID,
      </if>
      <if test="djgzid != null" >
        DJGZID,
      </if>
      <if test="gdbh != null" >
        GDBH,
      </if>
      <if test="zy != null" >
        ZY,
      </if>
      <if test="jhgsRs != null" >
        JHGS_RS,
      </if>
      <if test="jhgsXss != null" >
        JHGS_XSS,
      </if>
      <if test="cjgk != null" >
        CJGK,
      </if>
      <if test="yxx != null" >
        YXX,
      </if>
      <if test="bz != null" >
        BZ,
      </if>
      <if test="zddwid != null" >
        ZDDWID,
      </if>
      <if test="zdrid != null" >
        ZDRID,
      </if>
      <if test="zdsj != null" >
        ZDSJ,
      </if>
      <if test="zt != null" >
        ZT,
      </if>
      <if test="dprtcode != null" >
        DPRTCODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="gdjcid != null" >
        #{gdjcid,jdbcType=VARCHAR},
      </if>
      <if test="djgzid != null" >
        #{djgzid,jdbcType=VARCHAR},
      </if>
      <if test="gdbh != null" >
        #{gdbh,jdbcType=VARCHAR},
      </if>
      <if test="zy != null" >
        #{zy,jdbcType=VARCHAR},
      </if>
      <if test="jhgsRs != null" >
        #{jhgsRs,jdbcType=DECIMAL},
      </if>
      <if test="jhgsXss != null" >
        #{jhgsXss,jdbcType=DECIMAL},
      </if>
      <if test="cjgk != null" >
        #{cjgk,jdbcType=VARCHAR},
      </if>
      <if test="yxx != null" >
        #{yxx,jdbcType=DECIMAL},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="zddwid != null" >
        #{zddwid,jdbcType=VARCHAR},
      </if>
      <if test="zdrid != null" >
        #{zdrid,jdbcType=VARCHAR},
      </if>
      <if test="zdsj != null" >
        #{zdsj,jdbcType=TIMESTAMP},
      </if>
      <if test="zt != null" >
        #{zt,jdbcType=DECIMAL},
      </if>
      <if test="dprtcode != null" >
        #{dprtcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eray.thjw.po.ScheduledCheckCard" >
    update B_G_013
    <set >
      <if test="gdjcid != null" >
        GDJCID = #{gdjcid,jdbcType=VARCHAR},
      </if>
      <if test="djgzid != null" >
        DJGZID = #{djgzid,jdbcType=VARCHAR},
      </if>
      <if test="gdbh != null" >
        GDBH = #{gdbh,jdbcType=VARCHAR},
      </if>
      <if test="zy != null" >
        ZY = #{zy,jdbcType=VARCHAR},
      </if>
      <if test="jhgsRs != null" >
        JHGS_RS = #{jhgsRs,jdbcType=DECIMAL},
      </if>
      <if test="jhgsXss != null" >
        JHGS_XSS = #{jhgsXss,jdbcType=DECIMAL},
      </if>
      <if test="cjgk != null" >
        CJGK = #{cjgk,jdbcType=VARCHAR},
      </if>
      <if test="yxx != null" >
        YXX = #{yxx,jdbcType=DECIMAL},
      </if>
      <if test="bz != null" >
        BZ = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="zddwid != null" >
        ZDDWID = #{zddwid,jdbcType=VARCHAR},
      </if>
      <if test="zdrid != null" >
        ZDRID = #{zdrid,jdbcType=VARCHAR},
      </if>
      <if test="zdsj != null" >
        ZDSJ = #{zdsj,jdbcType=TIMESTAMP},
      </if>
      <if test="zt != null" >
        ZT = #{zt,jdbcType=DECIMAL},
      </if>
<!--       <if test="dprtcode != null" > -->
<!--         DPRTCODE = #{dprtcode,jdbcType=VARCHAR}, -->
<!--       </if> -->
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eray.thjw.po.ScheduledCheckCard" >
    update B_G_013
    set GDJCID = #{gdjcid,jdbcType=VARCHAR},
      DJGZID = #{djgzid,jdbcType=VARCHAR},
      GDBH = #{gdbh,jdbcType=VARCHAR},
      ZY = #{zy,jdbcType=VARCHAR},
      JHGS_RS = #{jhgsRs,jdbcType=DECIMAL},
      JHGS_XSS = #{jhgsXss,jdbcType=DECIMAL},
      CJGK = #{cjgk,jdbcType=VARCHAR},
      YXX = #{yxx,jdbcType=DECIMAL},
      BZ = #{bz,jdbcType=VARCHAR},
      ZDDWID = #{zddwid,jdbcType=VARCHAR},
      ZDRID = #{zdrid,jdbcType=VARCHAR},
      ZDSJ = #{zdsj,jdbcType=TIMESTAMP},
      ZT = #{zt,jdbcType=DECIMAL}
<!--       DPRTCODE = #{dprtcode,jdbcType=VARCHAR} -->
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>