<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.dao.TechnicalFileMapper" >
  <resultMap id="TechnicalFileMap" type="com.eray.thjw.po.TechnicalFile" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PGDH" property="pgdh" jdbcType="VARCHAR" />
    <result column="LY" property="ly" jdbcType="VARCHAR" />
    <result column="JX" property="jx" jdbcType="VARCHAR" />
    <result column="FL" property="fl" jdbcType="VARCHAR" />
     <result column="WJLX" property="wjlx" jdbcType="VARCHAR" />
    <result column="SHZLTGH" property="shzltgh" jdbcType="VARCHAR" />
    <result column="BB" property="bb" jdbcType="VARCHAR" />
    <result column="SXRQ" property="sxrq" jdbcType="TIMESTAMP" />
    <result column="PGQX" property="pgqx" jdbcType="TIMESTAMP" />
    <result column="WJZT" property="wjzt" jdbcType="VARCHAR" />
    <result column="SJGZ" property="sjgz" jdbcType="VARCHAR" />
    <result column="WJZY" property="wjzy" jdbcType="VARCHAR" />
    <result column="SYX" property="syx" jdbcType="DECIMAL" />
    <result column="IS_JSTG" property="isJstg" jdbcType="DECIMAL" />
    <result column="IS_JSZL" property="isJszl" jdbcType="DECIMAL" />
    <result column="IS_WXFA" property="isWxfa" jdbcType="DECIMAL" />
    <result column="IS_XDMEL" property="isXdmel" jdbcType="DECIMAL" />
    <result column="IS_XDgk" property="isXdgk" jdbcType="DECIMAL" />
    <result column="IS_GCZL" property="isGczl" jdbcType="DECIMAL" />
    <result column="IS_FJGD" property="isFjgd" jdbcType="DECIMAL" />
    <result column="IS_FLXGD" property="isFlxgd" jdbcType="DECIMAL" />
    <result column="IS_ZJFXB" property="isZjfj" jdbcType="DECIMAL" />
    <result column="IS_QT" property="isQt" jdbcType="DECIMAL" />
    <result column="ZT" property="zt" jdbcType="DECIMAL" />
    <result column="DYZT" property="dyzt" jdbcType="DECIMAL" />
    <result column="DPRTCODE" property="dprtcode" jdbcType="VARCHAR" />
    <result column="DPRTNAME" property="dprtname" jdbcType="VARCHAR" />
    <result column="FZBMID" property="fzbmid" jdbcType="VARCHAR" />
    <result column="FZRID" property="fzrid" jdbcType="VARCHAR" />
    <result column="ZDBMID" property="zdbmid" jdbcType="VARCHAR" />
    <result column="ZDRID" property="zdrid" jdbcType="VARCHAR" />
    <result column="ZDSJ" property="zdsj" jdbcType="TIMESTAMP" />
    <result column="PGBMID2" property="pgbmid2" jdbcType="VARCHAR" />
    <result column="PGYJ" property="pgyj" jdbcType="VARCHAR" />
    <result column="PGRID" property="pgrid" jdbcType="VARCHAR" />
    <result column="PGSJ" property="pgsj" jdbcType="TIMESTAMP" />
    <result column="SHBMID" property="shbmid" jdbcType="VARCHAR" />
    <result column="SHYJ" property="shyj" jdbcType="VARCHAR" />
    <result column="SHRID" property="shrid" jdbcType="VARCHAR" />
    <result column="SHSJ" property="shsj" jdbcType="TIMESTAMP" />
    <result column="PFBMID" property="pfbmid" jdbcType="VARCHAR" />
    <result column="PFYJ" property="pfyj" jdbcType="VARCHAR" />
    <result column="PFRID" property="pfrid" jdbcType="VARCHAR" />
    <result column="PFSJ" property="pfsj" jdbcType="TIMESTAMP" />
    <result column="syts" property="syts" />
    <result column="SYXDX" property="syxdx" jdbcType="VARCHAR" />
    <result column="QT_MS" property="qtMs" jdbcType="VARCHAR" />
    <result column="BZ" property="bz" jdbcType="VARCHAR" />
    <result column="ZDJSRID" property="zdjsrid" jdbcType="VARCHAR" />
    <result column="ZDJSRQ" property="zdjsrq" jdbcType="TIMESTAMP" />
    <result column="ZDJSYY" property="zdjsyy" jdbcType="VARCHAR" />
    <result column="jgdm" property="jgdm" jdbcType="VARCHAR" />
    <result column="fbrq" property="fbrq" jdbcType="TIMESTAMP" />
    <result column="dj" property="dj" jdbcType="VARCHAR" />
    <result column="jjcd" property="jjcd" jdbcType="VARCHAR" />
    <result column="wczl" property="wczl" jdbcType="VARCHAR" />
    <result column="xgwj" property="xgwj" jdbcType="VARCHAR" />
    <result column="gbtj" property="gbtj" jdbcType="VARCHAR" />
    <result column="is_mfhc" property="isMfhc" jdbcType="VARCHAR" />
    <result column="is_zbhc" property="isZbhc" jdbcType="VARCHAR" />
    <result column="is_tsgj" property="isTsgj" jdbcType="VARCHAR" />
    <result column="is_yxzlph" property="isYxzlph" jdbcType="VARCHAR" />
    <result column="fwxjnr" property="fwxjnr" jdbcType="VARCHAR" />
    <result column="zjh" property="zjh" jdbcType="VARCHAR" />
    
    <association property="zdr_user" javaType="com.eray.thjw.po.User">
         <id column="zdrid" property="id"/>
         <result column="zdr_realname" property="realname"/>
         <result column="zdr_username" property="username"/>
     </association>
     
    <association property="zdjs_user" javaType="com.eray.thjw.po.User">
         <id column="zdjsrid" property="id"/>
         <result column="zdjs_realname" property="realname"/>
         <result column="zdjs_username" property="username"/>
     </association>
     
     <association property="pgr_user" javaType="com.eray.thjw.po.User">
         <id column="pgrid" property="id"/>
         <result column="pgr_realname" property="realname"/>
         <result column="pgr_username" property="username"/>
     </association>
     
      <association property="shr_user" javaType="com.eray.thjw.po.User">
         <id column="shrid" property="id"/>
         <result column="shr_realname" property="realname"/>
         <result column="shr_username" property="username"/>
     </association>
     
     <association property="pfr_user" javaType="com.eray.thjw.po.User">
         <id column="pfrid" property="id"/>
         <result column="pfr_realname" property="realname"/>
         <result column="pfr_username" property="username"/>
     </association>
     
     <association property="technicalUpload" javaType="com.eray.thjw.po.TechnicalUpload">
         <id column="id" property="mainid"/>
         <id column="thud_id" property="id"/>
         <result column="thud_cflj" property="cflj"/>
         <result column="thud_nbwjm" property="nbwjm"/>
         <result column="thud_wbwjm" property="wbwjm"/>
     </association>
     
     <association property="zj" javaType="com.eray.thjw.po.FixChapter">
         <id column="zhj" property="zhj"/>
         <result column="zj_zwms" property="zwms"/>
     </association>
     
     <association property="qualityClose" javaType="com.eray.thjw.po.QualityClose">
         <id column="GBID" property="id"/>
         <result column="GBMAINID" property="mainid"/>
         <result column="GBDPRTCODE" property="dprtcode"/>
         <result column="GBWHDWID" property="whdwid"/>
         <result column="GBWHRID" property="whrid"/>
         <result column="GBWHSJ" property="whsj"/>
         <result column="GBYY" property="gbyy"/>
         <result column="GBZT" property="zt"/>
         <result column="GBWHRUSERNAME" property="whrusername"/>
         <result column="GBWHRREALNAME" property="whrrealname"/>
     </association>
     
  </resultMap>
  <sql id="Base_Column_List" >
    B_G_001.ID, B_G_001.PGDH, B_G_001.LY, B_G_001.JX, B_G_001.FL,B_G_001.WJLX,B_G_001.SHZLTGH, B_G_001.BB, B_G_001.SXRQ, B_G_001.PGQX, B_G_001.WJZT, B_G_001.SJGZ, B_G_001.WJZY, B_G_001.SYX, B_G_001.IS_JSTG, B_G_001.IS_JSZL, 
    B_G_001.IS_WXFA,B_G_001.IS_XDMEL,B_G_001.IS_XDGK, B_G_001.IS_GCZL, B_G_001.IS_FJGD, B_G_001.IS_FLXGD, B_G_001.IS_ZJFXB, B_G_001.IS_QT,B_G_001.ZT, B_G_001.DYZT, B_G_001.DPRTCODE, 
    B_G_001.FZBMID, B_G_001.FZRID, B_G_001.ZDBMID, B_G_001.ZDRID, B_G_001.ZDSJ, <!-- B_G_001.PGBMID2, --> B_G_001.PGYJ, B_G_001.PGRID, B_G_001.PGSJ, B_G_001.SHBMID, B_G_001.SHYJ, B_G_001.SHRID, 
    B_G_001.SHSJ, B_G_001.PFBMID, B_G_001.PFYJ, B_G_001.PFRID, B_G_001.PFSJ,case when B_G_001.zt in(0,1,2,5,6) then CEIL (to_date(to_char(B_G_001.PGQX,'yyyy-mm-dd'),'yyyy-mm-dd') - CURRENT_DATE) END syts,B_G_001.SYXDX,B_G_001.QT_MS,B_G_001.BZ,B_G_001.ZDJSRID,
    to_char(B_G_001.ZDJSRQ, 'YYYY-MM-DD HH24:MI:SS') ZDJSRQ,B_G_001.ZDJSYY,
    B_G_001.fbrq,B_G_001.dj,B_G_001.jjcd,B_G_001.wczl,B_G_001.xgwj,B_G_001.gbtj,B_G_001.is_mfhc,B_G_001.is_zbhc,B_G_001.is_tsgj,B_G_001.is_yxzlph,B_G_001.fwxjnr,B_G_001.zjh
  </sql>
  
   	<!-- 评估技术文件-->
	<update id="assess" parameterType="com.eray.thjw.po.TechnicalFile" >
		 update B_G_001 
		 <trim prefix="SET" suffixOverrides=",">
            <if test="null != pgyj">
                pgyj = #{pgyj},
            </if>
             <if test="null != zdjsrid">
                zdjsrid = #{zdjsrid},
            </if>
             <if test="null != zdjsyy">
                zdjsyy = #{zdjsyy},
            </if>
              <if test="null != zdjsrq">
                zdjsrq = current_timestamp,
            </if>
            <if test="null != pgsj">
                pgsj = current_timestamp,
            </if>
            <if test="null != shsj">
                shsj = current_timestamp,
            </if>
            <if test="null != shrid">
                shrid =#{shrid},
            </if>
            <if test="null != shyj">
                shyj = #{shyj},
            </if>
            
            <if test="null != pfsj">
                pfsj = current_timestamp,
            </if>
            <if test="null != pfrid">
                pfrid =#{pfrid},
            </if>
            <if test="null != pfyj">
                pfyj = #{pfyj},
            </if>
            <if test="null != zt">
                zt = #{zt},
            </if>
            <if test="null != wjzt">
                wjzt = #{wjzt},
            </if>
            <if test="null != sjgz">
                sjgz = #{sjgz},
            </if>
               <if test="null != wjzy">
                wjzy = #{wjzy},
            </if>
              <if test="null != syx">
                syx = #{syx},
            </if>
             <if test="null != isJstg">
                IS_JSTG = #{isJstg},
            </if>
             <if test="null != isJszl">
                IS_JSZL = #{isJszl},
            </if>
               <if test="null != isWxfa">
                IS_WXFA = #{isWxfa},
            </if>
                <if test="null != isXdmel">
                IS_XDMEL = #{isXdmel},
            </if>
               <if test="null != isXdgk">
                IS_XDGK = #{isXdgk},
            </if>
             <if test="null != isGczl">
                IS_GCZL = #{isGczl},
            </if>
             <if test="null != isFjgd">
                IS_FJGD = #{isFjgd},
            </if>
              <if test="null != isFlxgd">
                IS_FlXGD = #{isFlxgd},
            </if>
              <if test="null != isZjfj">
                IS_ZJFXB = #{isZjfj},
            </if>
             <if test="null != isQt">
                IS_QT = #{isQt},
            </if>
              <if test="null != qtMs">
                QT_MS = #{qtMs},
            </if>
            <if test="null != syxdx">
                syxdx = #{syxdx},
            </if>
            <if test="null != pgbmid2">
                pgbmid2 = #{pgbmid2},
            </if>
             <if test="null != shbmid">
                shbmid = #{shbmid},
            </if>
             <if test="null != pfbmid">
                pfbmid = #{pfbmid},
            </if>
             <if test="null != fbrq">
                fbrq = #{fbrq},
            </if>
             <if test="null != dj">
                dj = #{dj},
            </if>
             <if test="null != jjcd">
                jjcd = #{jjcd},
            </if>
             <if test="null != wczl">
                wczl = cast(#{wczl} as NUMERIC),
            </if>
             <if test="null != xgwj">
                xgwj = #{xgwj},
            </if>
             <if test="null != gbtj">
                gbtj = #{gbtj},
            </if>
             <if test="null != isMfhc">
                is_mfhc = cast(#{isMfhc} as NUMERIC),
            </if>
             <if test="null != isZbhc">
                is_zbhc = cast(#{isZbhc} as NUMERIC),
            </if>
             <if test="null != isTsgj">
                is_tsgj = cast(#{isTsgj} as NUMERIC),
            </if>
             <if test="null != isYxzlph">
                is_yxzlph = cast(#{isYxzlph} as NUMERIC),
            </if>
             <if test="null != fwxjnr">
                fwxjnr = #{fwxjnr},
            </if>
             <if test="null != zjh">
                zjh = #{zjh},
            </if>
            
        </trim>
		 where ID = #{id}
	</update>
	
  
  	<!-- 添加技术文件 -->
	<insert id="save"  parameterType="com.eray.thjw.po.TechnicalFile" >
		insert into   
		B_G_001
		(id,pgdh,ly,jx,fl,wjlx,shzltgh,bb,pgrid,sxrq,pgqx,zt,bz,syx,DPRTCODE,FZBMID,FZRID,ZDBMID,ZDRID,ZDSJ,dyzt,zjh)
		 values
		 (#{id, jdbcType=VARCHAR},#{pgdh, jdbcType=VARCHAR},#{ly, jdbcType=VARCHAR},#{jx, jdbcType=VARCHAR},#{fl, jdbcType=VARCHAR},#{wjlx, jdbcType=VARCHAR},#{shzltgh, jdbcType=VARCHAR},#{bb, jdbcType=VARCHAR},#{pgrid, jdbcType=VARCHAR},#{sxrq, jdbcType=TIMESTAMP},#{pgqx, jdbcType=TIMESTAMP},#{zt, jdbcType=DECIMAL},#{bz, jdbcType=VARCHAR},1,#{dprtcode, jdbcType=VARCHAR},#{fzbmid, jdbcType=VARCHAR},#{fzrid, jdbcType=VARCHAR},#{zdbmid, jdbcType=VARCHAR},#{zdrid, jdbcType=VARCHAR},current_timestamp,0,#{zjh, jdbcType=VARCHAR})
	</insert>
  
 	 <select id="queryAll" resultMap="TechnicalFileMap">
		select <include refid="Base_Column_List"></include>,zj.zwms zj_zwms from B_G_001 left join D_005 zj on (B_G_001.ZJH=zj.ZJH AND B_G_001.DPRTCODE = ZJ.DPRTCODE)
		<include refid="roleParam"></include>
	 </select>
	 
  	<!-- 修改技术文件 -->
	<update id="modify" parameterType="com.eray.thjw.po.TechnicalFile" >
		 update B_G_001 set
		 ly=#{ly},
		jx=#{jx},
		fl=#{fl},
		wjlx=#{wjlx},
		shzltgh=#{shzltgh},
		bb=#{bb},
		pgrid=#{pgrid},
		sxrq=#{sxrq},
		pgqx=#{pgqx},
		 bz=#{bz},
		zt=#{zt},
		zjh=#{zjh}
		 where ID = #{id}
	</update>
	
	
		<!-- 修改角色信息 -->
	<update id="delete" parameterType="com.eray.thjw.po.TechnicalFile" >
		 update B_G_001 set
		 zt=8
		 where ID = #{id}
	</update>
  
  
  <!-- 搜索参数 -->
	<sql id="roleParam">
	   where 1=1
	     <!--id-->
	     <if test="id != null and id != ''">
             and ID = #{id}
         </if>
	</sql>
 
 <!-- 搜索参数 -->
	<sql id="technicalFileParam">
	   where 1=1 and B_G_001.zt&lt;&gt; 8
          <if test="keyword != null and keyword != ''">
		    and (  B_G_001.pgdh like '%'||#{keyword}||'%'
		    	or B_G_001.shzltgh like '%'||#{keyword}||'%'
		    	or B_G_001.wjzt like '%'||#{keyword}||'%'
		    	or zdr.USERNAME like '%'||#{keyword}||'%'
		    	or zdr.REALNAME like '%'||#{keyword}||'%'
		    	or B_G_001.bz like '%'||#{keyword}||'%')              <!-- 左右匹配 查询关键字 -->
		  </if>
         <if test="zt != null">
             and B_G_001.zt = #{zt}
         </if>
         <if test="jx != null and jx != ''">
             and B_G_001.jx = #{jx}
         </if>
           <if test="fl != null and fl != ''">
             and B_G_001.fl = #{fl}
         </if>
           <if test="ly != null and ly != ''">
             and B_G_001.ly = #{ly}
         </if>
           <if test="wjlx != null and wjlx != ''">
             and B_G_001.wjlx = #{wjlx}
         </if>
           <if test="shzltgh != null and shzltgh != ''">
             and B_G_001.shzltgh = #{shzltgh}
         </if>
           <if test="oldshzltgh != null and oldshzltgh != ''">
             and B_G_001.shzltgh != #{oldshzltgh}
         </if>
         
         
          <if test="dprtcode != null and dprtcode != ''">
             and B_G_001.dprtcode = #{dprtcode}
         </if>
         
           <if test="zdrid != null and zdrid != ''">
             and B_G_001.zdrid = #{zdrid}
         </if>
         
           <if test="pgrid != null and pgrid != ''">
             and B_G_001.pgrid = #{pgrid}
        	 </if>
         
           <if test="yjjb != null and yjjb != ''">
             and (to_date(to_char(B_G_001.PGQX,'yyyy-mm-dd'),'yyyy-mm-dd') - CURRENT_DATE)  &lt;= #{yjjb}
         </if>
         
        <if test="paramsMap != null and paramsMap.pgqxBegin != null and paramsMap.pgqxBegin != ''">
		    and B_G_001.pgqx &gt;= to_date(#{paramsMap.pgqxBegin, jdbcType=VARCHAR},'YYYY-MM-DD HH24:MI:SS') 
		</if>
		<if test="paramsMap != null and paramsMap.pgqxEnd != null and paramsMap.pgqxEnd != ''">
		    and B_G_001.pgqx &lt;= to_date(#{paramsMap.pgqxEnd, jdbcType=VARCHAR},'YYYY-MM-DD HH24:MI:SS') 
		</if>
		
		<if test="paramsMap != null and paramsMap.sxrqBegin != null and paramsMap.sxrqBegin != ''">
		    and B_G_001.sxrq &gt;= to_date(#{paramsMap.sxrqBegin, jdbcType=VARCHAR},'YYYY-MM-DD HH24:MI:SS') 
		</if>
		<if test="paramsMap != null and paramsMap.sxrqEnd != null and paramsMap.sxrqEnd != ''">
		    and B_G_001.sxrq &lt;= to_date(#{paramsMap.sxrqEnd, jdbcType=VARCHAR},'YYYY-MM-DD HH24:MI:SS') 
		</if>

       	     <!--id-->
	     <if test="id != null and id != ''">
             and B_G_001.ID = #{id}
         </if>
       
	</sql>
 
 	<select id="queryAllPageList" resultMap="TechnicalFileMap">
 	select * from (
		  select 
              <include refid="Base_Column_List" />,
              zdr.username zdr_username,
              zdr.realname zdr_realname,
              zdjs.username zdjs_username,
              zdjs.realname zdjs_realname,
              pgr.username pgr_username,
              pgr.realname pgr_realname,
              dpt.dprtname dprtname,
              thud.id thud_id,
              thud.cflj thud_cflj,
              thud.nbwjm thud_nbwjm,
              thud.wbwjm thud_wbwjm,
              (CASE B_G_001.zt  WHEN 5 THEN 0 WHEN 6 THEN 0 else B_G_001.zt end) orzt,
              bg00103.ID GBID,
              bg00103.WHSJ GBWHSJ,
              bg00103.GBYY,
              gbr.USERNAME GBWHRUSERNAME,
              gbr.REALNAME GBWHRREALNAME
              from B_G_001 
           		left join T_USER zdr on (B_G_001.ZDRID = zdr.ID)
	 			left join T_USER pgr on (B_G_001.PGRID = pgr.ID)
	 			left join T_USER zdjs on (B_G_001.zdjsrid = zdjs.ID)
	 			left join T_department dpt on (B_G_001.dprtcode = dpt.id)
	 			left join B_G_00101 thud on (B_G_001.id = thud.mainid)
	 			left join B_G_00103 bg00103 on (bg00103.MAINID = B_G_001.ID and bg00103.ZT = 1)
	 			left join T_USER gbr on (bg00103.WHRID = gbr.ID)
	 			<include refid="technicalFileParam"></include> 
              
              <!-- 前台条件：飞机，机型，sql需要全部的范围，以及带上当前记录的机构码 -->
		     <choose>                                                                 
			    	<when test='paramsMap.userType!=null and paramsMap.userType == "admin"'>                       
			    		 AND exists 
			    		( SELECT 1 from D_007 where 
			    			B_G_001.jx = fjjx
			    		AND B_G_001.dprtcode = DPRTCODE
			    		AND zt = 1
			    		)
			    	</when>
			    	<otherwise>
					     AND exists 
			    		( SELECT 1 from V_ROLE_JX where 
			    			B_G_001.jx= fjjx
			    		AND B_G_001.dprtcode = DPRTCODE
			    		AND USER_ID = #{paramsMap.userId,jdbcType=VARCHAR}
			    		) 
			    	</otherwise>
		   	</choose>
              ) Te
              <choose>                                                                                 <!--  进行排序判断，如果默认就是默认字段排序 -->
			    	<when test='pagination.sort == "auto"'>                       
			    		order by orzt,Te.syts asc
			    	</when>
			    	<otherwise>
					    order by Te.${pagination.sort} ${pagination.order}
			    	</otherwise>
		 </choose>
	</select>
 
 	 <select id="validationQueryCount" parameterType="com.eray.thjw.po.TechnicalFile" resultType="int">
		select 
             count(1)
              from B_G_001 
           		left join T_USER zdr on (B_G_001.ZDRID = zdr.ID)
	 			left join T_USER pgr on (B_G_001.PGRID = pgr.ID)
	 			left join T_USER zdjs on (B_G_001.zdjsrid = zdjs.ID)
	 			left join T_department dpt on (B_G_001.dprtcode = dpt.id)
	 			left join B_G_00101 thud on (B_G_001.id = thud.mainid)
	 			<include refid="technicalFileParam"></include> 
 	 </select>
 	 
 	 
 	  <!-- 根据不同的单据查询不同的评估单的方法 -->
 	 <select id="queryAllByDocumentsId" resultMap="TechnicalFileMap">
 	 	select 
 	 		<include refid="Base_Column_List"></include>,
 	 		pgr.username pgr_username,
 	 		pgr.realname pgr_realname
 	 		 from B_G_001 left join t_user pgr on(B_G_001.pgrid=pgr.id)
 	 		  where
 	 		B_G_001.dprtcode=#{dprtcode}  
 	 		 and B_G_001.zt in (1,2,3) 
 	 		 <include refid="technicalFileParam1"></include>
 	 		  <if test="pgdids!=null">  
       			 and B_G_001.id not in  
       			 <foreach item="item" index="index" collection="pgdids" open="("  
           		 separator="," close=")">  
            		#{item}  
       			 </foreach>  
    		</if>     
 	 		  order by B_G_001.shzltgh asc
 	 </select>
 	 
 	 <!-- 搜索条件 -->
 	<sql id="technicalFileParam1">
 		<if test="isJstg != null and isJstg != ''">
             and B_G_001.is_jstg = #{isJstg}
         </if>
 		<if test="isJszl != null and isJszl != ''">
             and B_G_001.is_jszl = #{isJszl}
         </if>
 		<if test="isWxfa != null and isWxfa != ''">
             and B_G_001.is_wxfa = #{isWxfa}
         </if>
        <if test="isXdmel != null and isXdmel != ''">
             and B_G_001.is_xdmel = #{isXdmel}
         </if>
 		<if test="isXdgk != null and isXdgk != ''">
             and B_G_001.is_xdgk = #{isXdgk}
         </if>
 		<if test="isGczl != null and isGczl != ''">
             and B_G_001.is_gczl = #{isGczl}
         </if>
 		<if test="isFjgd != null and isFjgd != ''">
             and B_G_001.is_fjgd = #{isFjgd}
         </if>
 		<if test="isFlxgd != null and isFlxgd != ''">
             and B_G_001.is_flxgd = #{isFlxgd}
         </if>
 		<if test="isZjfj != null and isZjfj != ''">
             and B_G_001.IS_ZJFXB = #{isZjfj}
         </if>
 		<if test="isQt != null and isQt != ''">
             and B_G_001.is_qt = #{isQt}
         </if>
         <if test="pgdh != null and pgdh != ''">
             and B_G_001.pgdh = #{pgdh}
         </if>
         <if test="jx != null and jx != ''">
             and B_G_001.jx = #{jx}
         </if>
         <if test="keyword != null and keyword != ''">
		    and (  B_G_001.pgdh like '%'||#{keyword}||'%'
		    	or B_G_001.shzltgh like '%'||#{keyword}||'%'
		    	or B_G_001.wjzt like '%'||#{keyword}||'%'
		    	or B_G_001.bz like '%'||#{keyword}||'%')              <!-- 左右匹配 查询关键字 -->
		  </if>
 	</sql>

 	
 	 <select id="selectChoosePgd" parameterType="java.lang.String" resultMap="TechnicalFileMap">  
       <!-- select 
		   a.id,a.zt,a.sxrq,a.shzltgh,a.bb,a.pgdh,a.ly,a.fl,a.wjzt,a.jx,a.pgqx from
          b_g_003 b left join b_g_001 a on b.pgdid=a.id where b.zlid=#{id} -->
          
          select 
		   	b_g_001.id,b_g_001.zt,b_g_001.sxrq,b_g_001.shzltgh,b_g_001.bb,
		   	b_g_001.pgdh,b_g_001.ly,b_g_001.fl,b_g_001.wjzt,b_g_001.jx,
		   	b_g_001.pgqx,b_g_001.pgrid,b_g_001.dprtcode,
		   	pgr.username pgr_username,
		   	pgr.realname pgr_realname
		   	from
          	b_g_001 left join b_g_003 b on (b.pgdid=b_g_001.id)
          		  left join t_user pgr on(b_g_001.pgrid=pgr.id)
          		  where b.zlid=#{id}
   </select> 

 	
 	<!-- begin
 	 author pingxiaojun
 	 develop date 2016.08.18
 	 -->
 	<!-- 评估单返回Map -->
 	<resultMap id="assessSingleResultMap" type="java.util.HashMap">
 	   <id column="ID" property="id" jdbcType="VARCHAR" />
	   <result column="ZT" property="zt" jdbcType="INTEGER" />
	   <result column="SXRQ" property="sxrq" jdbcType="TIMESTAMP" />
	   <result column="SHZLTGH" property="shzltgh" jdbcType="VARCHAR" />
	   <result column="BB" property="bb" jdbcType="VARCHAR" />
	   <result column="PGDH" property="pgdh" jdbcType="VARCHAR" />
	   <result column="LY" property="ly" jdbcType="VARCHAR" />
	   <result column="JX" property="jx" jdbcType="VARCHAR" />
	   <result column="FL" property="fl" jdbcType="VARCHAR" />
	   <result column="WJZT" property="wjzt" jdbcType="VARCHAR" />
 	</resultMap>
 	 
 	<!-- 评估单信息查询条件 -->
 	<sql id="assessSingleQueryConditions">
 	   where 1 = 1
 	     <!-- 机构代码 -->
 	     <if test="dprtcode != null and dprtcode != ''">
             and DPRTCODE = #{dprtcode}
         </if>
         
         <!-- 评估单号 -->
         <if test="pgdh != null and pgdh != ''">
             and PGDH like '%'||#{pgdh}||'%'
         </if>
         
		 and ZT = 1
		 and IS_WXFA = 1
 	</sql>
 	
 	<!-- end
 	 author pingxiaojun
 	 develop date 2016.08.18
 	 -->
 	 
	<select id="selectTechnicalFileByPrimaryKey" resultMap="TechnicalFileMap" parameterType="java.lang.String" >
   select 
    <include refid="Base_Column_List"></include>,
     shr.realname shr_realname,shr.username shr_username,
     pgr.realname pgr_realname,pgr.username pgr_username,
     pfr.realname pfr_realname,pfr.username pfr_username
    from B_G_001   left join t_user shr on B_G_001.shrid=shr.id
            left join t_user pgr on B_G_001.pgrid=pgr.id
           left join t_user pfr on B_G_001.pfrid=pfr.id
             where B_G_001.ID =#{id,jdbcType=VARCHAR}
  </select>
  
  <!-- 根据主键查询技术文件 -->
	<select id="selectByPrimaryKey" resultMap="TechnicalFileMap" parameterType="java.lang.String" >
		select 
	   		<include refid="Base_Column_List" />,
	   		 zdr.username zdr_username,
             zdr.realname zdr_realname,
             pgr.username pgr_username,
             pgr.realname pgr_realname,
             shr.username shr_username,
             shr.realname shr_realname,
             pfr.username pfr_username,
             pfr.realname pfr_realname,
	   		 zj.zwms zj_zwms
	   	from B_G_001 left join T_USER zdr on (B_G_001.ZDRID = zdr.ID)
	 				 left join T_USER pgr on (B_G_001.PGRID = pgr.ID)
	 				 left join T_USER shr on (B_G_001.shrid = shr.ID)
	 				 left join T_USER pfr on (B_G_001.pfrid = pfr.ID) 
	 				 left join D_005 zj on (B_G_001.ZJH=zj.ZJH AND B_G_001.DPRTCODE = ZJ.DPRTCODE)
	   	where B_G_001.ID = #{id,jdbcType=VARCHAR}
	</select>
 
</mapper>