<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eray.thjw.dao.WOActionObjMapper">
  <resultMap id="BaseResultMap" type="com.eray.thjw.po.WOActionObj">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="MAINID" jdbcType="VARCHAR" property="mainid" />
    <result column="ZXFL" jdbcType="VARCHAR" property="zxfl" />
    <result column="FJZCH" jdbcType="VARCHAR" property="fjzch" />
    <result column="ZJQDID" jdbcType="VARCHAR" property="zjqdid" />
    <result column="BJH" jdbcType="VARCHAR" property="bjh" />
    <result column="BJXLH" jdbcType="VARCHAR" property="bjxlh" />
    <result column="JKXMBH_F" jdbcType="VARCHAR" property="jkxmbhF" />
    <result column="JKFLBH_F" jdbcType="VARCHAR" property="jkflbhF" />
    <result column="JKZ_F" jdbcType="VARCHAR" property="jkzF" />
    <result column="JKXMBH_S" jdbcType="VARCHAR" property="jkxmbhS" />
    <result column="JKFLBH_S" jdbcType="VARCHAR" property="jkflbhS" />
    <result column="JKZ_S" jdbcType="VARCHAR" property="jkzS" />
    <result column="JKXMBH_T" jdbcType="VARCHAR" property="jkxmbhT" />
    <result column="JKFLBH_T" jdbcType="VARCHAR" property="jkflbhT" />
    <result column="JKZ_T" jdbcType="VARCHAR" property="jkzT" />
    <result column="JH_FXSX" jdbcType="DECIMAL" property="jhFxsx" />
    <result column="JH_QLJXH" jdbcType="DECIMAL" property="jhQljxh" />
    <result column="XH" jdbcType="DECIMAL" property="xh" />
    <result column="ZT" jdbcType="DECIMAL" property="zt" />
    <result column="WHDWID" jdbcType="VARCHAR" property="whdwid" />
    <result column="WHRID" jdbcType="VARCHAR" property="whrid" />
    <result column="WHSJ" jdbcType="TIMESTAMP" property="whsj" />
    <result column="DPRTCODE" jdbcType="VARCHAR" property="dprtcode" />
    <result column="BJNAME" jdbcType="VARCHAR" property="bjName" />
    <result column="FJJX" jdbcType="VARCHAR" property="fjjx" />
    
  </resultMap>
  <sql id="Base_Column_List">
    ID, MAINID, ZXFL, FJZCH, ZJQDID, BJH, BJXLH, JKXMBH_F, JKFLBH_F, JKZ_F, JKXMBH_S, 
    JKFLBH_S, JKZ_S, JKXMBH_T, JKFLBH_T, JKZ_T, XH, ZT, WHDWID, WHRID, 
    WHSJ, DPRTCODE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from B_G_00604
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from B_G_00604
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eray.thjw.po.WOActionObj">
    insert into B_G_00604 (ID, MAINID, ZXFL, 
      FJZCH, ZJQDID, BJH, 
      BJXLH, JKXMBH_F, JKFLBH_F, 
      JKZ_F, JKXMBH_S, JKFLBH_S, 
      JKZ_S, JKXMBH_T, JKFLBH_T, 
      JKZ_T, JH_FXSX, JH_QLJXH, 
      XH, ZT, WHDWID, WHRID, 
      WHSJ, DPRTCODE)
    values (#{id,jdbcType=VARCHAR}, #{mainid,jdbcType=VARCHAR}, #{zxfl,jdbcType=VARCHAR}, 
      #{fjzch,jdbcType=VARCHAR}, #{zjqdid,jdbcType=VARCHAR}, #{bjh,jdbcType=VARCHAR}, 
      #{bjxlh,jdbcType=VARCHAR}, #{jkxmbhF,jdbcType=VARCHAR}, #{jkflbhF,jdbcType=VARCHAR}, 
      #{jkzF,jdbcType=VARCHAR}, #{jkxmbhS,jdbcType=VARCHAR}, #{jkflbhS,jdbcType=VARCHAR}, 
      #{jkzS,jdbcType=VARCHAR}, #{jkxmbhT,jdbcType=VARCHAR}, #{jkflbhT,jdbcType=VARCHAR}, 
      #{jkzT,jdbcType=VARCHAR}, #{jhFxsx,jdbcType=DECIMAL}, #{jhQljxh,jdbcType=DECIMAL}, 
      #{xh,jdbcType=DECIMAL}, #{zt,jdbcType=DECIMAL}, #{whdwid,jdbcType=VARCHAR}, #{whrid,jdbcType=VARCHAR}, 
      #{whsj,jdbcType=TIMESTAMP}, #{dprtcode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eray.thjw.po.WOActionObj">
    insert into B_G_00604
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="mainid != null">
        MAINID,
      </if>
      <if test="zxfl != null">
        ZXFL,
      </if>
      <if test="fjzch != null">
        FJZCH,
      </if>
      <if test="zjqdid != null">
        ZJQDID,
      </if>
      <if test="bjh != null">
        BJH,
      </if>
      <if test="bjxlh != null">
        BJXLH,
      </if>
      <if test="jkxmbhF != null">
        JKXMBH_F,
      </if>
      <if test="jkflbhF != null">
        JKFLBH_F,
      </if>
      <if test="jkzF != null">
        JKZ_F,
      </if>
      <if test="jkxmbhS != null">
        JKXMBH_S,
      </if>
      <if test="jkflbhS != null">
        JKFLBH_S,
      </if>
      <if test="jkzS != null">
        JKZ_S,
      </if>
      <if test="jkxmbhT != null">
        JKXMBH_T,
      </if>
      <if test="jkflbhT != null">
        JKFLBH_T,
      </if>
      <if test="jkzT != null">
        JKZ_T,
      </if>
      <if test="jhFxsx != null">
        JH_FXSX,
      </if>
      <if test="jhQljxh != null">
        JH_QLJXH,
      </if>
      <if test="xh != null">
        XH,
      </if>
        ZT,
      <if test="whdwid != null">
        WHDWID,
      </if>
      <if test="whrid != null">
        WHRID,
      </if>
        WHSJ,
      <if test="dprtcode != null">
        DPRTCODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mainid != null">
        #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="zxfl != null">
        #{zxfl,jdbcType=VARCHAR},
      </if>
      <if test="fjzch != null">
        #{fjzch,jdbcType=VARCHAR},
      </if>
      <if test="zjqdid != null">
        #{zjqdid,jdbcType=VARCHAR},
      </if>
      <if test="bjh != null">
        #{bjh,jdbcType=VARCHAR},
      </if>
      <if test="bjxlh != null">
        #{bjxlh,jdbcType=VARCHAR},
      </if>
      <if test="jkxmbhF != null">
        #{jkxmbhF,jdbcType=VARCHAR},
      </if>
      <if test="jkflbhF != null">
        #{jkflbhF,jdbcType=VARCHAR},
      </if>
      <if test="jkzF != null">
        #{jkzF,jdbcType=VARCHAR},
      </if>
      <if test="jkxmbhS != null">
        #{jkxmbhS,jdbcType=VARCHAR},
      </if>
      <if test="jkflbhS != null">
        #{jkflbhS,jdbcType=VARCHAR},
      </if>
      <if test="jkzS != null">
        #{jkzS,jdbcType=VARCHAR},
      </if>
      <if test="jkxmbhT != null">
        #{jkxmbhT,jdbcType=VARCHAR},
      </if>
      <if test="jkflbhT != null">
        #{jkflbhT,jdbcType=VARCHAR},
      </if>
      <if test="jkzT != null">
        #{jkzT,jdbcType=VARCHAR},
      </if>
      <if test="jhFxsx != null">
        #{jhFxsx,jdbcType=DECIMAL},
      </if>
      <if test="jhQljxh != null">
        #{jhQljxh,jdbcType=DECIMAL},
      </if>
      <if test="xh != null">
        #{xh,jdbcType=DECIMAL},
      </if>
         1,
      <if test="whdwid != null">
        #{whdwid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null">
        #{whrid,jdbcType=VARCHAR},
      </if>
       current_timestamp,
      <if test="dprtcode != null">
        #{dprtcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="selectByActionObj"   resultMap="BaseResultMap">
		select    
		B.ID, B.MAINID, B.ZXFL, B.FJZCH, B.ZJQDID, B.BJH, B.BJXLH, B.JKXMBH_F, B.JKFLBH_F, B.JKZ_F, B.JKXMBH_S, 
        B.JKFLBH_S, B.JKZ_S, B.JKXMBH_T, B.JKFLBH_T, B.JKZ_T, B.XH, B.ZT, B.WHDWID, B.WHRID, 
        B.WHSJ, B.DPRTCODE,(D.YWMS ||' '|| D.ZWMS) AS BJNAME,T.fjjx 
        from B_G_00604 B
   		left join D_008 D on B.bjh = D.bjh and D.DPRTCODE = #{dprtcode,jdbcType=VARCHAR} and D.zt=1
   		left join D_007 T on B.fjzch=T.fjzch and T.DPRTCODE = #{dprtcode,jdbcType=VARCHAR}
   		where 1=1
		   <!-- 工单基础id -->
		    <if test="mainid != null and mainid != ''">
	            and  B.mainid = #{mainid}
	       </if>
  </select>
  
  
  
  <update id="updateByActionObj" parameterType="com.eray.thjw.po.WOActionObj">
    update B_G_00604
    <set>
      <if test="mainid != null">
        MAINID = #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="zxfl != null">
        ZXFL = #{zxfl,jdbcType=VARCHAR},
      </if>
      <if test="fjzch != null">
        FJZCH = #{fjzch,jdbcType=VARCHAR},
      </if>
      <if test="zjqdid != null">
        ZJQDID = #{zjqdid,jdbcType=VARCHAR},
      </if>
      <if test="bjh != null">
        BJH = #{bjh,jdbcType=VARCHAR},
      </if>
      <if test="bjxlh != null">
        BJXLH = #{bjxlh,jdbcType=VARCHAR},
      </if>
      <if test="jkxmbhF != null">
        JKXMBH_F = #{jkxmbhF,jdbcType=VARCHAR},
      </if>
      <if test="jkflbhF != null">
        JKFLBH_F = #{jkflbhF,jdbcType=VARCHAR},
      </if>
      <if test="jkzF != null">
        JKZ_F = #{jkzF,jdbcType=VARCHAR},
      </if>
      <if test="jkxmbhS != null">
        JKXMBH_S = #{jkxmbhS,jdbcType=VARCHAR},
      </if>
      <if test="jkflbhS != null">
        JKFLBH_S = #{jkflbhS,jdbcType=VARCHAR},
      </if>
      <if test="jkzS != null">
        JKZ_S = #{jkzS,jdbcType=VARCHAR},
      </if>
      <if test="jkxmbhT != null">
        JKXMBH_T = #{jkxmbhT,jdbcType=VARCHAR},
      </if>
      <if test="jkflbhT != null">
        JKFLBH_T = #{jkflbhT,jdbcType=VARCHAR},
      </if>
      <if test="jkzT != null">
        JKZ_T = #{jkzT,jdbcType=VARCHAR},
      </if>
      <if test="jhFxsx != null">
        JH_FXSX = #{jhFxsx,jdbcType=DECIMAL},
      </if>
      <if test="jhQljxh != null">
        JH_QLJXH = #{jhQljxh,jdbcType=DECIMAL},
      </if>
      <if test="xh != null">
        XH = #{xh,jdbcType=DECIMAL},
      </if>
      <if test="zt != null">
        ZT = #{zt,jdbcType=DECIMAL},
      </if>
      <if test="whdwid != null">
        WHDWID = #{whdwid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null">
        WHRID = #{whrid,jdbcType=VARCHAR},
      </if>
        WHSJ = current_timestamp
<!--       <if test="dprtcode != null"> -->
<!--         DPRTCODE = #{dprtcode,jdbcType=VARCHAR}, -->
<!--       </if> -->
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.eray.thjw.po.WOActionObj">
    update B_G_00604
    set MAINID = #{mainid,jdbcType=VARCHAR},
      ZXFL = #{zxfl,jdbcType=VARCHAR},
      FJZCH = #{fjzch,jdbcType=VARCHAR},
      ZJQDID = #{zjqdid,jdbcType=VARCHAR},
      BJH = #{bjh,jdbcType=VARCHAR},
      BJXLH = #{bjxlh,jdbcType=VARCHAR},
      JKXMBH_F = #{jkxmbhF,jdbcType=VARCHAR},
      JKFLBH_F = #{jkflbhF,jdbcType=VARCHAR},
      JKZ_F = #{jkzF,jdbcType=VARCHAR},
      JKXMBH_S = #{jkxmbhS,jdbcType=VARCHAR},
      JKFLBH_S = #{jkflbhS,jdbcType=VARCHAR},
      JKZ_S = #{jkzS,jdbcType=VARCHAR},
      JKXMBH_T = #{jkxmbhT,jdbcType=VARCHAR},
      JKFLBH_T = #{jkflbhT,jdbcType=VARCHAR},
      JKZ_T = #{jkzT,jdbcType=VARCHAR},
      JH_FXSX = #{jhFxsx,jdbcType=DECIMAL},
      JH_QLJXH = #{jhQljxh,jdbcType=DECIMAL},
      XH = #{xh,jdbcType=DECIMAL},
      ZT = #{zt,jdbcType=DECIMAL},
      WHDWID = #{whdwid,jdbcType=VARCHAR},
      WHRID = #{whrid,jdbcType=VARCHAR},
      WHSJ = #{whsj,jdbcType=TIMESTAMP}
<!--       DPRTCODE = #{dprtcode,jdbcType=VARCHAR} -->
    where ID = #{id,jdbcType=VARCHAR}
  </update>
   
</mapper>