


/***
Popover
 ***/
.popover {
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);  
  padding: 0 !important;
}

.popover .popover-title {
    -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
          margin: 0 !important;
}

.info .popover .popover-title,
.popover.info .popover-title,
.info .popover .popover-content,
.popover.info .popover-content {
  color:#27a9e3;
}

.success .popover .popover-title,
.popover.success .popover-title,
.success .popover .popover-content,
.popover.success .popover-content {
  color:#468847;
}

.error .popover .popover-title,
.popover.error .popover-title,
.error .popover .popover-content,
.popover.error .popover-content {
  color:#B94A48;
}

.warning .popover .popover-title,
.popover.warning .popover-title,
.warning .popover .popover-content,
.popover.warning .popover-content {
  color:#C09853;
}

.popovers.yellow + .popover {
    background: yellow;
}

.popovers.yellow + .popover .popover-title {
    background: yellow;
}

.popovers.yellow + .popover .popover-content {
    background: yellow;
}

/***
Dropdown
***/

 /*Fixing dropdown issue on mobile devices in Bootstrap 3.2.2*/
.dropdown-backdrop {
  position: static;
}

.dropdown:hover .caret, 
.open.dropdown .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}


.dropdown.open .dropdown-toggle {
  color: #08c;
  background: #ccc;
  background: rgba(0, 0, 0, 0.3);
}

/***
Dropdown Menu
***/

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  list-style: none;
  text-shadow: none;
  padding: 0px;
  margin:0px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);  
  font-size: 14px;
  font-family: "Segoe UI",Helvetica, Arial, sans-serif;
  border: 1px solid #ddd;
}

/* custom dropdown conetnt */
.dropdown-content {
  padding:5px;
}

.dropdown-content form {
  margin:0;
}

.dropdown.inline .dropdown-menu {
  display: inline-block;  
  position: relative;
}

.dropdown-menu.bottom-up {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}

.dropdown-menu li > a {
  padding: 6px 0 6px 13px;
  color: #333;
  text-decoration: none;
  display: block;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  white-space: nowrap;
}

.dropdown-menu li > a:hover, 
.dropdown-menu .active > a, 
.dropdown-menu .active > a:hover {
  text-decoration: none;
  background-image: none;
  background-color: #eee;
  color: #333;
  filter:none;
}

/* dropdown sub menu support for Bootsrap 3 */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 5px;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -2px;
}

.dropdown-submenu > a:after {
  position: absolute;
  display: inline-block;
  font-size: 14px;
  right: 7px;
  top: 7px;
  font-family: FontAwesome;
  height: auto;
  content: "\f105";
  font-weight: 300;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}

.nav.pull-right > li > .dropdown-menu,
.nav > li > .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.nav.pull-right > li > .dropdown-menu:before,
.nav > li > .dropdown-menu.pull-right:before {
  right: 12px;
  left: auto;
}

.nav.pull-right > li > .dropdown-menu:after,
.nav > li > .dropdown-menu.pull-right:after {
  right: 13px;
  left: auto;
}

.nav.pull-right > li > .dropdown-menu .dropdown-menu,
.nav > li > .dropdown-menu.pull-right .dropdown-menu {
  right: 100%;
  left: auto;
  margin-right: -1px;
  margin-left: 0;
  -webkit-border-radius: 6px 0 6px 6px;
     -moz-border-radius: 6px 0 6px 6px;
          border-radius: 6px 0 6px 6px;
}

@media (max-width: 767px) {

  .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    width: auto;
    margin-top: 0;
    background-color: #ffffff;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);  
  }

  .navbar-nav .open .dropdown-menu > li > a {
     padding: 6px 0 6px 13px;
     color: #333 !important;
  }

  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #eee !important;
  }

}

/***
Dropdown Checkboxes (in v1.3)
***/
.dropdown-checkboxes {
  padding: 5px;
}

.dropdown-checkboxes label {
  display: block;
  font-weight: 300;
  color: #333;
  margin-bottom: 4px;
  margin-top: 4px; 
}


/***
Dropdown Menu Badges
***/

.dropdown-menu > li > a > .badge {
   position: absolute;
   margin-top: 1px;
   right: 3px;
   display: inline;
   font-size: 11px;
   font-weight: 300;
   text-shadow:none;
    height: 18px;
    padding: 3px 6px 3px 6px;
    text-align: center;
    vertical-align: middle;
   -webkit-border-radius: 12px !important;
      -moz-border-radius: 12px !important;
           border-radius: 12px !important;
}

.dropdown-menu > li > a > .badge.badge-roundless {
   -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
           border-radius: 0 !important;
}

/* end: sidebar menu badges */


/***
Progress Bars
***/

.progress {  
  border: 0; 
  background-image: none !important;
  filter: none !important;
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;   

}

.progress > .progress-bar-success {
  background-color: #3cc051;
}

.progress > .progress-bar-danger {
  background-color: #ed4e2a;
}

.progress > .progress-bar-info {
  background-color: #57b5e3;
}

.progress > .progress-bar-warning {
  background-color: #fcb322;
}


/***
Pagination
***/
.pagination {
  margin: 10px 0;
}

.pagination .active > a,
.pagination .active > a:hover {
  background: #eee;
  border-color: #dddddd;
  color: #333;
}



/***
Modal header close button fix
***/
.modal-header .close {
  margin-top: 0px !important;
}

.modal > .loading {
  position: absolute;
  top: 50%;
  left:50%;
  margin-top: -22px;
  margin-left: -22px;
}

.modal-backdrop {
  border: 0 !important;
  outline: none !important;
  z-index: 10049 !important;
}

.modal-backdrop, 
.modal-backdrop.fade.in {
  background-color: #333 !important;
}

/* fix: content shifting to the right on modal open due to scrollbar closed */
.modal {
  overflow-y: auto !important;
}

.modal-open {
  overflow-y: auto !important;
}

.modal-open-noscroll {
  overflow-y: hidden !important; 
}

