

@charset "utf-8";
/* CSS Document */
*{font-size:9pt;border:0;margin:0;padding:0;}
body{font-family:'微软雅黑'; margin:0 auto;min-width:980px;}
ul{display:block;margin:0;padding:0;list-style:none;}
li{display:block;margin:0;padding:0;list-style: none;}
img{border:0;}
dl,dt,dd,span{margin:0;padding:0;display:block;}
a,a:focus{text-decoration:none;color:#000;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#EB5409;text-decoration:none;}
table{border-collapse:collapse;border-spacing: 0;}
cite{font-style:normal;}
h2{font-weight:normal;}
#mainBody {width:100%;height:100%;position:absolute;z-index:-1;}
.cloud {position:absolute;top:0px;left:0px;width:100%;height:100%;background:url(../images/cloud.png) no-repeat;z-index:1;opacity:0.5;}
#cloud2 {z-index:2;}


/*login*/
.logintop{height:35px; line-height:35px; position:absolute; top:0; /* background:url(../images/loginbg1.png) repeat-x; */z-index:100; width:100%;}
.logintop span{color:#fff; line-height:35px; background:url(../images/loginsj.png) no-repeat  5px 10px; text-indent:24px; color:#fff; float:left;}
.logintop ul{float:right; padding-right:8px;}
.logintop ul li{float:left; margin-left:10px; line-height:35px;}
.logintop ul li a{color:#fff;}
.logintop ul li a:hover{color:#fff;}
.loginbody{width:100%;height:420px;  overflow:hidden; position:absolute; top:88px;}
.systemlogo{background:url(../images/loginlogo.png) no-repeat center;width:100%; height:71px; margin-top:140px;}
.loginbox {
    width: 660px;
    height: 260px;
    display: block;
    margin: 100px auto 0 auto;
    border-radius: 10px;
    overflow: hidden;
    padding-left:305px;
    background:#fff url(../images/bg_logo-test.png) no-repeat  -20px 14px;
}
.loginbox ul{margin-top:40px; margin-left:28px;}
.loginbox ul li{margin-bottom:12px;  position: relative;}
.loginbox ul li label {
    color: #4b4343;
    padding-left: 10px;
    height: 30px;
    font-weight: normal;
    line-height: 30px;
    width: 235px;
    float: right;
    padding-right: 0px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.loginbox ul li label a{color:#4b4343;}


.eyeclose{  position: absolute;   height: 14px;  width: 24px;background:url(../images/eyeclose.png) no-repeat;right: 30px;  top: 14px;}    
   
.eyeopen{  position: absolute;   height: 14px;
    width: 24px;
background:url(../images/eyeopen.png) no-repeat;
    right: 33px;
    top: 12px;}
    
 .loginbox ul li a{ cursor: pointer;}
.loginbox ul li label a:hover{color:#0b84ff;}
.loginbox ul li label input{margin-top:0px; margin-right:5px; vertical-align: middle;}
.loginuser{
	background: #efefef;
    border: medium none;
    color: #555;
    font-size: 12px;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
    width: 300px;
    border: 1px solid #63a6e7;
    border-radius: 3px;
	
	
	}
.loginpwd{   background: #efefef;
    border: medium none;
    color: #555;
    font-size: 12px;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
    width: 300px;
    border: 1px solid #63a6e7;
    border-radius: 3px;}
.loginpwd::-ms-clear,::-ms-reveal{display: none;}
.loginbtn { background: #1b9aff; border-radius: 4px; color: #fff;  display: block; float: left; font-size: 12px; font-weight: bold;  height: 30px; line-height: 30px;overflow: hidden; width: 80px;}
.loginbm{height:35px; line-height:35px; text-align:center; position:absolute; bottom:0; width:100%; color:#1967bc;}
.loginbm a{color:#fff8f5;}
.loginbm a:hover{color:#fff;}
.code_img img {
    padding: 3px;
    height: 40px;
    width: 115px;
    display: block;
    overflow: hidden;
    border: 1px solid #63a6e7;
    border-radius: 3px;
}
.loginbox h1{font-family:'微软雅黑'; font-size:14px; font-weight:normal; font-style:normal; color:#444; padding-left:30px; padding-top:0;}
.loginbox em{font-size:18px;font-style:normal; padding-right:10px;}
.yzm {background: #efefef; border: 1px solid #63a6e7; border-radius: 3px;  display: block;  float: left; height: 40px; color:#555;font-size:12px; line-height: 38px; margin-right: 8px; padding-left: 10px; width: 177px;}
.yzm input{background:none; border:none; width:183px; height:36px; line-height:36px;padding-left:15px;font-size:14px; color:#555;}
.yzm cite{float:right; width:114px; height:38px; line-height:38px; font-size:18px; color:#fff; text-align:center;}
.yzm img{  width: 100px; height: 36px;padding: 3px;  float: right;}
.loginbody1{background:url(../images/loginbg4.png) no-repeat center center; width:100%; height:585px; overflow:hidden; position:absolute; top:40px;}
.systemlogo{width:100%;text-align:center;height:140px!important;}
.loginbox0{width:810px;margin-top:0px;height:252px;}
.loginlist{width:810px; overflow:hidden;}
.loginlist{margin-top:110px;}
.loginlist li{float:left; margin-left:3px; margin-right:3px;}
.loginlist li a{ display:block;width:196px; height:252px; background:url(../images/lbg.png) no-repeat; text-align:center; padding-top:25px; cursor:pointer;}
.loginlist li a:hover{background:url(../images/lbg1.png) no-repeat;}
.loginlist li a p{font-size:16px; color:#fff; padding-top:10px;}
.box-shadow-1{  
  -webkit-box-shadow: 3px 5px 10px;  
  -moz-box-shadow: 3px 5px 10px;  
  box-shadow: 3px 5px 10px;  
}


/*footer*/
.footer{background:#F9ECD9; height:30px; border-top:solid 1px #ECCAAA; line-height:30px; color:#101112; }
.footer span{display:block; float:left; background:url(../images/info.png) no-repeat 11px 8px; padding-left:35px;}
.footer i{display:block; float:right; font-style:normal; margin-right:10px; background:url(../images/fjt.png) no-repeat right; padding-right:12px; }

.spinner {height: 40px;  font-weight:normal; line-height: 40px;float: left; width: 100%; text-align: center;font-size: 14px;}
.spinner > div {
  background-color: #7bc4ff;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) } 
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}