<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.material2.dao.DemandDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.material2.po.DemandDetails" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MAINID" property="mainid" jdbcType="VARCHAR" />
    <result column="WHBMID" property="whbmid" jdbcType="VARCHAR" />
    <result column="WHRID" property="whrid" jdbcType="VARCHAR" />
    <result column="WHSJ" property="whsj" jdbcType="TIMESTAMP" />
    <result column="WLLB" property="wllb" jdbcType="DECIMAL" />
    <result column="BJID" property="bjid" jdbcType="VARCHAR" />
    <result column="BJH" property="bjh" jdbcType="VARCHAR" />
    <result column="BJMC" property="bjmc" jdbcType="VARCHAR" />
    <result column="XINGH" property="xingh" jdbcType="VARCHAR" />
    <result column="GG" property="gg" jdbcType="VARCHAR" />
    <result column="JHLY" property="jhly" jdbcType="VARCHAR" />
    <result column="ZJH" property="zjh" jdbcType="VARCHAR" />
    <result column="ZJHMS" property="zjhms" jdbcType="VARCHAR" />
    <result column="BZJH" property="bzjh" jdbcType="VARCHAR" />
    <result column="XQSL" property="xqsl" jdbcType="DECIMAL" />
    <result column="DW" property="dw" jdbcType="VARCHAR" />
    <result column="XLH" property="xlh" jdbcType="VARCHAR" />
    <result column="THJ" property="thj" jdbcType="VARCHAR" />
    <result column="XQBS" property="xqbs" jdbcType="DECIMAL" />
    <result column="TBBS" property="tbbs" jdbcType="DECIMAL" />
    
    <result column="KCSL" property="paramsMap.kcsl" jdbcType="VARCHAR" />
    <result column="DJSL" property="paramsMap.djsl" jdbcType="VARCHAR" />
    <result column="TDJXX" property="paramsMap.tdjxx" jdbcType="VARCHAR" />
    
    <result column="BZZT" property="paramsMap.bzzt" jdbcType="VARCHAR" />
    <result column="BZBZ" property="paramsMap.bzbz" jdbcType="VARCHAR" />
    <result column="ZT" property="paramsMap.zt" jdbcType="VARCHAR" />
    <result column="bh" property="paramsMap.bh" jdbcType="VARCHAR" />
    <result column="jhsyrq" property="paramsMap.jhsyrq" jdbcType="TIMESTAMP" />
    <result column="demandid" property="paramsMap.demandid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, MAINID, WHBMID, WHRID, WHSJ, WLLB, BJID, BJH, BJMC, XINGH, GG, JHLY, ZJH, BZJH, 
    XQSL, DW, XLH, THJ, XQBS, TBBS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_H_02401
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_H_02401
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eray.thjw.material2.po.DemandDetails" >
    insert into B_H_02401 (ID, MAINID, WHBMID, 
      WHRID, WHSJ, WLLB, 
      BJID, BJH, BJMC, XINGH, 
      GG, JHLY, ZJH, BZJH, 
      XQSL, DW, XLH, THJ, 
      XQBS, TBBS)
    values (#{id,jdbcType=VARCHAR}, #{mainid,jdbcType=VARCHAR}, #{whbmid,jdbcType=VARCHAR}, 
      #{whrid,jdbcType=VARCHAR}, #{whsj,jdbcType=TIMESTAMP}, #{wllb,jdbcType=DECIMAL}, 
      #{bjid,jdbcType=VARCHAR}, #{bjh,jdbcType=VARCHAR}, #{bjmc,jdbcType=VARCHAR}, #{xingh,jdbcType=VARCHAR}, 
      #{gg,jdbcType=VARCHAR}, #{jhly,jdbcType=VARCHAR}, #{zjh,jdbcType=VARCHAR}, #{bzjh,jdbcType=VARCHAR}, 
      #{xqsl,jdbcType=DECIMAL}, #{dw,jdbcType=VARCHAR}, #{xlh,jdbcType=VARCHAR}, #{thj,jdbcType=VARCHAR}, 
      #{xqbs,jdbcType=DECIMAL}, #{tbbs,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.eray.thjw.material2.po.DemandDetails" >
    insert into B_H_02401
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="mainid != null" >
        MAINID,
      </if>
      <if test="whbmid != null" >
        WHBMID,
      </if>
      <if test="whrid != null" >
        WHRID,
      </if>
      <if test="whsj != null" >
        WHSJ,
      </if>
      <if test="wllb != null" >
        WLLB,
      </if>
      <if test="bjid != null" >
        BJID,
      </if>
      <if test="bjh != null" >
        BJH,
      </if>
      <if test="bjmc != null" >
        BJMC,
      </if>
      <if test="xingh != null" >
        XINGH,
      </if>
      <if test="gg != null" >
        GG,
      </if>
      <if test="jhly != null" >
        JHLY,
      </if>
      <if test="zjh != null" >
        ZJH,
      </if>
      <if test="bzjh != null" >
        BZJH,
      </if>
      <if test="xqsl != null" >
        XQSL,
      </if>
      <if test="dw != null" >
        DW,
      </if>
      <if test="xlh != null" >
        XLH,
      </if>
      <if test="thj != null" >
        THJ,
      </if>
      <if test="xqbs != null" >
        XQBS,
      </if>
      <if test="tbbs != null" >
        TBBS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mainid != null" >
        #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="whbmid != null" >
        #{whbmid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        #{whsj,jdbcType=TIMESTAMP},
      </if>
      <if test="wllb != null" >
        #{wllb,jdbcType=DECIMAL},
      </if>
      <if test="bjid != null" >
        #{bjid,jdbcType=VARCHAR},
      </if>
      <if test="bjh != null" >
        #{bjh,jdbcType=VARCHAR},
      </if>
      <if test="bjmc != null" >
        #{bjmc,jdbcType=VARCHAR},
      </if>
      <if test="xingh != null" >
        #{xingh,jdbcType=VARCHAR},
      </if>
      <if test="gg != null" >
        #{gg,jdbcType=VARCHAR},
      </if>
      <if test="jhly != null" >
        #{jhly,jdbcType=VARCHAR},
      </if>
      <if test="zjh != null" >
        #{zjh,jdbcType=VARCHAR},
      </if>
      <if test="bzjh != null" >
        #{bzjh,jdbcType=VARCHAR},
      </if>
      <if test="xqsl != null" >
        #{xqsl,jdbcType=DECIMAL},
      </if>
      <if test="dw != null" >
        #{dw,jdbcType=VARCHAR},
      </if>
      <if test="xlh != null" >
        #{xlh,jdbcType=VARCHAR},
      </if>
      <if test="thj != null" >
        #{thj,jdbcType=VARCHAR},
      </if>
      <if test="xqbs != null" >
        #{xqbs,jdbcType=DECIMAL},
      </if>
      <if test="tbbs != null" >
        #{tbbs,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eray.thjw.material2.po.DemandDetails" >
    update B_H_02401
    <set >
      <if test="mainid != null" >
        MAINID = #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="whbmid != null" >
        WHBMID = #{whbmid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        WHRID = #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        WHSJ = #{whsj,jdbcType=TIMESTAMP},
      </if>
      <if test="wllb != null" >
        WLLB = #{wllb,jdbcType=DECIMAL},
      </if>
      <if test="bjid != null" >
        BJID = #{bjid,jdbcType=VARCHAR},
      </if>
      <if test="bjh != null" >
        BJH = #{bjh,jdbcType=VARCHAR},
      </if>
      <if test="bjmc != null" >
        BJMC = #{bjmc,jdbcType=VARCHAR},
      </if>
      <if test="xingh != null" >
        XINGH = #{xingh,jdbcType=VARCHAR},
      </if>
      <if test="gg != null" >
        GG = #{gg,jdbcType=VARCHAR},
      </if>
      <if test="jhly != null" >
        JHLY = #{jhly,jdbcType=VARCHAR},
      </if>
      <if test="zjh != null" >
        ZJH = #{zjh,jdbcType=VARCHAR},
      </if>
      <if test="bzjh != null" >
        BZJH = #{bzjh,jdbcType=VARCHAR},
      </if>
      <if test="xqsl != null" >
        XQSL = #{xqsl,jdbcType=DECIMAL},
      </if>
      <if test="dw != null" >
        DW = #{dw,jdbcType=VARCHAR},
      </if>
      <if test="xlh != null" >
        XLH = #{xlh,jdbcType=VARCHAR},
      </if>
      <if test="thj != null" >
        THJ = #{thj,jdbcType=VARCHAR},
      </if>
      <if test="xqbs != null" >
        XQBS = #{xqbs,jdbcType=DECIMAL},
      </if>
      <if test="tbbs != null" >
        TBBS = #{tbbs,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eray.thjw.material2.po.DemandDetails" >
    update B_H_02401
    set MAINID = #{mainid,jdbcType=VARCHAR},
      WHBMID = #{whbmid,jdbcType=VARCHAR},
      WHRID = #{whrid,jdbcType=VARCHAR},
      WHSJ = #{whsj,jdbcType=TIMESTAMP},
      WLLB = #{wllb,jdbcType=DECIMAL},
      BJID = #{bjid,jdbcType=VARCHAR},
      BJH = #{bjh,jdbcType=VARCHAR},
      BJMC = #{bjmc,jdbcType=VARCHAR},
      XINGH = #{xingh,jdbcType=VARCHAR},
      GG = #{gg,jdbcType=VARCHAR},
      JHLY = #{jhly,jdbcType=VARCHAR},
      ZJH = #{zjh,jdbcType=VARCHAR},
      BZJH = #{bzjh,jdbcType=VARCHAR},
      XQSL = #{xqsl,jdbcType=DECIMAL},
      DW = #{dw,jdbcType=VARCHAR},
      XLH = #{xlh,jdbcType=VARCHAR},
      THJ = #{thj,jdbcType=VARCHAR},
      XQBS = #{xqbs,jdbcType=DECIMAL},
      TBBS = #{tbbs,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 删除不存在的需求明细 -->
  <delete id="deleteNotExist" parameterType="com.eray.thjw.material2.po.Demand" >
      DELETE FROM B_H_02401 
		WHERE MAINID = #{id,jdbcType=VARCHAR}
		<if test="details != null and details.size > 0">
            AND ID NOT IN 
            <foreach collection="details" item="item" index="index" open="(" close=")" separator=",">
			NVL(#{item.id,jdbcType=VARCHAR}, '0')
	   		</foreach>
        </if>
  </delete>
  
  <!-- 获取删除的id集合 -->
  <select id="getDeleteList" resultType="java.lang.String" parameterType="com.eray.thjw.material2.po.Demand" >
    select 
    	ID
    from B_H_02401
    WHERE MAINID = #{id,jdbcType=VARCHAR}
		<if test="details != null and details.size > 0">
            AND ID NOT IN 
            <foreach collection="details" item="item" index="index" open="(" close=")" separator=",">
			NVL(#{item.id,jdbcType=VARCHAR}, '0')
	   		</foreach>
        </if>
  </select>
  
  <select id="queryAllPageList" resultMap="BaseResultMap">
    SELECT 
     b1.ID, b1.MAINID, b1.WHBMID, b1.WHRID, b1.WHSJ, b1.WLLB, b1.BJID, Coalesce(d008.BJH,b1.bjh) bjh, Coalesce(d008.YWMS || ' ' || d008.zwms,b1.bjmc) BJMC, Coalesce(d008.XINGH,b1.xingh) xingh, Coalesce(d008.GG,b1.GG) GG, b1.JHLY, b1.BZJH, 
    b1.XQSL, b1.DW, b1.XLH, b1.THJ, b1.XQBS, b1.TBBS,H001.Kcsl,H001.Djsl,TDJXX,B2.BZZT,B2.BZBZ,D005.ZJH || ' ' || D005.YWMS ZJH,
    B3.ZT,b3.bh,b3.jhsyrq,b3.id demandid
    FROM B_H_02401 b1
    LEFT JOIN B_H_02801 B2 ON B1.ID=B2.ID
    LEFT JOIN B_H_024 B3 ON B1.MAINID= B3.ID
    LEFT JOIN d_008 d008 ON B1.bjh= d008.bjh and D008.DPRTCODE=#{paramsMap.dprtcode,jdbcType=VARCHAR}
    LEFT JOIN D_005 D005 ON B1.ZJH=D005.ZJH AND D005.DPRTCODE=#{paramsMap.dprtcode,jdbcType=VARCHAR}
    LEFT JOIN (SELECT H001.DPRTCODE,
                    H001.BJH,
                    SUM(H001.KCSL) KCSL,
                    SUM(H001.DJSL) DJSL
               FROM B_H_001 H001
              WHERE H001.DPRTCODE = #{paramsMap.dprtcode,jdbcType=VARCHAR}
                AND H001.ZT = 2
             
              GROUP BY H001.DPRTCODE, H001.BJH) H001
    ON H001.DPRTCODE = #{paramsMap.dprtcode,jdbcType=VARCHAR}
   AND H001.BJH = b1.bjh
   
  LEFT JOIN (SELECT D017.DPRTCODE,
                    D017.BJH,
                    WM_CONCAT(H001.TDJKCSL || '#_#' ||
                              H001.TDJDJSL) TDJXX
               FROM (SELECT D_017.DPRTCODE,
                            D_017.BJH,
                            D_017.TDJH,
                            D_017.TDJMS
                       FROM D_017
                      WHERE D_017.ZT = 1
                     UNION
                     SELECT D_017.DPRTCODE,
                            D_017.TDJH     BJH,
                            D_017.BJH      TDJH,
                            D_017.TDJMS
                       FROM D_017
                      WHERE D_017.KNXBS = 2
                        AND D_017.ZT = 1) D017
               LEFT JOIN (SELECT H001.DPRTCODE,
                                H001.BJH,
                                SUM(H001.KCSL) TDJKCSL,
                                SUM(H001.DJSL) TDJDJSL
                           FROM B_H_001 H001
                          WHERE H001.DPRTCODE = #{paramsMap.dprtcode,jdbcType=VARCHAR}
                            AND H001.ZT = 2
                          
                          GROUP BY H001.DPRTCODE, H001.BJH) H001
                 ON H001.DPRTCODE = D017.DPRTCODE
                AND H001.BJH = D017.TDJH
              GROUP BY D017.DPRTCODE, D017.BJH) D017
    ON D017.DPRTCODE = #{paramsMap.dprtcode,jdbcType=VARCHAR}
   AND D017.BJH = b1.bjh
    WHERE
     <if test="paramsMap != null and paramsMap.idList != null and paramsMap.idList != ''">
     B1.MAINID IN 
   	<foreach collection="paramsMap.idList" item="item" index="index" open="(" close=")" separator=",">
		#{item}
	</foreach>
     </if>
    <if test="paramsMap == null || paramsMap.idList == null || paramsMap.idList == ''">
    	B1.MAINID IS NULL
    </if>
     <!-- 关键字-->
    <if test="paramsMap != null and paramsMap.keyword != null and paramsMap.keyword != ''">
     	AND  (lower(b1.xlh) LIKE lower('%'||#{paramsMap.keyword}||'%') OR
     		  lower(b1.bjh) LIKE lower('%'||#{paramsMap.keyword}||'%')
       	)
    </if>
    
  	<choose>
    	<when test='pagination.sort == "auto"'>
    		  order by b3.bh 
    	</when>
    	<otherwise>
		    order by ${pagination.sort} ${pagination.order}
    	</otherwise>
	</choose>
    
   
   </select>
   
   
     <select id="queryDemandProtectionInfoList" resultMap="BaseResultMap">
    SELECT 
     b1.ID, b1.MAINID, b1.WHBMID, b1.WHRID, b1.WHSJ, b1.WLLB, b1.BJID, b1.BJH, b1.BJMC, b1.XINGH, b1.GG, b1.JHLY, b1.BZJH, 
    b1.XQSL, b1.DW, b1.XLH, b1.THJ, b1.XQBS
    FROM B_H_02801 B1 
    LEFT JOIN B_H_028 B2 ON B1.MAINID= B2.ID

    WHERE 1=1
    and b1.qrbs=1
     <if test="paramsMap != null and paramsMap.idList != null and paramsMap.idList != ''">
    and  B1.MAINID IN 
   	<foreach collection="paramsMap.idList" item="item" index="index" open="(" close=")" separator=",">
		#{item}
	</foreach>
     </if>
    <if test="paramsMap == null || paramsMap.idList == null || paramsMap.idList == ''">
    	and B1.MAINID IS NULL
    </if>
     <!-- 关键字-->
    <if test="paramsMap != null and paramsMap.keyword != null and paramsMap.keyword != ''">
     	AND  (lower(b1.xlh) LIKE lower('%'||#{paramsMap.keyword}||'%') OR
     		  lower(b1.bjh) LIKE lower('%'||#{paramsMap.keyword}||'%')
       	)
    </if>
   </select>
   
  <select id="selectByPrimaryMainid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
   	ID, MAINID, WHBMID, WHRID, WHSJ, WLLB, BJID, BJH, BJMC, XINGH, GG, JHLY, ZJH, BZJH, 
    XQSL, DW, XLH, THJ, XQBS, TBBS
    FROM B_H_02401 
    where MAINID = #{mainid,jdbcType=VARCHAR}
   </select>
   
   <delete id="deleteByPrimaryMainid" parameterType="java.lang.String" >
    delete from B_H_02401
    where MAINID = #{mainid,jdbcType=VARCHAR}
  </delete>
  
    <select id="getCurrentZt4Validation" parameterType="String" resultType="int">
	select xqbs from B_H_02401 where id=#{id, jdbcType=VARCHAR}
  </select>
  
  <!-- 查询部件的详细数据 -->
  <select id="queryPartListDetail" parameterType="com.eray.thjw.material2.po.Demand" 
  		resultType="com.eray.thjw.material2.po.DemandDetails">
		SELECT 
  			  D.HCLX AS WLLB, D.ID AS BJID, 
	          D.BJH , D.YWMS || ' ' || D.ZWMS AS BJMC, D.XINGH, D.GG, 
	          D.JHLY, D.ZJH, D.BZJH, D.JLDW AS DW,
	          D005.ZJH ||' '|| D005.YWMS AS ZJHMS
           FROM D_008 D
           LEFT JOIN D_005 D005
   			  ON D.ZJH = D005.ZJH AND D.DPRTCODE = D005.DPRTCODE AND D005.ZT = 1
           WHERE 1 = 1
           <if test="details != null and details.size > 0">
		      AND D.ID IN
     			 <foreach item="detail" index="index" collection="details" open="(" separator="," close=")">  
          			#{detail.bjid,jdbcType=VARCHAR}  
     			 </foreach>  
			</if>
			<if test="details != null and details.size == 0">
			  AND 1 = 0
			</if>
		    ORDER BY D.HCLX, D.BJH
	</select>
</mapper>