<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.material2.dao.DemandProtectionDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.material2.po.DemandProtectionDetails" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MAINID" property="mainid" jdbcType="VARCHAR" />
    <result column="WHBMID" property="whbmid" jdbcType="VARCHAR" />
    <result column="WHRID" property="whrid" jdbcType="VARCHAR" />
    <result column="WHSJ" property="whsj" jdbcType="TIMESTAMP" />
    <result column="WLLB" property="wllb" jdbcType="DECIMAL" />
    <result column="BJID" property="bjid" jdbcType="VARCHAR" />
    <result column="BJH" property="bjh" jdbcType="VARCHAR" />
    <result column="BJMC" property="bjmc" jdbcType="VARCHAR" />
    <result column="XINGH" property="xingh" jdbcType="VARCHAR" />
    <result column="GG" property="gg" jdbcType="VARCHAR" />
    <result column="JHLY" property="jhly" jdbcType="VARCHAR" />
    <result column="ZJH" property="zjh" jdbcType="VARCHAR" />
    <result column="BZJH" property="bzjh" jdbcType="VARCHAR" />
    <result column="XQSL" property="xqsl" jdbcType="DECIMAL" />
    <result column="DW" property="dw" jdbcType="VARCHAR" />
    <result column="XLH" property="xlh" jdbcType="VARCHAR" />
    <result column="THJ" property="thj" jdbcType="VARCHAR" />
    <result column="BZZT" property="bzzt" jdbcType="DECIMAL" />
    <result column="BZBZ" property="bzbz" jdbcType="VARCHAR" />
    <result column="XQBS" property="xqbs" jdbcType="DECIMAL" />
    <result column="QRBS" property="qrbs" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, MAINID, WHBMID, WHRID, WHSJ, WLLB, BJID, BJH, BJMC, XINGH, GG, JHLY, ZJH, BZJH, 
    XQSL, DW, XLH, THJ, BZZT, BZBZ, XQBS, QRBS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_H_02801
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_H_02801
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eray.thjw.material2.po.DemandProtectionDetails" >
    insert into B_H_02801 (ID, MAINID, WHBMID, 
      WHRID, WHSJ, WLLB, 
      BJID, BJH, BJMC, XINGH, 
      GG, JHLY, ZJH, BZJH, 
      XQSL, DW, XLH, THJ, 
      BZZT, BZBZ, XQBS, QRBS
      )
    values (#{id,jdbcType=VARCHAR}, #{mainid,jdbcType=VARCHAR}, #{whbmid,jdbcType=VARCHAR}, 
      #{whrid,jdbcType=VARCHAR}, #{whsj,jdbcType=TIMESTAMP}, #{wllb,jdbcType=DECIMAL}, 
      #{bjid,jdbcType=VARCHAR}, #{bjh,jdbcType=VARCHAR}, #{bjmc,jdbcType=VARCHAR}, #{xingh,jdbcType=VARCHAR}, 
      #{gg,jdbcType=VARCHAR}, #{jhly,jdbcType=VARCHAR}, #{zjh,jdbcType=VARCHAR}, #{bzjh,jdbcType=VARCHAR}, 
      #{xqsl,jdbcType=DECIMAL}, #{dw,jdbcType=VARCHAR}, #{xlh,jdbcType=VARCHAR}, #{thj,jdbcType=VARCHAR}, 
      #{bzzt,jdbcType=DECIMAL}, #{bzbz,jdbcType=VARCHAR}, #{xqbs,jdbcType=DECIMAL}, #{qrbs,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.eray.thjw.material2.po.DemandProtectionDetails" >
    insert into B_H_02801
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="mainid != null" >
        MAINID,
      </if>
      <if test="whbmid != null" >
        WHBMID,
      </if>
      <if test="whrid != null" >
        WHRID,
      </if>
      <if test="whsj != null" >
        WHSJ,
      </if>
      <if test="wllb != null" >
        WLLB,
      </if>
      <if test="bjid != null" >
        BJID,
      </if>
      <if test="bjh != null" >
        BJH,
      </if>
      <if test="bjmc != null" >
        BJMC,
      </if>
      <if test="xingh != null" >
        XINGH,
      </if>
      <if test="gg != null" >
        GG,
      </if>
      <if test="jhly != null" >
        JHLY,
      </if>
      <if test="zjh != null" >
        ZJH,
      </if>
      <if test="bzjh != null" >
        BZJH,
      </if>
      <if test="xqsl != null" >
        XQSL,
      </if>
      <if test="dw != null" >
        DW,
      </if>
      <if test="xlh != null" >
        XLH,
      </if>
      <if test="thj != null" >
        THJ,
      </if>
      <if test="bzzt != null" >
        BZZT,
      </if>
      <if test="bzbz != null" >
        BZBZ,
      </if>
      <if test="xqbs != null" >
        XQBS,
      </if>
      <if test="qrbs != null" >
        QRBS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mainid != null" >
        #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="whbmid != null" >
        #{whbmid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        #{whsj,jdbcType=TIMESTAMP},
      </if>
      <if test="wllb != null" >
        #{wllb,jdbcType=DECIMAL},
      </if>
      <if test="bjid != null" >
        #{bjid,jdbcType=VARCHAR},
      </if>
      <if test="bjh != null" >
        #{bjh,jdbcType=VARCHAR},
      </if>
      <if test="bjmc != null" >
        #{bjmc,jdbcType=VARCHAR},
      </if>
      <if test="xingh != null" >
        #{xingh,jdbcType=VARCHAR},
      </if>
      <if test="gg != null" >
        #{gg,jdbcType=VARCHAR},
      </if>
      <if test="jhly != null" >
        #{jhly,jdbcType=VARCHAR},
      </if>
      <if test="zjh != null" >
        #{zjh,jdbcType=VARCHAR},
      </if>
      <if test="bzjh != null" >
        #{bzjh,jdbcType=VARCHAR},
      </if>
      <if test="xqsl != null" >
        #{xqsl,jdbcType=DECIMAL},
      </if>
      <if test="dw != null" >
        #{dw,jdbcType=VARCHAR},
      </if>
      <if test="xlh != null" >
        #{xlh,jdbcType=VARCHAR},
      </if>
      <if test="thj != null" >
        #{thj,jdbcType=VARCHAR},
      </if>
      <if test="bzzt != null" >
        #{bzzt,jdbcType=DECIMAL},
      </if>
      <if test="bzbz != null" >
        #{bzbz,jdbcType=VARCHAR},
      </if>
      <if test="xqbs != null" >
        #{xqbs,jdbcType=DECIMAL},
      </if>
      <if test="qrbs != null" >
        #{qrbs,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eray.thjw.material2.po.DemandProtectionDetails" >
    update B_H_02801
    <set >
      <if test="mainid != null" >
        MAINID = #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="whbmid != null" >
        WHBMID = #{whbmid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        WHRID = #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        WHSJ = #{whsj,jdbcType=TIMESTAMP},
      </if>
      <if test="wllb != null" >
        WLLB = #{wllb,jdbcType=DECIMAL},
      </if>
      <if test="bjid != null" >
        BJID = #{bjid,jdbcType=VARCHAR},
      </if>
      <if test="bjh != null" >
        BJH = #{bjh,jdbcType=VARCHAR},
      </if>
      <if test="bjmc != null" >
        BJMC = #{bjmc,jdbcType=VARCHAR},
      </if>
      <if test="xingh != null" >
        XINGH = #{xingh,jdbcType=VARCHAR},
      </if>
      <if test="gg != null" >
        GG = #{gg,jdbcType=VARCHAR},
      </if>
      <if test="jhly != null" >
        JHLY = #{jhly,jdbcType=VARCHAR},
      </if>
      <if test="zjh != null" >
        ZJH = #{zjh,jdbcType=VARCHAR},
      </if>
      <if test="bzjh != null" >
        BZJH = #{bzjh,jdbcType=VARCHAR},
      </if>
      <if test="xqsl != null" >
        XQSL = #{xqsl,jdbcType=DECIMAL},
      </if>
      <if test="dw != null" >
        DW = #{dw,jdbcType=VARCHAR},
      </if>
      <if test="xlh != null" >
        XLH = #{xlh,jdbcType=VARCHAR},
      </if>
      <if test="thj != null" >
        THJ = #{thj,jdbcType=VARCHAR},
      </if>
      <if test="bzzt != null" >
        BZZT = #{bzzt,jdbcType=DECIMAL},
      </if>
      <if test="bzbz != null" >
        BZBZ = #{bzbz,jdbcType=VARCHAR},
      </if>
      <if test="xqbs != null" >
        XQBS = #{xqbs,jdbcType=DECIMAL},
      </if>
      <if test="qrbs != null" >
        QRBS = #{qrbs,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eray.thjw.material2.po.DemandProtectionDetails" >
    update B_H_02801
    set MAINID = #{mainid,jdbcType=VARCHAR},
      WHBMID = #{whbmid,jdbcType=VARCHAR},
      WHRID = #{whrid,jdbcType=VARCHAR},
      WHSJ = #{whsj,jdbcType=TIMESTAMP},
      WLLB = #{wllb,jdbcType=DECIMAL},
      BJID = #{bjid,jdbcType=VARCHAR},
      BJH = #{bjh,jdbcType=VARCHAR},
      BJMC = #{bjmc,jdbcType=VARCHAR},
      XINGH = #{xingh,jdbcType=VARCHAR},
      GG = #{gg,jdbcType=VARCHAR},
      JHLY = #{jhly,jdbcType=VARCHAR},
      ZJH = #{zjh,jdbcType=VARCHAR},
      BZJH = #{bzjh,jdbcType=VARCHAR},
      XQSL = #{xqsl,jdbcType=DECIMAL},
      DW = #{dw,jdbcType=VARCHAR},
      XLH = #{xlh,jdbcType=VARCHAR},
      THJ = #{thj,jdbcType=VARCHAR},
      BZZT = #{bzzt,jdbcType=DECIMAL},
      BZBZ = #{bzbz,jdbcType=VARCHAR},
      XQBS = #{xqbs,jdbcType=DECIMAL},
      QRBS = #{qrbs,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>