<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.material2.dao.DemandProtectionMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.material2.po.DemandProtection" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="DPRTCODE" property="dprtcode" jdbcType="VARCHAR" />
    <result column="WHBMID" property="whbmid" jdbcType="VARCHAR" />
    <result column="WHRID" property="whrid" jdbcType="VARCHAR" />
    <result column="WHSJ" property="whsj" jdbcType="TIMESTAMP" />
    <result column="BH" property="bh" jdbcType="VARCHAR" />
    <result column="JJCD" property="jjcd" jdbcType="DECIMAL" />
    <result column="IS_YXFX" property="isYxfx" jdbcType="DECIMAL" />
    <result column="IS_FJHTC" property="isFjhtc" jdbcType="DECIMAL" />
    <result column="XQLB" property="xqlb" jdbcType="VARCHAR" />
    <result column="JHSYRQ" property="jhsyrq" jdbcType="TIMESTAMP" />
    <result column="SJBJH" property="sjbjh" jdbcType="VARCHAR" />
    <result column="SJBJMC" property="sjbjmc" jdbcType="VARCHAR" />
    <result column="FJZCH" property="fjzch" jdbcType="VARCHAR" />
    <result column="XLH" property="xlh" jdbcType="VARCHAR" />
    <result column="FXSJ" property="fxsj" jdbcType="DECIMAL" />
    <result column="FXXH" property="fxxh" jdbcType="DECIMAL" />
    <result column="XQYY" property="xqyy" jdbcType="VARCHAR" />
    <result column="GMJY" property="gmjy" jdbcType="VARCHAR" />
    <result column="SQRID" property="sqrid" jdbcType="VARCHAR" />
    <result column="SQSJ" property="sqsj" jdbcType="TIMESTAMP" />
    <result column="SQBMID" property="sqbmid" jdbcType="VARCHAR" />
    <result column="JHBMID" property="jhbmid" jdbcType="VARCHAR" />
    <result column="JHRID" property="jhrid" jdbcType="VARCHAR" />
    <result column="JHSJ" property="jhsj" jdbcType="TIMESTAMP" />
    <result column="JHYJ" property="jhyj" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DPRTCODE, WHBMID, WHRID, WHSJ, BH, JJCD, IS_YXFX, IS_FJHTC, XQLB, JHSYRQ, SJBJH, 
    SJBJMC, FJZCH, XLH, FXSJ, FXXH, XQYY, GMJY, SQRID, SQSJ, SQBMID, JHBMID, JHRID, JHSJ, 
    JHYJ
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_H_028
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_H_028
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eray.thjw.material2.po.DemandProtection" >
    insert into B_H_028 (ID, DPRTCODE, WHBMID, 
      WHRID, WHSJ, BH, 
      JJCD, IS_YXFX, IS_FJHTC, 
      XQLB, JHSYRQ, SJBJH, 
      SJBJMC, FJZCH, XLH, 
      FXSJ, FXXH, XQYY, GMJY, 
      SQRID, SQSJ, SQBMID, 
      JHBMID, JHRID, JHSJ, 
      JHYJ)
    values (#{id,jdbcType=VARCHAR}, #{dprtcode,jdbcType=VARCHAR}, #{whbmid,jdbcType=VARCHAR}, 
      #{whrid,jdbcType=VARCHAR}, #{whsj,jdbcType=TIMESTAMP}, #{bh,jdbcType=VARCHAR}, 
      #{jjcd,jdbcType=DECIMAL}, #{isYxfx,jdbcType=DECIMAL}, #{isFjhtc,jdbcType=DECIMAL}, 
      #{xqlb,jdbcType=VARCHAR}, #{jhsyrq,jdbcType=TIMESTAMP}, #{sjbjh,jdbcType=VARCHAR}, 
      #{sjbjmc,jdbcType=VARCHAR}, #{fjzch,jdbcType=VARCHAR}, #{xlh,jdbcType=VARCHAR}, 
      #{fxsj,jdbcType=DECIMAL}, #{fxxh,jdbcType=DECIMAL}, #{xqyy,jdbcType=VARCHAR}, #{gmjy,jdbcType=VARCHAR}, 
      #{sqrid,jdbcType=VARCHAR}, #{sqsj,jdbcType=TIMESTAMP}, #{sqbmid,jdbcType=VARCHAR}, 
      #{jhbmid,jdbcType=VARCHAR}, #{jhrid,jdbcType=VARCHAR}, #{jhsj,jdbcType=TIMESTAMP}, 
      #{jhyj,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eray.thjw.material2.po.DemandProtection" >
    insert into B_H_028
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="dprtcode != null" >
        DPRTCODE,
      </if>
      <if test="whbmid != null" >
        WHBMID,
      </if>
      <if test="whrid != null" >
        WHRID,
      </if>
      <if test="whsj != null" >
        WHSJ,
      </if>
      <if test="bh != null" >
        BH,
      </if>
      <if test="jjcd != null" >
        JJCD,
      </if>
      <if test="isYxfx != null" >
        IS_YXFX,
      </if>
      <if test="isFjhtc != null" >
        IS_FJHTC,
      </if>
      <if test="xqlb != null" >
        XQLB,
      </if>
      <if test="jhsyrq != null" >
        JHSYRQ,
      </if>
      <if test="sjbjh != null" >
        SJBJH,
      </if>
      <if test="sjbjmc != null" >
        SJBJMC,
      </if>
      <if test="fjzch != null" >
        FJZCH,
      </if>
      <if test="xlh != null" >
        XLH,
      </if>
      <if test="fxsj != null" >
        FXSJ,
      </if>
      <if test="fxxh != null" >
        FXXH,
      </if>
      <if test="xqyy != null" >
        XQYY,
      </if>
      <if test="gmjy != null" >
        GMJY,
      </if>
      <if test="sqrid != null" >
        SQRID,
      </if>
      <if test="sqsj != null" >
        SQSJ,
      </if>
      <if test="sqbmid != null" >
        SQBMID,
      </if>
      <if test="jhbmid != null" >
        JHBMID,
      </if>
      <if test="jhrid != null" >
        JHRID,
      </if>
      <if test="jhsj != null" >
        JHSJ,
      </if>
      <if test="jhyj != null" >
        JHYJ,
      </if>
      <if test="lylx != null" >
        LYLX,
      </if>
      <if test="lyid != null" >
        LYID,
      </if>
      <if test="lybh != null" >
        LYBH,
      </if>
      <if test="bs145 != null" >
        BS145,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dprtcode != null" >
        #{dprtcode,jdbcType=VARCHAR},
      </if>
      <if test="whbmid != null" >
        #{whbmid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        #{whsj,jdbcType=TIMESTAMP},
      </if>
      <if test="bh != null" >
        #{bh,jdbcType=VARCHAR},
      </if>
      <if test="jjcd != null" >
        #{jjcd,jdbcType=DECIMAL},
      </if>
      <if test="isYxfx != null" >
        #{isYxfx,jdbcType=DECIMAL},
      </if>
      <if test="isFjhtc != null" >
        #{isFjhtc,jdbcType=DECIMAL},
      </if>
      <if test="xqlb != null" >
        #{xqlb,jdbcType=VARCHAR},
      </if>
      <if test="jhsyrq != null" >
        #{jhsyrq,jdbcType=TIMESTAMP},
      </if>
      <if test="sjbjh != null" >
        #{sjbjh,jdbcType=VARCHAR},
      </if>
      <if test="sjbjmc != null" >
        #{sjbjmc,jdbcType=VARCHAR},
      </if>
      <if test="fjzch != null" >
        #{fjzch,jdbcType=VARCHAR},
      </if>
      <if test="xlh != null" >
        #{xlh,jdbcType=VARCHAR},
      </if>
      <if test="fxsj != null" >
        #{fxsj,jdbcType=DECIMAL},
      </if>
      <if test="fxxh != null" >
        #{fxxh,jdbcType=DECIMAL},
      </if>
      <if test="xqyy != null" >
        #{xqyy,jdbcType=VARCHAR},
      </if>
      <if test="gmjy != null" >
        #{gmjy,jdbcType=VARCHAR},
      </if>
      <if test="sqrid != null" >
        #{sqrid,jdbcType=VARCHAR},
      </if>
      <if test="sqsj != null" >
        #{sqsj,jdbcType=TIMESTAMP},
      </if>
      <if test="sqbmid != null" >
        #{sqbmid,jdbcType=VARCHAR},
      </if>
      <if test="jhbmid != null" >
        #{jhbmid,jdbcType=VARCHAR},
      </if>
      <if test="jhrid != null" >
        #{jhrid,jdbcType=VARCHAR},
      </if>
      <if test="jhsj != null" >
        #{jhsj,jdbcType=TIMESTAMP},
      </if>
      <if test="jhyj != null" >
        #{jhyj,jdbcType=VARCHAR},
      </if>
      <if test="lylx != null" >
        #{lylx,jdbcType=DECIMAL},
      </if>
      <if test="lyid != null" >
        #{lyid,jdbcType=VARCHAR},
      </if>
      <if test="lybh != null" >
        #{lybh,jdbcType=VARCHAR},
      </if>
      <if test="bs145 != null" >
        #{bs145,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eray.thjw.material2.po.DemandProtection" >
    update B_H_028
    <set >
      <if test="dprtcode != null" >
        DPRTCODE = #{dprtcode,jdbcType=VARCHAR},
      </if>
      <if test="whbmid != null" >
        WHBMID = #{whbmid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        WHRID = #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        WHSJ = #{whsj,jdbcType=TIMESTAMP},
      </if>
      <if test="bh != null" >
        BH = #{bh,jdbcType=VARCHAR},
      </if>
      <if test="jjcd != null" >
        JJCD = #{jjcd,jdbcType=DECIMAL},
      </if>
      <if test="isYxfx != null" >
        IS_YXFX = #{isYxfx,jdbcType=DECIMAL},
      </if>
      <if test="isFjhtc != null" >
        IS_FJHTC = #{isFjhtc,jdbcType=DECIMAL},
      </if>
      <if test="xqlb != null" >
        XQLB = #{xqlb,jdbcType=VARCHAR},
      </if>
      <if test="jhsyrq != null" >
        JHSYRQ = #{jhsyrq,jdbcType=TIMESTAMP},
      </if>
      <if test="sjbjh != null" >
        SJBJH = #{sjbjh,jdbcType=VARCHAR},
      </if>
      <if test="sjbjmc != null" >
        SJBJMC = #{sjbjmc,jdbcType=VARCHAR},
      </if>
      <if test="fjzch != null" >
        FJZCH = #{fjzch,jdbcType=VARCHAR},
      </if>
      <if test="xlh != null" >
        XLH = #{xlh,jdbcType=VARCHAR},
      </if>
      <if test="fxsj != null" >
        FXSJ = #{fxsj,jdbcType=DECIMAL},
      </if>
      <if test="fxxh != null" >
        FXXH = #{fxxh,jdbcType=DECIMAL},
      </if>
      <if test="xqyy != null" >
        XQYY = #{xqyy,jdbcType=VARCHAR},
      </if>
      <if test="gmjy != null" >
        GMJY = #{gmjy,jdbcType=VARCHAR},
      </if>
      <if test="sqrid != null" >
        SQRID = #{sqrid,jdbcType=VARCHAR},
      </if>
      <if test="sqsj != null" >
        SQSJ = #{sqsj,jdbcType=TIMESTAMP},
      </if>
      <if test="sqbmid != null" >
        SQBMID = #{sqbmid,jdbcType=VARCHAR},
      </if>
      <if test="jhbmid != null" >
        JHBMID = #{jhbmid,jdbcType=VARCHAR},
      </if>
      <if test="jhrid != null" >
        JHRID = #{jhrid,jdbcType=VARCHAR},
      </if>
      <if test="jhsj != null" >
        JHSJ = #{jhsj,jdbcType=TIMESTAMP},
      </if>
      <if test="jhyj != null" >
        JHYJ = #{jhyj,jdbcType=VARCHAR},
      </if>
      <if test="lylx != null" >
        LYLX = #{lylx,jdbcType=DECIMAL},
      </if>
      <if test="lyid != null" >
        LYID = #{lyid,jdbcType=VARCHAR},
      </if>
      <if test="lybh != null" >
        LYBH = #{lybh,jdbcType=VARCHAR},
      </if>
      <if test="bs145 != null" >
        BS145 = #{bs145,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eray.thjw.material2.po.DemandProtection" >
    update B_H_028
    set DPRTCODE = #{dprtcode,jdbcType=VARCHAR},
      WHBMID = #{whbmid,jdbcType=VARCHAR},
      WHRID = #{whrid,jdbcType=VARCHAR},
      WHSJ = #{whsj,jdbcType=TIMESTAMP},
      BH = #{bh,jdbcType=VARCHAR},
      JJCD = #{jjcd,jdbcType=DECIMAL},
      IS_YXFX = #{isYxfx,jdbcType=DECIMAL},
      IS_FJHTC = #{isFjhtc,jdbcType=DECIMAL},
      XQLB = #{xqlb,jdbcType=VARCHAR},
      JHSYRQ = #{jhsyrq,jdbcType=TIMESTAMP},
      SJBJH = #{sjbjh,jdbcType=VARCHAR},
      SJBJMC = #{sjbjmc,jdbcType=VARCHAR},
      FJZCH = #{fjzch,jdbcType=VARCHAR},
      XLH = #{xlh,jdbcType=VARCHAR},
      FXSJ = #{fxsj,jdbcType=DECIMAL},
      FXXH = #{fxxh,jdbcType=DECIMAL},
      XQYY = #{xqyy,jdbcType=VARCHAR},
      GMJY = #{gmjy,jdbcType=VARCHAR},
      SQRID = #{sqrid,jdbcType=VARCHAR},
      SQSJ = #{sqsj,jdbcType=TIMESTAMP},
      SQBMID = #{sqbmid,jdbcType=VARCHAR},
      JHBMID = #{jhbmid,jdbcType=VARCHAR},
      JHRID = #{jhrid,jdbcType=VARCHAR},
      JHSJ = #{jhsj,jdbcType=TIMESTAMP},
      JHYJ = #{jhyj,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>