<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.material2.dao.DestroyMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.material2.po.Destroy" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="DPRTCODE" property="dprtcode" jdbcType="VARCHAR" />
    <result column="WHBMID" property="whbmid" jdbcType="VARCHAR" />
    <result column="WHRID" property="whrid" jdbcType="VARCHAR" />
    <result column="WHSJ" property="whsj" jdbcType="TIMESTAMP" />
    <result column="XHBMID" property="xhbmid" jdbcType="VARCHAR" />
    <result column="XHRID" property="xhrid" jdbcType="VARCHAR" />
    <result column="XHSJ" property="xhsj" jdbcType="TIMESTAMP" />
    <result column="ZT" property="zt" jdbcType="DECIMAL" />
    <result column="BFMXID" property="bfmxid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DPRTCODE, WHBMID, WHRID, WHSJ, XHBMID, XHRID, XHSJ, ZT, BFMXID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_H2_021
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_H2_021
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eray.thjw.material2.po.Destroy" >
    insert into B_H2_021 (ID, DPRTCODE, WHBMID, 
      WHRID, WHSJ, XHBMID, 
      XHRID, XHSJ, ZT, 
      BFMXID)
    values (#{id,jdbcType=VARCHAR}, #{dprtcode,jdbcType=VARCHAR}, #{whbmid,jdbcType=VARCHAR}, 
      #{whrid,jdbcType=VARCHAR}, #{whsj,jdbcType=TIMESTAMP}, #{xhbmid,jdbcType=VARCHAR}, 
      #{xhrid,jdbcType=VARCHAR}, #{xhsj,jdbcType=TIMESTAMP}, #{zt,jdbcType=DECIMAL}, 
      #{bfmxid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eray.thjw.material2.po.Destroy" >
    insert into B_H2_021
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="dprtcode != null" >
        DPRTCODE,
      </if>
      <if test="whbmid != null" >
        WHBMID,
      </if>
      <if test="whrid != null" >
        WHRID,
      </if>
      <if test="whsj != null" >
        WHSJ,
      </if>
      <if test="xhbmid != null" >
        XHBMID,
      </if>
      <if test="xhrid != null" >
        XHRID,
      </if>
      <if test="xhsj != null" >
        XHSJ,
      </if>
      <if test="zt != null" >
        ZT,
      </if>
      <if test="bfmxid != null" >
        BFMXID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dprtcode != null" >
        #{dprtcode,jdbcType=VARCHAR},
      </if>
      <if test="whbmid != null" >
        #{whbmid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        #{whsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xhbmid != null" >
        #{xhbmid,jdbcType=VARCHAR},
      </if>
      <if test="xhrid != null" >
        #{xhrid,jdbcType=VARCHAR},
      </if>
      <if test="xhsj != null" >
        #{xhsj,jdbcType=TIMESTAMP},
      </if>
      <if test="zt != null" >
        #{zt,jdbcType=DECIMAL},
      </if>
      <if test="bfmxid != null" >
        #{bfmxid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eray.thjw.material2.po.Destroy" >
    update B_H2_021
    <set >
      <if test="dprtcode != null" >
        DPRTCODE = #{dprtcode,jdbcType=VARCHAR},
      </if>
      <if test="whbmid != null" >
        WHBMID = #{whbmid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        WHRID = #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        WHSJ = #{whsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xhbmid != null" >
        XHBMID = #{xhbmid,jdbcType=VARCHAR},
      </if>
      <if test="xhrid != null" >
        XHRID = #{xhrid,jdbcType=VARCHAR},
      </if>
      <if test="xhsj != null" >
        XHSJ = #{xhsj,jdbcType=TIMESTAMP},
      </if>
      <if test="zt != null" >
        ZT = #{zt,jdbcType=DECIMAL},
      </if>
      <if test="bfmxid != null" >
        BFMXID = #{bfmxid,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eray.thjw.material2.po.Destroy" >
    update B_H2_021
    set DPRTCODE = #{dprtcode,jdbcType=VARCHAR},
      WHBMID = #{whbmid,jdbcType=VARCHAR},
      WHRID = #{whrid,jdbcType=VARCHAR},
      WHSJ = #{whsj,jdbcType=TIMESTAMP},
      XHBMID = #{xhbmid,jdbcType=VARCHAR},
      XHRID = #{xhrid,jdbcType=VARCHAR},
      XHSJ = #{xhsj,jdbcType=TIMESTAMP},
      ZT = #{zt,jdbcType=DECIMAL},
      BFMXID = #{bfmxid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <!-- 待销毁 -->
  <select id="getAllPageList" parameterType="com.eray.thjw.material2.po.Destroy" resultType="map">
  	SELECT H200901.ID, --报废明细id
			 H2009.bfdh,
		H2009.id bfid,--报废主表id
       D008.HCLX, --航材类型：0其他、1航材、2设备（改为工具设备）、3工具（废弃）、4危险品（改为化工品）、5低值易耗品、6松散件
       H017.BJID, --部件ID
       H017.BJH, --部件号
       H017.PCH, --批次号
       H017.SN, --序列号
       H017.CKLB, --仓库类别：1待处理库、2不可用库、3待修库、5可用库
       H017.CKH, --仓库编号
       H017.CKH || ' ' || H017.CKMC || ' ' || H017.KWH WZ, --位置
       H017.KWH, --库位编号
       H017.GG, --规格
       H017.XH, --型号
		H017.HCLY,
       H200901.KCSL BFSL, --报废数量
		D008.JLDW, --计量单位
		D008.ZWMS,
		D008.YWMS,
       H017.CQID, --产权ID
       D026.CQBH, --产权编号
       D026.FJZCH, --产权-飞机注册号
       D026.GSMC, --产权-公司名称
       ROUND(BH032.CB * H200901.KCSL, 2) ZCB, --成本
       ROUND(BH032.JZ * H200901.KCSL, 2) ZJZ, --价值
       BH032.CB KCCB,
       BH032.CBBZ BIZ,
       BH032.JZ,
       BH032.JZBZ,
       TO_CHAR(H017.RKSJ, 'yyyy-mm-dd') RKRQ, --入库日期
       TO_CHAR(H017.HJSM, 'yyyy-mm-dd') HJSM, --货架寿命
       TRUNC(H017.HJSM - SYSDATE) SYTS, --剩余天数
       H2009.SM, --说明
       TUSER.USERNAME || ' ' || TUSER.REALNAME SQR, --申请人
       TO_CHAR(H2009.bfrq, 'YYYY-MM-DD') bfrq --报废日期
  FROM B_H2_00901 H200901
  JOIN B_H2_009 H2009
    ON H200901.ZT = 1
   AND H200901.MAINID = H2009.ID
   AND H2009.ZT = 3
  LEFT JOIN B_H2_021 H2021
    ON H2021.ZT = 1
   AND H200901.ID = H2021.BFMXID
	LEFT JOIN B_H_017 H017
    ON H017.ID = H200901.KCllID
  LEFT JOIN D_008 D008
    ON H2009.DPRTCODE = D008.DPRTCODE
   AND H017.BJH = D008.BJH
  LEFT JOIN D_026 D026
    ON D026.ID = H017.cqid
  LEFT JOIN T_USER TUSER
    ON TUSER.ID = H2009.SQRID
 left join b_h_032 BH032 
	on H017.dprtcode = BH032.dprtcode 
	and COALESCE(H017.sn, '-')=COALESCE(BH032.xlh,'-') 
	and COALESCE(H017.pch,'-')=COALESCE(BH032.pch,'-') 
	and H017.bjh = BH032.bjh
 WHERE H2021.ID IS NULL
   	<include refid="paramSearch"></include>
   	<choose>
		<when test='pagination.sort == "auto"'>
			ORDER BY H017.CKH ASC, H017.KWH ASC
		</when>
		<otherwise>
			order by ${pagination.sort} ${pagination.order}
		</otherwise>
	</choose>
  </select>
  <sql id="paramSearch">
  	<if test="paramsMap != null and paramsMap.hc != null and paramsMap.hc != ''">
  		AND (D008.HCLX IN (0, 1, 4, 5, 6) OR D008.HCLX IS NULL)
  	</if>
  	<if test="paramsMap != null and paramsMap.tool != null and paramsMap.tool != ''">
  		AND (D008.HCLX IN (2,3) )
  	</if>
  	<if test="paramsMap != null and paramsMap.bfrqBegin != null and paramsMap.bfrqBegin != ''">
			and H2009.bfrq &gt;= to_date(#{paramsMap.bfrqBegin, jdbcType=VARCHAR},'YYYY-MM-DD HH24:MI:SS')
	</if>
	<if test="paramsMap != null and paramsMap.bfrqEnd != null and paramsMap.bfrqEnd != ''">
		and H2009.bfrq &lt;= to_date(#{paramsMap.bfrqEnd, jdbcType=VARCHAR},'YYYY-MM-DD HH24:MI:SS')
	</if>
 	<if test="paramsMap != null and paramsMap.xhsjBegin != null and paramsMap.xhsjBegin != ''">
			and H2021.xhsj &gt;= to_date(#{paramsMap.xhsjBegin, jdbcType=VARCHAR},'YYYY-MM-DD HH24:MI:SS')
	</if>
	<if test="paramsMap != null and paramsMap.xhsjEnd != null and paramsMap.xhsjEnd != ''">
		and H2021.xhsj &lt;= to_date(#{paramsMap.xhsjEnd, jdbcType=VARCHAR},'YYYY-MM-DD HH24:MI:SS')
	</if>
	<if test="paramsMap != null and paramsMap.hcly != null and paramsMap.hcly != ''">
		and H017.HCLY = #{paramsMap.hcly, jdbcType=VARCHAR}
	</if>
	<if test="keyword != null and keyword != ''">
		and ( lower(H2009.bfdh) like lower('%'||#{keyword}||'%')
		 	OR lower(H017.PCH) like lower('%'||#{keyword}||'%')
		 	OR lower(D008.YWMS) like lower('%'||#{keyword}||'%')
		 	OR lower(D008.ZWMS) like lower('%'||#{keyword}||'%')
		 	OR lower(H017.SN) like lower('%'||#{keyword}||'%')
		 	OR lower(H2009.SM) like lower('%'||#{keyword}||'%')
			OR lower(H017.BJH) like lower('%'||#{keyword}||'%'))   
	</if>
	<if test="dprtcode != null and dprtcode != ''">
		and H2009.dprtcode = #{dprtcode}
	</if>
	<if test="id != null and id != ''">
		and H200901.id = #{id}
	</if>
  </sql>
  <!-- 存在销毁状态数据 -->
  <select id="getCount4ValidDestroy" parameterType="list" resultType="int">
  	SELECT
	COUNT (1)
	FROM
	b_h2_021 WHERE 1= 1 and zt =1
	and BFMXID in
	 <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
	  		#{item}  
	 </foreach>  
  </select>
  <!-- 已销毁 -->
  <select id="getAllDestroyList" parameterType="com.eray.thjw.material2.po.Destroy" resultType="map">
  	SELECT H200901.ID, --报废明细ID
  		H2009.bfdh,
  		H2009.id bfid,--报废主表id
       D008.HCLX, --航材类型：0其他、1航材、2设备（改为工具设备）、3工具（废弃）、4危险品（改为化工品）、5低值易耗品、6松散件
       H017.BJID, --部件ID
       H017.BJH, --部件号
       H017.PCH, --批次号
       H017.SN, --序列号
       H017.CKLB, --仓库类别：1待处理库、2不可用库、3待修库、5可用库
       H017.CKH, --仓库编号
       H017.CKH || ' ' || H017.CKMC || ' ' || H017.KWH WZ, --位置
       H017.KWH, --库位编号
       H017.GG, --规格
       H017.XH, --型号
       H017.HCLY, 
       H200901.KCSL BFSL, --报废数量
       D008.JLDW, --计量单位
		D008.ZWMS,
		D008.YWMS,
       H017.CQID, --产权ID
       D026.CQBH, --产权编号
       D026.FJZCH, --产权-飞机注册号
       D026.GSMC, --产权-公司名称
      ROUND(BH032.CB * H200901.KCSL, 2) ZCB, --成本
       ROUND(BH032.JZ * H200901.KCSL, 2) ZJZ, --价值
       BH032.CB KCCB,
       BH032.CBBZ BIZ,
       BH032.JZ,
       BH032.JZBZ,
       TO_CHAR(H017.RKSJ, 'yyyy-mm-dd') RKRQ, --入库日期
       TO_CHAR(H017.HJSM, 'yyyy-mm-dd') HJSM, --货架寿命
       TRUNC(H017.HJSM - SYSDATE) SYTS, --剩余天数
       H2021.XHSJ, --销毁时间
       TUSER.USERNAME || ' ' || TUSER.REALNAME XHR, --销毁人
       H2009.SM, --说明
       TUSER2.USERNAME || ' ' || TUSER2.REALNAME SQR, --申请人
       TO_CHAR(H2009.bfrq, 'YYYY-MM-DD') bfrq --报废日期
  FROM B_H2_00901 H200901
  JOIN B_H2_009 H2009
    ON H200901.ZT = 1
   AND H200901.MAINID = H2009.ID
   AND H2009.ZT = 3
  JOIN B_H2_021 H2021
    ON H2021.ZT = 1
   AND H200901.ID = H2021.BFMXID
 LEFT JOIN B_H_017 H017
    ON H017.ID = H200901.KCllID
  LEFT JOIN D_008 D008
    ON H2009.DPRTCODE = D008.DPRTCODE
   AND H017.BJH = D008.BJH
  LEFT JOIN D_026 D026
    ON D026.ID = H017.cqid
  LEFT JOIN T_USER TUSER
    ON TUSER.ID = H2021.XHRID
  LEFT JOIN T_USER TUSER2
    ON TUSER2.ID = H2009.SQRID
left join b_h_032 BH032 
	on H017.dprtcode = BH032.dprtcode 
	and COALESCE(H017.sn, '-')=COALESCE(BH032.xlh,'-') 
	and COALESCE(H017.pch,'-')=COALESCE(BH032.pch,'-') 
	and H017.bjh = BH032.bjh
 WHERE  1=1
 	<include refid="paramSearch"></include>
	<choose>
		<when test='pagination.sort == "auto"'>
			ORDER BY H017.CKH ASC, H017.KWH ASC
		</when>
		<otherwise>
			order by ${pagination.sort} ${pagination.order}
		</otherwise>
	</choose>
  </select>
  <select id="getCount4ValidRevoke" parameterType="list" resultType="int">
  	SELECT
	COUNT (1)
	FROM
	b_h2_021 WHERE 1= 1 and zt =11
	and BFMXID in
	 <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
	  		#{item}  
	 </foreach>  
  </select>
  <update id="update4Revoke" parameterType="com.eray.thjw.material2.po.Destroy">
  	update B_H2_021
    set
      WHBMID = #{whbmid,jdbcType=VARCHAR},
      WHRID = #{whrid,jdbcType=VARCHAR},
      WHSJ = #{whsj,jdbcType=TIMESTAMP},
      XHBMID = #{xhbmid,jdbcType=VARCHAR},
      XHRID = #{xhrid,jdbcType=VARCHAR},
      XHSJ = #{xhsj,jdbcType=TIMESTAMP},
      ZT = #{zt,jdbcType=DECIMAL}
    where BFMXID = #{bfmxid,jdbcType=VARCHAR}
  </update>
  <select id="selectByBfmxid" parameterType="string" resultType="com.eray.thjw.material2.po.Destroy">
  	select 
    <include refid="Base_Column_List" />
    from B_H2_021
    where BFMXID = #{bfmxid,jdbcType=VARCHAR}
  </select>
</mapper>