<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.material2.dao.MaterialBatchInfoMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.material2.po.MaterialBatchInfo" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="DPRTCODE" property="dprtcode" jdbcType="VARCHAR" />
    <result column="WHSJ" property="whsj" jdbcType="TIMESTAMP" />
    <result column="WHRBMID" property="whrbmid" jdbcType="VARCHAR" />
    <result column="WHRID" property="whrid" jdbcType="VARCHAR" />
    <result column="PCH" property="pch" jdbcType="VARCHAR" />
    <result column="BJH" property="bjh" jdbcType="VARCHAR" />
    <result column="XLH" property="xlh" jdbcType="VARCHAR" />
    <result column="CB" property="cb" jdbcType="DECIMAL" />
    <result column="CBBZ" property="cbbz" jdbcType="VARCHAR" />
    <result column="JZ" property="jz" jdbcType="DECIMAL" />
    <result column="JZBZ" property="jzbz" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DPRTCODE, WHSJ, WHRBMID, WHRID, PCH, BJH, XLH, CB, CBBZ, JZ, JZBZ
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_H_032
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_H_032
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eray.thjw.material2.po.MaterialBatchInfo" >
    insert into B_H_032 (ID, DPRTCODE, WHSJ, 
      WHRBMID, WHRID, PCH, 
      BJH, XLH, CB, CBBZ, 
      JZ, JZBZ)
    values (#{id,jdbcType=VARCHAR}, #{dprtcode,jdbcType=VARCHAR}, sysdate, 
      #{whrbmid,jdbcType=VARCHAR}, #{whrid,jdbcType=VARCHAR}, #{pch,jdbcType=VARCHAR}, 
      #{bjh,jdbcType=VARCHAR}, #{xlh,jdbcType=VARCHAR}, #{cb,jdbcType=DECIMAL}, #{cbbz,jdbcType=VARCHAR}, 
      #{jz,jdbcType=DECIMAL}, #{jzbz,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eray.thjw.material2.po.MaterialBatchInfo" >
    insert into B_H_032
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="dprtcode != null" >
        DPRTCODE,
      </if>
      <if test="whsj != null" >
        WHSJ,
      </if>
      <if test="whrbmid != null" >
        WHRBMID,
      </if>
      <if test="whrid != null" >
        WHRID,
      </if>
      <if test="pch != null" >
        PCH,
      </if>
      <if test="bjh != null" >
        BJH,
      </if>
      <if test="xlh != null" >
        XLH,
      </if>
      <if test="cb != null" >
        CB,
      </if>
      <if test="cbbz != null" >
        CBBZ,
      </if>
      <if test="jz != null" >
        JZ,
      </if>
      <if test="jzbz != null" >
        JZBZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dprtcode != null" >
        #{dprtcode,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        #{whsj,jdbcType=TIMESTAMP},
      </if>
      <if test="whrbmid != null" >
        #{whrbmid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="pch != null" >
        #{pch,jdbcType=VARCHAR},
      </if>
      <if test="bjh != null" >
        #{bjh,jdbcType=VARCHAR},
      </if>
      <if test="xlh != null" >
        #{xlh,jdbcType=VARCHAR},
      </if>
      <if test="cb != null" >
        #{cb,jdbcType=DECIMAL},
      </if>
      <if test="cbbz != null" >
        #{cbbz,jdbcType=VARCHAR},
      </if>
      <if test="jz != null" >
        #{jz,jdbcType=DECIMAL},
      </if>
      <if test="jzbz != null" >
        #{jzbz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eray.thjw.material2.po.MaterialBatchInfo" >
    update B_H_032
    <set >
      <if test="dprtcode != null" >
        DPRTCODE = #{dprtcode,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        WHSJ = #{whsj,jdbcType=TIMESTAMP},
      </if>
      <if test="whrbmid != null" >
        WHRBMID = #{whrbmid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        WHRID = #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="pch != null" >
        PCH = #{pch,jdbcType=VARCHAR},
      </if>
      <if test="bjh != null" >
        BJH = #{bjh,jdbcType=VARCHAR},
      </if>
      <if test="xlh != null" >
        XLH = #{xlh,jdbcType=VARCHAR},
      </if>
      <if test="cb != null" >
        CB = #{cb,jdbcType=DECIMAL},
      </if>
      <if test="cbbz != null" >
        CBBZ = #{cbbz,jdbcType=VARCHAR},
      </if>
      <if test="jz != null" >
        JZ = #{jz,jdbcType=DECIMAL},
      </if>
      <if test="jzbz != null" >
        JZBZ = #{jzbz,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eray.thjw.material2.po.MaterialBatchInfo" >
    update B_H_032
    set DPRTCODE = #{dprtcode,jdbcType=VARCHAR},
      WHSJ = #{whsj,jdbcType=TIMESTAMP},
      WHRBMID = #{whrbmid,jdbcType=VARCHAR},
      WHRID = #{whrid,jdbcType=VARCHAR},
      PCH = #{pch,jdbcType=VARCHAR},
      BJH = #{bjh,jdbcType=VARCHAR},
      XLH = #{xlh,jdbcType=VARCHAR},
      CB = #{cb,jdbcType=DECIMAL},
      CBBZ = #{cbbz,jdbcType=VARCHAR},
      JZ = #{jz,jdbcType=DECIMAL},
      JZBZ = #{jzbz,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 根据业务主键更新 -->
  <update id="updateByBusinessKey" parameterType="com.eray.thjw.material2.po.MaterialBatchInfo" >
    update B_H_032
    set 
      WHSJ = sysdate,
      WHRBMID = #{whrbmid,jdbcType=VARCHAR},
      WHRID = #{whrid,jdbcType=VARCHAR},
      CB = #{cb,jdbcType=DECIMAL},
      CBBZ = #{cbbz,jdbcType=VARCHAR},
      JZ = #{jz,jdbcType=DECIMAL},
      JZBZ = #{jzbz,jdbcType=VARCHAR}
    where BJH = #{bjh,jdbcType=VARCHAR}
      and nvl(XLH, '-') = nvl(#{xlh,jdbcType=VARCHAR}, '-')
      and nvl(PCH, '-') = nvl(#{pch,jdbcType=VARCHAR}, '-')
      and DPRTCODE = #{dprtcode,jdbcType=VARCHAR}
  </update>
</mapper>