<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.material2.dao.OutinReceiptInfoMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.material2.po.OutinReceiptInfo" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MAINID" property="mainid" jdbcType="VARCHAR" />
    <result column="BJID" property="bjid" jdbcType="VARCHAR" />
    <result column="BJH" property="bjh" jdbcType="VARCHAR" />
    <result column="PCH" property="pch" jdbcType="VARCHAR" />
    <result column="SN" property="sn" jdbcType="VARCHAR" />
    <result column="SL" property="sl" jdbcType="DECIMAL" />
    <result column="DW" property="dw" jdbcType="VARCHAR" />
    <result column="IS_ZJ" property="isZj" jdbcType="DECIMAL" />
    <result column="CQID" property="cqid" jdbcType="VARCHAR" />
    <result column="LSCKID" property="lsckid" jdbcType="VARCHAR" />
    <result column="LSKWID" property="lskwid" jdbcType="VARCHAR" />
    <result column="LSCFWZ" property="lscfwz" jdbcType="VARCHAR" />
    <result column="WCKCLLID" property="wckcllid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, MAINID, BJID, BJH, PCH, SN, SL, DW, IS_ZJ, CQID, LSCKID, LSKWID, LSCFWZ, WCKCLLID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_H2_02001
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_H2_02001
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eray.thjw.material2.po.OutinReceiptInfo" >
    insert into B_H2_02001 (ID, MAINID, BJID, 
      BJH, PCH, SN, SL, 
      DW, IS_ZJ, CQID, LSCKID, 
      LSKWID, LSCFWZ, WCKCLLID
      )
    values (#{id,jdbcType=VARCHAR}, #{mainid,jdbcType=VARCHAR}, #{bjid,jdbcType=VARCHAR}, 
      #{bjh,jdbcType=VARCHAR}, #{pch,jdbcType=VARCHAR}, #{sn,jdbcType=VARCHAR}, #{sl,jdbcType=DECIMAL}, 
      #{dw,jdbcType=VARCHAR}, #{isZj,jdbcType=DECIMAL}, #{cqid,jdbcType=VARCHAR}, #{lsckid,jdbcType=VARCHAR}, 
      #{lskwid,jdbcType=VARCHAR}, #{lscfwz,jdbcType=VARCHAR}, #{wckcllid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.eray.thjw.material2.po.OutinReceiptInfo" >
    insert into B_H2_02001
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="mainid != null" >
        MAINID,
      </if>
      <if test="bjid != null" >
        BJID,
      </if>
      <if test="bjh != null" >
        BJH,
      </if>
      <if test="pch != null" >
        PCH,
      </if>
      <if test="sn != null" >
        SN,
      </if>
      <if test="sl != null" >
        SL,
      </if>
      <if test="dw != null" >
        DW,
      </if>
      <if test="isZj != null" >
        IS_ZJ,
      </if>
      <if test="cqid != null" >
        CQID,
      </if>
      <if test="lsckid != null" >
        LSCKID,
      </if>
      <if test="lskwid != null" >
        LSKWID,
      </if>
      <if test="lscfwz != null" >
        LSCFWZ,
      </if>
      <if test="wckcllid != null" >
        WCKCLLID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mainid != null" >
        #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="bjid != null" >
        #{bjid,jdbcType=VARCHAR},
      </if>
      <if test="bjh != null" >
        #{bjh,jdbcType=VARCHAR},
      </if>
      <if test="pch != null" >
        #{pch,jdbcType=VARCHAR},
      </if>
      <if test="sn != null" >
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="sl != null" >
        #{sl,jdbcType=DECIMAL},
      </if>
      <if test="dw != null" >
        #{dw,jdbcType=VARCHAR},
      </if>
      <if test="isZj != null" >
        #{isZj,jdbcType=DECIMAL},
      </if>
      <if test="cqid != null" >
        #{cqid,jdbcType=VARCHAR},
      </if>
      <if test="lsckid != null" >
        #{lsckid,jdbcType=VARCHAR},
      </if>
      <if test="lskwid != null" >
        #{lskwid,jdbcType=VARCHAR},
      </if>
      <if test="lscfwz != null" >
        #{lscfwz,jdbcType=VARCHAR},
      </if>
      <if test="wckcllid != null" >
        #{wckcllid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eray.thjw.material2.po.OutinReceiptInfo" >
    update B_H2_02001
    <set >
      <if test="mainid != null" >
        MAINID = #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="bjid != null" >
        BJID = #{bjid,jdbcType=VARCHAR},
      </if>
      <if test="bjh != null" >
        BJH = #{bjh,jdbcType=VARCHAR},
      </if>
      <if test="pch != null" >
        PCH = #{pch,jdbcType=VARCHAR},
      </if>
      <if test="sn != null" >
        SN = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="sl != null" >
        SL = #{sl,jdbcType=DECIMAL},
      </if>
      <if test="dw != null" >
        DW = #{dw,jdbcType=VARCHAR},
      </if>
      <if test="isZj != null" >
        IS_ZJ = #{isZj,jdbcType=DECIMAL},
      </if>
      <if test="cqid != null" >
        CQID = #{cqid,jdbcType=VARCHAR},
      </if>
      <if test="lsckid != null" >
        LSCKID = #{lsckid,jdbcType=VARCHAR},
      </if>
      <if test="lskwid != null" >
        LSKWID = #{lskwid,jdbcType=VARCHAR},
      </if>
      <if test="lscfwz != null" >
        LSCFWZ = #{lscfwz,jdbcType=VARCHAR},
      </if>
      <if test="wckcllid != null" >
        WCKCLLID = #{wckcllid,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eray.thjw.material2.po.OutinReceiptInfo" >
    update B_H2_02001
    set MAINID = #{mainid,jdbcType=VARCHAR},
      BJID = #{bjid,jdbcType=VARCHAR},
      BJH = #{bjh,jdbcType=VARCHAR},
      PCH = #{pch,jdbcType=VARCHAR},
      SN = #{sn,jdbcType=VARCHAR},
      SL = #{sl,jdbcType=DECIMAL},
      DW = #{dw,jdbcType=VARCHAR},
      IS_ZJ = #{isZj,jdbcType=DECIMAL},
      CQID = #{cqid,jdbcType=VARCHAR},
      LSCKID = #{lsckid,jdbcType=VARCHAR},
      LSKWID = #{lskwid,jdbcType=VARCHAR},
      LSCFWZ = #{lscfwz,jdbcType=VARCHAR},
      WCKCLLID = #{wckcllid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 根据收货单id删除收货单明细 -->
  <delete id="deleteNotExistByShdid" >
    delete from B_H2_02001
    where mainid = #{shdid,jdbcType=VARCHAR}
    <if test="details != null and details.size > 0">
        AND ID NOT IN 
        <foreach collection="details" item="item" index="index" open="(" close=")" separator=",">
			NVL(#{item.id,jdbcType=VARCHAR}, '0')
		</foreach>
    </if>
  </delete>
  
  <!-- 收货单保存时更新收货单明细数据 -->
  <update id="updateByOutinReceiptInfo" parameterType="com.eray.thjw.material2.po.OutinReceiptInfo" >
    update B_H2_02001
    <set >
      <if test="bjid != null" >
        BJID = #{bjid,jdbcType=VARCHAR},
      </if>
      <if test="bjh != null" >
        BJH = #{bjh,jdbcType=VARCHAR},
      </if>
      <if test="pch != null" >
        PCH = #{pch,jdbcType=VARCHAR},
      </if>
      <if test="sn != null" >
        SN = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="sl != null" >
        SL = #{sl,jdbcType=DECIMAL},
      </if>
      <if test="dw != null" >
        DW = #{dw,jdbcType=VARCHAR},
      </if>
      <if test="isZj != null" >
        IS_ZJ = #{isZj,jdbcType=DECIMAL},
      </if>
      <if test="cqid != null" >
        CQID = #{cqid,jdbcType=VARCHAR},
      </if>
        LSCKID = #{lsckid,jdbcType=VARCHAR},
        LSKWID = #{lskwid,jdbcType=VARCHAR},
        LSCFWZ = #{lscfwz,jdbcType=VARCHAR},
      <if test="wckcllid != null" >
        WCKCLLID = #{wckcllid,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 根据收货单id删除 -->
  <delete id="deleteByShdid" parameterType="java.lang.String" >
    delete from B_H2_02001
    where mainid = #{shdid,jdbcType=VARCHAR}
  </delete>
</mapper>