<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.material2.dao.OutinReceiptShelvesMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.material2.po.OutinReceiptShelves" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MAINID" property="mainid" jdbcType="VARCHAR" />
    <result column="CKLB" property="cklb" jdbcType="DECIMAL" />
    <result column="CKID" property="ckid" jdbcType="VARCHAR" />
    <result column="CKH" property="ckh" jdbcType="VARCHAR" />
    <result column="CKMC" property="ckmc" jdbcType="VARCHAR" />
    <result column="KWID" property="kwid" jdbcType="VARCHAR" />
    <result column="KWH" property="kwh" jdbcType="VARCHAR" />
    <result column="SJSL" property="sjsl" jdbcType="DECIMAL" />
    <result column="JLDW" property="jldw" jdbcType="VARCHAR" />
    <result column="KCCB" property="kccb" jdbcType="DECIMAL" />
    <result column="BIZ" property="biz" jdbcType="VARCHAR" />
    <result column="KCLLID" property="kcllid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, MAINID, CKLB, CKID, CKH, CKMC, KWID, KWH, SJSL, JLDW, KCCB, BIZ, KCLLID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_H2_0200101
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_H2_0200101
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eray.thjw.material2.po.OutinReceiptShelves" >
    insert into B_H2_0200101 (ID, MAINID, CKLB, 
      CKID, CKH, CKMC, KWID, 
      KWH, SJSL, JLDW, KCCB, 
      BIZ, KCLLID)
    values (#{id,jdbcType=VARCHAR}, #{mainid,jdbcType=VARCHAR}, #{cklb,jdbcType=DECIMAL}, 
      #{ckid,jdbcType=VARCHAR}, #{ckh,jdbcType=VARCHAR}, #{ckmc,jdbcType=VARCHAR}, #{kwid,jdbcType=VARCHAR}, 
      #{kwh,jdbcType=VARCHAR}, #{sjsl,jdbcType=DECIMAL}, #{jldw,jdbcType=VARCHAR}, #{kccb,jdbcType=DECIMAL}, 
      #{biz,jdbcType=VARCHAR}, #{kcllid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eray.thjw.material2.po.OutinReceiptShelves" >
    insert into B_H2_0200101
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="mainid != null" >
        MAINID,
      </if>
      <if test="cklb != null" >
        CKLB,
      </if>
      <if test="ckid != null" >
        CKID,
      </if>
      <if test="ckh != null" >
        CKH,
      </if>
      <if test="ckmc != null" >
        CKMC,
      </if>
      <if test="kwid != null" >
        KWID,
      </if>
      <if test="kwh != null" >
        KWH,
      </if>
      <if test="sjsl != null" >
        SJSL,
      </if>
      <if test="jldw != null" >
        JLDW,
      </if>
      <if test="kccb != null" >
        KCCB,
      </if>
      <if test="biz != null" >
        BIZ,
      </if>
      <if test="jz != null" >
        JZ,
      </if>
      <if test="jzbz != null" >
        JZBZ,
      </if>
      <if test="kcllid != null" >
        KCLLID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mainid != null" >
        #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="cklb != null" >
        #{cklb,jdbcType=DECIMAL},
      </if>
      <if test="ckid != null" >
        #{ckid,jdbcType=VARCHAR},
      </if>
      <if test="ckh != null" >
        #{ckh,jdbcType=VARCHAR},
      </if>
      <if test="ckmc != null" >
        #{ckmc,jdbcType=VARCHAR},
      </if>
      <if test="kwid != null" >
        #{kwid,jdbcType=VARCHAR},
      </if>
      <if test="kwh != null" >
        #{kwh,jdbcType=VARCHAR},
      </if>
      <if test="sjsl != null" >
        #{sjsl,jdbcType=DECIMAL},
      </if>
      <if test="jldw != null" >
        #{jldw,jdbcType=VARCHAR},
      </if>
      <if test="kccb != null" >
        #{kccb,jdbcType=DECIMAL},
      </if>
      <if test="biz != null" >
        #{biz,jdbcType=VARCHAR},
      </if>
      <if test="jz != null" >
        #{jz,jdbcType=DECIMAL},
      </if>
      <if test="jzbz != null" >
        #{jzbz,jdbcType=VARCHAR},
      </if>
      <if test="kcllid != null" >
        #{kcllid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eray.thjw.material2.po.OutinReceiptShelves" >
    update B_H2_0200101
    <set >
      <if test="mainid != null" >
        MAINID = #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="cklb != null" >
        CKLB = #{cklb,jdbcType=DECIMAL},
      </if>
      <if test="ckid != null" >
        CKID = #{ckid,jdbcType=VARCHAR},
      </if>
      <if test="ckh != null" >
        CKH = #{ckh,jdbcType=VARCHAR},
      </if>
      <if test="ckmc != null" >
        CKMC = #{ckmc,jdbcType=VARCHAR},
      </if>
      <if test="kwid != null" >
        KWID = #{kwid,jdbcType=VARCHAR},
      </if>
      <if test="kwh != null" >
        KWH = #{kwh,jdbcType=VARCHAR},
      </if>
      <if test="sjsl != null" >
        SJSL = #{sjsl,jdbcType=DECIMAL},
      </if>
      <if test="jldw != null" >
        JLDW = #{jldw,jdbcType=VARCHAR},
      </if>
      <if test="kccb != null" >
        KCCB = #{kccb,jdbcType=DECIMAL},
      </if>
      <if test="biz != null" >
        BIZ = #{biz,jdbcType=VARCHAR},
      </if>
      <if test="kcllid != null" >
        KCLLID = #{kcllid,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eray.thjw.material2.po.OutinReceiptShelves" >
    update B_H2_0200101
    set MAINID = #{mainid,jdbcType=VARCHAR},
      CKLB = #{cklb,jdbcType=DECIMAL},
      CKID = #{ckid,jdbcType=VARCHAR},
      CKH = #{ckh,jdbcType=VARCHAR},
      CKMC = #{ckmc,jdbcType=VARCHAR},
      KWID = #{kwid,jdbcType=VARCHAR},
      KWH = #{kwh,jdbcType=VARCHAR},
      SJSL = #{sjsl,jdbcType=DECIMAL},
      JLDW = #{jldw,jdbcType=VARCHAR},
      KCCB = #{kccb,jdbcType=DECIMAL},
      BIZ = #{biz,jdbcType=VARCHAR},
      KCLLID = #{kcllid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 根据收货单id删除收货单-上架信息 -->
  <delete id="deleteNotExistByMainid" >
    delete from B_H2_0200101
    where mainid = #{mainid,jdbcType=VARCHAR}
    <if test="shelves != null and shelves.size > 0">
        AND ID NOT IN 
        <foreach collection="shelves" item="item" index="index" open="(" close=")" separator=",">
			NVL(#{item.id,jdbcType=VARCHAR}, '0')
		</foreach>
    </if>
  </delete>
  
  <!-- 收货单保存时更新收货单-上架数据 -->
  <update id="updateByReceiptShelves" parameterType="com.eray.thjw.material2.po.OutinReceiptShelves" >
    update B_H2_0200101
    <set >
      <if test="cklb != null" >
        CKLB = #{cklb,jdbcType=DECIMAL},
      </if>
      <if test="ckid != null" >
        CKID = #{ckid,jdbcType=VARCHAR},
      </if>
      <if test="ckh != null" >
        CKH = #{ckh,jdbcType=VARCHAR},
      </if>
      <if test="ckmc != null" >
        CKMC = #{ckmc,jdbcType=VARCHAR},
      </if>
      <if test="kwid != null" >
        KWID = #{kwid,jdbcType=VARCHAR},
      </if>
      <if test="kwh != null" >
        KWH = #{kwh,jdbcType=VARCHAR},
      </if>
      <if test="sjsl != null" >
        SJSL = #{sjsl,jdbcType=DECIMAL},
      </if>
      <if test="jldw != null" >
        JLDW = #{jldw,jdbcType=VARCHAR},
      </if>
        KCCB = #{kccb,jdbcType=DECIMAL},
      <if test="biz != null" >
        BIZ = #{biz,jdbcType=VARCHAR},
      </if>
        JZ = #{jz,jdbcType=DECIMAL},
      <if test="jzbz != null" >
        JZBZ = #{jzbz,jdbcType=VARCHAR},
      </if>
      <if test="kcllid != null" >
        KCLLID = #{kcllid,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 根据收货单id删除收货单明细 -->
  <delete id="deleteNotExistByShdid" >
    delete from B_H2_0200101
    where 
    	exists (select 1 from B_H2_02001 where mainid = #{shdid,jdbcType=VARCHAR} and B_H2_02001.id = B_H2_0200101.mainid)
    <if test="details != null and details.size > 0">
        AND MAINID NOT IN 
        <foreach collection="details" item="item" index="index" open="(" close=")" separator=",">
			NVL(#{item.id,jdbcType=VARCHAR}, '0')
		</foreach>
    </if>
  </delete>
  
  <select id="selectReceiptShelvesList" resultMap="BaseResultMap">
    SELECT ID, MAINID, CKLB, CKID, CKH, CKMC, KWID, KWH, SJSL, JLDW, KCCB, BIZ, KCLLID
    from B_H2_0200101
    WHERE MAINID in 
   		<foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
		#{id,jdbcType=VARCHAR}
	 	</foreach>
   </select>
   
    <!-- 根据收货单id删除收货单明细 -->
  <delete id="deleteByShdid" parameterType="java.lang.String" >
    delete from B_H2_0200101
    where 
    	exists (select 1 from B_H2_02001 where mainid = #{shdid,jdbcType=VARCHAR} and B_H2_02001.id = B_H2_0200101.mainid)
  </delete>
  
  <!-- 验证收货数量和库存数量是否相同 -->
  <select id="validateStockCountByShdid" parameterType="java.lang.String" resultType="int">
    select count(1)
	  from b_h2_020 b1
	  left join b_h2_02001 b2
	    on b1.id = b2.mainid
	  left join b_h2_0200101 b3
	    on b2.id = b3.mainid
	  left join b_h_017 b4
	    on b3.kcllid = b4.id
	  left join b_h_001 b5
	    on b4.kcid = b5.id
	 where b1.id = #{shdid,jdbcType=VARCHAR}
	   and b3.sjsl != nvl(b5.kcsl, 0) - nvl(b5.djsl, 0)
  </select>
</mapper>