<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.material2.dao.ReceivingRelationshipMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.material2.po.ReceivingRelationship" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="DPRTCODE" property="dprtcode" jdbcType="VARCHAR" />
    <result column="ZT" property="zt" jdbcType="DECIMAL" />
    <result column="LYLX" property="lylx" jdbcType="DECIMAL" />
    <result column="LYID" property="lyid" jdbcType="VARCHAR" />
    <result column="LYMXID" property="lymxid" jdbcType="VARCHAR" />
    <result column="SHDID" property="shdid" jdbcType="VARCHAR" />
    <result column="SHMXID" property="shmxid" jdbcType="VARCHAR" />
    <result column="SHSL" property="shsl" jdbcType="DECIMAL" />
    <result column="DW" property="dw" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DPRTCODE, ZT, LYLX, LYID, LYMXID, SHDID, SHMXID, SHSL, DW
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_H_027
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_H_027
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eray.thjw.material2.po.ReceivingRelationship" >
    insert into B_H_027 (ID, DPRTCODE, ZT, 
      LYLX, LYID, LYMXID, 
      SHDID, SHMXID, SHSL, 
      DW)
    values (#{id,jdbcType=VARCHAR}, #{dprtcode,jdbcType=VARCHAR}, #{zt,jdbcType=DECIMAL}, 
      #{lylx,jdbcType=DECIMAL}, #{lyid,jdbcType=VARCHAR}, #{lymxid,jdbcType=VARCHAR}, 
      #{shdid,jdbcType=VARCHAR}, #{shmxid,jdbcType=VARCHAR}, #{shsl,jdbcType=DECIMAL}, 
      #{dw,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eray.thjw.material2.po.ReceivingRelationship" >
    insert into B_H_027
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="dprtcode != null" >
        DPRTCODE,
      </if>
      <if test="zt != null" >
        ZT,
      </if>
      <if test="lylx != null" >
        LYLX,
      </if>
      <if test="lyid != null" >
        LYID,
      </if>
      <if test="lymxid != null" >
        LYMXID,
      </if>
      <if test="shdid != null" >
        SHDID,
      </if>
      <if test="shmxid != null" >
        SHMXID,
      </if>
      <if test="shsl != null" >
        SHSL,
      </if>
      <if test="dw != null" >
        DW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dprtcode != null" >
        #{dprtcode,jdbcType=VARCHAR},
      </if>
      <if test="zt != null" >
        #{zt,jdbcType=DECIMAL},
      </if>
      <if test="lylx != null" >
        #{lylx,jdbcType=DECIMAL},
      </if>
      <if test="lyid != null" >
        #{lyid,jdbcType=VARCHAR},
      </if>
      <if test="lymxid != null" >
        #{lymxid,jdbcType=VARCHAR},
      </if>
      <if test="shdid != null" >
        #{shdid,jdbcType=VARCHAR},
      </if>
      <if test="shmxid != null" >
        #{shmxid,jdbcType=VARCHAR},
      </if>
      <if test="shsl != null" >
        #{shsl,jdbcType=DECIMAL},
      </if>
      <if test="dw != null" >
        #{dw,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eray.thjw.material2.po.ReceivingRelationship" >
    update B_H_027
    <set >
      <if test="dprtcode != null" >
        DPRTCODE = #{dprtcode,jdbcType=VARCHAR},
      </if>
      <if test="zt != null" >
        ZT = #{zt,jdbcType=DECIMAL},
      </if>
      <if test="lylx != null" >
        LYLX = #{lylx,jdbcType=DECIMAL},
      </if>
      <if test="lyid != null" >
        LYID = #{lyid,jdbcType=VARCHAR},
      </if>
      <if test="lymxid != null" >
        LYMXID = #{lymxid,jdbcType=VARCHAR},
      </if>
      <if test="shdid != null" >
        SHDID = #{shdid,jdbcType=VARCHAR},
      </if>
      <if test="shmxid != null" >
        SHMXID = #{shmxid,jdbcType=VARCHAR},
      </if>
      <if test="shsl != null" >
        SHSL = #{shsl,jdbcType=DECIMAL},
      </if>
      <if test="dw != null" >
        DW = #{dw,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eray.thjw.material2.po.ReceivingRelationship" >
    update B_H_027
    set DPRTCODE = #{dprtcode,jdbcType=VARCHAR},
      ZT = #{zt,jdbcType=DECIMAL},
      LYLX = #{lylx,jdbcType=DECIMAL},
      LYID = #{lyid,jdbcType=VARCHAR},
      LYMXID = #{lymxid,jdbcType=VARCHAR},
      SHDID = #{shdid,jdbcType=VARCHAR},
      SHMXID = #{shmxid,jdbcType=VARCHAR},
      SHSL = #{shsl,jdbcType=DECIMAL},
      DW = #{dw,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 根据收货单id删除收货关系 -->
  <delete id="deleteNotExistByShdid" >
    delete from B_H_027
    where shdid = #{shdid,jdbcType=VARCHAR}
    <if test="details != null and details.size > 0">
        AND SHMXID NOT IN 
        <foreach collection="details" item="item" index="index" open="(" close=")" separator=",">
			NVL(#{item.id,jdbcType=VARCHAR}, '0')
		</foreach>
    </if>
  </delete>
  
  <!-- 根据收货单明细删除 -->
  <delete id="deleteByShmxid" parameterType="java.lang.String" >
    delete from B_H_027
    where shmxid = #{id,jdbcType=VARCHAR}
  </delete>
  
  <!-- 根据收货单id删除 -->
  <delete id="deleteByShdid" parameterType="java.lang.String" >
    delete from B_H_027
    where shdid = #{id,jdbcType=VARCHAR}
  </delete>
  
  <!-- 根据收货单id无效 -->
  <update id="invalidateByshdid" parameterType="java.lang.String" >
    update B_H_027
    set zt = 0
    where shdid = #{id,jdbcType=VARCHAR}
  </update>
</mapper>