<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.material2.dao.ToolBorrowReturnRecordMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.material2.po.ToolBorrowReturnRecord" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="KCID" property="kcid" jdbcType="VARCHAR" />
    <result column="BJID" property="bjid" jdbcType="VARCHAR" />
    <result column="BJH" property="bjh" jdbcType="VARCHAR" />
    <result column="BJXLH" property="bjxlh" jdbcType="VARCHAR" />
    <result column="JLLX" property="jllx" jdbcType="DECIMAL" />
    <result column="JY_ZRRID" property="jyZrrid" jdbcType="VARCHAR" />
    <result column="JY_ZRRMC" property="jyZrrmc" jdbcType="VARCHAR" />
    <result column="JY_SJ" property="jySj" jdbcType="TIMESTAMP" />
    <result column="JY_SL" property="jySl" jdbcType="DECIMAL" />
    <result column="JY_BZ" property="jyBz" jdbcType="VARCHAR" />
    <result column="CQJYBS" property="cqjybs" jdbcType="DECIMAL" />
    <result column="DPRTCODE" property="dprtcode" jdbcType="VARCHAR" />
    <result column="CZBMID" property="czbmid" jdbcType="VARCHAR" />
    <result column="CZRID" property="czrid" jdbcType="VARCHAR" />
    <result column="CZSJ" property="czsj" jdbcType="TIMESTAMP" />
    <result column="YWMS" property="ywms" jdbcType="VARCHAR" />
    <result column="ZWMS" property="zwms" jdbcType="VARCHAR" />
    <result column="XINGH" property="xingh" jdbcType="VARCHAR" />
    <result column="GG" property="gg" jdbcType="VARCHAR" />
    <result column="PCH" property="pch" jdbcType="VARCHAR" />
    <result column="CKH" property="ckh" jdbcType="VARCHAR" />
    <result column="CKMC" property="ckmc" jdbcType="VARCHAR" />
    <result column="KWH" property="kwh" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, KCID, BJID, BJH, BJXLH, JLLX, JY_ZRRID, JY_ZRRMC, JY_SJ, JY_SL, JY_BZ, CQJYBS, 
    DPRTCODE, CZBMID, CZRID, CZSJ
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_H_030
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_H_030
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eray.thjw.material2.po.ToolBorrowReturnRecord" >
    insert into B_H_030 (ID, KCID, BJID, 
      BJH, BJXLH, JLLX, JY_ZRRID, 
      JY_ZRRMC, JY_SJ, JY_SL, 
      JY_BZ, CQJYBS, DPRTCODE, 
      CZBMID, CZRID, CZSJ
      )
    values (#{id,jdbcType=VARCHAR}, #{kcid,jdbcType=VARCHAR}, #{bjid,jdbcType=VARCHAR}, 
      #{bjh,jdbcType=VARCHAR}, #{bjxlh,jdbcType=VARCHAR}, #{jllx,jdbcType=DECIMAL}, #{jyZrrid,jdbcType=VARCHAR}, 
      #{jyZrrmc,jdbcType=VARCHAR}, #{jySj,jdbcType=TIMESTAMP}, #{jySl,jdbcType=DECIMAL}, 
      #{jyBz,jdbcType=VARCHAR}, #{cqjybs,jdbcType=DECIMAL}, #{dprtcode,jdbcType=VARCHAR}, 
      #{czbmid,jdbcType=VARCHAR}, #{czrid,jdbcType=VARCHAR}, #{czsj,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.eray.thjw.material2.po.ToolBorrowReturnRecord" >
    insert into B_H_030
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="kcid != null" >
        KCID,
      </if>
      <if test="bjid != null" >
        BJID,
      </if>
      <if test="bjh != null" >
        BJH,
      </if>
      <if test="bjxlh != null" >
        BJXLH,
      </if>
      <if test="jllx != null" >
        JLLX,
      </if>
      <if test="jyZrrid != null" >
        JY_ZRRID,
      </if>
      <if test="jyZrrmc != null" >
        JY_ZRRMC,
      </if>
      <if test="jySj != null" >
        JY_SJ,
      </if>
      <if test="jySl != null" >
        JY_SL,
      </if>
      <if test="jyBz != null" >
        JY_BZ,
      </if>
      <if test="cqjybs != null" >
        CQJYBS,
      </if>
      <if test="dprtcode != null" >
        DPRTCODE,
      </if>
      <if test="czbmid != null" >
        CZBMID,
      </if>
      <if test="czrid != null" >
        CZRID,
      </if>
      <if test="czsj != null" >
        CZSJ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="kcid != null" >
        #{kcid,jdbcType=VARCHAR},
      </if>
      <if test="bjid != null" >
        #{bjid,jdbcType=VARCHAR},
      </if>
      <if test="bjh != null" >
        #{bjh,jdbcType=VARCHAR},
      </if>
      <if test="bjxlh != null" >
        #{bjxlh,jdbcType=VARCHAR},
      </if>
      <if test="jllx != null" >
        #{jllx,jdbcType=DECIMAL},
      </if>
      <if test="jyZrrid != null" >
        #{jyZrrid,jdbcType=VARCHAR},
      </if>
      <if test="jyZrrmc != null" >
        #{jyZrrmc,jdbcType=VARCHAR},
      </if>
      <if test="jySj != null" >
        #{jySj,jdbcType=TIMESTAMP},
      </if>
      <if test="jySl != null" >
        #{jySl,jdbcType=DECIMAL},
      </if>
      <if test="jyBz != null" >
        #{jyBz,jdbcType=VARCHAR},
      </if>
      <if test="cqjybs != null" >
        #{cqjybs,jdbcType=DECIMAL},
      </if>
      <if test="dprtcode != null" >
        #{dprtcode,jdbcType=VARCHAR},
      </if>
      <if test="czbmid != null" >
        #{czbmid,jdbcType=VARCHAR},
      </if>
      <if test="czrid != null" >
        #{czrid,jdbcType=VARCHAR},
      </if>
      <if test="czsj != null" >
        #{czsj,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eray.thjw.material2.po.ToolBorrowReturnRecord" >
    update B_H_030
    <set >
      <if test="kcid != null" >
        KCID = #{kcid,jdbcType=VARCHAR},
      </if>
      <if test="bjid != null" >
        BJID = #{bjid,jdbcType=VARCHAR},
      </if>
      <if test="bjh != null" >
        BJH = #{bjh,jdbcType=VARCHAR},
      </if>
      <if test="bjxlh != null" >
        BJXLH = #{bjxlh,jdbcType=VARCHAR},
      </if>
      <if test="jllx != null" >
        JLLX = #{jllx,jdbcType=DECIMAL},
      </if>
      <if test="jyZrrid != null" >
        JY_ZRRID = #{jyZrrid,jdbcType=VARCHAR},
      </if>
      <if test="jyZrrmc != null" >
        JY_ZRRMC = #{jyZrrmc,jdbcType=VARCHAR},
      </if>
      <if test="jySj != null" >
        JY_SJ = #{jySj,jdbcType=TIMESTAMP},
      </if>
      <if test="jySl != null" >
        JY_SL = #{jySl,jdbcType=DECIMAL},
      </if>
      <if test="jyBz != null" >
        JY_BZ = #{jyBz,jdbcType=VARCHAR},
      </if>
      <if test="cqjybs != null" >
        CQJYBS = #{cqjybs,jdbcType=DECIMAL},
      </if>
      <if test="dprtcode != null" >
        DPRTCODE = #{dprtcode,jdbcType=VARCHAR},
      </if>
      <if test="czbmid != null" >
        CZBMID = #{czbmid,jdbcType=VARCHAR},
      </if>
      <if test="czrid != null" >
        CZRID = #{czrid,jdbcType=VARCHAR},
      </if>
      <if test="czsj != null" >
        CZSJ = #{czsj,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eray.thjw.material2.po.ToolBorrowReturnRecord" >
    update B_H_030
    set KCID = #{kcid,jdbcType=VARCHAR},
      BJID = #{bjid,jdbcType=VARCHAR},
      BJH = #{bjh,jdbcType=VARCHAR},
      BJXLH = #{bjxlh,jdbcType=VARCHAR},
      JLLX = #{jllx,jdbcType=DECIMAL},
      JY_ZRRID = #{jyZrrid,jdbcType=VARCHAR},
      JY_ZRRMC = #{jyZrrmc,jdbcType=VARCHAR},
      JY_SJ = #{jySj,jdbcType=TIMESTAMP},
      JY_SL = #{jySl,jdbcType=DECIMAL},
      JY_BZ = #{jyBz,jdbcType=VARCHAR},
      CQJYBS = #{cqjybs,jdbcType=DECIMAL},
      DPRTCODE = #{dprtcode,jdbcType=VARCHAR},
      CZBMID = #{czbmid,jdbcType=VARCHAR},
      CZRID = #{czrid,jdbcType=VARCHAR},
      CZSJ = #{czsj,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 查询工具借用/归还记录集合 -->
  <select id="queryList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    B_H_030.ID, B_H_030.KCID, B_H_030.BJID, B_H_030.BJH, B_H_030.BJXLH, B_H_030.JLLX, B_H_030.JY_ZRRID, 
    B_H_030.JY_ZRRMC, B_H_030.JY_SJ, B_H_030.JY_SL, B_H_030.JY_BZ, B_H_030.CQJYBS, B_H_030.DPRTCODE, 
    B_H_030.CZBMID, B_H_030.CZRID, B_H_030.CZSJ,
    D_008.YWMS, D_008.ZWMS, D_008.XINGH, D_008.GG, B_H_001.PCH, B_H_001.CKH, B_H_001.CKMC, B_H_001.KWH
    from B_H_030
    left join d_008 on B_H_030.bjid = d_008.id
    left join b_h_001 on B_H_030.kcid = b_h_001.id
    <include refid="Common_Param"></include>
    order by b_h_030.czsj desc, b_h_030.jy_zrrmc, b_h_030.id
  </select>
  
  <sql id="Common_Param">
	   	WHERE 1=1  
        <if test="dprtcode != null and dprtcode != ''">
             AND B_H_030.DPRTCODE =  #{dprtcode, jdbcType=VARCHAR}
        </if>
        <!-- 借用日期范围-->
        <if test="paramsMap != null and paramsMap.jySjBegin != null and paramsMap.jySjBegin != ''">
        	AND  B_H_030.JY_SJ &gt;= TO_DATE(#{paramsMap.jySjBegin, jdbcType=VARCHAR}, 'YYYY-MM-DD HH24:MI:SS')
        </if>
        <if test="paramsMap != null and paramsMap.jySjEnd != null and paramsMap.jySjEnd != ''">
        	AND  B_H_030.JY_SJ &lt;= TO_DATE(#{paramsMap.jySjEnd, jdbcType=VARCHAR}, 'YYYY-MM-DD HH24:MI:SS')
        </if>
        <!-- 借用人 -->
   	    <if test="jyZrrmc != null and jyZrrmc != ''">
             AND  lower(B_H_030.JY_ZRRMC) LIKE lower('%'||#{jyZrrmc, jdbcType=VARCHAR}||'%' )
        </if>
        <!-- 记录类型 -->
   	    <if test="paramsMap != null and paramsMap.jllxList != null">
   	   		<if test="paramsMap.jllxList.size > 0">
			    AND B_H_030.JLLX IN
	   			<foreach item="item" index="index" collection="paramsMap.jllxList" open="(" separator="," close=")">  
	       			#{item,jdbcType=DECIMAL}  
	   			</foreach>  
   	   		</if>
   	   		<if test="paramsMap.jllxList.size == 0">
			    AND 1 = 0
   	   		</if>
	    </if>
        <!-- 关键字-->
        <if test="paramsMap != null and paramsMap.keyword != null and paramsMap.keyword != ''">
        	AND  (lower(B_H_030.BJH) LIKE lower('%'||#{paramsMap.keyword, jdbcType=VARCHAR}||'%') OR
        		  lower(B_H_030.JY_BZ) LIKE lower('%'||#{paramsMap.keyword, jdbcType=VARCHAR}||'%') OR
          	      lower(D_008.YWMS) LIKE lower('%'||#{paramsMap.keyword, jdbcType=VARCHAR}||'%') OR
          	      lower(D_008.ZWMS) LIKE lower('%'||#{paramsMap.keyword, jdbcType=VARCHAR}||'%') OR
          	      lower(B_H_001.PCH) LIKE lower('%'||#{paramsMap.keyword, jdbcType=VARCHAR}||'%') OR
          	      lower(B_H_030.BJXLH) LIKE lower('%'||#{paramsMap.keyword, jdbcType=VARCHAR}||'%')
          	)
       </if>
  </sql>
</mapper>