<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.mapping.rec.CourseRecMapper" >
   
	<!-- 课程日志列表 开始 -->
	<select id="queryList_BP003_Rec" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
				SELECT   
					B.ID AS "ID", 
					B.DPRTCODE AS "DPRTCODE", 
					B.KCBH AS "KCBH", 
					B.KCMC AS "KCMC", 
					B.KCLB AS "KCLB", 
					B.KCNR AS "KCNR", 
					B.KS AS "KS", 
					B.PXXS AS "PXXS", 
					B.KSXS AS "KSXS", 
					B.IS_FX AS "IS_FX", 
					B.FXKS AS "FXKS",  
					B.ZQZ AS "ZQZ", 
					B.ZQDW AS "ZQDW", 
					B.PXMB AS "PXMB", 
					B.BZ AS "BZ",
					B.WHBMID AS "WHBMID",
					B.WHRID AS "WHRID",
					B.WHSJ AS "WHSJ", 
					B.FXPXXS AS "FXPXXS", 
					B.FXKSXS AS "FXKSXS", 
					B.REC_XGLX AS "REC_XGLX",
			        B.REC_CZRID AS "REC_CZRID",
			        B.REC_CZSJ AS "REC_CZSJ",
			        B.REC_IP AS "REC_IP",
			        B.REC_CZSM AS "REC_CZSM",
			        B.REC_CZLS AS "REC_CZLS",
			        B.REC_ZBID AS "REC_ZBID",  
		        	WHR.USERNAME||' '||WHR.REALNAME AS "WHR_REALNAME",
		        	WHR_REC.USERNAME||' '||WHR_REC.REALNAME AS "WHR_REC_REALNAME",
		        	WHDW.DPRTNAME AS "WHDW_DRPTNAME",
			        B.KCBH||' '||(
			        F_GETREC_HD(B.REC_CZSM)
            		) AS "REC_HD"
				FROM B_P_003_REC B 
	        	LEFT JOIN T_USER WHR ON WHR.ID = B.WHRID
	        	LEFT JOIN T_USER WHR_REC ON WHR_REC.ID = B.REC_CZRID
	        	LEFT JOIN T_DEPARTMENT WHDW ON WHDW.ID = B.WHBMID
		        WHERE 1 = 1
				<if test='paramsMap!=null and paramsMap.REC_CZLS!=null and paramsMap.REC_CZLS!=""'>
					and B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
	       	 	</if>
	        	<if test='paramsMap!=null and paramsMap.ID!=null and paramsMap.ID!=""'>
	        		and B.ID = #{paramsMap.ID,jdbcType=VARCHAR}
	        	</if>
	        	<if test='paramsMap!=null and paramsMap.DPRTCODE !=null and paramsMap.DPRTCODE!=""'>
		       		and B.DPRTCODE = #{paramsMap.DPRTCODE,jdbcType=VARCHAR}
		        </if>
		        <if test='paramsMap!=null and paramsMap.KEYWORD !=null and paramsMap.KEYWORD!=""'>
		       		and (
		                B.KCBH like '%'||#{paramsMap.KEYWORD,jdbcType=VARCHAR}||'%'
		           	)
		    	</if>
				order by B.REC_CZSJ DESC
	   
	</select>
  
	<select id="queryDiff_BP003_Rec" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
		SELECT * FROM (
			SELECT ROW_NUMBER() OVER(ORDER BY B.REC_CZSJ DESC) AS "RNO",
            	
            	B.ID AS "ID", 
				B.DPRTCODE AS "DPRTCODE", 
				B.KCBH AS "KCBH", 
				B.KCMC AS "KCMC", 
				B.KCLB AS "KCLB", 
				B.KCNR AS "KCNR", 
				B.KS AS "KS", 
				B.PXXS AS "PXXS", 
				B.KSXS AS "KSXS", 
				B.IS_FX AS "IS_FX", 
				B.FXKS AS "FXKS",  
				B.ZQZ AS "ZQZ", 
				B.ZQDW AS "ZQDW", 
				B.PXMB AS "PXMB", 
				B.BZ AS "BZ",
				B.WHBMID AS "WHBMID",
				B.WHRID AS "WHRID",
				B.WHSJ AS "WHSJ", 
				B.FXPXXS AS "FXPXXS", 
				B.FXKSXS AS "FXKSXS", 
				B.REC_XGLX AS "REC_XGLX",
		        B.REC_CZRID AS "REC_CZRID",
		        B.REC_CZSJ AS "REC_CZSJ",
		        B.REC_IP AS "REC_IP",
		        B.REC_CZSM AS "REC_CZSM",
		        B.REC_CZLS AS "REC_CZLS",
		        B.REC_ZBID AS "REC_ZBID",
            	WHR.USERNAME||' '||WHR.REALNAME AS "WHR_REALNAME",
		        WHR_REC.USERNAME||' '||WHR_REC.REALNAME AS "WHR_REC_REALNAME",
		        WHDW.DPRTNAME AS "WHDW_DRPTNAME",
            	(
         		CASE 
          			WHEN B.ZT = 0 THEN '无效'
		          	WHEN B.ZT = 1 THEN '有效'
         		END 
     	   		) "ZT_NAME",
     	   		(
         		CASE 
          			WHEN B.IS_FX = 0 THEN '否'
		          	WHEN B.IS_FX = 1 THEN '是'
         		END 
     	   		) "FX_VALUE",
     	   		B.ZQZ || (
         		CASE 
          			WHEN B.ZQDW = 1 THEN '天'
		          	WHEN B.ZQDW = 2 THEN '月'
		          	WHEN B.ZQDW = 3 THEN '年'
         		END 
     	   		) "FXJG",
     	   		'课程代码:'||B.KCBH || ' ' || (
            	F_GETREC_HD(B.REC_CZSM)
            	) AS "REC_HD",
            	(CASE 
            		WHEN B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR} THEN 'CURRENT'
            		ELSE 'LAST'
            	END
            	) AS "DATA_VERSION"
               
			FROM B_P_003_REC B
			LEFT JOIN T_USER WHR ON WHR.ID = B.WHRID
          	LEFT JOIN T_USER WHR_REC ON WHR_REC.ID = B.REC_CZRID
          	LEFT JOIN T_DEPARTMENT WHDW ON WHDW.ID = B.WHBMID
         	WHERE B.ID = #{paramsMap.ID,jdbcType=VARCHAR}
           	AND (select rec_czsj from B_P_003_REC where REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR} and ID = #{paramsMap.ID,jdbcType=VARCHAR}) >= b.rec_czsj 
       ) AS A WHERE 2 >="RNO"
	</select>
	
  	<select id="queryDiff_D011" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	 
		SELECT 
			B.ID AS "ID",
       		B.MAINID AS "MAINID",
      		B.DPRTCODE AS "DPRTCODE",
      		B.YSWJM AS "YSWJM",
       		B.WBWJM AS "WBWJM",
       		B.NBWJM AS "NBWJM",
       		B.WJDX AS "WJDX",
	       	B.HZM AS "HZM",
	       	B.SM AS "SM",
	       	B.CFLJ AS "CFLJ",
	       	B.YXZT AS "YXZT",
	       	B.CZSJ AS "CZSJ",
	       	B.CZBMID AS "CZBMID",
	       	B.CZRID AS "CZRID",
	       	B.REC_XGLX AS "REC_XGLX",
	       	B.REC_CZRID AS "REC_CZRID",
	      	B.REC_CZSJ AS "REC_CZSJ",
	       	B.REC_IP AS "REC_IP",
	       	B.REC_CZSM AS "REC_CZSM",
	       	B.REC_CZLS AS "REC_CZLS",
	       	B.REC_ZBID AS "REC_ZBID"
			,JG.DPRTNAME  AS "DPRTCODE_STR"
			,B.WJDX||'K' AS "WJDX_STR"
			,CASE B.YXZT WHEN 1 THEN '有效' ELSE '无效' END AS "YXZT_STR"
			,CZR.USERNAME ||' '|| CZR.REALNAME AS "CZR_STR"
			,CZBM.DPRTNAME  AS "CZBM_STR"
			,REC_CZR.USERNAME ||' '|| REC_CZR.REALNAME AS "REC_CZR_STR"
			,(CASE B.REC_XGLX 
			WHEN  1 THEN '新增' 
			WHEN  2 THEN '修改' 
			WHEN  3 THEN '删除' 
		    ELSE ''
			END) AS "REC_XGLX_STR"
			,'CURRENT' AS "DATA_VERSION" 
			,F_GETREC_HD(B.REC_CZSM) AS "REC_HD"
	   FROM D_011_REC B
	   LEFT JOIN T_USER REC_CZR ON REC_CZR.ID = B.REC_CZRID
	   LEFT JOIN T_DEPARTMENT JG ON JG.ID = B.DPRTCODE
	   LEFT JOIN T_USER CZR ON CZR.ID = B.CZRID
	   LEFT JOIN T_DEPARTMENT CZBM ON CZBM.ID = B.CZBMID
	   WHERE  B.REC_ZBID = #{paramsMap.ID,jdbcType=VARCHAR}
	   AND B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
	   
	   UNION ALL
	
	   SELECT 
		   	B.ID AS "ID",
	       	B.MAINID AS "MAINID",
	       	B.DPRTCODE AS "DPRTCODE",
	       	B.YSWJM AS "YSWJM",
	       	B.WBWJM AS "WBWJM",
	      	B.NBWJM AS "NBWJM",
	       	B.WJDX AS "WJDX",
	      	B.HZM AS "HZM",
	       	B.SM AS "SM",
	       	B.CFLJ AS "CFLJ",
	       	B.YXZT AS "YXZT",
	       	B.CZSJ AS "CZSJ",
	       	B.CZBMID AS "CZBMID",
	       	B.CZRID AS "CZRID",
	       	B.REC_XGLX AS "REC_XGLX",
	       	B.REC_CZRID AS "REC_CZRID",
	       	B.REC_CZSJ AS "REC_CZSJ",
	       	B.REC_IP AS "REC_IP",
	       	B.REC_CZSM AS "REC_CZSM",
	       	B.REC_CZLS AS "REC_CZLS",
	       	B.REC_ZBID AS "REC_ZBID"
			,JG.DPRTNAME  AS "DPRTCODE_STR" 
			,B.WJDX||'K' AS "WJDX_STR"
			,CASE B.YXZT WHEN 1 THEN '有效' ELSE '无效' END AS "YXZT_STR"
			,CZR.USERNAME ||' '|| CZR.REALNAME AS "CZR_STR"
			,CZBM.DPRTNAME  AS "CZBM_STR"
			,REC_CZR.USERNAME ||' '|| REC_CZR.REALNAME AS "REC_CZR_STR"
			,(CASE B.REC_XGLX 
			WHEN  1 THEN '新增' 
	        WHEN  2 THEN '修改' 
	        WHEN  3 THEN '删除' 
	  		ELSE ''
		  	END) AS "REC_XGLX_STR"
			,'LAST' AS "DATA_VERSION" 
		 	,F_GETREC_HD(B.REC_CZSM) AS "REC_HD"
	  	 FROM D_011_REC B
	  	 LEFT JOIN T_USER REC_CZR ON REC_CZR.ID = B.REC_CZRID
	  	 LEFT JOIN T_DEPARTMENT JG ON JG.ID = B.DPRTCODE
	     LEFT JOIN T_USER CZR ON CZR.ID = B.CZRID
	     LEFT JOIN T_DEPARTMENT CZBM ON CZBM.ID = B.CZBMID
	 	 WHERE B.REC_ZBID = #{paramsMap.ID,jdbcType=VARCHAR}
	         AND B.REC_CZLS IN
	         (           
	            SELECT REC_CZLS FROM (
	            	SELECT ROW_NUMBER() OVER(ORDER BY REC_CZSJ DESC) RNO , REC_CZLS
	              	FROM B_P_003_REC A WHERE 
	             	A.ID = #{paramsMap.ID,jdbcType=VARCHAR}
	            	AND A.REC_CZSJ &lt;=
	            	(
		              	SELECT C.REC_CZSJ FROM B_P_003_REC C WHERE 
		              	C.ID= #{paramsMap.ID,jdbcType=VARCHAR}
		              	AND C.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
		             )            
	             AND A.REC_CZLS != #{paramsMap.REC_CZLS,jdbcType=VARCHAR}        
	            ) AS T WHERE 1 = RNO                        
            ) 
  	</select>
  	
  	<!-- 课程日志 结束 -->

</mapper>