<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.airportensure.dao.FuelupRecMapper" >
   
  <!-- 故障保留单日志列表 开始 -->
  
  <select id="queryList4BJ003" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	       		 SELECT   
	       		 B.ID AS "ID",
       B.FJJYDBH AS "FJJYDBH",
       B.FJSSDW AS "FJSSDW",
       B.JD AS "JD",
       B.FJJX AS "FJJX",
       B.FJZCH AS "FJZCH",
       B.HBH AS "HBH",
       B.HYDDH AS "HYDDH",
       TO_char(B.JYRQ,'yyyy-MM-dd') AS "JYRQS",
       B.JYCCH AS "JYCCH",
       B.JYDJBH AS "JYDJBH",
       B.FYR AS "FYR",
       B.JYKSSJ AS "JYKSSJ",
       B.JYJSSJ AS "JYJSSJ",
       B.SYR AS "SYR",
       B.YPGG AS "YPGG",
       B.SJMD AS "SJMD",
       B.SJJYSL AS "SJJYSL",
       B.BZ AS "BZ",
       B.ZT AS "ZT",
       B.DPRTCODE AS "DPRTCODE",
       B.WHBMID AS "WHBMID",
       B.WHRID AS "WHRID",
       B.WHSJ AS "WHSJ",
       B.REC_XGLX AS "REC_XGLX",
       B.REC_CZRID AS "REC_CZRID",
       B.REC_CZSJ AS "REC_CZSJ",
       B.REC_IP AS "REC_IP",
       B.REC_CZSM AS "REC_CZSM",
       B.REC_CZLS AS "REC_CZLS",
       B.REC_ZBID AS "REC_ZBID",
       B.YPGGID AS "YPGGID"     
            ,CZR.USERNAME ||' '|| CZR.REALNAME AS "REC_CZR_NAME",
            WHR.REALNAME AS "WHR_REALNAME"
            ,WHDW.DPRTNAME AS "WHDW_DRPTNAME",
            JDS.JDMS AS "JDS",
            JG.DPRTNAME AS "DPRTNAME"
            , '飞机加油单编号:'||B.fjjydbh||' '||(
            F_GETREC_HD(B.REC_CZSM)) AS "REC_HD"
            FROM B_J_003_REC B 
            LEFT JOIN T_USER WHR ON WHR.ID = B.WHRID
            LEFT JOIN T_DEPARTMENT WHDW ON WHDW.ID = B.whrid
                 LEFT JOIN T_DEPARTMENT JG ON JG.ID = B.DPRTCODE
            LEFT JOIN T_USER CZR ON CZR.ID = B.REC_CZRID
            LEFT JOIN D_012 JDS ON JDS.ID=B.JD
            WHERE 1=1
	       		 <if test='paramsMap.REC_CZLS !=null and paramsMap.REC_CZLS!=""'>
	        	and B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
	        </if>
	        <if test='paramsMap.ID !=null and paramsMap.ID!=""'>
	        	and B.ID = #{paramsMap.ID,jdbcType=VARCHAR}
	         </if>
	         <if test='paramsMap.DPRTCODE !=null and paramsMap.DPRTCODE!=""'>
	        	and B.DPRTCODE = #{paramsMap.DPRTCODE,jdbcType=VARCHAR}
	         </if>
	         <if test='paramsMap.KEYWORD !=null and paramsMap.KEYWORD!=""'>
	        	and (
	                 B.fjjydbh like '%'||#{paramsMap.KEYWORD,jdbcType=VARCHAR}||'%'
	            )
	         </if>
		         order by B.REC_CZSJ DESC
  </select>
  
  <select id="queryDiff4BJ003" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	   
	   SELECT * FROM (
	   		   SELECT ROW_NUMBER() OVER(ORDER BY B.REC_CZSJ DESC) AS "RNO",
               
               B.ID AS "ID",
       B.FJJYDBH AS "FJJYDBH",
       B.FJSSDW AS "FJSSDW",
       B.JD AS "JD",
       B.FJJX AS "FJJX",
       B.FJZCH AS "FJZCH",
       B.HBH AS "HBH",
       B.HYDDH AS "HYDDH",
       TO_char(B.JYRQ,'yyyy-MM-dd') AS "JYRQS",
       B.JYCCH AS "JYCCH",
       B.JYDJBH AS "JYDJBH",
       B.FYR AS "FYR",
       B.JYKSSJ AS "JYKSSJ",
       B.JYJSSJ AS "JYJSSJ",
       B.SYR AS "SYR",
       B.YPGG AS "YPGG",
       B.SJMD AS "SJMD",
       B.SJJYSL AS "SJJYSL",
       B.BZ AS "BZ",
       B.ZT AS "ZT",
       B.DPRTCODE AS "DPRTCODE",
       B.WHBMID AS "WHBMID",
       B.WHRID AS "WHRID",
       B.WHSJ AS "WHSJ",
       B.REC_XGLX AS "REC_XGLX",
       B.REC_CZRID AS "REC_CZRID",
       B.REC_CZSJ AS "REC_CZSJ",
       B.REC_IP AS "REC_IP",
       B.REC_CZSM AS "REC_CZSM",
       B.REC_CZLS AS "REC_CZLS",
       B.REC_ZBID AS "REC_ZBID",
       B.YPGGID AS "YPGGID"  ,
                   CZR.USERNAME ||' '|| CZR.REALNAME AS "REC_CZR_NAME",
               WHR.REALNAME AS "WHR_REALNAME",
               JDS.JDMS AS "JDS",
               JG.DPRTNAME AS "DPRTNAME",
               WHDW.DPRTNAME AS "WHDW_DRPTNAME",
               '飞机加油单编号:'||B.FJJYDBH || ' ' || (F_GETREC_HD(B.REC_CZSM)) AS "REC_HD",
               (CASE WHEN B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR} THEN 'CURRENT'
               ELSE 'LAST'
               END) AS "DATA_VERSION"
               
          FROM B_J_003_REC B
          LEFT JOIN T_USER WHR
            ON WHR.ID = B.WHRID
          LEFT JOIN T_DEPARTMENT WHDW
            ON WHDW.ID = B.whbmid
               LEFT JOIN T_DEPARTMENT JG ON JG.ID = B.DPRTCODE
              LEFT JOIN T_USER CZR ON CZR.ID = B.REC_CZRID
                 LEFT JOIN D_012 JDS ON JDS.ID=B.JD
         WHERE B.ID = #{paramsMap.ID,jdbcType=VARCHAR}
           AND  (select rec_czsj
                  from B_J_003_REC
                 where REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
                   and ID = #{paramsMap.ID,jdbcType=VARCHAR}) >= b.rec_czsj 
       ) AS A WHERE 2 >="RNO"
       
  </select>

  
</mapper>