<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.mapping.rec.MaterialRecMapper" >
   
	<!-- 部件主数据日志列表 开始 -->
	
  
	<select id="queryList_D008_Rec" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
				SELECT   
				B.ID AS "ID",
       B.BJH AS "BJH",
       B.DPRTCODE AS "DPRTCODE",
       B.ZWMS AS "ZWMS",
       B.YWMS AS "YWMS",
       B.JLDW AS "JLDW",
       B.CJJH AS "CJJH",
       B.ZJH AS "ZJH",
       B.HCJZ AS "HCJZ",
       B.GLJB AS "GLJB",
       B.SXKZ AS "SXKZ",
       B.HCLX AS "HCLX",
       B.HCLX_EJ AS "HCLX_EJ",
       B.IS_MEL AS "IS_MEL",
       B.MIN_KCL AS "MIN_KCL",
       B.MAX_KCL AS "MAX_KCL",
       B.BZ AS "BZ",
       B.GG AS "GG",
       B.XINGH AS "XINGH",
       B.XH AS "XH",
       B.ZT AS "ZT",
       B.BMID AS "BMID",
       B.CJRID AS "CJRID",
       B.CJSJ AS "CJSJ",
       B.REC_XGLX AS "REC_XGLX",
       B.REC_CZRID AS "REC_CZRID",
       B.REC_CZSJ AS "REC_CZSJ",
       B.REC_IP AS "REC_IP",
       B.REC_CZSM AS "REC_CZSM",
       B.REC_CZLS AS "REC_CZLS",
       B.REC_ZBID AS "REC_ZBID",    
		        	WHR.USERNAME||' '||WHR.REALNAME AS "WHR_REALNAME",
		        	WHR_REC.USERNAME||' '||WHR_REC.REALNAME AS "WHR_REC_REALNAME",
		        	WHDW.DPRTNAME AS "WHDW_DRPTNAME",
			        B.BJH||' '||(
			     F_GETREC_HD(B.REC_CZSM)
			        ) AS "REC_HD"
				FROM D_008_REC B 
	        	LEFT JOIN T_USER WHR ON WHR.ID = B.CJRID
	        	LEFT JOIN T_USER WHR_REC ON WHR_REC.ID = B.REC_CZRID
	        	LEFT JOIN T_DEPARTMENT WHDW ON WHDW.ID = B.BMID
		        WHERE 1=1
				<if test='paramsMap!=null and paramsMap.REC_CZLS!=null and paramsMap.REC_CZLS!=""'>
					and B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
	       	 	</if>
	        	<if test='paramsMap!=null and paramsMap.ID!=null and paramsMap.ID!=""'>
	        		and B.ID = #{paramsMap.ID,jdbcType=VARCHAR}
	        	</if>
	        	<if test='paramsMap!=null and paramsMap.DPRTCODE !=null and paramsMap.DPRTCODE!=""'>
		       		and B.DPRTCODE = #{paramsMap.DPRTCODE,jdbcType=VARCHAR}
		        </if>
		        <if test='paramsMap!=null and paramsMap.KEYWORD !=null and paramsMap.KEYWORD!=""'>
		       		and (
		                B.BJH like '%'||#{paramsMap.KEYWORD,jdbcType=VARCHAR}||'%'
		           	)
		    	</if>
				order by B.CJSJ DESC
	   
	</select>
  
	<select id="queryDiff_D008_Rec" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
		SELECT * FROM (
			SELECT ROW_NUMBER() OVER(ORDER BY B.REC_CZSJ DESC) AS "RNO",
            	
            	B.ID AS "ID",
       B.BJH AS "BJH",
       B.DPRTCODE AS "DPRTCODE",
       B.ZWMS AS "ZWMS",
       B.YWMS AS "YWMS",
       B.JLDW AS "JLDW",
       B.CJJH AS "CJJH",
       B.ZJH AS "ZJH",
       B.HCJZ AS "HCJZ",
       B.GLJB AS "GLJB",
       B.SXKZ AS "SXKZ",
       B.HCLX AS "HCLX",
       B.HCLX_EJ AS "HCLX_EJ",
       B.IS_MEL AS "IS_MEL",
       B.MIN_KCL AS "MIN_KCL",
       B.MAX_KCL AS "MAX_KCL",
       B.BZ AS "BZ",
       B.GG AS "GG",
       B.XINGH AS "XINGH",
       B.XH AS "XH",
       B.ZT AS "ZT",
       B.BMID AS "BMID",
       B.CJRID AS "CJRID",
       B.CJSJ AS "CJSJ",
       B.REC_XGLX AS "REC_XGLX",
       B.REC_CZRID AS "REC_CZRID",
       B.REC_CZSJ AS "REC_CZSJ",
       B.REC_IP AS "REC_IP",
       B.REC_CZSM AS "REC_CZSM",
       B.REC_CZLS AS "REC_CZLS",
       B.REC_ZBID AS "REC_ZBID",  
            	WHR.USERNAME||' '||WHR.REALNAME AS "WHR_REALNAME",
	        	WHR_REC.USERNAME||' '||WHR_REC.REALNAME AS "WHR_REC_REALNAME",
	        	WHDW.DPRTNAME AS "WHDW_DRPTNAME",
            	D005.ZJH||' '||D005.ZWMS AS "ZJHSTR",
            	(
         		CASE 
          			WHEN B.ZT = 0 THEN '无效'
		          	WHEN B.ZT = 1 THEN '有效'
         		END 
     	   		) AS "ZT_NAME",
            	D00101.MC AS "UNIT_NAME",
            	(
         		CASE 
          			WHEN B.HCJZ = 1 THEN '一般'
		          	WHEN B.HCJZ = 2 THEN '中等'
		          	WHEN B.HCJZ = 3 THEN '高额'
         		END 
     	   		) AS "HCJZ_NAME",
     	   		(
         		CASE 
          			WHEN B.GLJB = 1 THEN '无'
		          	WHEN B.GLJB = 2 THEN '批次号管理'
		          	WHEN B.GLJB = 3 THEN '序列号管理'
         		END 
     	   		) AS "GLJB_NAME",
     	   		(
         		CASE 
          			WHEN B.SXKZ = 0 THEN '否'
		          	WHEN B.SXKZ = 1 THEN '是'
         		END 
     	   		) AS "SXKZ_NAME",
     	   		(
     	   		CASE 
          			WHEN B.IS_MEL = 0 THEN '否'
		          	WHEN B.IS_MEL = 1 THEN '是'
         		END 
     	   		) AS "MEL_NAME",
     	   		(
     	   		CASE 
          			WHEN B.HCLX = 0 THEN '其它'
		          	WHEN B.HCLX = 1 THEN '航材'
		          	WHEN B.HCLX = 2 THEN '设备'
		          	WHEN B.HCLX = 3 THEN '工具'
		          	WHEN B.HCLX = 4 THEN '危险品'
		          	WHEN B.HCLX = 5 THEN '低值易耗品'
         		END 
     	   		) AS "HCLX_NAME",
     	   		(
     	   		CASE 
          			WHEN B.HCLX_EJ = 11 THEN '机身消耗'
		          	WHEN B.HCLX_EJ = 12 THEN '机身周转'
		          	WHEN B.HCLX_EJ = 13 THEN '发动机消耗'
		          	WHEN B.HCLX_EJ = 14 THEN '发动机周转'
         		END 
     	   		) AS "HCLX_EJ_NAME",
     	   		(
         		CASE 
          			WHEN B.XH = '00000' THEN '通用'
          			WHEN B.XH = '-' THEN '指定'
         		END 
     	   		) AS "JX_NAME",
            	'件号:'||B.BJH || ' ' || (
            F_GETREC_HD(B.REC_CZSM)
            	) AS "REC_HD",
            	(CASE 
            		WHEN B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR} THEN 'CURRENT'
            		ELSE 'LAST'
            	END
            	) AS "DATA_VERSION"
               
			FROM D_008_REC B
          	LEFT JOIN T_USER WHR ON WHR.ID = B.CJRID
          	LEFT JOIN T_USER WHR_REC ON WHR_REC.ID = B.REC_CZRID
          	LEFT JOIN T_DEPARTMENT WHDW ON WHDW.ID = B.BMID
          	LEFT JOIN D_005 D005 ON B.ZJH = D005.ZJH and B.DPRTCODE = D005.DPRTCODE
          	LEFT JOIN D_00101 D00101 ON D00101.LXID = 1 and B.JLDW = D00101.SZ
         	WHERE B.ID = #{paramsMap.ID,jdbcType=VARCHAR}
           	AND (select rec_czsj from D_008_REC where REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR} and ID = #{paramsMap.ID,jdbcType=VARCHAR}) >= b.rec_czsj 
       ) AS A WHERE 2 >="RNO"
	</select>
	
	<select id="queryDiff_D00801_Rec" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
		SELECT  
		B.ID AS "ID",
       B.MAINID AS "MAINID",
       B.FJJX AS "FJJX",
       B.WHRID AS "WHRID",
       B.WHSJ AS "WHSJ",
       B.REC_XGLX AS "REC_XGLX",
       B.REC_CZRID AS "REC_CZRID",
       B.REC_CZSJ AS "REC_CZSJ",
       B.REC_IP AS "REC_IP",
       B.REC_CZSM AS "REC_CZSM",
       B.REC_CZLS AS "REC_CZLS",
       B.REC_ZBID AS "REC_ZBID",
		'CURRENT' AS "DATA_VERSION" ,
			WHR_REC.USERNAME||' '||WHR_REC.REALNAME AS "WHR_REC_REALNAME",
			(CASE 
	         	WHEN B.REC_XGLX = 1 THEN '新增'
	         	WHEN B.REC_XGLX = 2 THEN '修改'
	         	WHEN B.REC_XGLX = 3 THEN '删除'
	      	END
	      	) AS "REC_XGLX_TEXT" ,
		 F_GETREC_HD(B.REC_CZSM) AS "REC_HD"
	  	FROM D_00801_REC B
	  	LEFT JOIN T_USER WHR_REC ON WHR_REC.ID = B.REC_CZRID
	 	WHERE B.REC_ZBID = #{paramsMap.ID,jdbcType=VARCHAR} AND B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
	 	
		UNION ALL
	
		SELECT 
		B.ID AS "ID",
       B.MAINID AS "MAINID",
       B.FJJX AS "FJJX",
       B.WHRID AS "WHRID",
       B.WHSJ AS "WHSJ",
       B.REC_XGLX AS "REC_XGLX",
       B.REC_CZRID AS "REC_CZRID",
       B.REC_CZSJ AS "REC_CZSJ",
       B.REC_IP AS "REC_IP",
       B.REC_CZSM AS "REC_CZSM",
       B.REC_CZLS AS "REC_CZLS",
       B.REC_ZBID AS "REC_ZBID",
		'LAST' AS "DATA_VERSION" ,
			WHR_REC.USERNAME||' '||WHR_REC.REALNAME AS "WHR_REC_REALNAME",
			(CASE 
         		WHEN B.REC_XGLX = 1 THEN '新增'
         		WHEN B.REC_XGLX = 2 THEN '修改'
         		WHEN B.REC_XGLX = 3 THEN '删除'
      		END) AS "REC_XGLX_TEXT" ,
	 		F_GETREC_HD(B.REC_CZSM) AS "REC_HD"
		FROM D_00801_REC B
		LEFT JOIN T_USER WHR_REC ON WHR_REC.ID = B.REC_CZRID
	 	WHERE B.REC_ZBID = #{paramsMap.ID,jdbcType=VARCHAR}
			AND B.REC_CZLS IN
	         (           
	            SELECT REC_CZLS FROM (
	            	SELECT ROW_NUMBER() OVER(ORDER BY REC_CZSJ DESC) RNO , REC_CZLS
	              	FROM D_008_REC A WHERE 
	             	A.ID = #{paramsMap.ID,jdbcType=VARCHAR}
	            	AND A.REC_CZSJ &lt;=
	            	(
		              	SELECT C.REC_CZSJ FROM D_008_REC C WHERE 
		              	C.ID= #{paramsMap.ID,jdbcType=VARCHAR}
		              	AND C.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
		             )            
	             AND A.REC_CZLS != #{paramsMap.REC_CZLS,jdbcType=VARCHAR}        
	            ) AS T WHERE 1 = RNO                        
            )          
  	</select>
   
	<select id="queryDiff_D00802_Rec" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
		SELECT 
			B.ID AS "ID",
	       	B.MAINID AS "MAINID",
	       	B.CKH AS "CKH",
	       	B.KWH AS "KWH",
	       	B.WHRID AS "WHRID",
	       	B.WHSJ AS "WHSJ",
	       	B.REC_XGLX AS "REC_XGLX",
	       	B.REC_CZRID AS "REC_CZRID",
	       	B.REC_CZSJ AS "REC_CZSJ",
	       	B.REC_IP AS "REC_IP",
	       	B.REC_CZSM AS "REC_CZSM",
	       	B.REC_CZLS AS "REC_CZLS",
	       	B.REC_ZBID AS "REC_ZBID", 
			'CURRENT' AS "DATA_VERSION" ,
			WHR_REC.USERNAME||' '||WHR_REC.REALNAME AS "WHR_REC_REALNAME",
			D009.CKH AS "CKBH",
			D00901.KWH AS "KWBH",
			(CASE 
	         	WHEN B.REC_XGLX = 1 THEN '新增'
	         	WHEN B.REC_XGLX = 2 THEN '修改'
	         	WHEN B.REC_XGLX = 3 THEN '删除'
	      	END
	      	) AS "REC_XGLX_TEXT" ,
		 	F_GETREC_HD(B.REC_CZSM) AS "REC_HD"
	  	FROM D_00802_REC B
	  	LEFT JOIN T_USER WHR_REC ON WHR_REC.ID = B.REC_CZRID
	  	LEFT JOIN D_009 D009 ON D009.ID = B.CKH
	  	LEFT JOIN D_00901 D00901 ON D00901.ID = B.KWH
	 	WHERE B.REC_ZBID = #{paramsMap.ID,jdbcType=VARCHAR} AND B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
	 	
		UNION ALL
	
		SELECT  
			B.ID AS "ID",
	      	B.MAINID AS "MAINID",
	       	B.CKH AS "CKH",
	       	B.KWH AS "KWH",
	       	B.WHRID AS "WHRID",
	       	B.WHSJ AS "WHSJ",
	       	B.REC_XGLX AS "REC_XGLX",
	       	B.REC_CZRID AS "REC_CZRID",
	       	B.REC_CZSJ AS "REC_CZSJ",
	       	B.REC_IP AS "REC_IP",
	       	B.REC_CZSM AS "REC_CZSM",
	       	B.REC_CZLS AS "REC_CZLS",
	       	B.REC_ZBID AS "REC_ZBID", 
			'LAST' AS "DATA_VERSION" ,
			WHR_REC.USERNAME||' '||WHR_REC.REALNAME AS "WHR_REC_REALNAME",
			D009.CKH AS "CKBH",
			D00901.KWH AS "KWBH",
			(CASE 
         		WHEN B.REC_XGLX = 1 THEN '新增'
         		WHEN B.REC_XGLX = 2 THEN '修改'
         		WHEN B.REC_XGLX = 3 THEN '删除'
      		END) AS "REC_XGLX_TEXT" ,
	 	F_GETREC_HD(B.REC_CZSM) AS "REC_HD"
		FROM D_00802_REC B
		LEFT JOIN T_USER WHR_REC ON WHR_REC.ID = B.REC_CZRID
		LEFT JOIN D_009 D009 ON D009.ID = B.CKH
	  	LEFT JOIN D_00901 D00901 ON D00901.ID = B.KWH
	 	WHERE B.REC_ZBID = #{paramsMap.ID,jdbcType=VARCHAR}
			AND B.REC_CZLS IN
	         (           
	            SELECT REC_CZLS FROM (
	            	SELECT ROW_NUMBER() OVER(ORDER BY REC_CZSJ DESC) RNO , REC_CZLS
	              	FROM D_008_REC A WHERE 
	             	A.ID = #{paramsMap.ID,jdbcType=VARCHAR}
	            	AND A.REC_CZSJ &lt;=
	            	(
		              	SELECT C.REC_CZSJ FROM D_008_REC C WHERE 
		              	C.ID= #{paramsMap.ID,jdbcType=VARCHAR}
		              	AND C.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
		             )            
	             AND A.REC_CZLS != #{paramsMap.REC_CZLS,jdbcType=VARCHAR}        
	            ) AS T WHERE 1 = RNO                        
            )      
  	</select>
  	
  	  	<select id="queryDiff_D011" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	 
		SELECT 
			B.ID AS "ID",
	       	B.MAINID AS "MAINID",
	       	B.DPRTCODE AS "DPRTCODE",
	       	B.YSWJM AS "YSWJM",
	       	B.WBWJM AS "WBWJM",
	       	B.NBWJM AS "NBWJM",
	       	B.WJDX AS "WJDX",
	       	B.HZM AS "HZM",
	       	B.SM AS "SM",
	       	B.CFLJ AS "CFLJ",
	       	B.YXZT AS "YXZT",
	       	B.CZSJ AS "CZSJ",
	       	B.CZBMID AS "CZBMID",
	       	B.CZRID AS "CZRID",
	       	B.REC_XGLX AS "REC_XGLX",
	       	B.REC_CZRID AS "REC_CZRID",
	       	B.REC_CZSJ AS "REC_CZSJ",
	       	B.REC_IP AS "REC_IP",
	       	B.REC_CZSM AS "REC_CZSM",
	       	B.REC_CZLS AS "REC_CZLS",
	       	B.REC_ZBID AS "REC_ZBID"
			,JG.DPRTNAME  AS "DPRTCODE_STR"
			,B.WJDX||'K' AS "WJDX_STR"
			,CASE B.YXZT WHEN 1 THEN '有效' ELSE '无效' END AS "YXZT_STR"
			,CZR.USERNAME ||' '|| CZR.REALNAME AS "CZR_STR"
			,CZBM.DPRTNAME  AS "CZBM_STR"
			,REC_CZR.USERNAME ||' '|| REC_CZR.REALNAME AS "REC_CZR_STR"
			,(CASE B.REC_XGLX 
			WHEN  1 THEN '新增' 
			WHEN  2 THEN '修改' 
			WHEN  3 THEN '删除' 
		    ELSE ''
			END) AS "REC_XGLX_STR"
			,'CURRENT' AS "DATA_VERSION" 
			,F_GETREC_HD(B.REC_CZSM) AS "REC_HD"
	   FROM D_011_REC B
	   LEFT JOIN T_USER REC_CZR ON REC_CZR.ID = B.REC_CZRID
	   LEFT JOIN T_DEPARTMENT JG ON JG.ID = B.DPRTCODE
	   LEFT JOIN T_USER CZR ON CZR.ID = B.CZRID
	   LEFT JOIN T_DEPARTMENT CZBM ON CZBM.ID = B.CZBMID
	   WHERE  B.REC_ZBID = #{paramsMap.ID,jdbcType=VARCHAR}
	   AND B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
	   
	   UNION ALL
	
	   SELECT 
		   	B.ID AS "ID",
	       	B.MAINID AS "MAINID",
	       	B.DPRTCODE AS "DPRTCODE",
	       	B.YSWJM AS "YSWJM",
	       	B.WBWJM AS "WBWJM",
	       	B.NBWJM AS "NBWJM",
	       	B.WJDX AS "WJDX",
	       	B.HZM AS "HZM",
	       	B.SM AS "SM",
	       	B.CFLJ AS "CFLJ",
	       	B.YXZT AS "YXZT",
	       	B.CZSJ AS "CZSJ",
	       	B.CZBMID AS "CZBMID",
	       	B.CZRID AS "CZRID",
	       	B.REC_XGLX AS "REC_XGLX",
	       	B.REC_CZRID AS "REC_CZRID",
	       	B.REC_CZSJ AS "REC_CZSJ",
	       	B.REC_IP AS "REC_IP",
	       	B.REC_CZSM AS "REC_CZSM",
	       	B.REC_CZLS AS "REC_CZLS",
	       	B.REC_ZBID AS "REC_ZBID"
			,JG.DPRTNAME  AS "DPRTCODE_STR" 
			,B.WJDX||'K' AS "WJDX_STR"
			,CASE B.YXZT WHEN 1 THEN '有效' ELSE '无效' END AS "YXZT_STR"
			,CZR.USERNAME ||' '|| CZR.REALNAME AS "CZR_STR"
			,CZBM.DPRTNAME  AS "CZBM_STR"
			,REC_CZR.USERNAME ||' '|| REC_CZR.REALNAME AS "REC_CZR_STR"
			,(CASE B.REC_XGLX 
			WHEN  1 THEN '新增' 
	        WHEN  2 THEN '修改' 
	        WHEN  3 THEN '删除' 
	  		ELSE ''
		  	END) AS "REC_XGLX_STR"
			,'LAST' AS "DATA_VERSION" 
		 	,F_GETREC_HD(B.REC_CZSM) AS "REC_HD"
	  	 FROM D_011_REC B
	  	 LEFT JOIN T_USER REC_CZR ON REC_CZR.ID = B.REC_CZRID
	  	 LEFT JOIN T_DEPARTMENT JG ON JG.ID = B.DPRTCODE
	     LEFT JOIN T_USER CZR ON CZR.ID = B.CZRID
	     LEFT JOIN T_DEPARTMENT CZBM ON CZBM.ID = B.CZBMID
	 	 WHERE B.REC_ZBID = #{paramsMap.ID,jdbcType=VARCHAR}
	         AND B.REC_CZLS IN
	         (           
	            SELECT REC_CZLS FROM (
	            	SELECT ROW_NUMBER() OVER(ORDER BY REC_CZSJ DESC) RNO , REC_CZLS
	              	FROM D_008_REC A WHERE 
	             	A.ID = #{paramsMap.ID,jdbcType=VARCHAR}
	            	AND A.REC_CZSJ &lt;=
	            	(
		              	SELECT C.REC_CZSJ FROM D_008_REC C WHERE 
		              	C.ID= #{paramsMap.ID,jdbcType=VARCHAR}
		              	AND C.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
		             )            
	             AND A.REC_CZLS != #{paramsMap.REC_CZLS,jdbcType=VARCHAR}        
	            ) AS T WHERE 1 = RNO                        
            ) 
  	</select>
  	
  	<!-- 部件主数据日志 结束 -->

</mapper>