<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.flightdata.dao.PlaneFaultmonitoringRecMapper">
   
  <select id="queryList_B_S_019_Rec" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	    SELECT 
	   B.ID AS "ID",
       B.FJZCH AS "FJZCH",
       B.GZXX AS "GZXX",
       B.BZ AS "BZ",
       B.GBZT AS "XBSJ",
       B.ZDDWID AS "ZDDWID",
       B.ZDRID AS "ZDRID",
       B.ZDSJ AS "ZDSJ",
       B.DPRTCODE AS "DPRTCODE",
       B.GBSJ AS "GBSJ",
       B.GBYY AS "GBYY",
       B.REC_XGLX AS "REC_XGLX",
       B.REC_CZRID AS "REC_CZRID",
       B.REC_CZSJ AS "REC_CZSJ",
       B.REC_IP AS "REC_IP",
       B.REC_CZSM AS "REC_CZSM",
       B.REC_CZLS AS "REC_CZLS",
       B.REC_ZBID AS "REC_ZBID",  
           WHR.USERNAME || ' '|| WHR.REALNAME AS "ZDR_REALNAME",
           CZR.USERNAME ||' '|| CZR.REALNAME AS "CZR_REALNAME",
             t.dprtname AS "WHDW_DRPTNAME",       
           '飞机注册号:'||B.FJZCH ||' '||B.GZXX||' '||( F_GETREC_HD(B.REC_CZSM)) AS "REC_HD"
            FROM B_S_019_Rec B
            LEFT JOIN T_USER WHR ON WHR.ID = B.ZDRID
            left join T_DEPARTMENT T ON T.ID=B.DPRTCODE 
            LEFT JOIN T_USER CZR ON CZR.ID = B.REC_CZRID      
            WHERE 1=1 
	       	<if test='paramsMap.REC_CZLS !=null and paramsMap.REC_CZLS!=""'>
	        	and B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
	        </if>
	        <if test='paramsMap.ID !=null and paramsMap.ID!=""'>
	        	and B.ID = #{paramsMap.ID,jdbcType=VARCHAR}
	         </if>
	          <if test='paramsMap.DPRTCODE !=null and paramsMap.DPRTCODE!=""'>
	        	and B.DPRTCODE = #{paramsMap.DPRTCODE,jdbcType=VARCHAR}
	         </if>
	        <if test='paramsMap.KEYWORD !=null and paramsMap.KEYWORD!=""'>
	        	and (
	                 FJZCH like '%'||#{paramsMap.KEYWORD,jdbcType=VARCHAR}||'%'
	            )
	         </if>
		         order by B.REC_CZSJ DESC
	   
  </select>
  <select id="queryDiff_B_S_019_Rec" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	   
	   SELECT * FROM (
	   		   SELECT ROW_NUMBER() OVER(ORDER BY B.REC_CZSJ DESC) AS "RNO",
               B.ID AS "ID",
       B.FJZCH AS "FJZCH",
       B.GZXX AS "GZXX",
       B.BZ AS "BZ",
       B.GBZT AS "XBSJ",
       B.ZDDWID AS "ZDDWID",
       B.ZDRID AS "ZDRID",
       B.ZDSJ AS "ZDSJ",
       B.DPRTCODE AS "DPRTCODE",
       B.GBSJ AS "GBSJ",
       B.GBYY AS "GBYY",
       B.REC_XGLX AS "REC_XGLX",
       B.REC_CZRID AS "REC_CZRID",
       B.REC_CZSJ AS "REC_CZSJ",
       B.REC_IP AS "REC_IP",
       B.REC_CZSM AS "REC_CZSM",
       B.REC_CZLS AS "REC_CZLS",
       B.REC_ZBID AS "REC_ZBID",  
           WHR.USERNAME || ' '|| WHR.REALNAME AS "ZDR_REALNAME",
           CZR.USERNAME ||' '|| CZR.REALNAME AS "CZR_REALNAME",
             t.dprtname AS "WHDW_DRPTNAME",       
           '飞机注册号:'||B.FJZCH ||' '||( F_GETREC_HD(B.REC_CZSM)) AS "REC_HD",
                 (CASE WHEN B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR} THEN 'CURRENT'
               ELSE 'LAST'
               END) AS "DATA_VERSION"
               
          FROM B_S_019_REC B
          LEFT JOIN T_USER WHR
            ON WHR.ID = B.ZDRID
        left join t_department t on t.id=b.dprtcode
        LEFT JOIN T_USER CZR ON CZR.ID = B.REC_CZRID  
          WHERE B.ID = #{paramsMap.ID,jdbcType=VARCHAR}
           AND  (select rec_czsj
                  from B_S_019_REC B
                 where REC_CZLS =  #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
                   and ID = #{paramsMap.ID,jdbcType=VARCHAR}) >= b.rec_czsj 
       ) AS A WHERE 2 >="RNO"
       
  </select> 
  <select id="queryDiff4D011" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	SELECT  
	B.ID AS "ID",
       B.MAINID AS "MAINID",
       B.DPRTCODE AS "DPRTCODE",
       B.YSWJM AS "YSWJM",
       B.WBWJM AS "WBWJM",
       B.NBWJM AS "NBWJM",
       B.WJDX AS "WJDX",
       B.HZM AS "HZM",
       B.SM AS "SM",
       B.CFLJ AS "CFLJ",
       B.YXZT AS "YXZT",
       B.CZSJ AS "CZSJ",
       B.CZBMID AS "CZBMID",
       B.CZRID AS "CZRID",
       B.REC_XGLX AS "REC_XGLX",
       B.REC_CZRID AS "REC_CZRID",
       B.REC_CZSJ AS "REC_CZSJ",
       B.REC_IP AS "REC_IP",
       B.REC_CZSM AS "REC_CZSM",
       B.REC_CZLS AS "REC_CZLS",
       B.REC_ZBID AS "REC_ZBID",
	'CURRENT' AS "DATA_VERSION" ,
	(CASE 
         WHEN B.REC_XGLX = 1 THEN
          '新增'
         WHEN B.REC_XGLX = 2 THEN
          '修改'
         WHEN B.REC_XGLX = 3 THEN
          '删除'
      END) AS "REC_XGLX_TEXT" ,
	F_GETREC_HD(B.REC_CZSM) AS "REC_HD"
	  FROM D_011_REC B
	 WHERE B.MAINID = #{paramsMap.ID,jdbcType=VARCHAR}
	   AND B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
	UNION ALL
	
	SELECT 
	B.ID AS "ID",
       B.MAINID AS "MAINID",
       B.DPRTCODE AS "DPRTCODE",
       B.YSWJM AS "YSWJM",
       B.WBWJM AS "WBWJM",
       B.NBWJM AS "NBWJM",
       B.WJDX AS "WJDX",
       B.HZM AS "HZM",
       B.SM AS "SM",
       B.CFLJ AS "CFLJ",
       B.YXZT AS "YXZT",
       B.CZSJ AS "CZSJ",
       B.CZBMID AS "CZBMID",
       B.CZRID AS "CZRID",
       B.REC_XGLX AS "REC_XGLX",
       B.REC_CZRID AS "REC_CZRID",
       B.REC_CZSJ AS "REC_CZSJ",
       B.REC_IP AS "REC_IP",
       B.REC_CZSM AS "REC_CZSM",
       B.REC_CZLS AS "REC_CZLS",
       B.REC_ZBID AS "REC_ZBID",
	'LAST' AS "DATA_VERSION" ,
	(CASE 
         WHEN B.REC_XGLX = 1 THEN
          '新增'
         WHEN B.REC_XGLX = 2 THEN
          '修改'
         WHEN B.REC_XGLX = 3 THEN
          '删除'
      END) AS "REC_XGLX_TEXT" ,
	 F_GETREC_HD(B.REC_CZSM) AS "REC_HD"
	  FROM D_011_REC B
	 WHERE B.MAINID = #{paramsMap.ID,jdbcType=VARCHAR}
	  AND B.REC_CZLS IN
	         (           
	            SELECT REC_CZLS FROM (
	            	SELECT ROW_NUMBER() OVER(ORDER BY REC_CZSJ DESC) RNO , REC_CZLS
	              	FROM B_S_019_REC A WHERE 
	             	A.ID = #{paramsMap.ID,jdbcType=VARCHAR}
	            	AND A.REC_CZSJ &lt;=
	            	(
		              	SELECT C.REC_CZSJ FROM B_S_019_REC C WHERE 
		              	C.ID= #{paramsMap.ID,jdbcType=VARCHAR}
		              	AND C.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
		             )            
	             AND A.REC_CZLS != #{paramsMap.REC_CZLS,jdbcType=VARCHAR}        
	            ) AS T WHERE 1 = RNO                        
            )        
  </select>
  <select id="queryDiff_B_S_01901_Rec" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
		SELECT  
	B.ID AS "ID",
       B.MAINID AS "MAINID",
       B.DPRTCODE AS "DPRTCODE",
       B.FJZCH AS "FJZCH",
       B.HBH AS "HBH",
       B.HBRQ AS "HBRQ",
       B.ZLH AS "ZLH",
       B.PGSL AS "PGSL",
       B.CLJG AS "CLJG",
       B.CXJXX AS "CXJXX",
       B.ZSJXX AS "ZSJXX",
       B.BZ AS "BZ",
       B.ZDRID AS "ZDRID",
      F_GETREC_HD(B.REC_CZSM) AS "REC_HD",
	'CURRENT' AS "DATA_VERSION" ,
	(CASE 
         WHEN B.REC_XGLX = 1 THEN
          '新增'
         WHEN B.REC_XGLX = 2 THEN
          '修改'
         WHEN B.REC_XGLX = 3 THEN
          '删除'
      END) AS "REC_XGLX_TEXT" ,
	F_GETREC_HD(B.REC_CZSM) AS "REC_HD"
	  FROM B_S_01901_REC B
	 WHERE B.REC_ZBID = #{paramsMap.ID,jdbcType=VARCHAR}
	   AND B.REC_CZLS =#{paramsMap.REC_CZLS,jdbcType=VARCHAR}
	UNION ALL
	
	SELECT 
	B.ID AS "ID",
       B.MAINID AS "MAINID",
       B.DPRTCODE AS "DPRTCODE",
       B.FJZCH AS "FJZCH",
       B.HBH AS "HBH",
       B.HBRQ AS "HBRQ",
       B.ZLH AS "ZLH",
       B.PGSL AS "PGSL",
       B.CLJG AS "CLJG",
       B.CXJXX AS "CXJXX",
       B.ZSJXX AS "ZSJXX",
       B.BZ AS "BZ",
       B.ZDRID AS "ZDRID",
      F_GETREC_HD(B.REC_CZSM) AS "REC_HD",
	'LAST' AS "DATA_VERSION" ,
	(CASE 
         WHEN B.REC_XGLX = 1 THEN
          '新增'
         WHEN B.REC_XGLX = 2 THEN
          '修改'
         WHEN B.REC_XGLX = 3 THEN
          '删除'
      END) AS "REC_XGLX_TEXT" ,
	 F_GETREC_HD(B.REC_CZSM) AS "REC_HD"
	  FROM b_S_01901_REC B
	 WHERE B.REC_ZBID =#{paramsMap.ID,jdbcType=VARCHAR}
	  AND B.REC_CZLS IN
	         (           
	            SELECT REC_CZLS FROM (
	            	SELECT ROW_NUMBER() OVER(ORDER BY REC_CZSJ DESC) RNO , REC_CZLS
	              	FROM B_S_019_REC A WHERE 
	             	A.ID = #{paramsMap.ID,jdbcType=VARCHAR}
	            	AND A.REC_CZSJ &lt;=
	            	(
		              	SELECT C.REC_CZSJ FROM B_S_019_REC C WHERE 
		              	C.ID= #{paramsMap.ID,jdbcType=VARCHAR}
		              	AND C.REC_CZLS =#{paramsMap.REC_CZLS,jdbcType=VARCHAR}
		             )            
	             AND A.REC_CZLS != #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
	            ) AS T WHERE 1 = RNO                        
            )        
  </select>
   <select id="queryDiffB_S_01901WithD011" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	SELECT  
	B.ID AS "ID",
       B.MAINID AS "MAINID",
       B.DPRTCODE AS "DPRTCODE",
       B.YSWJM AS "YSWJM",
       B.WBWJM AS "WBWJM",
       B.NBWJM AS "NBWJM",
       B.WJDX AS "WJDX",
       B.HZM AS "HZM",
       B.SM AS "SM",
       B.CFLJ AS "CFLJ",
       B.YXZT AS "YXZT",
       B.CZSJ AS "CZSJ",
       B.CZBMID AS "CZBMID",
       B.CZRID AS "CZRID",
       B.REC_XGLX AS "REC_XGLX",
       B.REC_CZRID AS "REC_CZRID",
       B.REC_CZSJ AS "REC_CZSJ",
       B.REC_IP AS "REC_IP",
       B.REC_CZSM AS "REC_CZSM",
       B.REC_CZLS AS "REC_CZLS",
       B.REC_ZBID AS "REC_ZBID",
	'CURRENT' AS "DATA_VERSION" ,
	(CASE 
         WHEN B.REC_XGLX = 1 THEN
          '新增'
         WHEN B.REC_XGLX = 2 THEN
          '修改'
         WHEN B.REC_XGLX = 3 THEN
          '删除'
      END) AS "REC_XGLX_TEXT" ,
	F_GETREC_HD(B.REC_CZSM) AS "REC_HD"
	  FROM D_011_REC B
	 WHERE B.MAINID  in (select id from b_s_01901 where MAINID=#{paramsMap.ID,jdbcType=VARCHAR})
	   AND B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
	UNION ALL
	
	SELECT 
	B.ID AS "ID",
       B.MAINID AS "MAINID",
       B.DPRTCODE AS "DPRTCODE",
       B.YSWJM AS "YSWJM",
       B.WBWJM AS "WBWJM",
       B.NBWJM AS "NBWJM",
       B.WJDX AS "WJDX",
       B.HZM AS "HZM",
       B.SM AS "SM",
       B.CFLJ AS "CFLJ",
       B.YXZT AS "YXZT",
       B.CZSJ AS "CZSJ",
       B.CZBMID AS "CZBMID",
       B.CZRID AS "CZRID",
       B.REC_XGLX AS "REC_XGLX",
       B.REC_CZRID AS "REC_CZRID",
       B.REC_CZSJ AS "REC_CZSJ",
       B.REC_IP AS "REC_IP",
       B.REC_CZSM AS "REC_CZSM",
       B.REC_CZLS AS "REC_CZLS",
       B.REC_ZBID AS "REC_ZBID",
	'LAST' AS "DATA_VERSION" ,
	(CASE 
         WHEN B.REC_XGLX = 1 THEN
          '新增'
         WHEN B.REC_XGLX = 2 THEN
          '修改'
         WHEN B.REC_XGLX = 3 THEN
          '删除'
      END) AS "REC_XGLX_TEXT" ,
	 F_GETREC_HD(B.REC_CZSM) AS "REC_HD"
	  FROM D_011_REC B
	 WHERE B.MAINID  in (select id from b_s_01901 where MAINID=#{paramsMap.ID,jdbcType=VARCHAR})
	  AND B.REC_CZLS IN
	         (           
	            SELECT REC_CZLS FROM (
	            	SELECT ROW_NUMBER() OVER(ORDER BY REC_CZSJ DESC) RNO , REC_CZLS
	              	FROM B_S_019_REC A WHERE 
	             	A.ID = #{paramsMap.ID,jdbcType=VARCHAR}
	            	AND A.REC_CZSJ &lt;=
	            	(
		              	SELECT C.REC_CZSJ FROM B_S_019_REC C WHERE 
		              	C.ID= #{paramsMap.ID,jdbcType=VARCHAR}
		              	AND C.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
		             )            
	             AND A.REC_CZLS != #{paramsMap.REC_CZLS,jdbcType=VARCHAR}        
	            ) AS T WHERE 1 = RNO                        
            )        
  </select>
   <select id="queryDiff_B_S_0190101_Rec" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
   		SELECT  
	B.ID AS "ID",
  B.GDID AS "GDID",
       B.ZDRID AS "ZDRID",
      F_GETREC_HD(B.REC_CZSM) AS "REC_HD",
	'CURRENT' AS "DATA_VERSION" ,
	T.USERNAME||' '||T.REALNAME AS "ZDRNAME",
	(CASE 
         WHEN B.REC_XGLX = 1 THEN
          '新增'
         WHEN B.REC_XGLX = 2 THEN
          '修改'
         WHEN B.REC_XGLX = 3 THEN
          '删除'
      END) AS "REC_XGLX_TEXT" ,
	F_GETREC_HD(B.REC_CZSM) AS "REC_HD"
	  FROM B_S_0190101_REC B
	  LEFT JOIN T_USER T ON T.ID=B.ZDRID
	 WHERE  B.REC_CZLS =#{paramsMap.REC_CZLS,jdbcType=VARCHAR}
	   AND B.REC_ZBID=#{paramsMap.ID,jdbcType=VARCHAR}
	UNION ALL
	
	SELECT 

       B.ID AS "ID",
  B.GDID AS "GDID",
       B.ZDRID AS "ZDRID",
      F_GETREC_HD(B.REC_CZSM) AS "REC_HD",
	'LAST' AS "DATA_VERSION" ,
	T.USERNAME||' '||T.REALNAME AS "ZDRNAME",
	(CASE 
         WHEN B.REC_XGLX = 1 THEN
          '新增'
         WHEN B.REC_XGLX = 2 THEN
          '修改'
         WHEN B.REC_XGLX = 3 THEN
          '删除'
      END) AS "REC_XGLX_TEXT" ,
	 F_GETREC_HD(B.REC_CZSM) AS "REC_HD"
	  FROM b_S_0190101_REC B
	  LEFT JOIN T_USER T ON T.ID=B.ZDRID
	 WHERE B.REC_ZBID=#{paramsMap.ID,jdbcType=VARCHAR}
	  AND B.REC_CZLS IN
	         (           
	            SELECT REC_CZLS FROM (
	            	SELECT ROW_NUMBER() OVER(ORDER BY REC_CZSJ DESC) RNO , REC_CZLS
	              	FROM B_S_019_REC A WHERE 
	             	A.ID = #{paramsMap.ID,jdbcType=VARCHAR}
	            	AND A.REC_CZSJ &lt;=
	            	(
		              	SELECT C.REC_CZSJ FROM B_S_019_REC C WHERE 
		              	C.ID= #{paramsMap.ID,jdbcType=VARCHAR}
		              	AND C.REC_CZLS =#{paramsMap.REC_CZLS,jdbcType=VARCHAR}
		             )            
	             AND A.REC_CZLS != #{paramsMap.REC_CZLS,jdbcType=VARCHAR}   
	            ) AS T WHERE 1 = RNO                        
            )        
   </select>
</mapper>