<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.flightdata.dao.RoutinginspectionrecordRecMapper" >
   
  <!-- 巡检列表 开始 -->
  <select id="queryList4B_J_002" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	       		 SELECT 
	       		 B.ID AS "ID",
       B.XJBH AS "XJBH",
       B.XSRID AS "XSRID",
       B.XSRMC AS "XSRMC",
       B.XSRQ AS "XSRQ",
       B.KSSJ AS "KSSJ",
       B.JSSJ AS "JSSJ",
       B.IS_YHXS AS "IS_YHXS",
       B.ZT AS "ZT",
       B.DPRTCODE AS "DPRTCODE",
       B.WHBMID AS "WHBMID",
       B.WHRID AS "WHRID",
       B.WHSJ AS "WHSJ",
       B.REC_XGLX AS "REC_XGLX",
       B.REC_CZRID AS "REC_CZRID",
       B.REC_CZSJ AS "REC_CZSJ",
       B.REC_IP AS "REC_IP",
       B.REC_CZSM AS "REC_CZSM",
       B.REC_CZLS AS "REC_CZLS",
       B.REC_ZBID AS "REC_ZBID"      
		        ,WHR.USERNAME||' '||WHR.REALNAME AS "REC_CZR_NAME"
		        , B.xjbh||' '||(
		       F_GETREC_HD(B.REC_CZSM)
		        ) AS "REC_HD"
		        FROM B_J_002_REC B 
		        LEFT JOIN T_USER WHR ON WHR.ID = B.REC_CZRID
		        WHERE 1=1
	       		 <if test='paramsMap.REC_CZLS !=null and paramsMap.REC_CZLS!=""'>
		        	and B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
		         </if>
		         <if test='paramsMap.ID !=null and paramsMap.ID!=""'>
		        	and B.ID = #{paramsMap.ID,jdbcType=VARCHAR}
		         </if>
		         <if test='paramsMap.DPRTCODE !=null and paramsMap.DPRTCODE!=""'>
			        and B.DPRTCODE = #{paramsMap.DPRTCODE,jdbcType=VARCHAR}
			      </if>
			      <if test='paramsMap.KEYWORD !=null and paramsMap.KEYWORD!=""'>
			        and (B.xjbh like '%'||#{paramsMap.KEYWORD,jdbcType=VARCHAR}||'%')
			      </if>
		         order by B.REC_CZSJ DESC
	   
  </select>
  
  <select id="queryDiff4B_J_002" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	   SELECT * FROM (
	   		   SELECT ROW_NUMBER() OVER(ORDER BY B.REC_CZSJ DESC) AS "RNO",
               
               B.ID AS "ID",
       B.XJBH AS "XJBH",
       B.XSRID AS "XSRID",
       B.XSRMC AS "XSRMC",
       B.XSRQ AS "XSRQ",
       B.KSSJ AS "KSSJ",
       B.JSSJ AS "JSSJ",
       B.IS_YHXS AS "IS_YHXS",
       B.ZT AS "ZT",
       B.DPRTCODE AS "DPRTCODE",
       B.WHBMID AS "WHBMID",
       B.WHRID AS "WHRID",
       B.WHSJ AS "WHSJ",
       B.REC_XGLX AS "REC_XGLX",
       B.REC_CZRID AS "REC_CZRID",
       B.REC_CZSJ AS "REC_CZSJ",
       B.REC_IP AS "REC_IP",
       B.REC_CZSM AS "REC_CZSM",
       B.REC_CZLS AS "REC_CZLS",
       B.REC_ZBID AS "REC_ZBID", 
               RECWHR.USERNAME||' '||RECWHR.REALNAME AS "REC_CZR_NAME", 
               WHDW.DPRTNAME AS "NEW_WHBM",
               WHR.USERNAME||' '||WHR.REALNAME AS "NEW_WHR",
               to_char(B.XSRQ,'yyyy-mm-dd') AS "NEW_XSRQ",
                (CASE 
		         WHEN B.ZT = 0 THEN '无效'
		         WHEN B.ZT = 1 THEN '有效'
		         END) AS "NEW_ZT" ,
		         
                (CASE 
		         WHEN B.is_yhxs = 0 THEN '否'
		         WHEN B.is_yhxs = 1 THEN '是'
		         END) AS "NEW_IS_YHXS" ,
		       
               '巡检编号:'||B.xjbh || ' ' || (F_GETREC_HD(B.REC_CZSM)) AS "REC_HD",
               (CASE WHEN B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR} THEN 'CURRENT'
               ELSE 'LAST'
               END) AS "DATA_VERSION"
               
          FROM B_J_002_REC B 
          LEFT JOIN T_USER RECWHR ON RECWHR.ID = B.REC_CZRID
          LEFT JOIN T_USER WHR ON WHR.ID = B.WHRID
          LEFT JOIN T_DEPARTMENT WHDW  ON WHDW.ID = B.WHBMID
          WHERE B.ID = #{paramsMap.ID,jdbcType=VARCHAR} 
          AND (select rec_czsj from B_J_002_REC
                where REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
                   and ID = #{paramsMap.ID,jdbcType=VARCHAR})
                   >= b.rec_czsj 
       ) AS A WHERE 2 >="RNO"
       
  </select>
  

   
   <select id="queryDiff4B_J_00201" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	SELECT 
	B.ID AS "ID",
       B.MAINID AS "MAINID",
       B.XJXMBH AS "XJXMBH",
       B.XJXMBS AS "XJXMBS",
       B.XJXMBZ AS "XJXMBZ",
       B.WHBMID AS "WHBMID",
       B.WHRID AS "WHRID",
       B.WHSJ AS "WHSJ",
       B.REC_XGLX AS "REC_XGLX",
       B.REC_CZRID AS "REC_CZRID",
       B.REC_CZSJ AS "REC_CZSJ",
       B.REC_IP AS "REC_IP",
       B.REC_CZSM AS "REC_CZSM",
       B.REC_CZLS AS "REC_CZLS",
       B.REC_ZBID AS "REC_ZBID", 
	'CURRENT' AS "DATA_VERSION" ,
	WHDW.DPRTNAME AS "NEW_WHBM", 
	WHR.USERNAME||' '||WHR.REALNAME AS "NEW_WHR",
	REC.USERNAME||' '||REC.REALNAME AS "REC_CZR_NAME",
	(CASE 
         WHEN B.REC_XGLX = 1 THEN
          '新增'
         WHEN B.REC_XGLX = 2 THEN
          '修改'
         WHEN B.REC_XGLX = 3 THEN
          '删除'
      END) AS "REC_XGLX_TEXT" ,
      
          (CASE
		WHEN B.XJXMBH = '0101' THEN(CASE WHEN B.xjxmbs=1 THEN '无剥落物'
								  WHEN B.XJXMBS=2 THEN '有剥落物' END)
		WHEN B.XJXMBH = '0102' THEN(CASE WHEN B.XJXMBS=1 THEN '无剥落物'
								  WHEN B.XJXMBS=2 THEN '有剥落物' END)
		WHEN B.XJXMBH = '0103' THEN(CASE WHEN B.XJXMBS=1 THEN '标志清晰'
								  WHEN B.XJXMBS=2 THEN '部分模糊' END)
		WHEN B.XJXMBH = '0104'  THEN(CASE WHEN B.XJXMBS=1 THEN '道面清洁'
								  WHEN B.XJXMBS=2 THEN '部分模糊' END)
		WHEN B.XJXMBH = '0105'  THEN(CASE WHEN B.XJXMBS=1 THEN '无'
								  WHEN B.XJXMBS=2 THEN '有' END)
		WHEN B.XJXMBH = '0201' THEN(CASE WHEN B.XJXMBS=1 THEN '平整'
								  WHEN B.XJXMBS=2 THEN '异常' END)
		WHEN B.XJXMBH = '0301' THEN(CASE WHEN B.XJXMBS=1 THEN '正常'
								  WHEN B.XJXMBS=2 THEN '异常' END)
		WHEN B.XJXMBH = '0302' THEN(CASE WHEN B.XJXMBS=1 THEN '无'
								  WHEN B.XJXMBS=2 THEN '有' END)
		WHEN B.XJXMBH = '0401' THEN(CASE WHEN B.XJXMBS=1 THEN '无'
								  WHEN B.XJXMBS=2 THEN '有' END)
		WHEN B.XJXMBH = '0501' THEN(CASE WHEN B.XJXMBS=1 THEN '完整'
								  WHEN B.XJXMBS=2 THEN '异常' END)
		WHEN B.XJXMBH = '0601' THEN(CASE WHEN B.XJXMBS=1 THEN '是'
								  WHEN B.XJXMBS=2 THEN '否' END)
		WHEN B.XJXMBH = '0701' THEN(CASE WHEN B.XJXMBS=1 THEN '是'
								  WHEN B.XJXMBS=2 THEN '否' END)
		WHEN B.XJXMBH = '0801' THEN(CASE WHEN B.XJXMBS=1 THEN '正常'
								  WHEN B.XJXMBS=2 THEN '异常' END)
		END) AS "NEW_XJXMBS",
       
       (CASE
		WHEN B.XJXMBH = '0101' THEN
		'机坪、跑道和滑行道-道面表面情况'
		WHEN B.XJXMBH = '0102' THEN
		'机坪、跑道和滑行道-嵌缝料情况'
		WHEN B.XJXMBH = '0103' THEN
		'机坪、跑道和滑行道-标志线、标识情况'
		WHEN B.XJXMBH = '0104'  THEN
		'机坪、跑道和滑行道-污染物情况'
		WHEN B.XJXMBH = '0105'  THEN
		'机坪、跑道和滑行道-FOD情况'
		WHEN B.XJXMBH = '0201' THEN
		'土质地带-目视平整度'
		WHEN B.XJXMBH = '0301' THEN
		'场内障碍物-已有障碍物标识和灯光'
		WHEN B.XJXMBH = '0302' THEN
		'场内障碍物-疑似新增超高物'
		WHEN B.XJXMBH = '0401' THEN
		'场外障碍物-疑似新增超高物'
		WHEN B.XJXMBH = '0501' THEN
		'机场围界-目视完整度'
		WHEN B.XJXMBH = '0601' THEN
		'排水渠-是否畅通'
		WHEN B.XJXMBH = '0701' THEN
		'风向带-是否正常'
		WHEN B.XJXMBH = '0801' THEN
		'灯光-目视有无损坏'
		END) AS "NEW_XJXMBH",
	F_GETREC_HD(B.REC_CZSM) AS "REC_HD"
	  FROM B_J_00201_REC B   
	  LEFT JOIN T_USER WHR ON WHR.ID = B.WHRID
	  LEFT JOIN T_USER REC ON REC.ID = B.REC_CZRID
      LEFT JOIN T_DEPARTMENT WHDW  ON WHDW.ID = B.WHBMID
	 WHERE B.REC_ZBID = #{paramsMap.ID,jdbcType=VARCHAR}
	 AND B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
	
	UNION ALL
	
	SELECT 
	B.ID AS "ID",
       B.MAINID AS "MAINID",
       B.XJXMBH AS "XJXMBH",
       B.XJXMBS AS "XJXMBS",
       B.XJXMBZ AS "XJXMBZ",
       B.WHBMID AS "WHBMID",
       B.WHRID AS "WHRID",
       B.WHSJ AS "WHSJ",
       B.REC_XGLX AS "REC_XGLX",
       B.REC_CZRID AS "REC_CZRID",
       B.REC_CZSJ AS "REC_CZSJ",
       B.REC_IP AS "REC_IP",
       B.REC_CZSM AS "REC_CZSM",
       B.REC_CZLS AS "REC_CZLS",
       B.REC_ZBID AS "REC_ZBID", 
	'LAST' AS "DATA_VERSION" ,
	WHDW.DPRTNAME AS "NEW_WHBM", 
	WHR.USERNAME||' '||WHR.REALNAME AS "NEW_WHR",
	REC.USERNAME||' '||REC.REALNAME AS "REC_CZR_NAME",
	 (CASE 
         WHEN B.REC_XGLX = 1 THEN
          '新增'
         WHEN B.REC_XGLX = 2 THEN
          '修改'
         WHEN B.REC_XGLX = 3 THEN
          '删除'
      END) AS "REC_XGLX_TEXT" ,
         (CASE
		WHEN B.XJXMBH = '0101' THEN(CASE WHEN B.XJXMBS=1 THEN '无剥落物'
								  WHEN B.XJXMBS=2 THEN '有剥落物' END)
		WHEN B.XJXMBH = '0102' THEN(CASE WHEN B.xjxmbs=1 THEN '无剥落物'
								  WHEN B.XJXMBS=2 THEN '有剥落物' END)
		WHEN B.XJXMBH = '0103' THEN(CASE WHEN B.XJXMBS=1 THEN '标志清晰'
								  WHEN B.XJXMBS=2 THEN '部分模糊' END)
		WHEN B.XJXMBH = '0104'  THEN(CASE WHEN B.XJXMBS=1 THEN '道面清洁'
								  WHEN B.XJXMBS=2 THEN '部分模糊' END)
		WHEN B.XJXMBH = '0105'  THEN(CASE WHEN B.XJXMBS=1 THEN '无'
								  WHEN B.XJXMBS=2 THEN '有' END)
		WHEN B.XJXMBH = '0201' THEN(CASE WHEN B.XJXMBS=1 THEN '平整'
								  WHEN B.XJXMBS=2 THEN '异常' END)
		WHEN B.XJXMBH = '0301' THEN(CASE WHEN B.XJXMBS=1 THEN '正常'
								  WHEN B.XJXMBS=2 THEN '异常' END)
		WHEN B.XJXMBH = '0302' THEN(CASE WHEN B.XJXMBS=1 THEN '无'
								  WHEN B.XJXMBS=2 THEN '有' END)
		WHEN B.XJXMBH = '0401' THEN(CASE WHEN B.XJXMBS=1 THEN '无'
								  WHEN B.XJXMBS=2 THEN '有' END)
		WHEN B.XJXMBH = '0501' THEN(CASE WHEN B.XJXMBS=1 THEN '完整'
								  WHEN B.XJXMBS=2 THEN '异常' END)
		WHEN B.XJXMBH = '0601' THEN(CASE WHEN B.XJXMBS=1 THEN '是'
								  WHEN B.XJXMBS=2 THEN '否' END)
		WHEN B.XJXMBH = '0701' THEN(CASE WHEN B.XJXMBS=1 THEN '是'
								  WHEN B.XJXMBS=2 THEN '否' END)
		WHEN B.XJXMBH = '0801' THEN(CASE WHEN B.XJXMBS=1 THEN '正常'
								  WHEN B.XJXMBS=2 THEN '异常' END)
		END) AS "NEW_XJXMBS",
       
	  (CASE
		WHEN B.XJXMBH = '0101' THEN
		'机坪、跑道和滑行道-道面表面情况'
		WHEN B.XJXMBH = '0102' THEN
		'机坪、跑道和滑行道-嵌缝料情况'
		WHEN B.XJXMBH = '0103' THEN
		'机坪、跑道和滑行道-标志线、标识情况'
		WHEN B.XJXMBH = '0104'  THEN
		'机坪、跑道和滑行道-污染物情况'
		WHEN B.XJXMBH = '0105'  THEN
		'机坪、跑道和滑行道-FOD情况'
		WHEN B.XJXMBH = '0201' THEN
		'土质地带-目视平整度'
		WHEN B.XJXMBH = '0301' THEN
		'场内障碍物-已有障碍物标识和灯光'
		WHEN B.XJXMBH = '0302' THEN
		'场内障碍物-疑似新增超高物'
		WHEN B.XJXMBH = '0401' THEN
		'场外障碍物-疑似新增超高物'
		WHEN B.XJXMBH = '0501' THEN
		'机场围界-目视完整度'
		WHEN B.XJXMBH = '0601' THEN
		'排水渠-是否畅通'
		WHEN B.XJXMBH = '0701' THEN
		'风向带-是否正常'
		WHEN B.XJXMBH = '0801' THEN
		'灯光-目视有无损坏'
		END) AS "NEW_XJXMBH",
	F_GETREC_HD(B.REC_CZSM) AS "REC_HD"
	  FROM B_J_00201_REC B
	  LEFT JOIN T_USER WHR ON WHR.ID = B.WHRID
	  LEFT JOIN T_USER REC ON REC.ID = B.REC_CZRID
      LEFT JOIN T_DEPARTMENT WHDW  ON WHDW.ID = B.WHBMID
		WHERE B.REC_ZBID = #{paramsMap.ID,jdbcType=VARCHAR}
			AND B.REC_CZLS IN
	         (           
	            SELECT REC_CZLS FROM (
	            	SELECT ROW_NUMBER() OVER(ORDER BY REC_CZSJ DESC) RNO , REC_CZLS
	              	FROM B_J_002_REC A WHERE 
	             	A.ID = #{paramsMap.ID,jdbcType=VARCHAR}
	            	AND A.REC_CZSJ &lt;=
	            	(
		              	SELECT C.REC_CZSJ FROM B_J_002_REC C WHERE 
		              	C.ID= #{paramsMap.ID,jdbcType=VARCHAR}
		              	AND C.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
		             )            
	             AND A.REC_CZLS != #{paramsMap.REC_CZLS,jdbcType=VARCHAR}        
	            ) AS T WHERE 1 = RNO                        
            )          
  </select>
  
  <select id="queryDiff4D_011" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">

	SELECT K.NEW_XJXMBH AS "NEW_XJXMBH", K.NEW_WBWJM AS "NEW_WBWJM", K.REC_HD AS "REC_HD", K.DATA_VERSION AS "DATA_VERSION",
	G.REC_IP AS "REC_IP",
	G.REC_CZSJ AS "REC_CZSJ",
	WHR.USERNAME||' '||WHR.REALNAME  AS "REC_CZR_NAME",
	
	(CASE
		WHEN XJXMBH = '0101' THEN
		'机坪、跑道和滑行道-道面表面情况'
		WHEN XJXMBH = '0102' THEN
		'机坪、跑道和滑行道-嵌缝料情况'
		WHEN XJXMBH = '0103' THEN
		'机坪、跑道和滑行道-标志线、标识情况'
		WHEN XJXMBH = '0104'  THEN
		'机坪、跑道和滑行道-污染物情况'
		WHEN XJXMBH = '0105'  THEN
		'机坪、跑道和滑行道-FOD情况'
		WHEN XJXMBH = '0201' THEN
		'土质地带-目视平整度'
		WHEN XJXMBH = '0301' THEN
		'场内障碍物-已有障碍物标识和灯光'
		WHEN XJXMBH = '0302' THEN
		'场内障碍物-疑似新增超高物'
		WHEN XJXMBH = '0401' THEN
		'场外障碍物-疑似新增超高物'
		WHEN XJXMBH = '0501' THEN
		'机场围界-目视完整度'
		WHEN XJXMBH = '0601' THEN
		'排水渠-是否畅通'
		WHEN XJXMBH = '0701' THEN
		'风向带-是否正常'
		WHEN XJXMBH = '0801' THEN
		'灯光-目视有无损坏'
        END) AS "NEW_NEW_XJXMBH"
	
	 FROM (
	SELECT t.NEW_XJXMBH, string_agg(REC_XGLX_TEXT ||':'||WBWJM,',') NEW_WBWJM, string_agg(REC_HD,',')
	REC_HD, 'CURRENT' DATA_VERSION FROM (
	SELECT B.*,
	KCXX.XJXMBH NEW_XJXMBH,
	(CASE
	WHEN B.REC_XGLX = 1 THEN
	'新增'
	WHEN B.REC_XGLX = 2 THEN
	'修改'
	WHEN B.REC_XGLX = 3 THEN
	'删除'
	END) AS REC_XGLX_TEXT,
	

	F_GETREC_HD(B.REC_CZSM) REC_HD

	FROM D_011_REC B

	LEFT JOIN B_j_00201 KCXX ON KCXX.ID = B.MAINID
	WHERE B.REC_ZBID = #{paramsMap.ID,jdbcType=VARCHAR}
	AND B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
	)t GROUP BY t.NEW_XJXMBH

	UNION ALL

	SELECT t.NEW_XJXMBH AS NEW_XJXMBH, 
	string_agg(REC_XGLX_TEXT ||':'||WBWJM,',') AS NEW_WBWJM, 
	string_agg(REC_HD,',') AS "REC_HD",
	'LAST' DATA_VERSION 
	FROM (

	SELECT B.*,
	KCXX.XJXMBH NEW_XJXMBH,
	(CASE
	WHEN B.REC_XGLX = 1 THEN
	'新增'
	WHEN B.REC_XGLX = 2 THEN
	'修改'
	WHEN B.REC_XGLX = 3 THEN
	'删除'
	END) REC_XGLX_TEXT,

    F_GETREC_HD(B.REC_CZSM) AS REC_HD
	
	FROM D_011_REC B

	LEFT JOIN B_J_00201 KCXX ON KCXX.ID = B.MAINID

	WHERE B.REC_ZBID = #{paramsMap.ID,jdbcType=VARCHAR}
	
	AND B.REC_CZLS IN
         (           
            SELECT REC_CZLS FROM (
            	SELECT ROW_NUMBER() OVER(ORDER BY REC_CZSJ DESC) RNO , REC_CZLS
              	FROM B_J_002_REC A WHERE 
             	A.ID = #{paramsMap.ID,jdbcType=VARCHAR}
            	AND A.REC_CZSJ &lt;=
            	(
	              	SELECT MIN(C.REC_CZSJ) FROM B_J_002_REC C WHERE 
	              	C.ID = #{paramsMap.ID,jdbcType=VARCHAR}
	              	AND C.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
	             )            
             AND A.REC_CZLS != #{paramsMap.REC_CZLS,jdbcType=VARCHAR}        
            ) AS T WHERE 1 = RNO                        
           )       

	)t GROUP BY t.NEW_XJXMBH
	) K
	LEFT JOIN (SELECT G.* FROM B_J_00201_REC G WHERE G.REC_ZBID
	=#{paramsMap.ID,jdbcType=VARCHAR}
	AND G.REC_CZLS =
	#{paramsMap.REC_CZLS,jdbcType=VARCHAR})G ON
	G.XJXMBH=K.NEW_XJXMBH
	LEFT JOIN T_USER WHR ON WHR.ID =G.REC_CZRID 
           
  </select>
  
</mapper>