<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.flightdata.dao.FlightRecordSheetToDisassemblyMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.flightdata.po.FlightRecordSheetToDisassembly" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CJJLDH" property="cjjldh" jdbcType="VARCHAR" />
    <result column="FXJLGLJLID" property="fxjlgljlid" jdbcType="VARCHAR" />
    <result column="FXJLDID" property="fxjldid" jdbcType="VARCHAR" />
    <result column="ZS_IS" property="zsIs" jdbcType="DECIMAL" />
    <result column="ZS_BZ" property="zsBz" jdbcType="VARCHAR" />
    <result column="CX_ZJQDID" property="cxZjqdid" jdbcType="VARCHAR" />
    <result column="CX_BZ" property="cxBz" jdbcType="VARCHAR" />
    <result column="BZ" property="bz" jdbcType="VARCHAR" />
    <result column="WHDWID" property="whdwid" jdbcType="VARCHAR" />
    <result column="WHRID" property="whrid" jdbcType="VARCHAR" />
    <result column="WHSJ" property="whsj" jdbcType="TIMESTAMP" />
    <result column="ZT" property="zt" jdbcType="DECIMAL" />
    <result column="TBBS" property="tbbs" jdbcType="DECIMAL" />
    <result column="DPRTCODE" property="dprtcode" jdbcType="VARCHAR" />
    <result column="ZS_WCKCID" property="zsWckcid" jdbcType="VARCHAR" />
    <result column="ZS_KCLVID" property="zsKclvid" jdbcType="VARCHAR" />
    <result column="CX_WCKCID" property="cxWckcid" jdbcType="VARCHAR" />
    <result column="CX_KCLVID" property="cxKclvid" jdbcType="VARCHAR" />
    <result column="CX_JLDH" property="cxjldh" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CJJLDH, FXJLGLJLID, FXJLDID, ZS_IS, ZS_BZ, CX_ZJQDID, CX_BZ, BZ, WHDWID, WHRID, 
    WHSJ, ZT, TBBS, DPRTCODE, ZS_WCKCID, ZS_KCLVID, CX_WCKCID, CX_KCLVID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_S_0060201
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_S_0060201
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eray.thjw.flightdata.po.FlightRecordSheetToDisassembly" >
    insert into B_S_0060201 (ID, CJJLDH, FXJLGLJLID, 
      FXJLDID, ZS_IS, ZS_BZ, 
      CX_ZJQDID, CX_BZ, BZ, 
      WHDWID, WHRID, WHSJ, 
      ZT, TBBS, DPRTCODE)
    values (#{id,jdbcType=VARCHAR}, #{cjjldh,jdbcType=VARCHAR}, #{fxjlgljlid,jdbcType=VARCHAR}, 
      #{fxjldid,jdbcType=VARCHAR}, #{zsIs,jdbcType=DECIMAL}, #{zsBz,jdbcType=VARCHAR}, 
      #{cxZjqdid,jdbcType=VARCHAR}, #{cxBz,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, 
      #{whdwid,jdbcType=VARCHAR}, #{whrid,jdbcType=VARCHAR}, #{whsj,jdbcType=TIMESTAMP}, 
      #{zt,jdbcType=DECIMAL}, #{tbbs,jdbcType=DECIMAL}, #{dprtcode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eray.thjw.flightdata.po.FlightRecordSheetToDisassembly" >
    insert into B_S_0060201
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="cjjldh != null" >
        CJJLDH,
      </if>
      <if test="fxjlgljlid != null" >
        FXJLGLJLID,
      </if>
      <if test="fxjldid != null" >
        FXJLDID,
      </if>
      <if test="zsIs != null" >
        ZS_IS,
      </if>
      <if test="zsBz != null" >
        ZS_BZ,
      </if>
      <if test="cxZjqdid != null" >
        CX_ZJQDID,
      </if>
      <if test="cxBz != null" >
        CX_BZ,
      </if>
      <if test="bz != null" >
        BZ,
      </if>
      <if test="whdwid != null" >
        WHDWID,
      </if>
      <if test="whrid != null" >
        WHRID,
      </if>
      <if test="whsj != null" >
        WHSJ,
      </if>
      <if test="zt != null" >
        ZT,
      </if>
      <if test="tbbs != null" >
        TBBS,
      </if>
      <if test="dprtcode != null" >
        DPRTCODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="cjjldh != null" >
        #{cjjldh,jdbcType=VARCHAR},
      </if>
      <if test="fxjlgljlid != null" >
        #{fxjlgljlid,jdbcType=VARCHAR},
      </if>
      <if test="fxjldid != null" >
        #{fxjldid,jdbcType=VARCHAR},
      </if>
      <if test="zsIs != null" >
        #{zsIs,jdbcType=DECIMAL},
      </if>
      <if test="zsBz != null" >
        #{zsBz,jdbcType=VARCHAR},
      </if>
      <if test="cxZjqdid != null" >
        #{cxZjqdid,jdbcType=VARCHAR},
      </if>
      <if test="cxBz != null" >
        #{cxBz,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="whdwid != null" >
        #{whdwid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        #{whsj,jdbcType=TIMESTAMP},
      </if>
      <if test="zt != null" >
        #{zt,jdbcType=DECIMAL},
      </if>
      <if test="tbbs != null" >
        #{tbbs,jdbcType=DECIMAL},
      </if>
      <if test="dprtcode != null" >
        #{dprtcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eray.thjw.flightdata.po.FlightRecordSheetToDisassembly" >
    update B_S_0060201
    <set >
      <if test="cjjldh != null" >
        CJJLDH = #{cjjldh,jdbcType=VARCHAR},
      </if>
      <if test="fxjlgljlid != null" >
        FXJLGLJLID = #{fxjlgljlid,jdbcType=VARCHAR},
      </if>
      <if test="fxjldid != null" >
        FXJLDID = #{fxjldid,jdbcType=VARCHAR},
      </if>
      <if test="zsIs != null" >
        ZS_IS = #{zsIs,jdbcType=DECIMAL},
      </if>
      <if test="zsBz != null" >
        ZS_BZ = #{zsBz,jdbcType=VARCHAR},
      </if>
      <if test="cxZjqdid != null" >
        CX_ZJQDID = #{cxZjqdid,jdbcType=VARCHAR},
      </if>
      <if test="cxBz != null" >
        CX_BZ = #{cxBz,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        BZ = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="whdwid != null" >
        WHDWID = #{whdwid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        WHRID = #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        WHSJ = #{whsj,jdbcType=TIMESTAMP},
      </if>
      <if test="zt != null" >
        ZT = #{zt,jdbcType=DECIMAL},
      </if>
      <if test="tbbs != null" >
        TBBS = #{tbbs,jdbcType=DECIMAL},
      </if>
<!--       <if test="dprtcode != null" > -->
<!--         DPRTCODE = #{dprtcode,jdbcType=VARCHAR}, -->
<!--       </if> -->
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eray.thjw.flightdata.po.FlightRecordSheetToDisassembly" >
    update B_S_0060201
    set CJJLDH = #{cjjldh,jdbcType=VARCHAR},
      FXJLGLJLID = #{fxjlgljlid,jdbcType=VARCHAR},
      FXJLDID = #{fxjldid,jdbcType=VARCHAR},
      ZS_IS = #{zsIs,jdbcType=DECIMAL},
      ZS_BZ = #{zsBz,jdbcType=VARCHAR},
      CX_ZJQDID = #{cxZjqdid,jdbcType=VARCHAR},
      CX_BZ = #{cxBz,jdbcType=VARCHAR},
      BZ = #{bz,jdbcType=VARCHAR},
      WHDWID = #{whdwid,jdbcType=VARCHAR},
      WHRID = #{whrid,jdbcType=VARCHAR},
      WHSJ = #{whsj,jdbcType=TIMESTAMP},
      ZT = #{zt,jdbcType=DECIMAL},
      TBBS = #{tbbs,jdbcType=DECIMAL}
<!--       DPRTCODE = #{dprtcode,jdbcType=VARCHAR} -->
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  
  
    <!-- 插入或更新 -->
    <insert id="save" parameterType="com.eray.thjw.flightdata.po.FlightRecordSheetToDisassembly" >
		  MERGE INTO B_S_0060201 b1
			USING (SELECT   #{id,jdbcType=VARCHAR} AS ID, 
							#{cjjldh,jdbcType=VARCHAR} AS CJJLDH, 
							#{fxjlgljlid,jdbcType=VARCHAR} AS FXJLGLJLID, 
      						#{fxjldid,jdbcType=VARCHAR} AS FXJLDID, 
      						#{zsIs,jdbcType=DECIMAL} AS ZSIS, 
      						#{zsBz,jdbcType=VARCHAR} AS ZSBZ, 
      						#{cxZjqdid,jdbcType=VARCHAR} AS CXZJQDID, 
      						#{cxBz,jdbcType=VARCHAR} AS CXBZ, 
      						#{bz,jdbcType=VARCHAR} AS BZ, 
     						#{whdwid,jdbcType=VARCHAR} AS WHDWID, 
     						#{whrid,jdbcType=VARCHAR} AS WHRID, 
     						#{whsj,jdbcType=TIMESTAMP} AS WHSJ, 
      						#{zt,jdbcType=DECIMAL} AS ZT, 
      						#{tbbs,jdbcType=DECIMAL} AS TBBS, 
      						#{zsWckcid,jdbcType=VARCHAR} AS ZSWCKCID,
      						#{dprtcode,jdbcType=VARCHAR} AS DPRTCODE,
      						#{cxjldh,jdbcType=VARCHAR} AS CXJLDH
			FROM dual) b2
			ON ( b1.ID=b2.ID)
			WHEN MATCHED THEN
			  UPDATE SET 
					      ZS_IS = #{zsIs,jdbcType=DECIMAL},
					      ZS_BZ = #{zsBz,jdbcType=VARCHAR},
					      CX_ZJQDID = #{cxZjqdid,jdbcType=VARCHAR},
					      CX_BZ = #{cxBz,jdbcType=VARCHAR},
					      BZ = #{bz,jdbcType=VARCHAR},
					      WHDWID = #{whdwid,jdbcType=VARCHAR},
					      WHRID = #{whrid,jdbcType=VARCHAR},
					      WHSJ = #{whsj,jdbcType=TIMESTAMP},
					      ZT = #{zt,jdbcType=DECIMAL},
					      TBBS = #{tbbs,jdbcType=DECIMAL},
					      CX_JLDH = #{cxjldh,jdbcType=VARCHAR},
					      ZS_WCKCID = #{zsWckcid,jdbcType=VARCHAR}
			WHEN NOT MATCHED THEN 
			  INSERT (ID, CJJLDH, FXJLGLJLID, 
					      FXJLDID, ZS_IS, ZS_BZ, 
					      CX_ZJQDID, CX_BZ, BZ, 
					      WHDWID, WHRID, WHSJ, 
					      ZT, TBBS, DPRTCODE,
					      ZS_WCKCID,CX_JLDH) 
			  VALUES (#{id,jdbcType=VARCHAR}, #{cjjldh,jdbcType=VARCHAR}, #{fxjlgljlid,jdbcType=VARCHAR}, 
					      #{fxjldid,jdbcType=VARCHAR}, #{zsIs,jdbcType=DECIMAL}, #{zsBz,jdbcType=VARCHAR}, 
					      #{cxZjqdid,jdbcType=VARCHAR}, #{cxBz,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, 
					      #{whdwid,jdbcType=VARCHAR}, #{whrid,jdbcType=VARCHAR}, #{whsj,jdbcType=TIMESTAMP}, 
					      #{zt,jdbcType=DECIMAL}, #{tbbs,jdbcType=DECIMAL}, #{dprtcode,jdbcType=VARCHAR}, 
					      #{zsWckcid,jdbcType=VARCHAR},#{cxjldh,jdbcType=VARCHAR})
    </insert>
    
    
    <!-- 删除 -->
  <update id="deleteNotExist" parameterType="com.eray.thjw.flightdata.po.FlightRecordSheetToDisassembly" >
          UPDATE B_S_0060201 
			SET ZT = #{zt,jdbcType=DECIMAL},
		    TBBS = #{tbbs,jdbcType=DECIMAL},
		    WHDWID = #{whdwid,jdbcType=VARCHAR},
		    WHRID = #{whrid,jdbcType=VARCHAR},
		    WHSJ = #{whsj,jdbcType=TIMESTAMP}
<!-- 		    DPRTCODE = #{dprtcode,jdbcType=VARCHAR} -->
			WHERE FXJLGLJLID = #{fxjlgljlid,jdbcType=VARCHAR}
			<if test="ids != null and ids.size > 0">
            and id not in 
            <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
			#{item}
	   		</foreach>
	        </if>
  </update>
  
   <!-- 删除 -->
  <update id="deleteInvalid" parameterType="java.util.HashMap" >
          UPDATE B_S_0060201 B1
			SET B1.ZT = #{zt,jdbcType=DECIMAL},
		    B1.TBBS = #{tbbs,jdbcType=DECIMAL},
		    B1.WHDWID = #{whdwid,jdbcType=VARCHAR},
		    B1.WHRID = #{whrid,jdbcType=VARCHAR},
		    B1.WHSJ = #{whsj,jdbcType=TIMESTAMP}
			WHERE B1.FXJLDID = #{fxjldid,jdbcType=VARCHAR}
			AND NOT EXISTS (
				SELECT 1 FROM B_S_00602 B2 WHERE B1.FXJLGLJLID = B2.ID AND B2.ZT = 1
			)
  </update>
  
  <!-- 查询外场库存数据 -->
  <select id="queryOutFieldData" parameterType="com.eray.thjw.flightdata.po.MountLoadingList" 
		resultType="com.eray.thjw.aerialmaterial.po.OutFieldStock">
          select id,kcsl from b_h_003 where bjh = #{jh,jdbcType=DECIMAL} and sn = #{xlh,jdbcType=DECIMAL}
          and rownum = 1
  </select>
</mapper>