<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.flightdata.dao.InspectionRecordMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.flightdata.po.InspectionRecord" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="FXJLDID" property="fxjldid" jdbcType="VARCHAR" />
    <result column="HD" property="hd" jdbcType="DECIMAL" />
    <result column="JCR" property="jcr" jdbcType="VARCHAR" />
    <result column="ZT" property="zt" jdbcType="DECIMAL" />
    <result column="BZ" property="bz" jdbcType="VARCHAR" />
    <result column="WHDWID" property="whdwid" jdbcType="VARCHAR" />
    <result column="WHRID" property="whrid" jdbcType="VARCHAR" />
    <result column="WHSJ" property="whsj" jdbcType="TIMESTAMP" />
    <result column="DPRTCODE" property="dprtcode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, FXJLDID, HD, JCR, ZT, BZ, WHDWID, WHRID, WHSJ, DPRTCODE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_S_00603
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_S_00603
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eray.thjw.flightdata.po.InspectionRecord" >
    insert into B_S_00603 (ID, FXJLDID, HD, 
      JCR, ZT, BZ, WHDWID, 
      WHRID, WHSJ, DPRTCODE
      )
    values (#{id,jdbcType=VARCHAR}, #{fxjldid,jdbcType=VARCHAR}, #{hd,jdbcType=DECIMAL}, 
      #{jcr,jdbcType=VARCHAR}, #{zt,jdbcType=DECIMAL}, #{bz,jdbcType=VARCHAR}, #{whdwid,jdbcType=VARCHAR}, 
      #{whrid,jdbcType=VARCHAR}, #{whsj,jdbcType=TIMESTAMP}, #{dprtcode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.eray.thjw.flightdata.po.InspectionRecord" >
    insert into B_S_00603
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="fxjldid != null" >
        FXJLDID,
      </if>
      <if test="hd != null" >
        HD,
      </if>
      <if test="jcr != null" >
        JCR,
      </if>
      <if test="zt != null" >
        ZT,
      </if>
      <if test="bz != null" >
        BZ,
      </if>
      <if test="whdwid != null" >
        WHDWID,
      </if>
      <if test="whrid != null" >
        WHRID,
      </if>
      <if test="whsj != null" >
        WHSJ,
      </if>
      <if test="dprtcode != null" >
        DPRTCODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="fxjldid != null" >
        #{fxjldid,jdbcType=VARCHAR},
      </if>
      <if test="hd != null" >
        #{hd,jdbcType=DECIMAL},
      </if>
      <if test="jcr != null" >
        #{jcr,jdbcType=VARCHAR},
      </if>
      <if test="zt != null" >
        #{zt,jdbcType=DECIMAL},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="whdwid != null" >
        #{whdwid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        #{whsj,jdbcType=TIMESTAMP},
      </if>
      <if test="dprtcode != null" >
        #{dprtcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eray.thjw.flightdata.po.InspectionRecord" >
    update B_S_00603
    <set >
      <if test="fxjldid != null" >
        FXJLDID = #{fxjldid,jdbcType=VARCHAR},
      </if>
      <if test="hd != null" >
        HD = #{hd,jdbcType=DECIMAL},
      </if>
      <if test="jcr != null" >
        JCR = #{jcr,jdbcType=VARCHAR},
      </if>
      <if test="zt != null" >
        ZT = #{zt,jdbcType=DECIMAL},
      </if>
      <if test="bz != null" >
        BZ = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="whdwid != null" >
        WHDWID = #{whdwid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        WHRID = #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        WHSJ = #{whsj,jdbcType=TIMESTAMP},
      </if>
<!--       <if test="dprtcode != null" > -->
<!--         DPRTCODE = #{dprtcode,jdbcType=VARCHAR}, -->
<!--       </if> -->
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eray.thjw.flightdata.po.InspectionRecord" >
    update B_S_00603
    set FXJLDID = #{fxjldid,jdbcType=VARCHAR},
      HD = #{hd,jdbcType=DECIMAL},
      JCR = #{jcr,jdbcType=VARCHAR},
      ZT = #{zt,jdbcType=DECIMAL},
      BZ = #{bz,jdbcType=VARCHAR},
      WHDWID = #{whdwid,jdbcType=VARCHAR},
      WHRID = #{whrid,jdbcType=VARCHAR},
      WHSJ = #{whsj,jdbcType=TIMESTAMP}
<!--       DPRTCODE = #{dprtcode,jdbcType=VARCHAR} -->
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  	<!-- 插入或更新 -->
    <insert id="save" parameterType="com.eray.thjw.flightdata.po.InspectionRecord" >
		  MERGE INTO B_S_00603 b1
			USING (SELECT   #{id,jdbcType=VARCHAR} AS ID, 
							#{fxjldid,jdbcType=VARCHAR} AS FXJLDID, 
							#{hd,jdbcType=DECIMAL} AS HD, 
      						#{jcr,jdbcType=VARCHAR} AS JCR, 
      						#{zt,jdbcType=DECIMAL} AS ZT, 
      						#{bz,jdbcType=VARCHAR} AS BZ, 
      						#{whdwid,jdbcType=VARCHAR} AS WHDWID, 
      						#{whrid,jdbcType=VARCHAR} AS WHRID, 
      						#{whsj,jdbcType=TIMESTAMP} AS WHSJ,
      						#{dprtcode,jdbcType=VARCHAR} AS DPRTCODE
			FROM dual) b2
			ON ( b1.ID=b2.ID)
			WHEN MATCHED THEN
			  UPDATE SET 
			  		      JCR = #{jcr,jdbcType=VARCHAR},
					      ZT = #{zt,jdbcType=DECIMAL},
					      BZ = #{bz,jdbcType=VARCHAR},
					      WHDWID = #{whdwid,jdbcType=VARCHAR},
					      WHRID = #{whrid,jdbcType=VARCHAR},
					      WHSJ = #{whsj,jdbcType=TIMESTAMP}
			WHEN NOT MATCHED THEN 
			  INSERT (ID, FXJLDID, HD, 
					      JCR, ZT, BZ, WHDWID, 
					      WHRID, WHSJ, DPRTCODE) 
			  VALUES (#{id,jdbcType=VARCHAR}, #{fxjldid,jdbcType=VARCHAR}, #{hd,jdbcType=DECIMAL}, 
					      #{jcr,jdbcType=VARCHAR}, #{zt,jdbcType=DECIMAL}, #{bz,jdbcType=VARCHAR}, #{whdwid,jdbcType=VARCHAR}, 
					      #{whrid,jdbcType=VARCHAR}, #{whsj,jdbcType=TIMESTAMP}, #{dprtcode,jdbcType=VARCHAR})
    </insert>
    
    <!-- 根据飞行记录单查询 -->
    <select id="findByFxjldid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_S_00603
    where FXJLDID = #{fxjldid,jdbcType=VARCHAR}
    	and zt = 1
  </select>
    
    
</mapper>