<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.flightdata.dao.MountTimeMonitorMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.flightdata.po.MountTimeMonitor" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MAINID" property="mainid" jdbcType="VARCHAR" />
    <result column="FJZCH" property="fjzch" jdbcType="VARCHAR" />
    <result column="BJLX" property="bjlx" jdbcType="DECIMAL" />
    <result column="JH" property="jh" jdbcType="VARCHAR" />
    <result column="XLH" property="xlh" jdbcType="VARCHAR" />
    <result column="JKLBH" property="jklbh" jdbcType="VARCHAR" />
    <result column="JKFLBH" property="jkflbh" jdbcType="VARCHAR" />
    <result column="GDSX" property="gdsx" jdbcType="VARCHAR" />
    <result column="GDSX_DW" property="gdsxDw" jdbcType="DECIMAL" />
    <result column="ZJYY" property="zjyy" jdbcType="VARCHAR" />
    <result column="ZJYY_DW" property="zjyyDw" jdbcType="DECIMAL" />
    <result column="BJYY" property="bjyy" jdbcType="VARCHAR" />
    <result column="BJYY_DW" property="bjyyDw" jdbcType="DECIMAL" />
    <result column="BJYC" property="bjyc" jdbcType="VARCHAR" />
    <result column="BJYC_DW" property="bjycDw" jdbcType="DECIMAL" />
    <result column="ZJHYY" property="zjhyy" jdbcType="VARCHAR" />
    <result column="ZJHYY_DW" property="zjhyyDw" jdbcType="DECIMAL" />
    <result column="PXH" property="pxh" jdbcType="DECIMAL" />
    <result column="WHDWID" property="whdwid" jdbcType="VARCHAR" />
    <result column="WHRID" property="whrid" jdbcType="VARCHAR" />
    <result column="WHSJ" property="whsj" jdbcType="TIMESTAMP" />
    <result column="ZT" property="zt" jdbcType="DECIMAL" />
    <result column="DPRTCODE" property="dprtcode" jdbcType="VARCHAR" />
    <result column="TBBS" property="tbbs" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, MAINID, FJZCH, BJLX, JH, XLH, JKLBH, JKFLBH, GDSX, GDSX_DW, ZJYY, ZJYY_DW, BJYY, 
    BJYY_DW, BJYC, BJYC_DW, ZJHYY, ZJHYY_DW, PXH, WHDWID, WHRID, WHSJ, ZT, DPRTCODE, 
    TBBS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_S_00602010101
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_S_00602010101
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eray.thjw.flightdata.po.MountTimeMonitor" >
    insert into B_S_00602010101 (ID, MAINID, FJZCH, 
      BJLX, JH, XLH, JKLBH, 
      JKFLBH, GDSX, GDSX_DW, 
      ZJYY, ZJYY_DW, BJYY, 
      BJYY_DW, BJYC, BJYC_DW, 
      ZJHYY, ZJHYY_DW, PXH, 
      WHDWID, WHRID, WHSJ, 
      ZT, DPRTCODE, TBBS)
    values (#{id,jdbcType=VARCHAR}, #{mainid,jdbcType=VARCHAR}, #{fjzch,jdbcType=VARCHAR}, 
      #{bjlx,jdbcType=DECIMAL}, #{jh,jdbcType=VARCHAR}, #{xlh,jdbcType=VARCHAR}, #{jklbh,jdbcType=VARCHAR}, 
      #{jkflbh,jdbcType=VARCHAR}, #{gdsx,jdbcType=VARCHAR}, #{gdsxDw,jdbcType=DECIMAL}, 
      #{zjyy,jdbcType=VARCHAR}, #{zjyyDw,jdbcType=DECIMAL}, #{bjyy,jdbcType=VARCHAR}, 
      #{bjyyDw,jdbcType=DECIMAL}, #{bjyc,jdbcType=VARCHAR}, #{bjycDw,jdbcType=DECIMAL}, 
      #{zjhyy,jdbcType=VARCHAR}, #{zjhyyDw,jdbcType=DECIMAL}, #{pxh,jdbcType=DECIMAL}, 
      #{whdwid,jdbcType=VARCHAR}, #{whrid,jdbcType=VARCHAR}, #{whsj,jdbcType=TIMESTAMP}, 
      #{zt,jdbcType=DECIMAL}, #{dprtcode,jdbcType=VARCHAR}, #{tbbs,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.eray.thjw.flightdata.po.MountTimeMonitor" >
    insert into B_S_00602010101
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="mainid != null" >
        MAINID,
      </if>
      <if test="fjzch != null" >
        FJZCH,
      </if>
      <if test="bjlx != null" >
        BJLX,
      </if>
      <if test="jh != null" >
        JH,
      </if>
      <if test="xlh != null" >
        XLH,
      </if>
      <if test="jklbh != null" >
        JKLBH,
      </if>
      <if test="jkflbh != null" >
        JKFLBH,
      </if>
      <if test="gdsx != null" >
        GDSX,
      </if>
      <if test="gdsxDw != null" >
        GDSX_DW,
      </if>
      <if test="zjyy != null" >
        ZJYY,
      </if>
      <if test="zjyyDw != null" >
        ZJYY_DW,
      </if>
      <if test="bjyy != null" >
        BJYY,
      </if>
      <if test="bjyyDw != null" >
        BJYY_DW,
      </if>
      <if test="bjyc != null" >
        BJYC,
      </if>
      <if test="bjycDw != null" >
        BJYC_DW,
      </if>
      <if test="zjhyy != null" >
        ZJHYY,
      </if>
      <if test="zjhyyDw != null" >
        ZJHYY_DW,
      </if>
      <if test="pxh != null" >
        PXH,
      </if>
      <if test="whdwid != null" >
        WHDWID,
      </if>
      <if test="whrid != null" >
        WHRID,
      </if>
      <if test="whsj != null" >
        WHSJ,
      </if>
      <if test="zt != null" >
        ZT,
      </if>
      <if test="dprtcode != null" >
        DPRTCODE,
      </if>
      <if test="tbbs != null" >
        TBBS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mainid != null" >
        #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="fjzch != null" >
        #{fjzch,jdbcType=VARCHAR},
      </if>
      <if test="bjlx != null" >
        #{bjlx,jdbcType=DECIMAL},
      </if>
      <if test="jh != null" >
        #{jh,jdbcType=VARCHAR},
      </if>
      <if test="xlh != null" >
        #{xlh,jdbcType=VARCHAR},
      </if>
      <if test="jklbh != null" >
        #{jklbh,jdbcType=VARCHAR},
      </if>
      <if test="jkflbh != null" >
        #{jkflbh,jdbcType=VARCHAR},
      </if>
      <if test="gdsx != null" >
        #{gdsx,jdbcType=VARCHAR},
      </if>
      <if test="gdsxDw != null" >
        #{gdsxDw,jdbcType=DECIMAL},
      </if>
      <if test="zjyy != null" >
        #{zjyy,jdbcType=VARCHAR},
      </if>
      <if test="zjyyDw != null" >
        #{zjyyDw,jdbcType=DECIMAL},
      </if>
      <if test="bjyy != null" >
        #{bjyy,jdbcType=VARCHAR},
      </if>
      <if test="bjyyDw != null" >
        #{bjyyDw,jdbcType=DECIMAL},
      </if>
      <if test="bjyc != null" >
        #{bjyc,jdbcType=VARCHAR},
      </if>
      <if test="bjycDw != null" >
        #{bjycDw,jdbcType=DECIMAL},
      </if>
      <if test="zjhyy != null" >
        #{zjhyy,jdbcType=VARCHAR},
      </if>
      <if test="zjhyyDw != null" >
        #{zjhyyDw,jdbcType=DECIMAL},
      </if>
      <if test="pxh != null" >
        #{pxh,jdbcType=DECIMAL},
      </if>
      <if test="whdwid != null" >
        #{whdwid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        #{whsj,jdbcType=TIMESTAMP},
      </if>
      <if test="zt != null" >
        #{zt,jdbcType=DECIMAL},
      </if>
      <if test="dprtcode != null" >
        #{dprtcode,jdbcType=VARCHAR},
      </if>
      <if test="tbbs != null" >
        #{tbbs,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eray.thjw.flightdata.po.MountTimeMonitor" >
    update B_S_00602010101
    <set >
      <if test="mainid != null" >
        MAINID = #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="fjzch != null" >
        FJZCH = #{fjzch,jdbcType=VARCHAR},
      </if>
      <if test="bjlx != null" >
        BJLX = #{bjlx,jdbcType=DECIMAL},
      </if>
      <if test="jh != null" >
        JH = #{jh,jdbcType=VARCHAR},
      </if>
      <if test="xlh != null" >
        XLH = #{xlh,jdbcType=VARCHAR},
      </if>
      <if test="jklbh != null" >
        JKLBH = #{jklbh,jdbcType=VARCHAR},
      </if>
      <if test="jkflbh != null" >
        JKFLBH = #{jkflbh,jdbcType=VARCHAR},
      </if>
      <if test="gdsx != null" >
        GDSX = #{gdsx,jdbcType=VARCHAR},
      </if>
      <if test="gdsxDw != null" >
        GDSX_DW = #{gdsxDw,jdbcType=DECIMAL},
      </if>
      <if test="zjyy != null" >
        ZJYY = #{zjyy,jdbcType=VARCHAR},
      </if>
      <if test="zjyyDw != null" >
        ZJYY_DW = #{zjyyDw,jdbcType=DECIMAL},
      </if>
      <if test="bjyy != null" >
        BJYY = #{bjyy,jdbcType=VARCHAR},
      </if>
      <if test="bjyyDw != null" >
        BJYY_DW = #{bjyyDw,jdbcType=DECIMAL},
      </if>
      <if test="bjyc != null" >
        BJYC = #{bjyc,jdbcType=VARCHAR},
      </if>
      <if test="bjycDw != null" >
        BJYC_DW = #{bjycDw,jdbcType=DECIMAL},
      </if>
      <if test="zjhyy != null" >
        ZJHYY = #{zjhyy,jdbcType=VARCHAR},
      </if>
      <if test="zjhyyDw != null" >
        ZJHYY_DW = #{zjhyyDw,jdbcType=DECIMAL},
      </if>
      <if test="pxh != null" >
        PXH = #{pxh,jdbcType=DECIMAL},
      </if>
      <if test="whdwid != null" >
        WHDWID = #{whdwid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        WHRID = #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        WHSJ = #{whsj,jdbcType=TIMESTAMP},
      </if>
      <if test="zt != null" >
        ZT = #{zt,jdbcType=DECIMAL},
      </if>
<!--       <if test="dprtcode != null" > -->
<!--         DPRTCODE = #{dprtcode,jdbcType=VARCHAR}, -->
<!--       </if> -->
      <if test="tbbs != null" >
        TBBS = #{tbbs,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eray.thjw.flightdata.po.MountTimeMonitor" >
    update B_S_00602010101
    set MAINID = #{mainid,jdbcType=VARCHAR},
      FJZCH = #{fjzch,jdbcType=VARCHAR},
      BJLX = #{bjlx,jdbcType=DECIMAL},
      JH = #{jh,jdbcType=VARCHAR},
      XLH = #{xlh,jdbcType=VARCHAR},
      JKLBH = #{jklbh,jdbcType=VARCHAR},
      JKFLBH = #{jkflbh,jdbcType=VARCHAR},
      GDSX = #{gdsx,jdbcType=VARCHAR},
      GDSX_DW = #{gdsxDw,jdbcType=DECIMAL},
      ZJYY = #{zjyy,jdbcType=VARCHAR},
      ZJYY_DW = #{zjyyDw,jdbcType=DECIMAL},
      BJYY = #{bjyy,jdbcType=VARCHAR},
      BJYY_DW = #{bjyyDw,jdbcType=DECIMAL},
      BJYC = #{bjyc,jdbcType=VARCHAR},
      BJYC_DW = #{bjycDw,jdbcType=DECIMAL},
      ZJHYY = #{zjhyy,jdbcType=VARCHAR},
      ZJHYY_DW = #{zjhyyDw,jdbcType=DECIMAL},
      PXH = #{pxh,jdbcType=DECIMAL},
      WHDWID = #{whdwid,jdbcType=VARCHAR},
      WHRID = #{whrid,jdbcType=VARCHAR},
      WHSJ = #{whsj,jdbcType=TIMESTAMP},
      ZT = #{zt,jdbcType=DECIMAL},
<!--       DPRTCODE = #{dprtcode,jdbcType=VARCHAR}, -->
      TBBS = #{tbbs,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <sql id="Param">
	   where 
	   1=1
	      <!-- mainid-->
	     <if test="mainid != null and mainid != ''">
            and  B.MAINID = #{mainid,jdbcType=VARCHAR}
         </if>
	</sql>
  
  <!-- 根据条件删除-->
   <update id="deleteByParam" parameterType="com.eray.thjw.flightdata.po.MountTimeMonitor" >
    update b_s_00602010101 B set B.ZT = 0 , B.TBBS = 1
    <include refid="Param" /> 
  </update>
  
  <!-- 根据父节点id查询 -->
    <select id="findByMainid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from b_s_00602010101
    where mainid = #{mainid,jdbcType=VARCHAR}
    	and zt = 1
  </select>
</mapper>