@charset "utf-8";
/* CSS Document */
*{font-size:12px;}
/* CSS Document */
body {font-family:"微软雅黑"; margin:10px; padding:0; font-size:12px;}
img {border:none;}
a {text-decoration:underline; color:#333333; font-size:12px;}
a:hover {text-decoration:none; color:#6699ff;}

ul {LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none}
input {height:20px;}
.commonTab{border-collapse:collapse;border-spacing:0;empty-cells:show;border:1px solid #e3e8f9;width:100%;}
.commonTab tr{height:30px;text-align:right;border:1px solid #e3e8f9;}
.commonTab td{padding: 5px;border:1px solid #e3e8f9;height:22px;}
.commonTab td input {width: 180px;float:left;border:1px solid #e3e8f9;}
.commonTab td select {height:22px;float:left;}
.commonTab td textarea {width: 180px;float:left;}

.input1 {font-family:"微软雅黑"; padding:2px; font-size:12px; width:180px; height:14px;}
.input2 {font-family:"微软雅黑"; padding:2px; font-size:12px; width:70px; height:14px;}
.upload_input1 {font-family:"微软雅黑"; padding:2px; font-size:12px; width:280px; height:24px;}
.manage_title {font-family:"微软雅黑"; padding:2px; font-size:16px; text-align:center; background-color:#dedede}
.wrap {float:left;position:absolute;width:400px;padding:0;}
.table1 {border-collapse:collapse; empty-cells:show;}
.font_amt {color:#ff0000}


.ui-label {
    font-family: Lato,sans-serif;
    font-weight: 600;
    font-size: 12px;
    padding: 4px 8px;
    border: 0px none;
    text-shadow: none;
    box-sizing: content-box;
    border-radius: 2px;
    color: #FFF;
    cursor: pointer;
    background:#00CDCD;
}

.ui-label-success {
    background: #78CD51;
}
.ui-label-failure {
    background-color: #999;
}
.ui-label-end {
    background-color: #363636;
}
.ui-label-public {
    background-color: #CDAD00;
}

input[type=text]::-ms-clear
{
    display: none;
}