@charset "utf-8";
/* CSS Document */
.charmbers{width:100%;float:left;margin-top:5px;}
.charmber{width:100%;float:left;margin-top:10px;border:solid 1px #95B8E7 !important;}
		
ul { margin:0px; padding:0px;list-style-type:none; }
.rooms {list-style-type:none; margin:0px; }
.rooms li { float:left; padding:3px; width:90px; height:23px; }
.rooms div { width:90px; height:20px;background-image:url(../images/room.png);font-weight:bold;font-size:12px;color:white; text-align:center; padding-top:3px; }
.placeHolder div { background-color:white !important; border:dashed 1px gray !important; }