.work-table {
	text-align: center;
	border: 1px solid #d7dff0;
	border-collapse: collapse;
	width: 99%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.work-table th {
	border: 1px solid #cdcdcd;
	color: #4b4b4b;
	padding: 5px;
	vertical-align: middle;
	word-break: break-all;
	font-weight: bold;
}
.work-table td {
	border: 1px solid #cdcdcd;
	color: #4b4b4b;
	padding: 5px;
	vertical-align: middle;
	word-break: break-all;
}
.work-table td input {
	font-size: 12px;
	width: 99%;
	height: 20px;
	padding: 0px;
}
.work-table td textarea {
	font-size: 12px;
}
.fontstyle {
	font-weight: bold;
}
.input-xia {
	text-align: center;
	BORDER-TOP: #9a9999 0px solid;
	BORDER-LEFT: #9a9999 0px solid;
	WIDTH: 100px;
	BORDER-BOTTOM: #CDCDCD 1px solid;
}
.panel-foot {
	width: 100%;
	height: 26px;
	border-top: #cdcdcd 1px solid;
	padding: 5px 0px;
}