<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.produce.dao.FailureKeepRecMapper" >
   
  <select id="queryList4BS2013" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	   		   SELECT 
               B.ID AS ID,
		       B.DPRTCODE AS DPRTCODE,
		       B.BLDH AS REC_HD,
		       B.REC_CZSM AS REC_CZSM,
		       
		       B.REC_CZLS AS REC_CZLS,
		       B.REC_XGLX AS REC_XGLX,
		       
               RECWHR.USERNAME||' '||RECWHR.REALNAME AS REC_CZR_NAME, 
		       B.REC_CZSJ AS REC_CZSJ,
		       B.REC_IP AS REC_IP
               
          FROM B_S2_013_REC B 
          LEFT JOIN T_USER RECWHR ON RECWHR.ID = B.REC_CZRID
           WHERE 1=1
	       		 <if test='paramsMap.REC_CZLS !=null and paramsMap.REC_CZLS!=""'>
		        	and B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
		         </if>
		         <if test='paramsMap.ID !=null and paramsMap.ID!=""'>
		        	AND B.ID = #{paramsMap.ID,jdbcType=VARCHAR}
		         </if>
		         <if test='paramsMap.DPRTCODE !=null and paramsMap.DPRTCODE!=""'>
			        AND B.DPRTCODE = #{paramsMap.DPRTCODE,jdbcType=VARCHAR}
			      </if>
			      <if test='paramsMap.KEYWORD !=null and paramsMap.KEYWORD!=""'>
			        AND (UPPER(B.BLDH) LIKE UPPER('%'||#{paramsMap.KEYWORD,jdbcType=VARCHAR}||'%'))
			      </if>
		         order by B.REC_CZSJ DESC
	   
  </select>
  
  <select id="queryDiff4BS2013" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	   SELECT * FROM (
	   		   SELECT ROW_NUMBER() OVER(ORDER BY B.REC_CZSJ DESC) AS RNO,
	   		      (CASE WHEN B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR} THEN 'CURRENT'
               ELSE 'LAST'
               END) DATA_VERSION,
               B.ID, B.DPRTCODE, B.WHDWID, B.WHRID, B.WHSJ, B.ZT, B.ZCBLBS, B.BLDH, B.FJZCH,   B.ZJH ||' '||ZJ.YWMS AS ZJH, B.HZ, 
                (CASE
				WHEN B.BS145 = 0 THEN
				'否'
				WHEN B.BS145 = 1 THEN
				'是'
				END) BS145,
                B.BLYY, B.BLLYID, 
		   	   B.BLLX, B.BLLXSM, B.SXGS_RS, B.SXGS_XS, B.BLYJ, B.GZMS,  (CASE
				WHEN B.BLLY = 1 THEN
				'FLB'
				WHEN B.BLLY = 2 THEN
				'NRC'
				WHEN B.BLLY = 3 THEN
				'N/A'
				END) BLLY, B.LSCS, 
		   	     (CASE
				WHEN B.MBS = 0 THEN
				'否'
				WHEN B.MBS = 1 THEN
				'是'
				END) MBS,
		   	    B.MSM,   
		   	    (CASE
				WHEN B.OBS = 0 THEN
				'否'
				WHEN B.OBS = 1 THEN
				'是'
				END) OBS,
				 B.OSM, 
  				(CASE
				WHEN B.YXXZBS = 0 THEN
				'否'
				WHEN B.YXXZBS = 1 THEN
				'是'
				END) YXXZBS,
		    	B.YXXZSM, B.SC_SQRBMID, B.SC_SQRID, B.SC_SQRZZH, B.SC_SQRQ, B.SC_BLQX, B.SC_PZRBMID, B.SC_PZRID, 
		    	 B.SC_PZRQ, B.SC_PZYJ, B.SC_PZCZSJ, B.ZC_SQRBMID, B.ZC_SQRID, B.ZC_SQRQ, B.ZC_BLQX, B.ZC_BLYY, B.ZC_PZRBMID, 
		    B.ZC_PZRID, B.ZC_PZRQ, B.JFPZYJ, B.JFPZR, B.JFPZRQ, B.GBRBMID, B.GBRID, B.GBCZSJ, B.GBYY, B.GZZ, B.GZRQ,B.JCZ, B.JCRQ, B.GDID,
               B.BLDH AS REC_HD,
		       B.REC_CZSM AS REC_CZSM,
		       
		       B.REC_CZLS AS REC_CZLS,
		       B.REC_XGLX AS REC_XGLX,
		       
               RECWHR.USERNAME||' '||RECWHR.REALNAME AS REC_CZR_NAME, 
		       B.REC_CZSJ AS REC_CZSJ,
		       B.REC_IP AS REC_IP
               
          FROM B_S2_013_REC B 
          LEFT JOIN T_USER RECWHR ON RECWHR.ID = B.REC_CZRID
          LEFT JOIN D_005    ZJ     ON (B.ZJH=ZJ.ZJH AND B.DPRTCODE = ZJ.DPRTCODE)
          
          WHERE 
          
          B.ID = #{paramsMap.ID,jdbcType=VARCHAR} 
   		  AND ( 
   		  SELECT REC_CZSJ FROM B_S2_013_REC  
   		  WHERE  REC_CZLS = #{paramsMap.REC_CZLS,jdbcType = VARCHAR} 
   		  AND 	 ID 	  = #{paramsMap.ID,jdbcType=VARCHAR}
   		  ) >= B.REC_CZSJ 
   		  
     ) A WHERE 2 >=RNO
       
  </select>
  

  	<!-- 器材清单 -->
	<select id="queryDiff_BG29971_Rec" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	
		SELECT * FROM(
		
			SELECT 
				 B.ID
				,B.DPRTCODE
				,B.YWLX
				,B.YWID
				,B.XC
				,B.BJLX
				,B.BJID
				,B.JH
				,B.SL
				,B.HHXX
				,B.BZ
				,B.ZT
				,B.WHDWID
				,B.WHRID
				,B.WHSJ
				,B.REC_XGLX AS REC_XGLX
		       	,B.REC_CZRID AS REC_CZRID
		       	,B.REC_CZSJ AS REC_CZSJ
		       	,B.REC_IP AS REC_IP
		       	,B.REC_CZSM AS REC_CZSM
		       	,B.REC_CZLS AS REC_CZLS
		       	,B.REC_ZBID AS REC_ZBID 
				,'CURRENT' DATA_VERSION 
				,WHR_REC.USERNAME||' '||WHR_REC.REALNAME WHR_REC_REALNAME
				,'工卡' YWLX_NAME
				,(CASE 
		         	WHEN B.BJLX = 1 THEN '航材'
		         	WHEN B.BJLX = 2 THEN '工具'
		         	WHEN B.BJLX = 3 THEN '设备'
		      	END
		      	) BJLX_NAME
		      	,'' REC_HD
		  	FROM B_G2_997_REC B
		  	LEFT JOIN T_USER WHR_REC ON WHR_REC.ID = B.REC_CZRID
		 	WHERE B.YWID = #{paramsMap.ID,jdbcType=VARCHAR} AND B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
		 		  AND B.BJLX = 1
		 	
			UNION ALL
		
			SELECT 
				 B.ID
				,B.DPRTCODE
				,B.YWLX
				,B.YWID
				,B.XC
				,B.BJLX
				,B.BJID
				,B.JH
				,B.SL
				,B.HHXX
				,B.BZ
				,B.ZT
				,B.WHDWID
				,B.WHRID
				,B.WHSJ
				,B.REC_XGLX AS REC_XGLX
		       	,B.REC_CZRID AS REC_CZRID
		       	,B.REC_CZSJ AS REC_CZSJ
		       	,B.REC_IP AS REC_IP
		       	,B.REC_CZSM AS REC_CZSM
		       	,B.REC_CZLS AS REC_CZLS
		       	,B.REC_ZBID AS REC_ZBID 
				,'LAST' DATA_VERSION 
				,WHR_REC.USERNAME||' '||WHR_REC.REALNAME WHR_REC_REALNAME
				,'工卡' YWLX_NAME
				,(CASE 
		         	WHEN B.BJLX = 1 THEN '航材'
		         	WHEN B.BJLX = 2 THEN '工具'
		         	WHEN B.BJLX = 3 THEN '设备'
		      	END
		      	) BJLX_NAME
	      		,'' REC_HD
			FROM B_G2_997_REC B
			LEFT JOIN T_USER WHR_REC ON WHR_REC.ID = B.REC_CZRID
			WHERE B.REC_ZBID = #{paramsMap.ID,jdbcType=VARCHAR}
				AND B.BJLX = 1
				AND B.REC_CZLS IN
		         (           
		            SELECT REC_CZLS FROM (
		            	SELECT ROW_NUMBER() OVER(ORDER BY REC_CZSJ DESC) RNO , REC_CZLS
		              	FROM B_S2_013_REC A WHERE 
		             	A.ID = #{paramsMap.ID,jdbcType=VARCHAR}
		            	AND A.REC_CZSJ &lt;=
		            	(
			              	SELECT C.REC_CZSJ FROM B_S2_013_REC C WHERE 
			              	C.ID= #{paramsMap.ID,jdbcType=VARCHAR}
			              	AND C.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
			             )            
		             AND A.REC_CZLS != #{paramsMap.REC_CZLS,jdbcType=VARCHAR}        
		            ) WHERE 1 = RNO                        
	            ) 
	            
	    ) A
		ORDER BY A.XC ASC    
                 
  	</select>
  	
  	<!-- 工具设备 -->
	<select id="queryDiff_BG29972_Rec" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	
		SELECT * FROM(
		
			SELECT 
				 B.ID
				,B.DPRTCODE
				,B.YWLX
				,B.YWID
				,B.XC
				,B.BJLX
				,B.BJID
				,B.JH
				,B.SL
				,B.HHXX
				,B.BZ
				,B.ZT
				,B.WHDWID
				,B.WHRID
				,B.WHSJ
				,B.REC_XGLX AS REC_XGLX
		       	,B.REC_CZRID AS REC_CZRID
		       	,B.REC_CZSJ AS REC_CZSJ
		       	,B.REC_IP AS REC_IP
		       	,B.REC_CZSM AS REC_CZSM
		       	,B.REC_CZLS AS REC_CZLS
		       	,B.REC_ZBID AS REC_ZBID 
				,'CURRENT' DATA_VERSION 
				,WHR_REC.USERNAME||' '||WHR_REC.REALNAME WHR_REC_REALNAME
				,'工卡' YWLX_NAME
				,(CASE 
		         	WHEN B.BJLX = 1 THEN '航材'
		         	WHEN B.BJLX = 2 THEN '工具'
		         	WHEN B.BJLX = 3 THEN '设备'
		      	END
		      	) BJLX_NAME
		      	,'' REC_HD
		  	FROM B_G2_997_REC B
		  	LEFT JOIN T_USER WHR_REC ON WHR_REC.ID = B.REC_CZRID
		 	WHERE B.YWID = #{paramsMap.ID,jdbcType=VARCHAR} AND B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
		 		  AND B.BJLX in (2,3)
		 	
			UNION ALL
		
			SELECT 
				 B.ID
				,B.DPRTCODE
				,B.YWLX
				,B.YWID
				,B.XC
				,B.BJLX
				,B.BJID
				,B.JH
				,B.SL
				,B.HHXX
				,B.BZ
				,B.ZT
				,B.WHDWID
				,B.WHRID
				,B.WHSJ
				,B.REC_XGLX AS REC_XGLX
		       	,B.REC_CZRID AS REC_CZRID
		       	,B.REC_CZSJ AS REC_CZSJ
		       	,B.REC_IP AS REC_IP
		       	,B.REC_CZSM AS REC_CZSM
		       	,B.REC_CZLS AS REC_CZLS
		       	,B.REC_ZBID AS REC_ZBID 
				,'LAST' DATA_VERSION 
				,WHR_REC.USERNAME||' '||WHR_REC.REALNAME WHR_REC_REALNAME
				,'工卡' YWLX_NAME
				,(CASE 
		         	WHEN B.BJLX = 1 THEN '航材'
		         	WHEN B.BJLX = 2 THEN '工具'
		         	WHEN B.BJLX = 3 THEN '设备'
		      	END
		      	) BJLX_NAME
	      		,'' REC_HD
			FROM B_G2_997_REC B
			LEFT JOIN T_USER WHR_REC ON WHR_REC.ID = B.REC_CZRID
			WHERE B.REC_ZBID = #{paramsMap.ID,jdbcType=VARCHAR}
				AND B.BJLX in (2,3)
				AND B.REC_CZLS IN
		         (           
		            SELECT REC_CZLS FROM (
		            	SELECT ROW_NUMBER() OVER(ORDER BY REC_CZSJ DESC) RNO , REC_CZLS
		              	FROM B_S2_013_REC A WHERE 
		             	A.ID = #{paramsMap.ID,jdbcType=VARCHAR}
		            	AND A.REC_CZSJ &lt;=
		            	(
			              	SELECT C.REC_CZSJ FROM B_S2_013_REC C WHERE 
			              	C.ID= #{paramsMap.ID,jdbcType=VARCHAR}
			              	AND C.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
			             )            
		             AND A.REC_CZLS != #{paramsMap.REC_CZLS,jdbcType=VARCHAR}        
		            ) WHERE 1 = RNO                        
	            ) 
	            
	    ) A
		ORDER BY A.XC ASC    
                 
  	</select>

  
 <select id="queryDiff4D011" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	SELECT B.*, 'CURRENT' DATA_VERSION,
  		  B.WBWJM ||'.'||B.HZM AS FWBWJM,
           
          B.REC_CZSM AS REC_CZSM,
          
	      B.REC_CZLS AS REC_CZLS,
	      B.REC_XGLX AS REC_XGLX,
      
          RECWHR.USERNAME||' '||RECWHR.REALNAME AS REC_CZR_NAME, 
	      B.REC_CZSJ AS REC_CZSJ,
	      B.REC_IP AS REC_IP
      
		  FROM D_011_REC B   
	  	  LEFT JOIN T_USER RECWHR ON RECWHR.ID = B.REC_CZRID
	 
	   	 
		  WHERE B.REC_ZBID = #{paramsMap.ID,jdbcType=VARCHAR}
		  AND B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
	
	UNION ALL
	
	SELECT B.*, 'LAST' DATA_VERSION ,
 		  B.WBWJM ||'.'||B.HZM AS FWBWJM,
		        
          B.REC_CZSM AS REC_CZSM,
          
	      B.REC_CZLS AS REC_CZLS,
	      B.REC_XGLX AS REC_XGLX,
      
          RECWHR.USERNAME||' '||RECWHR.REALNAME AS REC_CZR_NAME, 
	      B.REC_CZSJ AS REC_CZSJ,
	      B.REC_IP AS REC_IP
	
		  FROM D_011_REC B
	 	  LEFT JOIN T_USER RECWHR ON RECWHR.ID = B.REC_CZRID
 	  
		WHERE B.REC_ZBID = #{paramsMap.ID,jdbcType=VARCHAR}
			AND B.REC_CZLS IN
	         (           
	            SELECT REC_CZLS FROM (
	            	SELECT ROW_NUMBER() OVER(ORDER BY REC_CZSJ DESC) RNO , REC_CZLS
	              	FROM B_S2_013_REC A WHERE 
	             	A.ID = #{paramsMap.ID,jdbcType=VARCHAR}
	            	AND A.REC_CZSJ &lt;=
	            	(
		              	SELECT C.REC_CZSJ FROM B_S2_013_REC C 
		              	WHERE C.ID= #{paramsMap.ID,jdbcType=VARCHAR} AND C.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
		             )            
	             AND A.REC_CZLS != #{paramsMap.REC_CZLS,jdbcType=VARCHAR}        
	            ) WHERE 1 = RNO                        
            )          
	               
  </select>   
  
</mapper>