<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.flightdata.dao.MaintenanceClassRecMapper" >
   
  <!--维修大类列表 开始 -->
  <select id="queryList4BG201101" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
    	 SELECT 
		       B.ID AS ID,
		       B.JX AS JX,
		       B.DLBH AS DLBH,
		       B.DLZWMS AS DLZWMS,
		       B.DLYWMS AS DLYWMS,
		       B.DPRTCODE AS DPRTCODE,
		       B.WHDWID AS WHDWID,
		       B.WHRID AS WHRID,
		       B.WHSJ AS WHSJ,
		       B.REC_XGLX AS REC_XGLX,
		       B.REC_CZRID AS REC_CZRID,
		       B.REC_CZSJ AS REC_CZSJ,
		       B.REC_IP AS REC_IP,
		       B.REC_CZSM AS REC_CZSM,
		       B.REC_CZLS AS REC_CZLS,
		       B.REC_ZBID AS REC_ZBID      
		       ,WHR.USERNAME||' '||WHR.REALNAME AS REC_CZR_NAME
		       , B.DLBH  AS REC_HD
		        FROM B_G2_01101_REC B 
		        LEFT JOIN T_USER WHR ON WHR.ID = B.REC_CZRID
		        WHERE 1=1
	       		 <if test='paramsMap.REC_CZLS !=null and paramsMap.REC_CZLS!=""'>
		        	and B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
		         </if>
		         <if test='paramsMap.ID !=null and paramsMap.ID!=""'>
		        	and B.ID = #{paramsMap.ID,jdbcType=VARCHAR}
		         </if>
		         <if test='paramsMap.DPRTCODE !=null and paramsMap.DPRTCODE!=""'>
			        and B.DPRTCODE = #{paramsMap.DPRTCODE,jdbcType=VARCHAR}
			      </if>
			      <if test='paramsMap.KEYWORD !=null and paramsMap.KEYWORD!=""'>
			        and (UPPER(B.DLBH) like UPPER('%'||#{paramsMap.KEYWORD,jdbcType=VARCHAR}||'%'))
			      </if>
		         order by B.REC_CZSJ DESC
	   
  </select>
  
  <select id="queryDiff4BG201101" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	   SELECT * FROM (
	   		   SELECT ROW_NUMBER() OVER(ORDER BY B.REC_CZSJ DESC) AS RNO,
               
               B.ID AS ID,
      		   B.JX AS JX,
		       B.DLBH AS DLBH,
		       B.XC AS XC,
		       B.DLZWMS AS DLZWMS,
		       B.DLYWMS AS DLYWMS,
		       B.ZT AS ZT,
			   B.DPRTCODE AS DPRTCODE,
		       B.WHDWID AS WHDWID,
		       B.WHRID AS WHRID,
		       B.WHSJ AS WHSJ,
		       B.REC_XGLX AS REC_XGLX,
		       B.REC_CZRID AS REC_CZRID,
		       B.REC_CZSJ AS REC_CZSJ,
		       B.REC_IP AS REC_IP,
		       B.REC_CZSM AS REC_CZSM,
		       B.REC_CZLS AS REC_CZLS,
		       B.REC_ZBID AS REC_ZBID, 
               RECWHR.USERNAME||' '||RECWHR.REALNAME AS REC_CZR_NAME, 
               WHDW.DPRTNAME AS NEW_WHBM,
               WHR.USERNAME||' '||WHR.REALNAME AS NEW_WHR,
                (CASE 
		         WHEN B.ZT = 0 THEN '无效'
		         WHEN B.ZT = 1 THEN '有效'
		         END) AS NEW_ZT ,
		        (CASE
				 WHEN B.REC_XGLX = 1 THEN
				 '新增'
				 WHEN B.REC_XGLX = 2 THEN
				 '修改'
				 WHEN B.REC_XGLX = 3 THEN
				 '删除'
				END) REC_XGLX_TEXT ,
              	B.DLBH AS REC_HD,
               (CASE WHEN B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR} THEN 'CURRENT'
               ELSE 'LAST'
               END) AS DATA_VERSION
               
          FROM B_G2_01101_REC B 
          LEFT JOIN T_USER RECWHR ON RECWHR.ID = B.REC_CZRID
          LEFT JOIN T_USER WHR ON WHR.ID = B.WHRID
          LEFT JOIN T_DEPARTMENT WHDW  ON WHDW.ID = B.WHDWID
          WHERE B.ID = #{paramsMap.ID,jdbcType=VARCHAR} 
          AND (select rec_czsj from B_G2_01101_REC
                where REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
                   and ID = #{paramsMap.ID,jdbcType=VARCHAR})
                   >= b.rec_czsj 
       ) A WHERE 2 >=RNO
       
  </select>
  


  
</mapper>