<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.mapping.rec.MelDetailRecMapper" >
   
	<!-- MEL日志列表 开始 -->
  
	<select id="queryList_BG008_Rec" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
				SELECT B.* ,      
		        	WHR.USERNAME||' '||WHR.REALNAME WHR_REALNAME,
		        	WHR_REC.USERNAME||' '||WHR_REC.REALNAME WHR_REC_REALNAME,
		        	WHDW.DPRTNAME WHDW_DRPTNAME,
			        B.JX AS REC_HD
				FROM B_G_008_REC B 
	        	LEFT JOIN T_USER WHR ON WHR.ID = B.WHRID
	        	LEFT JOIN T_USER WHR_REC ON WHR_REC.ID = B.REC_CZRID
	        	LEFT JOIN T_DEPARTMENT WHDW ON WHDW.ID = B.WHBMID
		        WHERE 1 = 1
				<if test='paramsMap!=null and paramsMap.REC_CZLS!=null and paramsMap.REC_CZLS!=""'>
					and B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
	       	 	</if>
	        	<if test='paramsMap!=null and paramsMap.ID!=null and paramsMap.ID!=""'>
	        		and B.ID = #{paramsMap.ID,jdbcType=VARCHAR}
	        	</if>
	        	<if test='paramsMap!=null and paramsMap.DPRTCODE !=null and paramsMap.DPRTCODE!=""'>
		       		and B.DPRTCODE = #{paramsMap.DPRTCODE,jdbcType=VARCHAR}
		        </if>
				order by B.REC_CZSJ DESC
	   
	</select>
  
	<select id="queryDiff_BG008_Rec" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
		SELECT * FROM (
			SELECT ROW_NUMBER() OVER(ORDER BY B.REC_CZSJ DESC) RNO,
            	B.*,
            	(CASE 
		         WHEN B.BB is null THEN ''
		         WHEN B.BB is not null THEN 'R'|| B.BB
		         END) AS NEW_BB,
            	WHR.USERNAME||' '||WHR.REALNAME WHR_REALNAME,
	        	WHR_REC.USERNAME||' '||WHR_REC.REALNAME WHR_REC_REALNAME,
	        	WHDW.DPRTNAME WHDW_DRPTNAME,
	        	D011.WBWJM||
	        	(
         		CASE 
		          	WHEN D011.HZM is not null THEN '.'
		          	WHEN D011.HZM is null THEN ''
         		END 
     	   		) || D011.HZM WBWJM,
	        	(CASE 
		         WHEN B.ZT = 0 THEN
		          '无效'
		         WHEN B.ZT = 1 THEN
		          '有效'
		     	 END) NEW_ZT ,
            	B.JX AS REC_HD,
            	(CASE 
            		WHEN B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR} THEN 'CURRENT'
            		ELSE 'LAST'
            	END
            	) DATA_VERSION
               
			FROM B_G_008_REC B
			LEFT JOIN T_USER WHR ON WHR.ID = B.WHRID
          	LEFT JOIN T_USER WHR_REC ON WHR_REC.ID = B.REC_CZRID
          	LEFT JOIN T_DEPARTMENT WHDW ON WHDW.ID = B.WHBMID
          	LEFT JOIN D_011 D011 ON D011.MAINID = B.MELQDFJID and D011.YXZT = 1
         	WHERE B.ID = #{paramsMap.ID,jdbcType=VARCHAR}
           	AND (select rec_czsj from B_G_008_REC where REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR} and ID = #{paramsMap.ID,jdbcType=VARCHAR}) >= b.rec_czsj 
       ) WHERE 2 >=RNO
	</select>
</mapper>