<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.airportensure.dao.QualityReviewRecMapper">
   
  <select id="queryList_B_Z_002_REC" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	       		SELECT B.*
              ,CZR.USERNAME ||' '|| CZR.REALNAME REC_CZR_STR       
            , WHR.USERNAME || ' ' || WHR.REALNAME WHR_REALNAME
            , XFR.USERNAME || ' ' || XFR.REALNAME XFR
            , SHR.USERNAME || ' ' || SHR.REALNAME SHR
            , FKR.USERNAME || ' ' || FKR.REALNAME FKR
            , GBR.USERNAME || ' ' || GBR.REALNAME GBR
            ,WHDW.DPRTNAME ZZJG
            ,ZRBM.DPRTNAME ZRBM
            ,WHBM.DPRTNAME WHBM
            , '审查单号:'||B.DH||' '||(
            CASE 
               WHEN B.REC_CZSM = 0 THEN '创建'
               WHEN B.REC_CZSM = 1 THEN '提交'
               WHEN B.REC_CZSM = 2 THEN '已审核'
               WHEN B.REC_CZSM = 3 THEN '已批准'
               WHEN B.REC_CZSM = 4 THEN '中止（关闭）'
               WHEN B.REC_CZSM = 5 THEN '审核驳回'
               WHEN B.REC_CZSM = 6 THEN '批准驳回'
               WHEN B.REC_CZSM = 8 THEN '作废'
               WHEN B.REC_CZSM = 9 THEN '指定结束'
              
               WHEN B.REC_CZSM = 10 THEN '完成'
               WHEN B.REC_CZSM = 11 THEN '撤销'
               WHEN B.REC_CZSM = 12 THEN '修改'
               WHEN B.REC_CZSM = 13 THEN '改版'
               WHEN B.REC_CZSM = 14 THEN '已生效'
               WHEN B.REC_CZSM = 15 THEN '提交生产确认'
               WHEN B.REC_CZSM = 16 THEN '借出确认'
               WHEN B.REC_CZSM = 17 THEN '归还'
               WHEN B.REC_CZSM = 18 THEN '导入'
             END 
            ) REC_HD
            FROM B_Z_002_REC B 
            LEFT JOIN T_USER WHR ON WHR.ID = B.WHRID 
            LEFT JOIN T_USER XFR ON XFR.ID = B.XFRID AND XFR.JGDM = B.DPRTCODE
            LEFT JOIN T_USER FKR ON FKR.ID = B.FKRID AND FKR.JGDM = B.DPRTCODE
            LEFT JOIN T_USER SHR ON SHR.ID = B.SHRID AND SHR.JGDM = B.DPRTCODE
            LEFT JOIN T_USER GBR ON GBR.ID = B.GBRID AND GBR.JGDM = B.DPRTCODE
            LEFT JOIN T_DEPARTMENT WHDW ON WHDW.ID = B.DPRTCODE
            LEFT JOIN T_DEPARTMENT WHBM ON WHBM.ID = B.WHBMID
            LEFT JOIN T_DEPARTMENT ZRBM ON ZRBM.ID = B.ZRBMID
            LEFT JOIN T_USER CZR ON CZR.ID = B.REC_CZRID
            WHERE 1=1
            	 <if test="paramsMap != null and paramsMap.ZRBMLIST != null and paramsMap.ZRBMLIST!='' ">
		   			 AND  B.ZRBMID IN 
		    		<foreach item="item" index="index" collection="paramsMap.ZRBMLIST" open="("  
            			separator="," close=")">  
            			#{item}  
       			 	</foreach>  
				</if>
	       		 <if test='paramsMap.REC_CZLS !=null and paramsMap.REC_CZLS!=""'>
		        	and B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
		         </if>
		         <if test='paramsMap.ID !=null and paramsMap.ID!=""'>
		        	and B.ID = #{paramsMap.ID,jdbcType=VARCHAR}
		         </if>
		          <if test='paramsMap.DPRTCODE !=null and paramsMap.DPRTCODE!=""'>
	        	and B.DPRTCODE = #{paramsMap.DPRTCODE,jdbcType=VARCHAR}
	         </if>
	         <if test='paramsMap.KEYWORD !=null and paramsMap.KEYWORD!=""'>
	        	and (
	                 UPPER(B.DH) like UPPER('%'||#{paramsMap.KEYWORD,jdbcType=VARCHAR}||'%')
	            )
	         </if>
		         order by B.REC_CZSJ DESC
  </select>
  <select id="queryDiff_B_Z_002_REC" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	   
	  SELECT * FROM (
	   		   SELECT ROW_NUMBER() OVER(ORDER BY B.REC_CZSJ DESC) RNO,
               B.*,            
              CZR.USERNAME ||' '|| CZR.REALNAME REC_CZR_STR,
                WHR.USERNAME || ' '|| WHR.REALNAME WHR_REALNAME,
                XFR.USERNAME || ' ' || XFR.REALNAME XFR
            , SHR.USERNAME || ' ' || SHR.REALNAME SHR
            , FKR.USERNAME || ' ' || FKR.REALNAME FKR
            , GBR.USERNAME || ' ' || GBR.REALNAME GBR
             ,WHDW.DPRTNAME ZZJG
            ,ZRBM.DPRTNAME ZRBM
            ,WHBM.DPRTNAME WHBM,
               (CASE 
               WHEN B.ZT=1 THEN '保存'
               WHEN B.ZT=2 THEN '待处理'
               WHEN B.ZT=3 THEN '审核'
               WHEN B.ZT=8 THEN '作废'
               WHEN B.ZT=9 THEN '关闭'
               WHEN B.ZT=10 THEN '完成'
               END
               )ZYZT,
               TO_CHAR(B.ZGXQ, 'YYYY-MM-DD') XQ,
                '审查单号:'|| B.DH || ' ' ||(CASE
                 WHEN B.REC_CZSM = 0 THEN
                  '创建'
                 WHEN B.REC_CZSM = 1 THEN
                  '提交'
                 WHEN B.REC_CZSM = 2 THEN
                  '已审核'
                 WHEN B.REC_CZSM = 3 THEN
                  '已批准'
                 WHEN B.REC_CZSM = 4 THEN
                  '中止（关闭）'
                 WHEN B.REC_CZSM = 5 THEN
                  '审核驳回'
                 WHEN B.REC_CZSM = 6 THEN
                  '批准驳回'
                 WHEN B.REC_CZSM = 8 THEN
                  '作废'
                 WHEN B.REC_CZSM = 9 THEN
                  '指定结束'               
                 WHEN B.REC_CZSM = 10 THEN
                  '完成'
                 WHEN B.REC_CZSM = 11 THEN
                  '撤销'
                 WHEN B.REC_CZSM = 12 THEN
                  '修改'
                 WHEN B.REC_CZSM = 13 THEN
                  '改版'
                 WHEN B.REC_CZSM = 14 THEN
                  '已生效'
                 WHEN B.REC_CZSM = 15 THEN
                  '提交生产确认'
                 WHEN B.REC_CZSM = 16 THEN
                  '借出确认'
                 WHEN B.REC_CZSM = 17 THEN
                  '归还'
                 WHEN B.REC_CZSM = 18 THEN
                  '导入'
               END) REC_HD,
               (CASE WHEN B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR} THEN 'CURRENT'
               ELSE 'LAST'
               END) DATA_VERSION               
          FROM B_Z_002_REC B
          LEFT JOIN T_USER WHR ON WHR.ID = B.WHRID 
            LEFT JOIN T_USER XFR ON XFR.ID = B.XFRID AND XFR.JGDM = B.DPRTCODE
            LEFT JOIN T_USER FKR ON FKR.ID = B.FKRID AND FKR.JGDM = B.DPRTCODE
            LEFT JOIN T_USER SHR ON SHR.ID = B.SHRID AND SHR.JGDM = B.DPRTCODE
            LEFT JOIN T_USER GBR ON GBR.ID = B.GBRID AND GBR.JGDM = B.DPRTCODE
            LEFT JOIN T_DEPARTMENT WHDW ON WHDW.ID = B.DPRTCODE
            LEFT JOIN T_DEPARTMENT WHBM ON WHBM.ID = B.WHBMID
            LEFT JOIN T_DEPARTMENT ZRBM ON ZRBM.ID = B.ZRBMID
            LEFT JOIN T_USER CZR ON CZR.ID = B.REC_CZRID
         WHERE B.ID = #{paramsMap.ID,jdbcType=VARCHAR}
           AND  (select rec_czsj
                  from B_Z_002_REC
                 where REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
                   and ID = #{paramsMap.ID,jdbcType=VARCHAR}) >= b.rec_czsj 
       ) WHERE 2 >=RNO
       
  </select> 
  <select id="queryDiff4D011" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	SELECT B.*, 'CURRENT' DATA_VERSION ,
	(CASE 
         WHEN B.REC_XGLX = 1 THEN
          '新增'
         WHEN B.REC_XGLX = 2 THEN
          '修改'
         WHEN B.REC_XGLX = 3 THEN
          '删除'
      END) REC_XGLX_TEXT ,
	 
	 (CASE
                 WHEN B.REC_CZSM = 0 THEN
                  '创建'
                 WHEN B.REC_CZSM = 1 THEN
                  '提交'
                 WHEN B.REC_CZSM = 2 THEN
                  '已审核'
                 WHEN B.REC_CZSM = 3 THEN
                  '已批准'
                 WHEN B.REC_CZSM = 4 THEN
                  '中止（关闭）'
                 WHEN B.REC_CZSM = 5 THEN
                  '审核驳回'
                 WHEN B.REC_CZSM = 6 THEN
                  '批准驳回'
                 WHEN B.REC_CZSM = 8 THEN
                  '作废'
                 WHEN B.REC_CZSM = 9 THEN
                  '指定结束'
               
                 WHEN B.REC_CZSM = 10 THEN
                  '完成'
                 WHEN B.REC_CZSM = 11 THEN
                  '撤销'
                 WHEN B.REC_CZSM = 12 THEN
                  '修改'
                 WHEN B.REC_CZSM = 13 THEN
                  '改版'
                 WHEN B.REC_CZSM = 14 THEN
                  '已生效'
                 WHEN B.REC_CZSM = 15 THEN
                  '提交生产确认'
                 WHEN B.REC_CZSM = 16 THEN
                  '借出确认'
                 WHEN B.REC_CZSM = 17 THEN
                  '归还'
                 WHEN B.REC_CZSM = 18 THEN
                  '导入'
               END) REC_HD
	  FROM D_011_REC B
	 WHERE B.REC_ZBID=#{paramsMap.ID,jdbcType=VARCHAR}
	   AND B.REC_CZLS =#{paramsMap.REC_CZLS,jdbcType=VARCHAR}
	UNION ALL
	
	SELECT B.*, 'LAST' DATA_VERSION ,
	(CASE 
         WHEN B.REC_XGLX = 1 THEN
          '新增'
         WHEN B.REC_XGLX = 2 THEN
          '修改'
         WHEN B.REC_XGLX = 3 THEN
          '删除'
      END) REC_XGLX_TEXT ,
	 (CASE
                 WHEN B.REC_CZSM = 0 THEN
                  '创建'
                 WHEN B.REC_CZSM = 1 THEN
                  '提交'
                 WHEN B.REC_CZSM = 2 THEN
                  '已审核'
                 WHEN B.REC_CZSM = 3 THEN
                  '已批准'
                 WHEN B.REC_CZSM = 4 THEN
                  '中止（关闭）'
                 WHEN B.REC_CZSM = 5 THEN
                  '审核驳回'
                 WHEN B.REC_CZSM = 6 THEN
                  '批准驳回'
                 WHEN B.REC_CZSM = 8 THEN
                  '作废'
                 WHEN B.REC_CZSM = 9 THEN
                  '指定结束'
               
                 WHEN B.REC_CZSM = 10 THEN
                  '完成'
                 WHEN B.REC_CZSM = 11 THEN
                  '撤销'
                 WHEN B.REC_CZSM = 12 THEN
                  '修改'
                 WHEN B.REC_CZSM = 13 THEN
                  '改版'
                 WHEN B.REC_CZSM = 14 THEN
                  '已生效'
                 WHEN B.REC_CZSM = 15 THEN
                  '提交生产确认'
                 WHEN B.REC_CZSM = 16 THEN
                  '借出确认'
                 WHEN B.REC_CZSM = 17 THEN
                  '归还'
                 WHEN B.REC_CZSM = 18 THEN
                  '导入'
               END) REC_HD
	  FROM D_011_REC B
	 WHERE B.REC_ZBID=#{paramsMap.ID,jdbcType=VARCHAR}
	  AND B.REC_CZLS IN
	         (           
	            SELECT REC_CZLS FROM (
	            	SELECT ROW_NUMBER() OVER(ORDER BY REC_CZSJ DESC) RNO , REC_CZLS
	              	FROM B_Z_002_REC A WHERE 
	             	A.ID = #{paramsMap.ID,jdbcType=VARCHAR}
	            	AND A.REC_CZSJ &lt;=
	            	(
		              	SELECT C.REC_CZSJ FROM B_Z_002_REC C WHERE 
		              	C.ID= #{paramsMap.ID,jdbcType=VARCHAR}
		              	AND C.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
		             )            
	             AND A.REC_CZLS != #{paramsMap.REC_CZLS,jdbcType=VARCHAR}        
	            ) WHERE 1 = RNO                        
            )        
  </select>
  
  
</mapper>