<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.productionmessage.dao.WorkersimplexRecMapper" >
   
  <!-- 故障保留单日志列表 开始 -->
  
  <select id="queryList4BBS009" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	       		 SELECT B.*  
	       		      
      		    ,CZR.USERNAME ||' '|| CZR.REALNAME REC_CZR_NAME,TJ.USERNAME ||' '|| TJ.REALNAME GSSH_TJRIDNAME
		        ,WHR.REALNAME WHR_REALNAME,TO_char(B.GSSH_TJRQ,'yyyy-MM-dd') GSSH_TJRQS
		        ,WHDW.DPRTNAME WHDW_DRPTNAME
		        ,  '任务单号:'||B.rwdh || ' ' ||(
		        CASE 
		           WHEN B.REC_CZSM = 0 THEN '创建'
		           WHEN B.REC_CZSM = 1 THEN '提交'
		           WHEN B.REC_CZSM = 2 THEN '已审核'
		           WHEN B.REC_CZSM = 3 THEN '已批准'
		           WHEN B.REC_CZSM = 4 THEN '中止（关闭）'
		           WHEN B.REC_CZSM = 5 THEN '审核驳回'
		           WHEN B.REC_CZSM = 6 THEN '批准驳回'
		           WHEN B.REC_CZSM = 8 THEN '作废'
		           WHEN B.REC_CZSM = 9 THEN '指定结束'
		          
		           WHEN B.REC_CZSM = 10 THEN '完成'
		           WHEN B.REC_CZSM = 11 THEN '撤销'
		           WHEN B.REC_CZSM = 12 THEN '修改'
		           WHEN B.REC_CZSM = 13 THEN '改版'
		           WHEN B.REC_CZSM = 14 THEN '已生效'
		           WHEN B.REC_CZSM = 15 THEN '工单工时提交'
		           WHEN B.REC_CZSM = 16 THEN '借出确认'
		           WHEN B.REC_CZSM = 17 THEN '归还'
		           WHEN B.REC_CZSM = 18 THEN '导入'
		           WHEN B.REC_CZSM = 24 THEN '工单工时确认'
		         END 
		        ) REC_HD,
		        (
		        CASE 
		           WHEN B.rwlx = 1 THEN '定检执行任务'
		           WHEN B.rwlx = 2 THEN 
			           (CASE 
			           WHEN B.rwzlx = 1 THEN '非例行-时控件工单'
			           WHEN B.rwzlx = 2 THEN	'非例行-附加工单'
			           WHEN B.rwzlx = 3 THEN	'非例行-排故工单'
		           	   END )
		         END 
		        ) RWLXS
		        FROM B_S_009_REC B 
		        LEFT JOIN T_USER WHR ON WHR.ID = B.WHRID
		        LEFT JOIN T_DEPARTMENT WHDW ON WHDW.ID = B.WHDWID
		        LEFT JOIN T_USER CZR ON CZR.ID = B.REC_CZRID
		        LEFT JOIN T_USER TJ ON TJ.ID = B.GSSH_TJRID 
		         
		        
		        WHERE 1=1 and B.REC_CZSM in (15,24) 
	       		 <if test='paramsMap.REC_CZLS !=null and paramsMap.REC_CZLS!=""'>
		        	and B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
		         </if>
		         <if test='paramsMap.ID !=null and paramsMap.ID!=""'>
		        	and B.ID = #{paramsMap.ID,jdbcType=VARCHAR}
		         </if>
		          <if test='paramsMap.DPRTCODE !=null and paramsMap.DPRTCODE!=""'>
		        	and B.DPRTCODE = #{paramsMap.DPRTCODE,jdbcType=VARCHAR}
		         </if>
		          <if test='paramsMap.KEYWORD !=null and paramsMap.KEYWORD!=""'>
		        	and (
		                 UPPER(B.rwdh) like UPPER('%'||#{paramsMap.KEYWORD,jdbcType=VARCHAR}||'%')
		            )
		         </if>
		         
		         order by B.REC_CZSJ DESC
	   
  </select>
  
  <select id="queryDiff4BBS009" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	    
	   SELECT * FROM (
	   		   SELECT ROW_NUMBER() OVER(ORDER BY B.REC_CZSJ DESC) RNO,
               B.*,
               CZR.USERNAME ||' '|| CZR.REALNAME REC_CZR_NAME,TJ.USERNAME ||' '|| TJ.REALNAME GSSH_TJRIDNAME,
               WHR.REALNAME WHR_REALNAME,TO_char(B.GSSH_TJRQ,'yyyy-MM-dd') GSSH_TJRQS,
               WHDW.DPRTNAME WHDW_DRPTNAME,
               '任务单号:'||B.rwdh || ' ' || (CASE
                 WHEN B.REC_CZSM = 0 THEN
                  '创建'
                 WHEN B.REC_CZSM = 1 THEN
                  '提交'
                 WHEN B.REC_CZSM = 2 THEN
                  '已审核'
                 WHEN B.REC_CZSM = 3 THEN
                  '已批准'
                 WHEN B.REC_CZSM = 4 THEN
                  '中止（关闭）'
                 WHEN B.REC_CZSM = 5 THEN
                  '审核驳回'
                 WHEN B.REC_CZSM = 6 THEN
                  '批准驳回'
                 WHEN B.REC_CZSM = 8 THEN
                  '作废'
                 WHEN B.REC_CZSM = 9 THEN
                  '指定结束'
               
                 WHEN B.REC_CZSM = 10 THEN
                  '完成'
                 WHEN B.REC_CZSM = 11 THEN
                  '撤销'
                 WHEN B.REC_CZSM = 12 THEN
                  '修改'
                 WHEN B.REC_CZSM = 13 THEN
                  '改版'
                 WHEN B.REC_CZSM = 14 THEN
                  '已生效'
                 WHEN B.REC_CZSM = 15 THEN
                  '工单工时提交'
                 WHEN B.REC_CZSM = 16 THEN
                  '借出确认'
                 WHEN B.REC_CZSM = 17 THEN
                  '归还'
                 WHEN B.REC_CZSM = 18 THEN
                  '导入'
                 WHEN B.REC_CZSM = 24 THEN
                  '工单工时确认'
               END) REC_HD,
		        (
		        CASE 
		           WHEN B.rwlx = 1 THEN '定检执行任务'
		           WHEN B.rwlx = 2 THEN 
			           (CASE 
			           WHEN B.rwzlx = 1 THEN '非例行-时控件工单'
			           WHEN B.rwzlx = 2 THEN	'非例行-附加工单'
			           WHEN B.rwzlx = 3 THEN	'非例行-排故工单'
		           	   END )
		         END 
		        ) RWLXS,
               (CASE WHEN B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR} THEN 'CURRENT'
               ELSE 'LAST'
               END) DATA_VERSION
               
          FROM B_S_009_REC B
          LEFT JOIN T_USER WHR
            ON WHR.ID = B.WHRID
         
          LEFT JOIN T_USER CZR ON CZR.ID = B.REC_CZRID
               LEFT JOIN T_USER TJ ON TJ.ID = B.GSSH_TJRID 
          LEFT JOIN T_DEPARTMENT WHDW
            ON WHDW.ID = B.WHRID
         WHERE   B.REC_CZSM in (15,24)  and B.ID = #{paramsMap.ID,jdbcType=VARCHAR}
           AND  (select rec_czsj
                  from B_S_009_REC
                 where REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
                   and ID = #{paramsMap.ID,jdbcType=VARCHAR}) >= b.rec_czsj 
                   
       ) WHERE 2 >=RNO 
       
  </select>
   
  
  
  
</mapper>