<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.flightdata.dao.Workpackage145RecMapper" >
   
  <!-- 工包列表 开始 -->
  <select id="queryList4BS2010" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	       		 SELECT B.*       
		        ,WHR.USERNAME ||' '|| WHR.REALNAME WHR_REALNAME		       
		        ,WHDW.DPRTNAME WHDW_DRPTNAME		        
		        , B.GBBH AS REC_HD
		        FROM b_s2_010_REC B 
		        LEFT JOIN T_USER WHR ON WHR.ID = B.rec_czrid
		       
		        LEFT JOIN T_DEPARTMENT WHDW ON WHDW.ID = B.rec_czrid
		        WHERE 1=1
	       		 <if test='czls!=null and czls!=""'>
		        	and B.REC_CZLS = #{czls,jdbcType=VARCHAR}
		         </if>
		         <if test='id!=null and id!=""'>
		        	and B.ID = #{id,jdbcType=VARCHAR}
		         </if>
	         <if test='paramsMap.DPRTCODE !=null and paramsMap.DPRTCODE!=""'>
		        and B.DPRTCODE = #{paramsMap.DPRTCODE,jdbcType=VARCHAR}
		     </if>
		     <if test='paramsMap.KEYWORD !=null and paramsMap.KEYWORD!=""'>
		        and ( UPPER(B.gbbh) like UPPER('%'||#{paramsMap.KEYWORD,jdbcType=VARCHAR}||'%'))
		     </if>
		         order by B.REC_CZSJ DESC
	   
  </select>
  
  <select id="queryDiff4BS2010" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	   
	   SELECT * FROM (
	   		   SELECT ROW_NUMBER() OVER(ORDER BY B.REC_CZSJ DESC) RNO,
               B.*,
               WHR.USERNAME ||' '|| WHR.REALNAME WHR_REALNAME,
               GBR.USERNAME ||' '|| GBR.REALNAME GBR,
               ZDR.USERNAME ||' '|| ZDR.REALNAME ZDR,
               XFR.USERNAME ||' '|| XFR.REALNAME XFR,
               WHDW.DPRTNAME WHDW_DRPTNAME,
               XFRDW.DPRTNAME XFRDW_DPRTNAME,
               ZDDW.DPRTNAME ZDBM,
               to_char(GBRQ, 'yyyy-mm-dd') NEW_GBRQ,
               to_char(ZDRQ, 'yyyy-mm-dd') NEW_ZDRQ,
               to_char(JH_KSRQ, 'yyyy-mm-dd') NEW_JHKSRQ,
               to_char(JH_JSRQ, 'yyyy-mm-dd') NEW_JHJSRQ,
               to_char(SJ_KSRQ, 'yyyy-mm-dd') NEW_SJKSRQ,
               to_char(SJ_JSRQ, 'yyyy-mm-dd') NEW_SJJSRQ,
              
                 (CASE
				WHEN B.ZT =1 THEN '保存（预组包）'
				WHEN B.ZT =2 THEN '提交'
				WHEN B.ZT =7 THEN '生效（下发）'
				WHEN B.ZT =9 THEN '关闭'
				WHEN B.ZT =10 THEN '完成'
				END) NEW_ZT,
               '工包编号:'||B.gbbh AS REC_HD,
               (CASE WHEN B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR} THEN 'CURRENT'
               ELSE 'LAST'
               END) DATA_VERSION               
                   FROM b_s2_010_REC B
          LEFT JOIN T_USER WHR ON WHR.ID = B.whrid
          LEFT JOIN T_DEPARTMENT WHDW  ON WHDW.ID = B.whdwid
          LEFT JOIN T_DEPARTMENT ZDDW  ON ZDDW.ID = B.zdbmid
          LEFT JOIN T_DEPARTMENT XFRDW  ON XFRDW.ID = B.xfrdwid
          LEFT JOIN T_USER GBR ON GBR.ID = B.gbrid 
          LEFT JOIN T_USER ZDR ON ZDR.ID = B.zdrid 
          LEFT JOIN T_USER XFR ON XFR.ID = B.xfrid  
         WHERE B.ID = #{paramsMap.ID,jdbcType=VARCHAR}
           AND  (select rec_czsj
                  from b_s2_010_REC
                 where REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
                   and ID = #{paramsMap.ID,jdbcType=VARCHAR}) >= b.rec_czsj 
       ) WHERE 2 >=RNO
       
  </select>
   <select id="queryDiff4D011" resultType="map" parameterType="com.eray.thjw.po.BaseEntity">
	SELECT B.*, 'CURRENT' DATA_VERSION ,WHR.USERNAME||' '||WHR.REALNAME REC_CZR_NAME,
	B.REC_XGLX AS REC_XGLX , B.WBWJM ||'.'||B.HZM AS  NEW_WBWJM
	FROM D_011_REC B LEFT JOIN T_USER WHR  ON WHR.ID = B.REC_CZRID

	WHERE B.REC_ZBID = #{paramsMap.ID,jdbcType=VARCHAR}
	AND B.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
	
	UNION ALL

	SELECT B.*, 'LAST' DATA_VERSION ,WHR.USERNAME||' '||WHR.REALNAME REC_CZR_NAME,
	B.REC_XGLX ,B.WBWJM ||'.'||B.HZM AS  NEW_WBWJM
	FROM D_011_REC B  LEFT JOIN T_USER WHR  ON WHR.ID = B.REC_CZRID
	
	WHERE B.REC_ZBID = #{paramsMap.ID,jdbcType=VARCHAR}
	
	 AND B.REC_CZLS IN
         (           
            SELECT REC_CZLS FROM (
            	SELECT ROW_NUMBER() OVER(ORDER BY REC_CZSJ DESC) RNO , REC_CZLS
              	FROM (select id,rec_czsj,rec_czls from b_s2_010_REC
              	      ) A WHERE 
             	A.ID = #{paramsMap.ID,jdbcType=VARCHAR}
            	AND A.REC_CZSJ &lt;=
            	(
	              	SELECT MIN(C.REC_CZSJ) FROM (
	              	   select id,rec_czsj,rec_czls from b_s2_010_REC 
              	      )C WHERE 
	              	C.ID = #{paramsMap.ID,jdbcType=VARCHAR}
	              	AND C.REC_CZLS = #{paramsMap.REC_CZLS,jdbcType=VARCHAR}
	             )            
             AND A.REC_CZLS != #{paramsMap.REC_CZLS,jdbcType=VARCHAR}        
            ) WHERE 1 = RNO                        
           )         
  </select>
</mapper>