<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.project2.dao.ProjectModelMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.project2.po.ProjectModel" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MAINID" property="mainid" jdbcType="VARCHAR" />
    <result column="XC" property="xc" jdbcType="DECIMAL" />
    <result column="FJZCH" property="fjzch" jdbcType="VARCHAR" />
    <result column="WHDWID" property="whdwid" jdbcType="VARCHAR" />
    <result column="WHRID" property="whrid" jdbcType="VARCHAR" />
    <result column="WHSJ" property="whsj" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, MAINID, XC, FJZCH, WHDWID, WHRID, WHSJ
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_G2_01203
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  	<!-- 根据mainid集合获取维修项目对应飞机关系 -->
  	<select id="queryByMainidList" resultMap="BaseResultMap" parameterType="java.lang.String" >
		select 
		<include refid="Base_Column_List" />
    	from B_G2_01203
    	where MAINID in
		<foreach collection="list" item="mainid" index="index" open="(" close=")" separator=",">
			#{mainid,jdbcType=VARCHAR}
		</foreach>
		order by XC asc 
 	</select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_G2_01203
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eray.thjw.project2.po.ProjectModel" >
    insert into B_G2_01203 (ID, MAINID, XC, 
      FJZCH, WHDWID, WHRID, 
      WHSJ)
    values (#{id,jdbcType=VARCHAR}, #{mainid,jdbcType=VARCHAR}, #{xc,jdbcType=DECIMAL}, 
      #{fjzch,jdbcType=VARCHAR}, #{whdwid,jdbcType=VARCHAR}, #{whrid,jdbcType=VARCHAR}, 
      #{whsj,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.eray.thjw.project2.po.ProjectModel" >
    insert into B_G2_01203
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="mainid != null" >
        MAINID,
      </if>
      <if test="xc != null" >
        XC,
      </if>
      <if test="fjzch != null" >
        FJZCH,
      </if>
      <if test="whdwid != null" >
        WHDWID,
      </if>
      <if test="whrid != null" >
        WHRID,
      </if>
      <if test="whsj != null" >
        WHSJ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mainid != null" >
        #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="xc != null" >
        #{xc,jdbcType=DECIMAL},
      </if>
      <if test="fjzch != null" >
        #{fjzch,jdbcType=VARCHAR},
      </if>
      <if test="whdwid != null" >
        #{whdwid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        #{whsj,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eray.thjw.project2.po.ProjectModel" >
    update B_G2_01203
    <set >
      <if test="mainid != null" >
        MAINID = #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="xc != null" >
        XC = #{xc,jdbcType=DECIMAL},
      </if>
      <if test="fjzch != null" >
        FJZCH = #{fjzch,jdbcType=VARCHAR},
      </if>
      <if test="whdwid != null" >
        WHDWID = #{whdwid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        WHRID = #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        WHSJ = #{whsj,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eray.thjw.project2.po.ProjectModel" >
    update B_G2_01203
    set MAINID = #{mainid,jdbcType=VARCHAR},
      XC = #{xc,jdbcType=DECIMAL},
      FJZCH = #{fjzch,jdbcType=VARCHAR},
      WHDWID = #{whdwid,jdbcType=VARCHAR},
      WHRID = #{whrid,jdbcType=VARCHAR},
      WHSJ = #{whsj,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 根据mainid删除关联维修项目 -->
  <delete id="deleteByMainid" parameterType="java.lang.String" >
    delete from B_G2_01203
    where mainid = #{mainid,jdbcType=VARCHAR}
  </delete>
  
    <!-- 批量删除:导入专用 -->
    <delete id="delete4BatchByMainids" parameterType="java.util.List" >
   		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
	   		delete from B_G2_01203
		   	where MAINID = #{item,jdbcType=VARCHAR}
		</foreach>
 	</delete>
  	
  <!-- 批量新增:导入专用 -->
  <insert id="insert4BatchImpl" parameterType="java.util.List" >
	     INSERT INTO B_G2_01203 (ID, MAINID, XC, FJZCH, WHDWID, WHRID, WHSJ)
	      <foreach collection="list" item="item" index="index" open="(" close=")" separator="union all"> 
		    select 
		     	#{item.id,jdbcType=VARCHAR}, #{item.mainid,jdbcType=VARCHAR}, #{item.xc,jdbcType=DECIMAL}, 
      			#{item.fjzch,jdbcType=VARCHAR}, #{item.whdwid,jdbcType=VARCHAR}, #{item.whrid,jdbcType=VARCHAR}, 
      			#{item.whsj,jdbcType=TIMESTAMP}
		  	from dual
	    </foreach>
  </insert>
  
</mapper>