<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.dao.WorkRequireRecMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.po.WorkRequireRec" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MAINID" property="mainid" jdbcType="VARCHAR" />
    <result column="XC" property="xc" jdbcType="DECIMAL" />
    <result column="GWYQ" property="gwyq" jdbcType="VARCHAR" />
    <result column="ZT" property="zt" jdbcType="DECIMAL" />
    <result column="WHBMID" property="whbmid" jdbcType="VARCHAR" />
    <result column="WHRID" property="whrid" jdbcType="VARCHAR" />
    <result column="WHSJ" property="whsj" jdbcType="TIMESTAMP" />
    <result column="REC_XGLX" property="rec_xglx" jdbcType="DECIMAL" />
    <result column="REC_CZRID" property="rec_czrid" jdbcType="VARCHAR" />
    <result column="REC_CZSJ" property="rec_czsj" jdbcType="TIMESTAMP" />
    <result column="REC_IP" property="rec_ip" jdbcType="VARCHAR" />
    <result column="REC_CZSM" property="rec_czsm" jdbcType="VARCHAR" />
    <result column="REC_CZLS" property="rec_czls" jdbcType="VARCHAR" />
    <result column="REC_ZBID" property="rec_zbid" jdbcType="VARCHAR" />
  </resultMap>
  

  
  <insert id="writeLog" parameterType="com.eray.thjw.po.WorkRequireRec" >
    insert into B_P_00101_REC ( ID, MAINID, XC, GWYQ, ZT, 
    WHBMID, WHRID, WHSJ, REC_XGLX, REC_CZRID, REC_CZSJ, REC_IP, REC_CZSM, REC_CZLS, REC_ZBID)
    values ( 
      #{id,jdbcType=VARCHAR}, #{mainid,jdbcType=VARCHAR}, #{xc,jdbcType=DECIMAL}, 
      #{gwyq,jdbcType=VARCHAR}, #{zt,jdbcType=DECIMAL}, #{whbmid,jdbcType=VARCHAR},
      #{whrid,jdbcType=VARCHAR},#{whsj,jdbcType=TIMESTAMP},#{rec_xglx,jdbcType=DECIMAL},
      #{rec_czrid,jdbcType=VARCHAR},#{rec_czsj,jdbcType=VARCHAR},#{rec_ip,jdbcType=VARCHAR},
      #{rec_czsm,jdbcType=VARCHAR},#{rec_czls,jdbcType=VARCHAR},#{rec_zbid,jdbcType=VARCHAR}
      )
  </insert>
 
</mapper>