<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.productionplan.dao.CheckBillMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.productionplan.po.CheckBill" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="GDJCID" property="gdjcid" jdbcType="VARCHAR" />
    <result column="GDBH" property="gdbh" jdbcType="VARCHAR" />
    <result column="ZY" property="zy" jdbcType="VARCHAR" />
    <result column="JHGS_RS" property="jhgsRs" jdbcType="DECIMAL" />
    <result column="JHGS_XSS" property="jhgsXss" jdbcType="DECIMAL" />
    <result column="XFGDYY" property="xfgdyy" jdbcType="VARCHAR" />
    <result column="BZ" property="bz" jdbcType="VARCHAR" />
    <result column="SHBMID" property="shbmid" jdbcType="VARCHAR" />
    <result column="SHYJ" property="shyj" jdbcType="VARCHAR" />
    <result column="SHRID" property="shrid" jdbcType="VARCHAR" />
    <result column="SHSJ" property="shsj" jdbcType="TIMESTAMP" />
    <result column="PFBMID" property="pfbmid" jdbcType="VARCHAR" />
    <result column="PFYJ" property="pfyj" jdbcType="VARCHAR" />
    <result column="PFRID" property="pfrid" jdbcType="VARCHAR" />
    <result column="PFSJ" property="pfsj" jdbcType="TIMESTAMP" />
    <result column="ZDDWID" property="zddwid" jdbcType="VARCHAR" />
    <result column="ZDRID" property="zdrid" jdbcType="VARCHAR" />
    <result column="ZDSJ" property="zdsj" jdbcType="TIMESTAMP" />
    <result column="ZT" property="zt" jdbcType="DECIMAL" />
    <result column="DPRTCODE" property="dprtcode" jdbcType="VARCHAR" />
    <result column="ZDJSRID" property="zdjsrid" jdbcType="VARCHAR" />
    <result column="ZDJSRQ" property="zdjsrq" jdbcType="TIMESTAMP" />
    <result column="ZDJSYY" property="zdjsyy" jdbcType="VARCHAR" />
    <result column="JKBZ" property="jkbz" jdbcType="VARCHAR" />
    <result column="DJRWDID" property="djrwdid" jdbcType="VARCHAR" />
    <result column="DJGKID" property="djgkid" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, GDJCID, GDBH, ZY, JHGS_RS, JHGS_XSS, XFGDYY, BZ, SHBMID, SHYJ, SHRID, SHSJ, PFBMID, 
    PFYJ, PFRID, PFSJ, ZDDWID, ZDRID, ZDSJ, ZT, DPRTCODE, ZDJSRID, ZDJSRQ, ZDJSYY, JKBZ, 
    DJRWDID, DJGKID
  </sql>
  
    <!-- save b_g_016 定检工单 -->
   <insert id="save" parameterType="com.eray.thjw.productionplan.po.CheckBill">
    insert into b_g_016 (ID,GDJCID,GDBH,ZY,JHGS_RS,JHGS_XSS,XFGDYY,BZ,ZDDWID,ZDRID,ZDSJ,ZT,DPRTCODE,JKBZ,DJRWDID,DJGKID)
    values (#{id},#{gdjcid},#{gdbh},#{zy},#{jhgsRs},#{jhgsXss},#{xfgdyy},#{bz},#{zddwid},#{zdrid},sysdate,#{zt},#{dprtcode},#{jkbz},#{djrwdid},#{djgkid})
  </insert>
  
</mapper>