<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.productionplan.dao.ScheduledCheckMonitorItemMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.productionplan.po.ScheduledCheckMonitorItem" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MAINID" property="mainid" jdbcType="VARCHAR" />
    <result column="ZJQDID" property="zjqdid" jdbcType="VARCHAR" />
    <result column="FJZCH" property="fjzch" jdbcType="VARCHAR" />
    <result column="BJLX" property="bjlx" jdbcType="DECIMAL" />
    <result column="JH" property="jh" jdbcType="VARCHAR" />
    <result column="XLH" property="xlh" jdbcType="VARCHAR" />
    <result column="DJXMID" property="djxmid" jdbcType="VARCHAR" />
    <result column="DJBH" property="djbh" jdbcType="VARCHAR" />
    <result column="ZWMS" property="zwms" jdbcType="VARCHAR" />
    <result column="JKFLBH" property="jkflbh" jdbcType="VARCHAR" />
    <result column="JKLBH" property="jklbh" jdbcType="VARCHAR" />
    <result column="JK_SZ" property="jkSz" jdbcType="VARCHAR" />
    <result column="JK_DW" property="jkDw" jdbcType="DECIMAL" />
    <result column="WHSJ" property="whsj" jdbcType="TIMESTAMP" />
    <result column="ZT" property="zt" jdbcType="DECIMAL" />
    <result column="DPRTCODE" property="dprtcode" jdbcType="VARCHAR" />
    
     <result column="ms" property="ms" jdbcType="VARCHAR" />
     <result column="jhz" property="jhz" jdbcType="VARCHAR" />
     <result column="zqz" property="zqz" jdbcType="DECIMAL" />
     <result column="dw" property="dw" jdbcType="INTEGER" />
     <result column="sj" property="sj" jdbcType="VARCHAR" />
     <result column="MONITOR_ZQZ" property="monitorZqz" jdbcType="DECIMAL" />
     
  </resultMap>
  <sql id="Base_Column_List" >
    ID, MAINID, ZJQDID, FJZCH, BJLX, JH, XLH, DJXMID, DJBH, ZWMS, JKFLBH, JKLBH, 
    JK_SZ, JK_DW, WHSJ, ZT, DPRTCODE
  </sql>
  
  	<!-- 搜索参数 -->
	<sql id="BaseResul1Param">
	   where  b1.zt=1 
         <if test="fjzch != null and fjzch != ''">
             and b1.fjzch = #{fjzch}
         </if>
         
         <if test="dprtcode != null and dprtcode != ''">
             and b1.dprtcode = #{dprtcode}
         </if>
         
         
         <if test="id != null and id != ''">
             and b1.mainid = #{id}
         </if>
	</sql>
  
    <select id="queryAllsj" resultMap="BaseResultMap" >
select b1.mainid,
       b1.jkflbh,
       b1.dprtcode,
       b1.jklbh,
       b1.fjzch,
       b3.ms,
       case b1.jklbh
             when 'calendar' then
              to_char(sysdate, 'yyyy-mm-dd')
             when 'fuselage_flight_time' then
              (CASE WHEN b6.fxsj_xs IS NULL THEN 0 ELSE b6.fxsj_xs END) || ':' ||(CASE WHEN b6.fxsj_fz IS NULL THEN 0 ELSE b6.fxsj_fz END)
             when 'search_light_time' then
              (CASE WHEN b5.ssdsj_xs IS NULL THEN 0 ELSE b5.ssdsj_xs END) || ':' || (CASE WHEN b5.ssdsj_fz IS NULL THEN 0 ELSE b5.ssdsj_fz END)
             when 'winch_time' then
              (CASE WHEN b5.jcsj_xs IS NULL THEN 0 ELSE b5.jcsj_xs END) || ':' || (CASE WHEN b5.jcsj_fz IS NULL THEN 0 ELSE b5.jcsj_fz END)
             when 'landing_gear_cycle' then
              b6.qljxh || ''
             when 'winch_cycle' then
              b5.jcxh || ''
             when 'ext_suspension_loop' then
              b5.dgxh || ''
             when 'special_first' then
              b6.ts1 || ''
             when 'special_second' then
              b6.ts2 || ''
             when 'N1' then
              b5.fdj_n1 || ''
             when 'N2' then
              b5.fdj_n2 || ''
             when 'N3' then
              b5.fdj_n3 || ''
             when 'N4' then
              b5.fdj_n4 || ''
             when 'N5' then
              b5.fdj_n5 || ''
             when 'N6' then
              b5.fdj_n6 || ''
             else
              '0'
           end sj,
       b7.dw
  from b_s_00304 b1
  join b_s_00303 b2
    on b1.mainid = b2.id
  join d_00601 b3
    on b1.jkflbh = b3.jkflbh
   and b1.jklbh = b3.jklbh
  left join (select t1.fjzch,
                    t1.jh,
                    t1.xlh,
                    t1.dprtcode,
                    case t1.cj
                      when 2 then
                       t2.jh
                      when 1 then
                       t1.jh
                      else
                       t1.jh
                    end fjdjh,
                    case t1.cj
                      when 2 then
                       t2.xlh
                      when 1 then
                       t1.xlh
                      else
                       t1.xlh
                    end fjdxlh,
                    t1.cj
               from b_s_003 t1
               left join b_s_003 t2
                 on t2.id = t1.fjdid
              where t1.zt = 1
                and t1.sxzt = 1
              ) b4
    on b2.fjzch = b4.fjzch
   and b2.jh = b4.jh
   and b2.xlh = b4.xlh
   and b2.dprtcode = b4.dprtcode
  left join (select jh,
                    xlh,
                    dprtcode,
                    sum(fxsj_xs) fxsj_xs, 
                    sum(fxsj_fz) fxsj_fz, 
                    sum(fsj_xs) fsj_xs, 
                    sum(fsj_fz) fsj_fz, 
                    sum(qljxh) qljxh, 
                    sum(jcsj_xs) jcsj_xs, 
                    sum(jcsj_fz) jcsj_fz, 
                    sum(jcxh) jcxh, 
                    sum(fdj_n1) fdj_n1, 
                    sum(fdj_n2) fdj_n2, 
                    sum(fdj_n3) fdj_n3, 
                    sum(fdj_n4) fdj_n4, 
                    sum(fdj_n5) fdj_n5,
                    sum(fdj_n6) fdj_n6, 
                    sum(ssdsj_xs) ssdsj_xs, 
                    sum(ssdsj_fz) ssdsj_fz, 
                    sum(dgxh) dgxh, 
                    sum(ts1) ts1, 
                    sum(ts2) ts2 
               from b_h_01001
              where is_cyjs = 1
                and zt = 1
                and xdbs = 0
              group by jh, xlh,dprtcode) b5
    on b4.fjdjh = b5.jh
   and b4.fjdxlh = b5.xlh
   and b4.dprtcode = b5.dprtcode
  left join (select b_s_006.fjzch,b_s_006.dprtcode,
                    sum(b_s_00601.fxsj_xs) fxsj_xs,
                    sum(b_s_00601.fxsj_fz) fxsj_fz,
                    sum(b_s_00601.qljxh) qljxh,
                    sum(b_s_00601.ts1) ts1,
                    sum(b_s_00601.ts2) ts2
               from b_s_00601
               join b_s_006
                 on b_s_006.id = b_s_00601.fxjldid
                and b_s_006.zt in (2, 12, 99)
           		and b_s_00601.zt = 1
				and b_s_00601.xdbs = 0
              group by b_s_006.fjzch, b_s_006.dprtcode) b6
    on b6.fjzch = b1.fjzch and b6.dprtcode = b1.dprtcode
  left join b_g_01201 b7
    on b1.djxmid = b7.djxmid
   and b1.jklbh = b7.jklbh
   and b1.jkflbh = b7.jkflbh
   and b1.dprtcode = b7.dprtcode
   <include refid="BaseResul1Param"></include>
   order by b3.pxh asc
<!--  where b1.fjzch = 'YU-OK-231' -->
  </select>
  
  
  <select id="queryAllList" resultMap="BaseResultMap" >
	select b1.mainid,
       b1.jkflbh,
       b1.dprtcode,
       b1.jklbh,
       b1.fjzch,b2.csbj,
       b3.ms as ms,
       (case b4.gs_djjh
         when 1 then
          case
            when
             case
               when b1.jkflbh = 'calendar' then
                to_number(to_char(to_date(b2.jkjhz, 'yyyy-mm-dd'), 'yyyymmdd'))
               else
                to_number(
                (CASE
                                WHEN INSTR(b2.jkjhz, ':') > 0 THEN
                                 SUBSTR(b2.jkjhz, 0, INSTR(b2.jkjhz, ':') - 1)
                                WHEN INSTR(b2.jkjhz, '.') > 0 THEN
                                 SUBSTR(b2.jkjhz, 0, INSTR(b2.jkjhz, '.') - 1)
                                ELSE
                                 CASE WHEN b2.jkjhz IS NULL THEN '0' ELSE b2.jkjhz END
                              END)
                              || '.' || 
                 (CASE
                                                 WHEN INSTR(b2.jkjhz, ':') > 0 THEN
                                                  SUBSTR(b2.jkjhz, INSTR(b2.jkjhz, ':') + 1, length(b2.jkjhz))
                                                 WHEN INSTR(b2.jkjhz, '.') > 0 THEN
                                                  SUBSTR(b2.jkjhz, INSTR(b2.jkjhz, '.') + 1, length(b2.jkjhz))
                                                 ELSE
                                                  '0'
                                               END))
             end >= case
               when b1.jkflbh = 'calendar' then
                to_number(to_char(to_date(b2.jksjz, 'yyyy-mm-dd'), 'yyyymmdd'))
               else
               
                to_number((CASE
                                WHEN INSTR(b2.jksjz, ':') > 0 THEN
                                 SUBSTR(b2.jksjz, 0, INSTR(b2.jksjz, ':') - 1)
                                WHEN INSTR(b2.jksjz, '.') > 0 THEN
                                 SUBSTR(b2.jksjz, 0, INSTR(b2.jksjz, '.') - 1)
                                ELSE
                                 CASE WHEN b2.jkjhz IS NULL THEN '0' ELSE b2.jkjhz END
                              END) || '.' || (CASE
                                                 WHEN INSTR(b2.jksjz, ':') > 0 THEN
                                                  SUBSTR(b2.jksjz, INSTR(b2.jksjz, ':') + 1, length(b2.jksjz))
                                                 WHEN INSTR(b2.jksjz, '.') > 0 THEN
                                                  SUBSTR(b2.jksjz, INSTR(b2.jksjz, '.') + 1, length(b2.jksjz))
                                                 ELSE
                                                  '0'
                                               END))
             end then
             b2.jksjz
            else
             b2.jkjhz
          end
         when 2 then
          b2.jksjz
         else
          b2.jkjhz
       end) as jhz ,
      case b2.csbj
         when 0 then
          b5.zqz
         else
          0
       end zqz,
       b5.zqz MONITOR_ZQZ,
       b5.dw as dw
  from b_s_00304 b1
  left join b_s_008 b2
    on b1.jkflbh = b2.jkflbh
   and b1.jklbh = b2.jklbh
   and b2.is_cyjs = 1
   and b2.zt = 1
   and b1.zjqdid = b2.zjqdid
   and b1.djxmid = b2.djxmid
   and b1.dprtcode = b2.dprtcode
  join d_00601 b3
    on b1.jkflbh = b3.jkflbh
   and b1.jklbh = b3.jklbh
  join (select d_004.gs_djjh, d_007.fjzch, d_007.dprtcode
          from d_007
          join d_004
            on d_007.fjjx = d_004.fjjx
           and d_007.dprtcode=d_004.dprtcode
           and d_007.zt = 1
           and d_004.zt = 1) b4
    on b1.fjzch = b4.fjzch and b1.dprtcode = b4.dprtcode
  left join b_g_01201 b5
    on b1.djxmid = b5.djxmid
   and b1.jklbh = b5.jklbh
   and b1.jkflbh = b5.jkflbh

   <include refid="BaseResul1Param"></include>
   order by b3.pxh asc
<!--  where b1.fjzch = 'YU-OK-231' -->
  </select>
  
</mapper>