@charset "utf-8";
/* CSS Document */
*{font-size:9pt;border:0;margin:0;padding:0;}
body{
	font-family:Arial, "Microsoft YaHei","Helvetica Neue", Helvetica, sans-serif;margin:0 auto;background-image:url(../images/bg.png);
	background-repeat:no-repeat;background-size:cover;width:100%;height:100%;}
ul{display:block;margin:0;padding:0;list-style:none;}
li{display:block;margin:0;padding:0;list-style: none;}
img{border:0;}
dl,dt,dd,span{margin:0;padding:0;display:block;}
a,a:focus{text-decoration:none;color:#000;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#EB5409;text-decoration:none;}
table{border-collapse:collapse;border-spacing: 0;}
h2{font-weight:normal;}
#mainBody {width:100%;height:100%;position:absolute;z-index:-1;}
.testsign{background:url(../../images/test.png) no-repeat;right:0px;width:135px;height:140px;position:absolute;right:0px;}

/*login*/
.loginbody{ width:100%; overflow:hidden; position:absolute; top:1px; z-index:-1;}
.logintop{height:35px;background: #54565b; line-height:35px;z-index:100;}
.logintop span {color: #fff; line-height: 35px; text-indent: 26px;   float: left;background: url(../images/loginsj.png) no-repeat 6px 10px;}
.logintop ul{float:right; padding-right:10px;}
.logintop ul li{float:left; margin-left:20px; line-height:40px;}
.logintop ul li a{color:#fff;}
.logintop ul li a:hover{color:#fff;text-decoration:underline;}
.loginbox{width:294px; height:210px; display: block; padding:40px; margin:20% auto auto auto; background:#fff;overflow:hidden; border:1px solid #b5b5b5;}
.loginbox ul{display: block;overflow: hidden; padding:0; margin:0;}
.loginbox ul li{margin-bottom:15px;  position: relative; height:42px; line-height:40px;}
.user_name img { position: relative; left: 10px;top: 28px;}
.password img{position: relative; left:10px; top:28px; }
.loginbox ul li label{  color: #4b4343;  padding-left: 10px; height: 40px; font-weight:normal; line-height: 40px; width: 294px;float: right; display: block;overflow: hidden; text-overflow: ellipsis;}
.loginbox ul li label a{color:#4b4343;}
.loginbox ul li a{ cursor: pointer;}
.loginbox ul li label a:hover{color:#0b84ff;}
.loginbox ul li label input{margin-top:0px; margin-right:5px; vertical-align: middle;}
.loginbox h1{font-family:'微软雅黑'; font-size:14px; font-weight:normal; font-style:normal; color:#444; padding-left:30px; padding-top:0;}
.loginbox em{font-size:18px;font-style:normal; padding-right:10px;}
.eyeclose{position: absolute;  height: 14px; width: 24px;background:url(../images/eyeclose.png) no-repeat;right: 10px;top: 16px;}
.eyeopen{position: absolute;   height: 14px;  width: 24px;background:url(../images/eyeopen.png) no-repeat;right: 10px; top: 16px;}
.loginuser{background:url(../images/username.png) no-repeat 9px 10px; color: #666;font-size: 12px; height: 38px;  line-height: 38px; padding-left: 30px;  width: 260px; border: 1px solid #b5b5b5;}
.loginpwd{background:url(../images/password.png) no-repeat 9px 10px;color: #666; font-size: 12px; height: 38px; line-height: 38px; padding-left: 30px;width: 260px; border: 1px solid #b5b5b5;}
.loginpwd::-ms-clear,::-ms-reveal{display: none;}
.loginbtn { background: #373a47; color: #fff; cursor: pointer; display: block;overflow: hidden; float: left;font-size: 14px;  height: 40px; line-height: 40px; width: 306px;margin:0 auto; }
.loginbm { height: 32px;  line-height: 32px;  text-align: center; width: 100%; color: #313131; opacity: 0.7; position: absolute;   bottom: 0;}
.loginbm a{color:#fff8f5;}
.loginbm a:hover{color:#fff;}
.code_img img {padding: 3px;  height: 32px; width: 90px; display: block;  overflow: hidden; border: 1px solid #b5b5b5;}
.yzm {background: #f8f2ff; border: 1px solid #b5b5b5; display: block;  float: left; height: 38px; color:#555;font-size:12px; line-height: 38px; margin-right: 8px; padding-left: 15px; width: 171px;}
.yzm input{background:none; border:none; width:183px; height:36px; line-height:36px;padding-left:15px;font-size:14px; color:#555;}
.yzm cite{float:right; width:114px; height:40px; line-height:40px; font-size:18px; color:#fff; text-align:center;}
.yzm img{  width: 100px; height: 37px;padding: 3px;  float: right;}
.box-shadow-1{  
  -webkit-box-shadow: 3px 5px 10px;  
  -moz-box-shadow: 3px 5px 10px;   box-shadow: 3px 5px 10px;  }  
.spinner {height: 20px;  font-weight:normal; line-height: 40px;float: left; width: 100%; text-align: center;font-size: 14px;}
.spinner > div {
  background-color: #54565b;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) } 
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}