<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.produce.dao.FlightSheetWorkerMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.produce.po.FlightSheetWorker" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MAINID" property="mainid" jdbcType="VARCHAR" />
    <result column="ZT" property="zt" jdbcType="DECIMAL" />
    <result column="WHDWID" property="whdwid" jdbcType="VARCHAR" />
    <result column="WHRID" property="whrid" jdbcType="VARCHAR" />
    <result column="WHSJ" property="whsj" jdbcType="TIMESTAMP" />
    <result column="GZZID" property="gzzid" jdbcType="VARCHAR" />
    <result column="GZZ" property="gzz" jdbcType="VARCHAR" />
    <result column="FTGS" property="ftgs" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, MAINID, ZT, WHDWID, WHRID, WHSJ, GZZID, GZZ, FTGS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_S2_0060402
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_S2_0060402
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eray.thjw.produce.po.FlightSheetWorker" >
    insert into B_S2_0060402 (ID, MAINID, ZT, 
      WHDWID, WHRID, WHSJ, 
      GZZID, GZZ, FTGS)
    values (#{id,jdbcType=VARCHAR}, #{mainid,jdbcType=VARCHAR}, #{zt,jdbcType=DECIMAL}, 
      #{whdwid,jdbcType=VARCHAR}, #{whrid,jdbcType=VARCHAR}, #{whsj,jdbcType=TIMESTAMP}, 
      #{gzzid,jdbcType=VARCHAR}, #{gzz,jdbcType=VARCHAR}, #{ftgs,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.eray.thjw.produce.po.FlightSheetWorker" >
    insert into B_S2_0060402
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="mainid != null" >
        MAINID,
      </if>
      <if test="zt != null" >
        ZT,
      </if>
      <if test="whdwid != null" >
        WHDWID,
      </if>
      <if test="whrid != null" >
        WHRID,
      </if>
      <if test="whsj != null" >
        WHSJ,
      </if>
      <if test="gzzid != null" >
        GZZID,
      </if>
      <if test="gzz != null" >
        GZZ,
      </if>
      <if test="ftgs != null" >
        FTGS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mainid != null" >
        #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="zt != null" >
        #{zt,jdbcType=DECIMAL},
      </if>
      <if test="whdwid != null" >
        #{whdwid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        #{whsj,jdbcType=TIMESTAMP},
      </if>
      <if test="gzzid != null" >
        #{gzzid,jdbcType=VARCHAR},
      </if>
      <if test="gzz != null" >
        #{gzz,jdbcType=VARCHAR},
      </if>
      <if test="ftgs != null" >
        #{ftgs,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eray.thjw.produce.po.FlightSheetWorker" >
    update B_S2_0060402
    <set >
      <if test="mainid != null" >
        MAINID = #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="zt != null" >
        ZT = #{zt,jdbcType=DECIMAL},
      </if>
      <if test="whdwid != null" >
        WHDWID = #{whdwid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        WHRID = #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        WHSJ = #{whsj,jdbcType=TIMESTAMP},
      </if>
      <if test="gzzid != null" >
        GZZID = #{gzzid,jdbcType=VARCHAR},
      </if>
      <if test="gzz != null" >
        GZZ = #{gzz,jdbcType=VARCHAR},
      </if>
      <if test="ftgs != null" >
        FTGS = #{ftgs,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eray.thjw.produce.po.FlightSheetWorker" >
    update B_S2_0060402
    set MAINID = #{mainid,jdbcType=VARCHAR},
      ZT = #{zt,jdbcType=DECIMAL},
      WHDWID = #{whdwid,jdbcType=VARCHAR},
      WHRID = #{whrid,jdbcType=VARCHAR},
      WHSJ = #{whsj,jdbcType=TIMESTAMP},
      GZZID = #{gzzid,jdbcType=VARCHAR},
      GZZ = #{gzz,jdbcType=VARCHAR},
      FTGS = #{ftgs,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 删除工作者 -->
  <delete id="deleteNotExist" parameterType="com.eray.thjw.produce.po.FlightSheetFinishedWork" >
      DELETE FROM B_S2_0060402
		WHERE MAINID = #{id,jdbcType=VARCHAR}
		<if test="workers != null and workers.size > 0">
            AND ID NOT IN 
            <foreach collection="workers" item="item" index="index" open="(" close=")" separator=",">
			NVL(#{item.id,jdbcType=VARCHAR}, '0')
	   		</foreach>
        </if>
  </delete>
  
  <!-- 删除完成工作时，同步删除工作者 -->
  <delete id="deleteByFinishedWork" parameterType="com.eray.thjw.produce.po.FlightSheetLeg" >
      DELETE FROM B_S2_0060402
		WHERE EXISTS (
			select 1 from b_s2_00604 
				where b_s2_00604.hdid = #{id,jdbcType=VARCHAR} 
					<if test="finishedWorks != null and finishedWorks.size > 0">
			            AND ID NOT IN 
			            <foreach collection="finishedWorks" item="item" index="index" open="(" close=")" separator=",">
							NVL(#{item.id,jdbcType=VARCHAR}, '0')
				   		</foreach>
			        </if>
					and b_s2_0060402.mainid = b_s2_00604.id
		)
  </delete>
</mapper>