<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.produce.dao.InstallationListEditable2InitMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.produce.po.InstallationListEditable2Init" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MAINID" property="mainid" jdbcType="VARCHAR" />
    <result column="JKLBH" property="jklbh" jdbcType="VARCHAR" />
    <result column="JKFLBH" property="jkflbh" jdbcType="VARCHAR" />
    <result column="CSZ" property="csz" jdbcType="VARCHAR" />
    <result column="WHBMID" property="whbmid" jdbcType="VARCHAR" />
    <result column="WHRID" property="whrid" jdbcType="VARCHAR" />
    <result column="WHSJ" property="whsj" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, MAINID, JKLBH, JKFLBH, CSZ, WHBMID, WHRID, WHSJ
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_S2_00101
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_S2_00101
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eray.thjw.produce.po.InstallationListEditable2Init" >
    insert into B_S2_00101 (ID, MAINID, JKLBH, 
      JKFLBH, CSZ, WHBMID, 
      WHRID, WHSJ)
    values (#{id,jdbcType=VARCHAR}, #{mainid,jdbcType=VARCHAR}, #{jklbh,jdbcType=VARCHAR}, 
      #{jkflbh,jdbcType=VARCHAR}, #{csz,jdbcType=VARCHAR}, #{whbmid,jdbcType=VARCHAR}, 
      #{whrid,jdbcType=VARCHAR}, #{whsj,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.eray.thjw.produce.po.InstallationListEditable2Init" >
    insert into B_S2_00101
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="mainid != null" >
        MAINID,
      </if>
      <if test="jklbh != null" >
        JKLBH,
      </if>
      <if test="jkflbh != null" >
        JKFLBH,
      </if>
      <if test="csz != null" >
        CSZ,
      </if>
      <if test="whbmid != null" >
        WHBMID,
      </if>
      <if test="whrid != null" >
        WHRID,
      </if>
      <if test="whsj != null" >
        WHSJ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mainid != null" >
        #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="jklbh != null" >
        #{jklbh,jdbcType=VARCHAR},
      </if>
      <if test="jkflbh != null" >
        #{jkflbh,jdbcType=VARCHAR},
      </if>
      <if test="csz != null" >
        #{csz,jdbcType=VARCHAR},
      </if>
      <if test="whbmid != null" >
        #{whbmid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        #{whsj,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eray.thjw.produce.po.InstallationListEditable2Init" >
    update B_S2_00101
    <set >
      <if test="mainid != null" >
        MAINID = #{mainid,jdbcType=VARCHAR},
      </if>
      <if test="jklbh != null" >
        JKLBH = #{jklbh,jdbcType=VARCHAR},
      </if>
      <if test="jkflbh != null" >
        JKFLBH = #{jkflbh,jdbcType=VARCHAR},
      </if>
      <if test="csz != null" >
        CSZ = #{csz,jdbcType=VARCHAR},
      </if>
      <if test="whbmid != null" >
        WHBMID = #{whbmid,jdbcType=VARCHAR},
      </if>
      <if test="whrid != null" >
        WHRID = #{whrid,jdbcType=VARCHAR},
      </if>
      <if test="whsj != null" >
        WHSJ = #{whsj,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eray.thjw.produce.po.InstallationListEditable2Init" >
    update B_S2_00101
    set MAINID = #{mainid,jdbcType=VARCHAR},
      JKLBH = #{jklbh,jdbcType=VARCHAR},
      JKFLBH = #{jkflbh,jdbcType=VARCHAR},
      CSZ = #{csz,jdbcType=VARCHAR},
      WHBMID = #{whbmid,jdbcType=VARCHAR},
      WHRID = #{whrid,jdbcType=VARCHAR},
      WHSJ = #{whsj,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
   <!-- 查询飞机的有效的部件初始值 -->
  <select id="queryByAircraft" resultMap="BaseResultMap" parameterType="com.eray.thjw.produce.po.InstallationListEditable" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM B_S2_00101
    WHERE EXISTS (
    	SELECT 1 FROM B_S2_001 WHERE B_S2_00101.MAINID = B_S2_001.ID
    		AND B_S2_001.FJZCH = #{fjzch,jdbcType=VARCHAR}
    		AND B_S2_001.DPRTCODE = #{dprtcode,jdbcType=VARCHAR}
    )
    ORDER BY JKLBH
  </select>
  
  <!-- 根据mainid删除对应的初始化数据 -->
  <delete id="deleteByMainid" parameterType="java.lang.String" >
    delete from B_S2_00101
    where mainid = #{mainid,jdbcType=VARCHAR}
  </delete>
  
  <!-- 批量新增 -->
  <insert id="insert4Batch" parameterType="java.util.List" >
    insert into B_S2_00101 (ID, MAINID, JKLBH, 
      JKFLBH, CSZ, WHBMID, 
      WHRID, WHSJ)
      <foreach collection="list" item="item" index="index" open="(" close=")" separator="union all"> 
	    select #{item.id,jdbcType=VARCHAR}, #{item.mainid,jdbcType=VARCHAR}, #{item.jklbh,jdbcType=VARCHAR}, 
	      #{item.jkflbh,jdbcType=VARCHAR}, #{item.csz,jdbcType=VARCHAR}, #{item.whbmid,jdbcType=VARCHAR}, 
	      #{item.whrid,jdbcType=VARCHAR}, sysdate
	  	from dual
    </foreach>
  </insert>
  
  <!-- 更新初始值与飞机设置不同的的数据  -->
  <select id="updateInitByDiffWithPlane" >
  	UPDATE B_S2_00101
	   SET CSZ = (SELECT CSZ
	                FROM D_00701
	               WHERE ZJQDID = B_S2_00101.MAINID
	                 AND JKLBH = B_S2_00101.JKLBH)
	 WHERE ID IN (SELECT B_S2_00101.ID            
	                FROM B_S2_00101
	                JOIN D_00701 ON B_S2_00101.CSZ != D_00701.CSZ
	                            AND B_S2_00101.JKLBH = D_00701.JKLBH
	                            AND B_S2_00101.MAINID = D_00701.ZJQDID
	                            AND D_00701.DPRTCODE = #{dprtcode, jdbcType=VARCHAR}
              					AND D_00701.FJZCH = #{fjzch, jdbcType=VARCHAR})
  
  </select>
  
  <!-- 从临时区同步装机清单初始化数据 -->
  <insert id="insertFromTemp">
    insert into B_S2_00101 (ID, MAINID, JKLBH, 
      JKFLBH, CSZ, WHBMID, 
      WHRID, WHSJ)
      select ID, MAINID, JKLBH, 
      JKFLBH, CSZ, WHBMID, 
      WHRID, WHSJ FROM B_S2_00201 WHERE MAINID = #{zjqdid, jdbcType=VARCHAR}
  </insert>
  
  
  <!-- 从生效区同步装机清单初始化数据 -->
  <insert id="insertFromEffectiveByMainId">
    insert into B_S2_00101 (ID, MAINID, JKLBH, 
      JKFLBH, CSZ, WHBMID, 
      WHRID, WHSJ)
      select ID, MAINID, JKLBH, 
      JKFLBH, ZSSYY, WHBMID, 
      WHRID, WHSJ FROM B_S2_00401 WHERE MAINID = #{zjqdid, jdbcType=VARCHAR}
  </insert>
</mapper>