<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eray.thjw.produce.dao.PlaneFaultMonitoringInfoOrderMapper" >
  <resultMap id="BaseResultMap" type="com.eray.thjw.produce.po.PlaneFaultMonitoringInfoOrder" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MAINID" property="mainid" jdbcType="VARCHAR" />   
    <result column="DPRTCODE" property="dprtcode" jdbcType="VARCHAR" />   
    <result column="GDID" property="gdid" jdbcType="VARCHAR" />
    <result column="ZT" property="zt" jdbcType="INTEGER" />  
    <result column="WHDWID" property="whdwid" jdbcType="VARCHAR" />
    <result column="WHRID" property="whrid" jdbcType="VARCHAR" />
    <result column="WHSJ" property="whsj" jdbcType="TIMESTAMP" /> 
  </resultMap>
  
  	<insert id="insertInfoOrder" parameterType="com.eray.thjw.produce.po.PlaneFaultMonitoringInfoOrder">
  		insert into b_s_0190101 (id,mainid,dprtcode,gdid,zt,whdwid,whrid,whsj)
  		values (#{id,jdbcType=VARCHAR},#{mainid,jdbcType=VARCHAR},#{dprtcode,jdbcType=VARCHAR},#{gdid,jdbcType=VARCHAR},
  		#{zt,jdbcType=INTEGER},#{whdwid,jdbcType=VARCHAR},#{whrid,jdbcType=VARCHAR},sysdate
  		)
  	</insert>
  	<select id="getorderIdByMainid" parameterType="java.lang.String" resultMap="BaseResultMap">
  		select id,mainid,gdid from b_s_0190101 where mainid=#{mainid,jdbcType=VARCHAR} and zt=1
  	</select>
  	<delete id="deleteByMainid" parameterType="java.lang.String">
  		update  b_s_0190101 set zt=0 where mainid=#{mainid,jdbcType=VARCHAR} 
  	</delete>
</mapper>